{
  "type": "api",
  "key": "apigee:factual",
  "info": {
    "title": "Factual",
    "description": "Factual is an open data platform for application developers that leverages large-scale data aggregation and community exchange."
  },
  "swagger": {
    "swagger": "2.0",
    "host": "api.v3.factual.com",
    "basePath": "/",
    "schemes": [
      "http"
    ],
    "paths": {
      "/t/{table_name}/{factual_id}": {
        "parameters": [
          {
            "name": "table_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "places",
            "description": "The table (or view) name."
          },
          {
            "name": "factual_id",
            "required": false,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "The factual ID of a row you are trying to flag."
          },
          {
            "name": "filters",
            "required": false,
            "in": "query",
            "type": "string",
            "default": "{\"last_name\":\"Smith\"}",
            "description": "Restrict the data returned to conform to specific conditions, e.g., \"parametric search\". Documentation on filters is here: http://developer.factual.com/api-docs/#row-filters."
          },
          {
            "name": "include_count",
            "required": false,
            "in": "query",
            "type": "boolean",
            "default": false,
            "description": "Include a count of the total number of rows in the dataset that conform to the request based on included filters. Requesting the row count will increase the time required to return a response. The default behavior is to NOT include a row count."
          },
          {
            "name": "geo",
            "required": false,
            "in": "query",
            "type": "string",
            "default": "{\"$circle\":{\"$center\":[35.001,-18.221],\"$meters\":5000}}",
            "description": "For tables with latitude/longitude data, restrict data to be returned to be within a geographical range based. Documentation on filters is here: http://developer.factual.com/api-docs/#geo-filter. Maximum value for $meters is 20000."
          },
          {
            "name": "limit",
            "required": false,
            "in": "query",
            "type": "integer",
            "default": 20,
            "description": "Maximum number of rows to return. Default is 20. The system maximum is 50. For higher limits please contact Factual, however consider requesting a download (http://www.factual.com/devtools/downloads) of the data if your use case is requesting more data in a single query than is required to fulfill a single end-user's request."
          },
          {
            "name": "q",
            "required": false,
            "in": "query",
            "type": "string",
            "default": "Coffee,Tea",
            "description": "Full text search query string. Documentation for search filters are here: http://developer.factual.com/api-docs/full-text-search."
          },
          {
            "name": "offset",
            "required": false,
            "in": "query",
            "type": "integer",
            "default": 0,
            "description": "Number of rows to skip before returning a page of data. Maximum value is 500 minus any value provided under limit. Default is 0."
          },
          {
            "name": "select",
            "required": false,
            "in": "query",
            "type": "string",
            "default": "*",
            "description": "What fields to include in the query.  Note that the order of fields will not necessarily be preserved in the resulting JSON response due to the nature of JSON hashes."
          },
          {
            "name": "sort",
            "required": false,
            "in": "query",
            "type": "string",
            "default": "name:asc",
            "description": "The field (or secondary fields) to sort data on, as well as the direction of sort. Supports $distance as a sort option if a geo-filter is specified. Supports $relevance as a sort option if a full text search is specified either using the q parameter or using the $search operator in the filter parameter.  By default, any query with a full text search will be sorted by relevance.  Any query with a geo filter will be sorted by distance from the reference point.  If both a geo filter and full text search are present, the default will be relevance followed by distance."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Reads rows of data from the specified table. Read requests may optionally include row filters, geo filters, and full-text-search filters as well offset/limit filters that can be used for paging. Specify any combination of full-text-search (q), geo, or row filters. Offset and limit are supported for paging. If you require a count of the total rows fitting our query, and don't mind incurring the performance cost, specify include_count=true. NOTE: If the filters, geo, or q parameters are declared and you pass a null value for any of those parameters your request will proceed as if those parameters were not passed at all.",
          "externalDocs": {
            "url": "http://developer.factual.com/api-docs/#Read"
          }
        }
      },
      "/t/{table_name}/facets": {
        "parameters": [
          {
            "name": "table_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "restaurants-us",
            "description": "The table (or view) name."
          },
          {
            "name": "select",
            "required": true,
            "in": "query",
            "type": "string",
            "default": "locality,region",
            "description": "The fields to return faceted counts for."
          },
          {
            "name": "filters",
            "required": false,
            "in": "query",
            "type": "string",
            "default": "{\"last_name\":\"Smith\"}",
            "description": "Restrict the data returned to conform to specific conditions, e.g., \"parametric search\". Documentation on filters is here: http://developer.factual.com/api-docs/#row-filters."
          },
          {
            "name": "geo",
            "required": false,
            "in": "query",
            "type": "string",
            "default": "{\"$circle\":{\"$center\":[35.001,-18.221],\"$meters\":5000}}",
            "description": "Restrict data to be returned to be within a geographical range based. Documentation on geo filters is here: http://developer.factual.com/api-docs/#geo-filters."
          },
          {
            "name": "include_count",
            "required": false,
            "in": "query",
            "type": "boolean",
            "default": false,
            "description": "Include a count of the total number of row counts returned. Requesting the row count will increase the time required to return a response. The default behavior is to NOT include a row count."
          },
          {
            "name": "limit",
            "required": false,
            "in": "query",
            "type": "integer",
            "default": 20,
            "description": "Maximum number of facet counts to return in the response. Default is 20. Max is 50."
          },
          {
            "name": "min_count",
            "required": false,
            "in": "query",
            "type": "integer",
            "default": 1,
            "description": "For each facet count, the minimum count it must show in order to be returned in the response. Must be zero or greater. The default is 1."
          },
          {
            "name": "q",
            "required": false,
            "in": "query",
            "type": "string",
            "default": "Coffee,Tea",
            "description": "Full text search query string. Documentation for search filters are here: http://developer.factual.com/api-docs/#full-text-search."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns row counts for Factual tables, grouped by facets of the data.  For example, you may want to query all businesses within 1 mile of a location and for a count of those businesses by category. Not all fields are configured to return facet counts.  To determine what fields you can return facets for, use the schema call.  The faceted attribute of the schema will let you know. The facet API call is virtually identical to the read API call, except that it returns row counts (by facet) rather than rows of data.",
          "externalDocs": {
            "url": "http://developer.factual.com/api-docs/#Facets"
          }
        }
      },
      "/t/{table_name}/schema": {
        "parameters": [
          {
            "name": "table_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "restaurants-us",
            "description": "The table (or view) name."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns the schema for a Factual table view. The schema includes:\n- Table view meta-data: Name, description, view id, list of fields schema version, and whether or not the table is geo and/or full-text searchable.\n- Field meta-data (for each field): name, optional aliase(s), datatype, whether the field is full-text-searchable.",
          "externalDocs": {
            "url": "http://developer.factual.com/api-docs/#Schema"
          }
        }
      },
      "/t/{table_name}/match": {
        "parameters": [
          {
            "name": "table_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "places",
            "description": "The table (or view) name."
          },
          {
            "name": "values",
            "required": true,
            "in": "query",
            "type": "string",
            "default": "{'name':'McDonalds','address':'10451 Santa Monica Blvd','locality':'Los Angeles','region':'CA'}",
            "description": "A JSON hash of key value pairs representing the data that will be matched against. Accepts any Global Local parameters (http://blog.factual.com/factuals-global-local-schema) in most combinations"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Match your data to Factual's.  The Factual Match endpoint will simply return the Factual ID of the data that matches your data; we return no data if we cannot identify your entity unequivocally.  If you require both the Factual ID and entity data for the place, see Resolve.",
          "externalDocs": {
            "url": "http://developer.factual.com/api-docs/#Match"
          }
        }
      },
      "/t/{table_name}/resolve": {
        "parameters": [
          {
            "name": "table_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "places",
            "description": "The table (or view) name."
          },
          {
            "name": "values",
            "required": true,
            "in": "query",
            "type": "string",
            "default": "{'name':'McDonalds','address':'10451 Santa Monica Blvd','locality':'Los Angeles','region':'CA'}",
            "description": "A JSON hash of key value pairs representing the data that will be resolved against. Accepts any Global Local parameters (http://blog.factual.com/factuals-global-local-schema) in most combinations"
          },
          {
            "name": "debug",
            "required": false,
            "in": "query",
            "type": "string",
            "default": "false",
            "description": "Enables toggling on a debug mode for Resolve that returns all potential candidates for resolution and meta-data regarding resolution quality."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Resolve is an entity resolution API that makes partial records complete, matches one entity against another, and assists in de-duping and normalizing datasets. Resolve is designed to work with whatever you throw at it, but the more parameters you provide, the better we can resolve your attributes to an entity.",
          "externalDocs": {
            "url": "http://developer.factual.com/api-docs/#Resolve"
          }
        }
      },
      "/t/{table_name}/boost": {
        "parameters": [
          {
            "name": "table_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "places",
            "description": "The table (or view) name."
          },
          {
            "name": "factual_id",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "03c26917-5d66-4de9-96bc-b13066173c65",
            "description": "The Factual ID of an entity that should be boosted in search results."
          },
          {
            "name": "q",
            "required": false,
            "in": "path",
            "type": "string",
            "default": "Local Business Data, Global",
            "description": "A full-text-search query parameter value for q, from a prior read request."
          },
          {
            "name": "user",
            "required": false,
            "in": "query",
            "type": "string",
            "default": "test user",
            "description": "An arbitrary token for correlating read and boost requests to a single app/session/etc. Factual does not use this token to track users. The function of this information is only to help evaluate how a boost relates to a search."
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "The Boost API enables you to signal to Factual that a specific row returned by full-text search in a read API call should be a prominent result for that search.",
          "externalDocs": {
            "url": "http://developer.factual.com/api-docs/#Boost"
          }
        }
      },
      "/t/{table_name}/submit": {
        "parameters": [
          {
            "name": "table_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "us-sandbox",
            "description": "The table (or view) name."
          },
          {
            "name": "values",
            "required": true,
            "in": "query",
            "type": "string",
            "default": "{\"name\":\"Factual North\",\"address\":\"1 North Pole\",\"latitude\":90.00000,\"longitude\":0.00000}",
            "description": "A JSON hash containing field names and values to be submitted for each field."
          },
          {
            "name": "user",
            "required": true,
            "in": "query",
            "type": "string",
            "default": "5150",
            "description": "A string for the purpose of attribution of the submitted data. Typically, your or your user's name (anonymized)."
          },
          {
            "name": "comment",
            "required": false,
            "in": "query",
            "type": "string",
            "default": "",
            "description": "A comment that helps explain the problem."
          },
          {
            "name": "reference",
            "required": false,
            "in": "query",
            "type": "string",
            "default": "",
            "description": "A citation to information that may illuminate the problem."
          },
          {
            "name": "strict",
            "required": false,
            "in": "query",
            "type": "string",
            "default": "",
            "description": "true if field names should be validated against the schema. false otherwise."
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "This method enables submitting edits to existing rows and/or submitting new rows of data in Factual tables.",
          "externalDocs": {
            "url": "http://developer.factual.com/api-docs/#Submit"
          }
        }
      },
      "/t/{table_name}/{factual_id}/clear": {
        "parameters": [
          {
            "name": "table_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "us-sandbox",
            "description": "The table (or view) name."
          },
          {
            "name": "factual_id",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "477220a7-5dc4-4851-88ac-bcd62b7a07ad",
            "description": "The factual ID of the row containing the field you are attempting to clear."
          },
          {
            "name": "fields",
            "required": true,
            "in": "query",
            "type": "string",
            "default": "latitude,longitude",
            "description": "A list of fields, comma delimited."
          },
          {
            "name": "user",
            "required": true,
            "in": "query",
            "type": "string",
            "default": "24601",
            "description": "A string for the purpose of attribution of the submitted data. Typically, your or your user's name (anonymized)."
          },
          {
            "name": "comment",
            "required": false,
            "in": "query",
            "type": "string",
            "default": "",
            "description": "A comment that helps explain the problem."
          },
          {
            "name": "reference",
            "required": false,
            "in": "query",
            "type": "string",
            "default": "",
            "description": "A citation to information that may illuminate the problem."
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "The clear method enables clearing existing attributes in an entity. Clearing an attribute attempts to reset the value from whatever it is currently, to a blank state.",
          "externalDocs": {
            "url": "http://developer.factual.com/api-docs/#Clear"
          }
        }
      },
      "/t/{table_name}/{factual_id}/flag": {
        "parameters": [
          {
            "name": "table_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "us-sandbox",
            "description": "The table (or view) name."
          },
          {
            "name": "factual_id",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "477220a7-5dc4-4851-88ac-bcd62b7a07ad",
            "description": "The factual ID of a row you are trying to flag."
          },
          {
            "name": "problem",
            "required": true,
            "in": "query",
            "type": "string",
            "default": "inaccurate",
            "description": "One of: closed, duplicate, inaccurate, inappropriate, nonexistent, relocated, spam, or other"
          },
          {
            "name": "user",
            "required": true,
            "in": "query",
            "type": "string",
            "default": "24601",
            "description": "A string for the purpose of attribution of the submitted data. Typically, your or your user's name (anonymized)."
          },
          {
            "name": "preferred",
            "required": false,
            "in": "query",
            "type": "string",
            "default": "",
            "description": "Optional Factual Id representing the preferred row to preserve when reporting a relocated or duplicate place."
          },
          {
            "name": "fields",
            "required": false,
            "in": "query",
            "type": "string",
            "default": "[lat,lng]",
            "description": "JSON array of any fields that should be examined with respect to the identified problem."
          },
          {
            "name": "comment",
            "required": false,
            "in": "query",
            "type": "string",
            "default": "",
            "description": "A comment that helps explain the problem."
          },
          {
            "name": "reference",
            "required": false,
            "in": "query",
            "type": "string",
            "default": "",
            "description": "A citation to information that may illuminate the problem."
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "This method enables flagging problematic rows in Factual tables. Use this method if you are requesting for an entity to be deleted or merged into a duplicate record.",
          "externalDocs": {
            "url": "http://developer.factual.com/api-docs/#Flag"
          }
        }
      }
    },
    "info": {
      "title": "Factual",
      "description": "Factual is an open data platform for application developers that leverages large-scale data aggregation and community exchange."
    }
  },
  "public": true
}