{
  "type": "api",
  "key": "apigee:bing",
  "info": {
    "title": "Bing",
    "description": "Submit queries to and retrieve results from the Bing Engine."
  },
  "swagger": {
    "swagger": "2.0",
    "host": "api.search.live.net",
    "basePath": "/",
    "schemes": [
      "http"
    ],
    "paths": {
      "/{format}.aspx?sources=web%26query={query}": {
        "parameters": [
          {
            "name": "query",
            "required": true,
            "in": "query",
            "type": "string",
            "default": "sushi"
          },
          {
            "name": "sources",
            "required": true,
            "in": "query",
            "type": "string",
            "default": "web"
          },
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Searches for web content",
          "externalDocs": {
            "url": "http://msdn.microsoft.com/en-us/library/dd250845.aspx"
          }
        }
      },
      "/{format}.aspx?sources=image%26query={query}": {
        "parameters": [
          {
            "name": "query",
            "required": true,
            "in": "query",
            "type": "string",
            "default": "sushi"
          },
          {
            "name": "sources",
            "required": true,
            "in": "query",
            "type": "string",
            "default": "image"
          },
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Searches for images on the web",
          "externalDocs": {
            "url": "http://msdn.microsoft.com/en-us/library/dd250942.aspx"
          }
        }
      },
      "/{format}.aspx?sources=news%26query={query}": {
        "parameters": [
          {
            "name": "query",
            "required": true,
            "in": "query",
            "type": "string",
            "default": "sushi"
          },
          {
            "name": "sources",
            "required": true,
            "in": "query",
            "type": "string",
            "default": "news"
          },
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Searches news stories",
          "externalDocs": {
            "url": "http://msdn.microsoft.com/en-us/library/dd250884.aspx"
          }
        }
      },
      "/{format}.aspx?sources=instantanswer%26query={query}": {
        "parameters": [
          {
            "name": "query",
            "required": true,
            "in": "query",
            "type": "string",
            "default": "sushi"
          },
          {
            "name": "sources",
            "required": true,
            "in": "query",
            "type": "string",
            "default": "instantanswer"
          },
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Searches Encarta online",
          "externalDocs": {
            "url": "http://www.bing.com/developers/s/API%20Basics.pdf"
          }
        }
      },
      "/{format}.aspx?sources=spell%26query={query}": {
        "parameters": [
          {
            "name": "query",
            "required": true,
            "in": "query",
            "type": "string",
            "default": "sushi"
          },
          {
            "name": "sources",
            "required": true,
            "in": "query",
            "type": "string",
            "default": "spell"
          },
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Searches Encarta dictionary for spelling suggestions",
          "externalDocs": {
            "url": "http://msdn.microsoft.com/en-us/library/dd251071.aspx"
          }
        }
      },
      "/{format}.aspx?sources=phonebook%26query={query}": {
        "parameters": [
          {
            "name": "query",
            "required": true,
            "in": "query",
            "type": "string",
            "default": "sushi"
          },
          {
            "name": "sources",
            "required": true,
            "in": "query",
            "type": "string",
            "default": "phonebook"
          },
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Searches phonebook entries",
          "externalDocs": {
            "url": "http://msdn.microsoft.com/en-us/library/dd251005.aspx"
          }
        }
      },
      "/{format}.aspx?sources=relatedsearch%26query={query}": {
        "parameters": [
          {
            "name": "query",
            "required": true,
            "in": "query",
            "type": "string",
            "default": "sushi"
          },
          {
            "name": "sources",
            "required": true,
            "in": "query",
            "type": "string",
            "default": "relatedsearch"
          },
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns the query strings most similar to yours",
          "externalDocs": {
            "url": "http://msdn.microsoft.com/en-us/library/dd250898.aspx"
          }
        }
      },
      "/{format}.aspx?sources=ad%26query={query}": {
        "parameters": [
          {
            "name": "query",
            "required": true,
            "in": "query",
            "type": "string",
            "default": "sushi"
          },
          {
            "name": "sources",
            "required": true,
            "in": "query",
            "type": "string",
            "default": "ad"
          },
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns advertisements to incorporate with results",
          "externalDocs": {
            "url": "http://msdn.microsoft.com/en-us/library/dd251068.aspx"
          }
        }
      },
      "/{format}.aspx?sources=web+image%26query={query}": {
        "parameters": [
          {
            "name": "query",
            "required": true,
            "in": "query",
            "type": "string",
            "default": "sushi"
          },
          {
            "name": "sources",
            "required": true,
            "in": "query",
            "type": "string",
            "default": "web+images"
          },
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "To request results from multiple SourceTypes, separate the SourceType names with a plus (+)\n                    sign",
          "externalDocs": {
            "url": "http://msdn.microsoft.com/en-us/library/dd250898.aspx"
          }
        }
      }
    },
    "info": {
      "title": "Bing",
      "description": "Submit queries to and retrieve results from the Bing Engine."
    }
  },
  "public": true
}