{
  "type": "api",
  "key": "apigee:contextio",
  "info": {
    "title": "Context.IO",
    "description": "Context.IO is the missing email API that makes it easy and fast to integrate your user's email data in your application."
  },
  "swagger": {
    "swagger": "2.0",
    "host": "api.context.io",
    "basePath": "/2.0",
    "schemes": [
      "https"
    ],
    "paths": {
      "/oauth_providers": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "List configured OAuth providers.",
          "externalDocs": {
            "url": "http://context.io/docs/2.0/oauth_providers#get"
          }
        },
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "type",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "Identification of the OAuth provider. This must be either GMAIL and GOOGLEAPPSMARKETPLACE.",
              "enum": [
                "GMAIL",
                "GOOGLEAPPSMARKETPLACE"
              ]
            },
            {
              "name": "provider_consumer_key",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "The OAuth consumer key."
            },
            {
              "name": "provider_consumer_secret",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "The OAuth consumer secret."
            }
          ],
          "description": "Adds a new OAuth provider.",
          "externalDocs": {
            "url": "http://context.io/docs/2.0/oauth_providers#post"
          }
        }
      },
      "/oauth_providers/{key}": {
        "parameters": [
          {
            "name": "key",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The consumer key for this external OAuth provider."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Gets information about a given OAuth provider.",
          "externalDocs": {
            "url": "http://context.io/docs/2.0/oauth_providers#id-get"
          }
        },
        "delete": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Removes a given OAuth provider.",
          "externalDocs": {
            "url": "http://context.io/docs/2.0/oauth_providers#id-delete"
          }
        }
      },
      "/discovery": {
        "parameters": [
          {
            "name": "source_type",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "The type of source you want to discover settings for. Right now, the only supported source type is IMAP.",
            "enum": [
              "IMAP"
            ]
          },
          {
            "name": "email",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "An email address you want to discover IMAP settings for. Make sure source_type is set to IMAP."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Attempts to discover IMAP settings for a given email address.",
          "externalDocs": {
            "url": "http://context.io/docs/2.0/discovery#get"
          }
        }
      },
      "/connect_tokens": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Lists connect tokens created with your API key.",
          "externalDocs": {
            "url": "http://context.io/docs/2.0/connect_tokens#get"
          }
        },
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "callback_url",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "When the user's mailbox is connected to your API key, the browser will call this url (GET). This call will have a parameter called contextio_token indicating the connect_token related to this callback. You can then do a get on this connect_token to obtain details about the account and source created through that token and save that account id in your own user data."
            },
            {
              "name": "service_level",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Sets the service level of the account's source to be created. Possible values are PRO and BASIC.",
              "enum": [
                "PRO",
                "BASIC"
              ]
            },
            {
              "name": "email",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "The email address of the account to be added. If specified, the first step of the connect UI where users are prompted for their email address, first name and last name is skipped."
            },
            {
              "name": "first_name",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "First name of the account holder."
            },
            {
              "name": "last_name",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Last name of the account holder."
            }
          ],
          "description": "Obtains a new connect_token.",
          "externalDocs": {
            "url": "http://context.io/docs/2.0/connect_tokens#post"
          }
        }
      },
      "/connect_tokens/{token}": {
        "parameters": [
          {
            "name": "token",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The unique random token used for the graphical account creation process."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Gets information about a given connect token.",
          "externalDocs": {
            "url": "http://context.io/docs/2.0/connect_tokens#id-get"
          }
        },
        "delete": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Removes a given connect token.",
          "externalDocs": {
            "url": "http://context.io/docs/2.0/connect_tokens#id-delete"
          }
        }
      },
      "/accounts": {
        "parameters": [
          {
            "name": "token",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The unique random token used for the graphical account creation process."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "email",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Only return account associated to this email address."
            },
            {
              "name": "status",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Only return accounts with sources whose status is of a specific value. If an account has many sources, only those matching the given value will be included in the response. Possible statuses are: INVALID_CREDENTIALS, CONNECTION_IMPOSSIBLE, NO_ACCESS_TO_ALL_MAIL, OK, TEMP_DISABLED and DISABLED.",
              "enum": [
                "INVALID_CREDENTIALS",
                "CONNECTION_IMPOSSIBLE",
                "NO_ACCESS_TO_ALL_MAIL",
                "OK",
                "TEMP_DISABLED",
                "DISABLED"
              ]
            },
            {
              "name": "status_ok",
              "required": false,
              "in": "query",
              "type": "integer",
              "description": "Set to 0 to get all accounts with sources that are not working correctly. Set to 1 for the opposite. As for the status filter above, only sources matching the specific value are included in the response."
            },
            {
              "name": "limit",
              "required": false,
              "in": "query",
              "type": "integer",
              "description": "The maximum number of results to return."
            },
            {
              "name": "offset",
              "required": false,
              "in": "query",
              "type": "integer",
              "description": "Start the list at this offset (zero-based)."
            }
          ],
          "description": "Lists accounts.",
          "externalDocs": {
            "url": "http://context.io/docs/2.0/accounts#get"
          }
        },
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "email",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "The primary email address of the account holder."
            },
            {
              "name": "first_name",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "First name of the account holder."
            },
            {
              "name": "last_name",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Last name of the account holder."
            }
          ],
          "description": "Adds a new account.",
          "externalDocs": {
            "url": "http://context.io/docs/2.0/accounts#post"
          }
        }
      },
      "/accounts/{id}": {
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Unique id of an account accessible through your API key."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Gets details about a given account.",
          "externalDocs": {
            "url": "http://context.io/docs/2.0/accounts#id-get"
          }
        },
        "delete": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Removes a given account.",
          "externalDocs": {
            "url": "http://context.io/docs/2.0/accounts#id-delete"
          }
        },
        "put": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "first_name",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "First name of the account holder."
            },
            {
              "name": "last_name",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Last name of the account holder."
            }
          ],
          "description": "Modifies a given account.",
          "externalDocs": {
            "url": "http://context.io/docs/2.0/accounts#id-put"
          }
        }
      },
      "/accounts/{id}/connect_tokens": {
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Unique id of an account accessible through your API key."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Lists connect tokens created for an account.",
          "externalDocs": {
            "url": "http://context.io/docs/2.0/accounts/connect_tokens#get"
          }
        },
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "callback_url",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "When the user's mailbox is connected to your API key, the browser will call this url (GET). This call will have a parameter called contextio_token indicating the connect_token related to this callback. You can then do a get on this connect_token to obtain details about the account and source created through that token and save that account id in your own user data."
            },
            {
              "name": "service_level",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Sets the service level of the account's source to be created. Possible values are PRO and BASIC.",
              "enum": [
                "PRO",
                "BASIC"
              ]
            },
            {
              "name": "email",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "The email address of the account to be added. If specified, the first step of the connect UI where users are prompted for their email address, first name and last name is skipped."
            },
            {
              "name": "first_name",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "First name of the account holder."
            },
            {
              "name": "last_name",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Last name of the account holder."
            }
          ],
          "description": "Obtains a new connect_token for a specific account.",
          "externalDocs": {
            "url": "http://context.io/docs/2.0/accounts/connect_tokens#post"
          }
        }
      },
      "/accounts/{id}/connect_tokens/{token}": {
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Unique id of an account accessible through your API key."
          },
          {
            "name": "token",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The unique random token used to add a second source to an existing account."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Gets information about a given connect token.",
          "externalDocs": {
            "url": "http://context.io/docs/2.0/accounts/connect_tokens#id-get"
          }
        },
        "delete": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Remove a given connect token.",
          "externalDocs": {
            "url": "http://context.io/docs/2.0/accounts/connect_tokens#id-delete"
          }
        }
      },
      "/accounts/{id}/contacts": {
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Unique id of an account accessible through your API key."
          },
          {
            "name": "search",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "String identifying the name or the email address of the contact(s) you are looking for."
          },
          {
            "name": "active_before",
            "required": false,
            "in": "query",
            "type": "integer",
            "description": "Only include contacts included in at least one email dated before a given time. This parameter should be a standard unix timestamp."
          },
          {
            "name": "active_after",
            "required": false,
            "in": "query",
            "type": "integer",
            "description": "Only include contacts included in at least one email dated after a given time. This parameter should be a standard unix timestamp."
          },
          {
            "name": "limit",
            "required": false,
            "in": "query",
            "type": "integer",
            "description": "The maximum number of results to return."
          },
          {
            "name": "offset",
            "required": false,
            "in": "query",
            "type": "integer",
            "description": "Start the list at this offset (zero-based)."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Lists contacts in an account.",
          "externalDocs": {
            "url": "http://context.io/docs/2.0/accounts/contacts#get"
          }
        }
      },
      "/accounts/{id}/contacts/{email}": {
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Unique id of an account accessible through your API key."
          },
          {
            "name": "email",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Email address of a contact."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Gets information about a given contact.",
          "externalDocs": {
            "url": "http://context.io/docs/2.0/accounts/contacts#id-get"
          }
        }
      },
      "/accounts/{id}/contacts/{email}/files": {
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Unique id of an account accessible through your API key."
          },
          {
            "name": "email",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Email address of a contact."
          },
          {
            "name": "limit",
            "required": false,
            "in": "query",
            "type": "integer",
            "description": "The maximum number of results to return."
          },
          {
            "name": "offset",
            "required": false,
            "in": "query",
            "type": "integer",
            "description": "Start the list at this offset (zero-based)."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Lists files exchanged with a contact. Returns the latest attachments exchanged with one or more email addresses. By \"exchanged with Mr. X\" we mean any file attached to an email received from Mr. X, sent to Mr. X or sent by anyone to both Mr. X and the mailbox owner.",
          "externalDocs": {
            "url": "http://context.io/docs/2.0/accounts/contacts/files#get"
          }
        }
      },
      "/accounts/{id}/contacts/{email}/messages": {
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Unique id of an account accessible through your API key."
          },
          {
            "name": "email",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Email address of a contact."
          },
          {
            "name": "limit",
            "required": false,
            "in": "query",
            "type": "integer",
            "description": "The maximum number of results to return."
          },
          {
            "name": "offset",
            "required": false,
            "in": "query",
            "type": "integer",
            "description": "Start the list at this offset (zero-based)."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Lists messages where a contact is present. Returns the latest email messages exchanged with one or more email addresses. By \"exchanged with Mr. X\" we mean any email received from Mr. X, sent to Mr. X or sent by anyone to both Mr. X and the mailbox owner.",
          "externalDocs": {
            "url": "http://context.io/docs/2.0/accounts/contacts/messages#get"
          }
        }
      },
      "/accounts/{id}/contacts/{email}/threads": {
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Unique id of an account accessible through your API key."
          },
          {
            "name": "email",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Email address of a contact."
          },
          {
            "name": "limit",
            "required": false,
            "in": "query",
            "type": "integer",
            "description": "The maximum number of results to return."
          },
          {
            "name": "offset",
            "required": false,
            "in": "query",
            "type": "integer",
            "description": "Start the list at this offset (zero-based)."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Lists threads where a contact is present. Returns the latest email threads exchanged with one or more email addresses. By \"exchanged with Mr. X\" we mean any email received from Mr. X, sent to Mr. X or sent by anyone to both Mr. X and the mailbox owner.",
          "externalDocs": {
            "url": "http://context.io/docs/2.0/accounts/contacts/threads#get"
          }
        }
      },
      "/accounts/{id}/email_addresses": {
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Unique id of an account accessible through your API key."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Lists email addresses used by an account.",
          "externalDocs": {
            "url": "http://context.io/docs/2.0/accounts/email_addresses#get"
          }
        },
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "email_address",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "An email address."
            }
          ],
          "description": "Adds a new email address as an alias for an account.",
          "externalDocs": {
            "url": "http://context.io/docs/2.0/accounts/email_addresses#post"
          }
        }
      },
      "/accounts/{id}/email_addresses/{email}": {
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Unique id of an account accessible through your API key."
          },
          {
            "name": "email",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "One of the email addresses associated to the account."
          }
        ],
        "delete": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Removes an email address form the aliases of an account.",
          "externalDocs": {
            "url": "http://context.io/docs/2.0/accounts/email_addresses#id-delete"
          }
        },
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "primary",
              "required": true,
              "in": "query",
              "type": "integer",
              "default": 1,
              "description": "Set to 1 to make this email address the primary one for the account."
            }
          ],
          "description": "Makes this email address the primary one for the account.",
          "externalDocs": {
            "url": "http://context.io/docs/2.0/accounts/email_addresses#id-post"
          }
        }
      },
      "/accounts/{id}/files": {
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Unique id of an account accessible through your API key."
          },
          {
            "name": "file_name",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Search for files based on their name. You can filter names using typical shell wildcards such as *, ? and [] or regular expressions by enclosing the search expression in a leading / and trailing /. For example, *.pdf would give you all PDF files while /\\.jpe?g$/ would return all files whose name ends with .jpg or .jpeg."
          },
          {
            "name": "email",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Email address of the contact for whom you want the latest files exchanged with. By \"exchanged with contact X\" we mean any email received from contact X, sent to contact X or sent by anyone to both contact X and the source owner."
          },
          {
            "name": "to",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Email address of a contact files have been sent to."
          },
          {
            "name": "from",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Email address of a contact files have been received from."
          },
          {
            "name": "cc",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Email address of a contact CC'ed on the messages."
          },
          {
            "name": "bcc",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Email address of a contact BCC'ed on the messages."
          },
          {
            "name": "date_before",
            "required": false,
            "in": "query",
            "type": "integer",
            "description": "Only include files attached to messages sent before a given timestamp. The value this filter is applied to is the Date: header of the message which refers to the time the message is sent from the origin."
          },
          {
            "name": "date_after",
            "required": false,
            "in": "query",
            "type": "integer",
            "description": "Only include files attached to messages sent after a given timestamp. The value this filter is applied to is the Date: header of the message which refers to the time the message is sent from the origin."
          },
          {
            "name": "indexed_before",
            "required": false,
            "in": "query",
            "type": "integer",
            "description": "Only include files attached to messages indexed before a given timestamp. This is not the same as the date of the email, it is the time Context.IO indexed this message."
          },
          {
            "name": "indexed_after",
            "required": false,
            "in": "query",
            "type": "integer",
            "description": "Only include files attached to messages indexed after a given timestamp. This is not the same as the date of the email, it is the time Context.IO indexed this message."
          },
          {
            "name": "group_by_revisions",
            "required": false,
            "in": "query",
            "type": "integer",
            "description": "If set to 1, the list will do an intelligent grouping of files to reflect occurrences of the same document. The grouping algorithm is exactly the same as the one used to get file revisions but only the occurrences matching the filters applied to the list will be included in the results."
          },
          {
            "name": "limit",
            "required": false,
            "in": "query",
            "type": "integer",
            "description": "The maximum number of results to return."
          },
          {
            "name": "offset",
            "required": false,
            "in": "query",
            "type": "integer",
            "description": "Start the list at this offset (zero-based)."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Lists files found as email attachments. List filters: each of the email, to, from, cc and bcc parameters can be set to a comma-separated list of email addresses. These multiple addresses are treated as an OR combination. You can set more than one parameter when doing this call. Multiple parameters are treated as an AND combination.",
          "externalDocs": {
            "url": "http://context.io/docs/2.0/accounts/files#get"
          }
        }
      },
      "/accounts/{id}/files/{fileId}": {
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Unique id of an account accessible through your API key."
          },
          {
            "name": "fileId",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Unique id of a file."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Gets information about a given file.",
          "externalDocs": {
            "url": "http://context.io/docs/2.0/accounts/files#id-get"
          }
        }
      },
      "/accounts/{id}/files/{fileId}/changes": {
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Unique id of an account accessible through your API key."
          },
          {
            "name": "fileId",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Unique id of a file."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Lists files that can be compared with a given file.",
          "externalDocs": {
            "url": "http://context.io/docs/2.0/accounts/files/changes#get"
          }
        }
      },
      "/accounts/{id}/files/{fileId}/content": {
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Unique id of an account accessible through your API key."
          },
          {
            "name": "fileId",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Unique id of a file."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Downloads a given file. Returns the content a given attachment. On-demand data retrieval: since we do not keep full copies of attachments on our servers, the file has to be retrieved from the IMAP server when this call is made. If the IMAP server is unreachable at the time the call is made, this call will return an error.",
          "externalDocs": {
            "url": "http://context.io/docs/2.0/accounts/files/content#get"
          }
        }
      },
      "/accounts/{id}/files/{fileId}/related": {
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Unique id of an account accessible through your API key."
          },
          {
            "name": "fileId",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Unique id of a file."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Lists other files related to a given file. Returns a list of files that are related to the given file. Currently, relation between files is based on how similar their names are.",
          "externalDocs": {
            "url": "http://context.io/docs/2.0/accounts/files/related#get"
          }
        }
      },
      "/accounts/{id}/files/{fileId}/revisions": {
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Unique id of an account accessible through your API key."
          },
          {
            "name": "fileId",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Unique id of a file."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Lists other revisions of a given file. Returns a list of revisions attached to other emails in the mailbox for a given file. Two files are considered revisions of the same document if their file names are identical outside of revision indicators such as dates, author initials, version numbers and keywords like \"final\" or \"draft\".",
          "externalDocs": {
            "url": "http://context.io/docs/2.0/accounts/files/revisions#get"
          }
        }
      },
      "/accounts/{id}/messages": {
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Unique id of an account accessible through your API key."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "subject",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Get messages whose subject matches this search string. To use regular expressions instead of simple string matching, make sure the string starts and ends with /."
            },
            {
              "name": "email",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Email address of the contact for whom you want the latest messages exchanged with. By \"exchanged with contact X\" we mean any email received from contact X, sent to contact X or sent by anyone to both contact X and the source owner."
            },
            {
              "name": "to",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Email address of a contact messages have been sent to."
            },
            {
              "name": "from",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Email address of a contact messages have been received from."
            },
            {
              "name": "cc",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Email address of a contact CC'ed on the messages."
            },
            {
              "name": "bcc",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Email address of a contact BCC'ed on the messages."
            },
            {
              "name": "folder",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Filter messages by the folder (or Gmail label). This parameter can be the complete folder name with the appropriate hierarchy delimiter for the mail server being queried (eg. Inbox/My folder) or the \"symbolic name\" of the folder (eg. \\Starred). The symbolic name refers to attributes used to refer to special use folders in a language-independant way. See http://code.google.com/apis/gmail/imap/#xlist (Gmail specific) and RFC-6154."
            },
            {
              "name": "date_before",
              "required": false,
              "in": "query",
              "type": "integer",
              "description": "Only include messages before a given timestamp. The value this filter is applied to is the Date: header of the message which refers to the time the message is sent from the origin."
            },
            {
              "name": "date_after",
              "required": false,
              "in": "query",
              "type": "integer",
              "description": "Only include messages after a given timestamp. The value this filter is applied to is the Date: header of the message which refers to the time the message is sent from the origin."
            },
            {
              "name": "indexed_before",
              "required": false,
              "in": "query",
              "type": "integer",
              "description": "Only include messages indexed before a given timestamp. This is not the same as the date of the email, it is the time Context.IO indexed this message."
            },
            {
              "name": "indexed_after",
              "required": false,
              "in": "query",
              "type": "integer",
              "description": "Only include messages indexed after a given timestamp. This is not the same as the date of the email, it is the time Context.IO indexed this message."
            },
            {
              "name": "include_body",
              "required": false,
              "in": "query",
              "type": "integer",
              "description": "Set to 1 to include message bodies in the result. Since message bodies must be retrieved from the IMAP server, expect a performance hit when setting this parameter."
            },
            {
              "name": "include_headers",
              "required": false,
              "in": "query",
              "type": "integer",
              "default": 0,
              "description": "Can be set to 0 (default), 1 or raw. If set to 1, complete message headers, parsed into an array, are included in the results. If set to raw, the headers are also included but as a raw unparsed string. Since full original headers bodies must be retrieved from the IMAP server, expect a performance hit when setting this parameter."
            },
            {
              "name": "include_flags",
              "required": false,
              "in": "query",
              "type": "integer",
              "description": "Set to 1 to include IMAP flags for this message in the result. Since message flags must be retrieved from the IMAP server, expect a performance hit when setting this parameter."
            },
            {
              "name": "body_type",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Used when include_body is set to get only body parts of a given MIME-type (i.e. text/html)."
            },
            {
              "name": "limit",
              "required": false,
              "in": "query",
              "type": "integer",
              "description": "The maximum number of results to return."
            },
            {
              "name": "offset",
              "required": false,
              "in": "query",
              "type": "integer",
              "description": "Start the list at this offset (zero-based)."
            }
          ],
          "description": "Lists email messages for an account. List filters: each of the email, to, from, cc and bcc parameters can be set to a comma-separated list of email addresses. These multiple addresses are treated as an OR combination. You can set more than one parameter when doing this call. Multiple parameters are treated as an AND combination.",
          "externalDocs": {
            "url": "http://context.io/docs/2.0/accounts/messages#get"
          }
        }
      },
      "/accounts/{id}/messages/{message_id}": {
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Unique id of an account accessible through your API key."
          },
          {
            "name": "message_id",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Unique id of a message. This can be the message_id or email_message_id property of the message. The gmail_message_id (prefixed with gm-) can also be used."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Gets the file, contact and other information about a given email message. As specified in the RFC822, the < and > at the beginning and end of the Message-ID are part of the value and should be included if you're putting an email_message_id in the url.",
          "externalDocs": {
            "url": "http://context.io/docs/2.0/accounts/messages#id-get"
          }
        },
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "dst_folder",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "The folder within dst_source the message should be copied to."
            },
            {
              "name": "dst_source",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Label of the source you want the message copied to. This field is required if you're moving a message that already exists in one source of the account to another source of that account. If you only want to move the message to a different folder within the same source, dst_folder is sufficient."
            },
            {
              "name": "move",
              "required": false,
              "in": "query",
              "type": "integer",
              "description": "By default, this calls copies the original message in the destination. Set this parameter to 1 to move instead of copy."
            }
          ],
          "description": "Copies or moves a message. Allows you to copy or move a message between folders. If there are more than one sources on the account, you can use this call to copy/move the message between these sources. In this case, the dst_label parameter must identify the source you want to message to be copied/moved to.",
          "externalDocs": {
            "url": "http://context.io/docs/2.0/accounts/messages#id-post"
          }
        }
      },
      "/accounts/{id}/messages/{message_id}/body": {
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Unique id of an account accessible through your API key."
          },
          {
            "name": "message_id",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Unique id of a message. This can be the message_id or email_message_id property of the message. The gmail_message_id (prefixed with gm-) can also be used."
          },
          {
            "name": "type",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Many emails are sent with both rich text and plain text versions in the message body and by default, the response of this call will include both. It is possible to only get either the plain or rich text version by setting the type parameter to text/plain or text/html respectively.",
            "enum": [
              "text/plain",
              "text/html"
            ]
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Fetches the message body of a given email. On-demand data retrieval: since we do not keep full copies of emails on our servers, this call triggers a connection to the IMAP server to fetch the message. One thing to point out is we do fetch messages in such a way that large files attached to a message won't make any difference in the response time. This call only returns text portions of messages, attachments aren't included. To get a list of attachments on the message, look for the files property in the response of a message instance. To download the content of these attachments, use the files/content call.",
          "externalDocs": {
            "url": "http://context.io/docs/2.0/accounts/messages/body#get"
          }
        }
      },
      "/accounts/{id}/messages/{message_id}/source": {
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Unique id of an account accessible through your API key."
          },
          {
            "name": "message_id",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Unique id of a message. This can be the message_id or email_message_id property of the message. The gmail_message_id (prefixed with gm-) can also be used."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Fetches the message source. Returns the raw RFC-822 message source for the message (including attachments) with no parsing or decoding to any portions of the message. On-demand data retrieval: since we do not keep full copies of emails on our servers, this call triggers a connection to the IMAP server to fetch the message. Attachments are part of the message source so they will impact how fast this call responds.",
          "externalDocs": {
            "url": "http://context.io/docs/2.0/accounts/messages/source#get"
          }
        }
      },
      "/accounts/{id}/messages/{message_id}/flags": {
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Unique id of an account accessible through your API key."
          },
          {
            "name": "message_id",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Unique id of a message. This can be the message_id or email_message_id property of the message. The gmail_message_id (prefixed with gm-) can also be used."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Lists message flags for an account. On-demand data retrieval: to ensure up-to-date values, flags are not cached by Context.IO. This call triggers a connection to the IMAP server to fetch the current message flags before it returns.",
          "externalDocs": {
            "url": "http://context.io/docs/2.0/accounts/messages/flags#get"
          }
        },
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "seen",
              "required": false,
              "in": "query",
              "type": "integer",
              "description": "Message has been read. Set this parameter to 1 to set the flag, 0 to unset it."
            },
            {
              "name": "answered",
              "required": false,
              "in": "query",
              "type": "integer",
              "description": "Message has been answered. Set this parameter to 1 to set the flag, 0 to unset it."
            },
            {
              "name": "flagged",
              "required": false,
              "in": "query",
              "type": "integer",
              "description": "Message is \"flagged\" for urgent/special attention. Set this parameter to 1 to set the flag, 0 to unset it."
            },
            {
              "name": "deleted",
              "required": false,
              "in": "query",
              "type": "integer",
              "description": "Message is \"deleted\" for later removal. An alternative way of deleting messages is to move it to the Trash folder. Set this parameter to 1 to set the flag, 0 to unset it."
            },
            {
              "name": "draft",
              "required": false,
              "in": "query",
              "type": "integer",
              "description": "Message has not completed composition (marked as a draft). Set this parameter to 1 to set the flag, 0 to unset it."
            }
          ],
          "description": "Sets message flags for a given email.",
          "externalDocs": {
            "url": "http://context.io/docs/2.0/accounts/messages/flags#post"
          }
        }
      },
      "/accounts/{id}/messages/{message_id}/headers": {
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Unique id of an account accessible through your API key."
          },
          {
            "name": "message_id",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Unique id of a message. This can be the message_id or email_message_id property of the message. The gmail_message_id (prefixed with gm-) can also be used."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Lists complete headers of a given email message. On-demand data retrieval: since we do not keep full copies of emails on our servers, this call triggers a connection to the IMAP server to fetch the message headers.",
          "externalDocs": {
            "url": "http://context.io/docs/2.0/accounts/messages/headers#get"
          }
        }
      },
      "/accounts/{id}/messages/{message_id}/thread": {
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Unique id of an account accessible through your API key."
          },
          {
            "name": "message_id",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Unique id of a message. This can be the message_id or email_message_id property of the message. The gmail_message_id (prefixed with gm-) can also be used."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Gets information about all messages of the thread a given message is in. This returns an array with the same structure as getting information on a single message for every message in the thread.",
          "externalDocs": {
            "url": "http://context.io/docs/2.0/accounts/messages/thread#get"
          }
        }
      },
      "/accounts/{id}/sources": {
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Unique id of an account accessible through your API key."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "status",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Only return sources whose status is of a specific value. Possible statuses are: INVALID_CREDENTIALS, CONNECTION_IMPOSSIBLE, NO_ACCESS_TO_ALL_MAIL, OK, TEMP_DISABLED and DISABLED.",
              "enum": [
                "INVALID_CREDENTIALS",
                "CONNECTION_IMPOSSIBLE",
                "NO_ACCESS_TO_ALL_MAIL",
                "OK",
                "TEMP_DISABLED",
                "DISABLED"
              ]
            },
            {
              "name": "status_ok",
              "required": false,
              "in": "query",
              "type": "integer",
              "description": "Set to 0 to get sources that are not working correctly. Set to 1 to get those that are."
            }
          ],
          "description": "Lists IMAP sources assigned for an account.",
          "externalDocs": {
            "url": "http://context.io/docs/2.0/accounts/sources#get"
          }
        },
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "email",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "The primary email address used to receive emails in this account."
            },
            {
              "name": "server",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "Name of IP of the IMAP server, eg. imap.gmail.com."
            },
            {
              "name": "username",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "The username used to authentify an IMAP connection. On some servers, this is the same thing as the primary email address."
            },
            {
              "name": "use_ssl",
              "required": true,
              "in": "query",
              "type": "integer",
              "description": "Set to 1 if you want SSL encryption to be used when opening connections to the IMAP server. Any other value will be considered as \"do not use SSL\"."
            },
            {
              "name": "port",
              "required": true,
              "in": "query",
              "type": "integer",
              "description": "Port number to connect to on the server. Keep in mind that most IMAP servers will have one port for standard connection and another one for encrypted connection (see use-ssl parameter above)."
            },
            {
              "name": "type",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "Currently, the only supported type is IMAP",
              "enum": [
                "IMAP"
              ]
            },
            {
              "name": "service_level",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Sets the service level for the source to be created. Possible values are: PRO and BASIC. See our pricing page for more information.",
              "enum": [
                "PRO",
                "BASIC"
              ]
            },
            {
              "name": "sync_period",
              "required": false,
              "in": "query",
              "type": "string",
              "default": "24h",
              "description": "Sets the period at which the Context.IO index for this source is synced with the origin email account on the IMAP server. Possible values are: 1h, 4h, 12h and 24h (default). Only available on sources with service_level set to PRO.",
              "enum": [
                "1h",
                "4h",
                "12h",
                "24h"
              ]
            },
            {
              "name": "password",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Password for authentication on the IMAP server. Ignored if any of the provider_* parameters are set below."
            },
            {
              "name": "provider_token",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "An OAuth token obtained from the IMAP account provider to be used to authentify on this email account."
            },
            {
              "name": "provider_token_secret",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "An OAuth token secret obtained from the IMAP account provider to be used to authentify on this email account."
            },
            {
              "name": "provider_consumer_key",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "The OAuth consumer key used to obtain the the token and token secret above for that account. That consumer key and secret must be configured in your Context.IO account, see http://context.io/docs/2.0/oauth_providers."
            }
          ],
          "description": "Adds an IMAP account to a given account.",
          "externalDocs": {
            "url": "http://context.io/docs/2.0/accounts/sources#post"
          }
        }
      },
      "/accounts/{id}/sources/{label}": {
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Unique id of an account accessible through your API key."
          },
          {
            "name": "label",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The label property of the source instance. Context.IO assigns a label to every source. This label is used to refer to individual sources."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Gets parameters and status for an IMAP source.",
          "externalDocs": {
            "url": "http://context.io/docs/2.0/accounts/sources#id-get"
          }
        },
        "delete": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Removes a data source of an account.",
          "externalDocs": {
            "url": "http://context.io/docs/2.0/accounts/sources#id-delete"
          }
        },
        "put": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "status",
              "required": false,
              "in": "query",
              "type": "integer",
              "description": "If the status of the source is TEMP_DISABLED or DISABLED. You can do a POST/PUT with status set to 1 to reset it."
            },
            {
              "name": "service_level",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Changes the service level for the source. Possible values are: PRO and BASIC. See our pricing page for more information.",
              "enum": [
                "PRO",
                "BASIC"
              ]
            },
            {
              "name": "sync_period",
              "required": false,
              "in": "query",
              "type": "string",
              "default": "24h",
              "description": "Changes the period at which the Context.IO index for this source is synced with the origin email account on the IMAP server. Possible values are 1h, 4h, 12h and 24h (default) Only available on sources with service_level set to PRO.",
              "enum": [
                "1h",
                "4h",
                "12h",
                "24h"
              ]
            },
            {
              "name": "password",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "New password for this source. Ignored if any of the provider_* parameters are set below."
            },
            {
              "name": "provider_token",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "An OAuth token obtained from the IMAP account provider to be used to authentify on this email account."
            },
            {
              "name": "provider_token_secret",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "An OAuth token secret obtained from the IMAP account provider to be used to authentify on this email account."
            },
            {
              "name": "provider_consumer_key",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "The OAuth consumer key used to obtain the the token and token secret above for that account. That consumer key and secret must be configured in your Context.IO account, see oauth_providers."
            }
          ],
          "description": "Modifies a data source on a given account.",
          "externalDocs": {
            "url": "http://context.io/docs/2.0/accounts/sources#id-put"
          }
        }
      },
      "/accounts/{id}/sources/{label}/folders": {
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Unique id of an account accessible through your API key."
          },
          {
            "name": "label",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The label property of the source instance. Context.IO assigns a label to every source. This label is used to refer to individual sources."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Lists folders in an IMAP source. Returns folders existing in a given IMAP account.",
          "externalDocs": {
            "url": "http://context.io/docs/2.0/accounts/sources/folders#get"
          }
        }
      },
      "/accounts/{id}/sources/{label}/folders/{folder}": {
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Unique id of an account accessible through your API key."
          },
          {
            "name": "label",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The label property of the source instance. Context.IO assigns a label to every source. This label is used to refer to individual sources."
          },
          {
            "name": "folder",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The full folder path you want to create. By default, you should use the / character as the path hierarchy delimiter."
          }
        ],
        "put": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "delim",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "If / isn't fancy enough as a hierarchy delimiter when specifying the folder you want to create, you're free to use what you want, just make sure you set this delim parameter to tell us what you're using."
            }
          ],
          "description": "Creates a folder on an IMAP source. A new folder can be added to an IMAP source by PUTting the desired path under the sources/folders resource.\nWorking with server-specific hierarchy delimiters:\nIMAP servers are free to use the character they want as the folder hierarchy delimiter. The bad news is they don't use the same. The good news is you don't need to know this, we take care of it.\n\nThen what is that delim parameter for?\nGood question. By default, we expect you to specify the folder hierarchy using / as the hierarchy delimiter. For example, to create a folder called my folder under the folder base folder, you would call:\nPUT /2.0/accounts/<id>/sources/<label>/folders/base+folder/my+folder\n\nNo matter what's the actual hierarchy delimiter the IMAP server expects, this call will work. However, say you need to use another character as the delimiter, here's how you'd do it:\nPUT /2.0/accounts/<id>/sources/<label>/folders/base+folder.my+folder?delim=.\n\nBoth examples above are equivalent and will have the same result no matter what the IMAP server expects as the actual hierarchy delimiter.",
          "externalDocs": {
            "url": "http://context.io/docs/2.0/accounts/sources/folders#id-put"
          }
        }
      },
      "/accounts/{id}/sources/{label}/sync": {
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Unique id of an account accessible through your API key."
          },
          {
            "name": "label",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The label property of the source instance. Context.IO assigns a label to every source. This label is used to refer to individual sources."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Gets the sync status of a data source. Returns the timestamps for the last time the source has been synced with the origin mailbox.",
          "externalDocs": {
            "url": "http://context.io/docs/2.0/accounts/sources/sync#get"
          }
        },
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Triggers a sync of a data source. This will start a sync job for the source.",
          "externalDocs": {
            "url": "http://context.io/docs/2.0/accounts/sources/sync#post"
          }
        }
      },
      "/accounts/{id}/sync": {
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Unique id of an account accessible through your API key."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Gets the sync status for all sources of the account. Returns the timestamps for the last time a source has been synced with the origin mailbox.",
          "externalDocs": {
            "url": "http://context.io/docs/2.0/accounts/sync#get"
          }
        },
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Triggers a sync of all sources on the account. This will start a sync job for all sources under the account.",
          "externalDocs": {
            "url": "http://context.io/docs/2.0/accounts/sync#post"
          }
        }
      },
      "/accounts/{id}/threads": {
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Unique id of an account accessible through your API key."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "subject",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Get threads with messages whose subject matches this search string. To use regular expressions instead of simple string matching, make sure the string starts and ends with /."
            },
            {
              "name": "email",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Email address of the contact for whom you want the latest threads. This value is interpreted as received from email X, sent to email X or sent by anyone to both email X and the source owner."
            },
            {
              "name": "to",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Get threads with at least one message sent to this email address."
            },
            {
              "name": "from",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Get threads with at least one message sent from this email address."
            },
            {
              "name": "cc",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Get threads with at least one message having this email address CC'ed."
            },
            {
              "name": "bcc",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Get threads with at least one message having this email address BCC'ed."
            },
            {
              "name": "folder",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Filter threads by the folder (or Gmail label). This parameter can be the complete folder name with the appropriate hierarchy delimiter for the mail server being queried (eg. Inbox/My folder) or the \"symbolic name\" of the folder (eg. \\Starred). The symbolic name refers to attributes used to refer to special use folders in a language-independant way. See http://code.google.com/apis/gmail/imap/#xlist (Gmail specific) and RFC-6154."
            },
            {
              "name": "indexed_before",
              "required": false,
              "in": "query",
              "type": "integer",
              "description": "Get threads with at least one message indexed before this timestamp. This is not the same as the date of the email, it is the time Context.IO indexed this message."
            },
            {
              "name": "indexed_after",
              "required": false,
              "in": "query",
              "type": "integer",
              "description": "Get threads with at least one message indexed after this timestamp. This is not the same as the date of the email, it is the time Context.IO indexed this message."
            },
            {
              "name": "active_before",
              "required": false,
              "in": "query",
              "type": "integer",
              "description": "Get threads with at least one message dated before this timestamp. The value this filter is applied to is the Date: header of the message which refers to the time the message is sent from the origin."
            },
            {
              "name": "active_after",
              "required": false,
              "in": "query",
              "type": "integer",
              "description": "Get threads with at least one message dated after this timestamp. The value this filter is applied to is the Date: header of the message which refers to the time the message is sent from the origin."
            },
            {
              "name": "started_before",
              "required": false,
              "in": "query",
              "type": "integer",
              "description": "Get threads whose first message is dated before this timestamp. The value this filter is applied to is the Date: header of the message which refers to the time the message is sent from the origin."
            },
            {
              "name": "started_after",
              "required": false,
              "in": "query",
              "type": "integer",
              "default": 0,
              "description": "Get threads whose first message is dated after this timestamp. The value this filter is applied to is the Date: header of the message which refers to the time the message is sent from the origin."
            },
            {
              "name": "limit",
              "required": false,
              "in": "query",
              "type": "integer",
              "description": "The maximum number of results to return."
            },
            {
              "name": "offset",
              "required": false,
              "in": "query",
              "type": "integer",
              "description": "Start the list at this offset (zero-based)."
            }
          ],
          "description": "Lists threads on an account.",
          "externalDocs": {
            "url": "http://context.io/docs/2.0/accounts/threads#get"
          }
        }
      },
      "/accounts/{id}/threads/{thread_id}": {
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Unique id of an account accessible through your API key."
          },
          {
            "name": "thread_id",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "A gmail_thread_id prefixed with gm-."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns files, contacts and messages on a given thread. The purpose is to allow Gmail extensions to easily retrieve data when users's load a conversation in the Gmail UI. Hence, threads are identified by the value of their Gmail thread prefixed with \"gm-\".\nFor example, if the URL of a conversation in the Gmail UI is https://mail.google.com/mail/u/0/#mbox/13119ab37f00b826, you would obtain the details about this thread by calling:\nGET https://api.context.io/2.0/accounts/<accountId>/threads/gm-13119ab37f00b826\n\nWhat about threads on non-Gmail mailboxes?\nYou can retrieve thread information for any message using the Thread resource of that message.",
          "externalDocs": {
            "url": "http://context.io/docs/2.0/accounts/threads#id-get"
          }
        }
      },
      "/accounts/{id}/webhooks": {
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Unique id of an account accessible through your API key."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "List WebHooks configured for an account.",
          "externalDocs": {
            "url": "http://context.io/docs/2.0/accounts/webhooks#get"
          }
        },
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "callback_url",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "A valid URL Context.IO calls when a matching message is found. The callback URL is called with an HTTP POST where the request body is a JSON string that is exactly what accounts/messages would return for that message."
            },
            {
              "name": "failure_notif_url",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "A valid URL Context.IO calls if the WebHooks fails and will no longer be active. That may happen if, for example, the server becomes unreachable or if it closes an IDLE connection and we can't re-establish it. The call will be an HTTP GET with the webhook_id passed as a parameter called id."
            },
            {
              "name": "filter_to",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Check for new messages sent to a given name or email address."
            },
            {
              "name": "filter_from",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Check for new messages received from a given name or email address."
            },
            {
              "name": "filter_cc",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Check for new messages where a given name or email address is cc'ed."
            },
            {
              "name": "filter_subject",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Check for new messages with a subject matching a given string or regular expresion."
            },
            {
              "name": "filter_thread",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Check for new messages in a given thread. Value can be a gmail_thread_id or the email_message_id or message_id of an existing message currently in the thread."
            },
            {
              "name": "filter_new_important",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Check for new messages automatically tagged as important by the Gmail Priority Inbox algorithm. To trace all messages marked as important (including those manually set by the user), use filter_folder_added with value \\Important. Note the leading back-slash character in the value, it is required to keep this specific to Gmail Priority Inbox. Otherwise any message placed in a folder called \"Important\" would trigger the WebHook."
            },
            {
              "name": "filter_file_name",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Check for new messages where a file whose name matches the given string is attached. Supports wildcards and regular expressions like the file_name parameter of the files list call."
            },
            {
              "name": "filter_file_revisions",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Check for new message where a new revision of a given file is attached. The value should be a file_id, see getting file revisions for more info."
            },
            {
              "name": "filter_folder_added",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Check for messages filed in a given folder. On Gmail, this is equivalent to having a label applied to a message. The value should be the complete name (including parents if applicable) of the folder you want to track."
            },
            {
              "name": "filter_folder_removed",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Check for messages removed from a given folder. On Gmail, this is equivalent to having a label removed from a message. The value should be the complete name (including parents if applicable) of the folder you want to track."
            },
            {
              "name": "sync_period",
              "required": false,
              "in": "query",
              "type": "string",
              "default": "24h",
              "description": "Desired maximum delay between the moment the email comes in the user's mailbox and the time we call the callback_url. To have your callback_url called as soon as possible (typically, this means within a minute after the event occurred in the mailbox), set this parameter to immediate or 0. Other possible values are 30m, 1h, 4h, 12h and 24h (default) meaning 30 minutes, 1 hour, 4 hours, 12 hours and 24 hours respectively. This parameter only works on Pro Mailboxes. For Basic Mailboxes, the delay is forced to 24h. However, manually triggering a sync will also trigger WebHooks if applicable.",
              "enum": [
                "0",
                "immediate",
                "30m",
                "1h",
                "4h",
                "12h",
                "24h"
              ]
            }
          ],
          "description": "Creates a new WebHook on an account.",
          "externalDocs": {
            "url": "http://context.io/docs/2.0/accounts/webhooks#post"
          }
        }
      },
      "/accounts/{id}/webhooks/{webhook_id}": {
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Unique id of an account accessible through your API key."
          },
          {
            "name": "webhook_id",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Unique id of the webhook instance."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Gets properties of a given WebHook.",
          "externalDocs": {
            "url": "http://context.io/docs/2.0/accounts/webhooks#id-get"
          }
        },
        "delete": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Cancels a WebHook.",
          "externalDocs": {
            "url": "http://context.io/docs/2.0/accounts/webhooks#id-delete"
          }
        },
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "active",
              "required": true,
              "in": "query",
              "type": "integer",
              "description": "The active property of a WebHook allows you to pause (set to 0) or resume (set to 1) it.",
              "enum": [
                "0",
                "1"
              ]
            }
          ],
          "description": "Changes properties of a given WebHook. The only property of a WebHook that can be changed is it's active property. If you want to change the filters or callback urls, delete it and create a new one.\nChanging the active property can be useful in two cases:\n- Pause/resume WebHooks: If your application needs up-to-date information when users are logged in the best option is to keep a WebHook with no filters on that account that will be resumed (setting active to 1) when the user logs in and paused (setting active to 0) when the user logs out of your app.\n- Acting upon a failure notification: If a WebHook fails, your failure_notif_url is called (see creating a WebHook) an its active property becomes 0. Set the active property back to 1 to get it working again.",
          "externalDocs": {
            "url": "http://context.io/docs/2.0/accounts/webhooks#id-post"
          }
        }
      }
    },
    "info": {
      "title": "Context.IO",
      "description": "Context.IO is the missing email API that makes it easy and fast to integrate your user's email data in your application."
    }
  },
  "public": true
}