{
  "type": "api",
  "key": "apigee:boxcar",
  "info": {
    "title": "BoxCar",
    "description": "Add BoxCar services to your app so users can get messages and update all their favorite social services."
  },
  "swagger": {
    "swagger": "2.0",
    "host": "boxcar.io",
    "basePath": "/devices/providers/%7Bprovider_key%7D",
    "schemes": [
      "https"
    ],
    "paths": {
      "/notifications/subscribe": {
        "parameters": [
          {
            "name": "provider_key",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The API key."
          },
          {
            "name": "email",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "The user's e-mail address."
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "This sends the user with the matching e-mail address a push notification which requests that they add your service. This will ease integration with your website, as you will have already registered them on your system and can identify whom they are based on their Boxcar e-mail address. Please note, this API call is an exception and will return an HTTP status code of 404 if we are unable to find the registered user by e-mail in our system. If the email address is not found in our system, we'll send an email to it letting the user know where they can download Boxcar. If the user has already added your service, we'll return an HTTP status code of 401.",
          "externalDocs": {
            "url": "http://boxcar.io/help/api/providers#subscribe"
          }
        }
      }
    },
    "info": {
      "title": "BoxCar",
      "description": "Add BoxCar services to your app so users can get messages and update all their favorite social services."
    }
  },
  "public": true
}