{
  "type": "api",
  "key": "apigee:google-prediction",
  "info": {
    "title": "Google Prediction",
    "description": "Harness Google's cloud-based machine learning tools to analyze your data."
  },
  "swagger": {
    "swagger": "2.0",
    "host": "www.googleapis.com",
    "basePath": "/prediction/v1.4",
    "schemes": [
      "https"
    ],
    "paths": {
      "/hostedmodels/{hostedModelName}/predict": {
        "parameters": [
          {
            "name": "hostedModelName",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The name of a hosted model."
          },
          {
            "name": "fields",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Selector specifying which fields to include in a partial response."
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [],
          "description": "Run a prediction request against a hosted model.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/apis/predict/docs/reference/v1.4/reference.html#method_prediction_hostedmodels_predict"
          }
        }
      },
      "/trainedmodels/{id}": {
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The unique name for the predictive model."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "fields",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Selector specifying which fields to include in a partial response."
            }
          ],
          "description": "Returns information about a trained model.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/apis/predict/docs/reference/v1.4/reference.html#method_prediction_trainedmodels_get"
          }
        },
        "put": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "fields",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Selector specifying which fields to include in a partial response."
            }
          ],
          "description": "Add new data to a trained model.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/apis/predict/docs/reference/v1.4/reference.html#method_prediction_trainedmodels_update"
          }
        },
        "delete": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Delete a trained model.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/apis/predict/docs/reference/v1.4/reference.html#method_prediction_trainedmodels_delete"
          }
        }
      },
      "/trainedmodels": {
        "parameters": [
          {
            "name": "fields",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Selector specifying which fields to include in a partial response."
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [],
          "description": "Begin training your model.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/apis/predict/docs/reference/v1.4/reference.html#method_prediction_trainedmodels_insert"
          }
        }
      },
      "/trainedmodels/{id}/predict": {
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The unique name for the predictive model."
          },
          {
            "name": "fields",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Selector specifying which fields to include in a partial response."
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [],
          "description": "Run a prediction against your model.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/apis/predict/docs/reference/v1.4/reference.html#method_prediction_trainedmodels_predict"
          }
        }
      }
    },
    "info": {
      "title": "Google Prediction",
      "description": "Harness Google's cloud-based machine learning tools to analyze your data."
    }
  },
  "public": true
}