{
  "type": "api",
  "key": "apigee:nytimes",
  "info": {
    "title": "NYTimes",
    "description": "Find breaking news, multimedia, reviews and opinion on Washington, business, sports, movies and more."
  },
  "swagger": {
    "swagger": "2.0",
    "host": "api.nytimes.com",
    "basePath": "/svc/",
    "schemes": [
      "http"
    ],
    "paths": {
      "/search/v1/article": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "query",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "Search keywords (optionally applied to specific fields) and/or facets. Keywords can be specified with or without a limiting \"field:\" label. Facets must be specified in the format \"facet-field:[facet-value]\". See \"Constructing a Search Query\" in the API docs for more information and examples."
            },
            {
              "name": "api-key",
              "required": true,
              "in": "query",
              "type": "string",
              "default": "629a39d0768609d31fee424b52fbb704:5:64325990",
              "description": "API Key for Article Search API."
            },
            {
              "name": "begin_date",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Sets the starting point (inclusive) of the range of publication dates to return. Must be used with end_date. Format: YYYYMMDD"
            },
            {
              "name": "end_date",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Sets the end point (inclusive) of the range of publication dates to return. Must be used with begin_date. Format: YYYYMMDD"
            },
            {
              "name": "facets",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Comma-delimited list of up to 5 facets. Specifies the sets of facet values to include in the facets array at the beginning of response, which collects the facet values from all the search results. See API docs for more info."
            },
            {
              "name": "fields",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Comma-delimited list of fields (no limit). Specifies the fields (including facets) you want return for each search result. By default (unless you include a fields list in your request), the following fields are returned for each result: body, byline, date, title, url. To return only the array of facet values (no search results), set fields to a blank space (encoded: fields=+) and include the facets parameter. See API docs for more info."
            },
            {
              "name": ".format",
              "required": false,
              "in": "query",
              "type": "string",
              "default": "json",
              "description": "Response format. Currently, only JSON is supported. Default: json",
              "enum": [
                "json"
              ]
            },
            {
              "name": "offset",
              "required": false,
              "in": "query",
              "type": "integer",
              "default": 0,
              "description": "The value of offset corresponds to a set of 10 results (it does not indicate the starting number of the result set). For example, offset=0 corresponds to records 0-9. To return records 10-19, set offset to 1, not 10. Range: 0 to last set of ten. Default: 0"
            },
            {
              "name": "rank",
              "required": false,
              "in": "query",
              "type": "string",
              "default": "newest",
              "description": "Use the rank parameter to set the order of the results. Accepted values: newest (default), oldest, closest"
            }
          ],
          "description": "With the Article Search API, you can search New York Times articles from 1981 to today, retrieving headlines, abstracts, lead paragraphs, links to associated multimedia and other article metadata. Along with standard keyword searching, the API also offers faceted searching. The available facets include Times-specific fields such as sections, taxonomic classifiers and controlled vocabulary terms (names of people, organizations and geographic locations).",
          "externalDocs": {
            "url": "http://developer.nytimes.com/docs/article_search_api/"
          }
        }
      },
      "/books/{version}/lists{.format}": {
        "parameters": [
          {
            "name": "version",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "v2",
            "description": "The API version. The current version is v2. (Version 1 is for internal use only.)"
          },
          {
            "name": ".format",
            "required": false,
            "in": "path",
            "type": "string",
            "default": "json",
            "description": "Sets the representation data format. To return XML or serialized PHP, add the appropriate extension to your request URI. JSON is the default format; you do not need to add the .json extension to get a JSON response. Accepted values: json (implicit default), xml, sphp",
            "enum": [
              "json",
              "xml",
              "sphp"
            ]
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "list-name",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "Required list name search parameter. be sure to replace spaces with hyphens (e.g., \"e-book-fiction\" or \"hardcover-fiction\", not \"E-Book Fiction\" or \"Hardcover Fiction\"). (The parameter is not case sensitive.) Can also be passed as list; the two labels are provided for ease of use."
            },
            {
              "name": "api-key",
              "required": true,
              "in": "query",
              "type": "string",
              "default": "d28cb3126eae332c6279f9dedf4bb830:10:64325990",
              "description": "API Key for Best Sellers API."
            },
            {
              "name": "bestsellers-date",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Optional search parameter. See API docs for more info."
            },
            {
              "name": "date",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Optional search parameter. See API docs for more info."
            },
            {
              "name": "isbn",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Optional search parameter. See API docs for more info."
            },
            {
              "name": "list",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Optional search parameter. See API docs for more info."
            },
            {
              "name": "list-name",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Optional search parameter. See API docs for more info."
            },
            {
              "name": "published-date",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Optional search parameter. See API docs for more info."
            },
            {
              "name": "rank",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Optional search parameter. See API docs for more info."
            },
            {
              "name": "rank-last-week",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Optional search parameter. See API docs for more info."
            },
            {
              "name": "weeks-on-list",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Optional search parameter. See API docs for more info."
            },
            {
              "name": "offset",
              "required": false,
              "in": "query",
              "type": "integer",
              "minimum": 1,
              "default": 0,
              "description": "Sets the starting point of the result set. The first 20 results are shown by default. To page through the results, set offset to the appropriate value (e.g., offset=20 displays results 21–40). Accepted values: positive integer, multiple of 20"
            },
            {
              "name": "sort-by",
              "required": false,
              "in": "query",
              "type": "string",
              "default": "rank",
              "description": "For details on the available sort options, see API docs. If you do not specify a sort-by value, the results will be sorted by best-seller rank. Accepted values: bestsellers-date, date, isbn, list, list-name, published-date, rank, rank-last-week, weeks-on-list"
            },
            {
              "name": "sort-order",
              "required": false,
              "in": "query",
              "type": "string",
              "default": "ASC",
              "description": "Sets the sort order of the result set. The default is ASC (ascending). The sort-order parameter is used with the sort-by parameter — for details, see each request type. Accepted values: ASC (ascending), DESC (descending)"
            }
          ],
          "description": "Searches for best-seller list data. See API docs for more information about search parameters.",
          "externalDocs": {
            "url": "http://developer.nytimes.com/docs/best_sellers_api/#h3-list-search"
          }
        }
      },
      "/books/{version}/lists/best-sellers/history{.format}": {
        "parameters": [
          {
            "name": "version",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "v2",
            "description": "The API version. The current version is v2. (Version 1 is for internal use only.)"
          },
          {
            "name": ".format",
            "required": false,
            "in": "path",
            "type": "string",
            "description": "Sets the representation data format. To return XML or serialized PHP, add the appropriate extension to your request URI. JSON is the default format; you do not need to add the .json extension to get a JSON response. Accepted values: json (implicit default), xml, sphp",
            "enum": [
              "json",
              "xml",
              "sphp"
            ]
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "api-key",
              "required": true,
              "in": "query",
              "type": "string",
              "default": "d28cb3126eae332c6279f9dedf4bb830:10:64325990",
              "description": "API Key for Best Sellers API."
            },
            {
              "name": "age-group",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Search parameter; at least one is required. See API docs for more info."
            },
            {
              "name": "author",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Search parameter; at least one is required. See API docs for more info."
            },
            {
              "name": "contributor",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Search parameter; at least one is required. See API docs for more info."
            },
            {
              "name": "isbn",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Search parameter; at least one is required. See API docs for more info."
            },
            {
              "name": "price",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Search parameter; at least one is required. See API docs for more info."
            },
            {
              "name": "publisher",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Search parameter; at least one is required. See API docs for more info."
            },
            {
              "name": "title",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Search parameter; at least one is required. See API docs for more info."
            },
            {
              "name": "sort-by",
              "required": false,
              "in": "query",
              "type": "string",
              "default": "rank",
              "description": "For details on the available sort options, see API docs. If you do not specify a sort-by value, the results will be sorted by title (exception: if you are searching by ISBN, the results will be sorted by ISBN). Accepted values: age-group, author, contributor, isbn, price, publisher, title"
            },
            {
              "name": "sort-order",
              "required": false,
              "in": "query",
              "type": "string",
              "default": "ASC",
              "description": "Sets the sort order of the result set. The default is ASC (ascending). The sort-order parameter is used with the sort-by parameter — for details, see each request type. Accepted values: ASC (ascending), DESC (descending)"
            }
          ],
          "description": "Returns the history of a best seller (its rank and number of weeks on the various Times best-seller lists).",
          "externalDocs": {
            "url": "http://developer.nytimes.com/docs/best_sellers_api/#h3-history"
          }
        }
      },
      "/books/{version}/lists/names{.format}": {
        "parameters": [
          {
            "name": "version",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "v2",
            "description": "The API version. The current version is v2. (Version 1 is for internal use only.)"
          },
          {
            "name": ".format",
            "required": false,
            "in": "path",
            "type": "string",
            "default": "json",
            "description": "Sets the representation data format. To return XML or serialized PHP, add the appropriate extension to your request URI. JSON is the default format; you do not need to add the .json extension to get a JSON response. Accepted values: json (implicit default), xml, sphp",
            "enum": [
              "json",
              "xml",
              "sphp"
            ]
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "api-key",
              "required": true,
              "in": "query",
              "type": "string",
              "default": "d28cb3126eae332c6279f9dedf4bb830:10:64325990",
              "description": "API Key for Best Sellers API."
            }
          ],
          "description": "Returns the complete set of Times best-seller list names.",
          "externalDocs": {
            "url": "http://developer.nytimes.com/docs/best_sellers_api/#h3-list-names"
          }
        }
      },
      "/elections/us/{version}/finances/{campaign-cycle}/candidates/search{.format}": {
        "parameters": [
          {
            "name": "version",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "v3",
            "description": "The API version. The current version is v3. Support for version 2 ended in February 2011. (Version 1 is for internal use only.)"
          },
          {
            "name": "campaign-cycle",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "An even numbered year representing the campaign cycle. Presidential data: 2008–present. Congressional data: 2000–present. Format: YYYY"
          },
          {
            "name": ".format",
            "required": false,
            "in": "path",
            "type": "string",
            "default": "json",
            "description": "Sets the representation data format. To return JSON, add the .json extension to your request URI. XML is the default format; you do not need to add the .xml extension to get an XML response. Accepted values: json (implicit default), xml",
            "enum": [
              "json",
              "xml",
              "sphp"
            ]
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "lname",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "The candidate last name or partial last name. Examples: Greene (retrieves Greene), Robin (retrieves both Robin and Robinson)"
            },
            {
              "name": "callback",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "JSONP callback function. As of February 2011, the Campaign Finance API supports JSONP requests."
            },
            {
              "name": "api-key",
              "required": true,
              "in": "query",
              "type": "string",
              "default": "9746e90579a5e13719708aceb37ad848:0:64325990",
              "description": "API Key for Campaign Finance API."
            }
          ],
          "description": "Searches for Congressional and presidential candidates by last name.",
          "externalDocs": {
            "url": "http://developer.nytimes.com/docs/campaign_finance_api/#h3-candidate-search"
          }
        }
      },
      "/elections/us/{version}/finances/{campaign-cycle}/candidates/{fec-id}{.format}": {
        "parameters": [
          {
            "name": "version",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "v3",
            "description": "The API version. The current version is v3. Support for version 2 ended in February 2011. (Version 1 is for internal use only.)"
          },
          {
            "name": "campaign-cycle",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "An even numbered year representing the campaign cycle. Presidential data: 2008–present. Congressional data: 2000–present. Format: YYYY"
          },
          {
            "name": "fec-id",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The FEC assigns a unique ID to each candidate. Note that this request type uses the candidate ID, not the committee ID used in the Presidential Candidate Details request type. To find a candidate's official FEC ID, use a candidate search request or the FEC web site. Format: P | H | S + 9 digits (P = President; H = House; S = Senate)"
          },
          {
            "name": ".format",
            "required": false,
            "in": "path",
            "type": "string",
            "default": "json",
            "description": "Sets the representation data format. To return JSON, add the .json extension to your request URI. XML is the default format; you do not need to add the .xml extension to get an XML response. Accepted values: json (implicit default), xml",
            "enum": [
              "json",
              "xml",
              "sphp"
            ]
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "api-key",
              "required": true,
              "in": "query",
              "type": "string",
              "default": "9746e90579a5e13719708aceb37ad848:0:64325990",
              "description": "API Key for Campaign Finance API."
            },
            {
              "name": "callback",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "JSONP callback function. As of February 2011, the Campaign Finance API supports JSONP requests."
            }
          ],
          "description": "Retrieves campaign finance details for a particular candidate (presidential or Congressional)",
          "externalDocs": {
            "url": "http://developer.nytimes.com/docs/campaign_finance_api/#h3-candidate-details"
          }
        }
      },
      "/elections/us/{version}/finances/{campaign-cycle}/candidates/leaders/{category}{.format}": {
        "parameters": [
          {
            "name": "version",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "v3",
            "description": "The API version. The current version is v3. Support for version 2 ended in February 2011. (Version 1 is for internal use only.)"
          },
          {
            "name": "campaign-cycle",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "An even numbered year representing the campaign cycle. Presidential data: 2008–present. Congressional data: 2000–present. Format: YYYY"
          },
          {
            "name": "category",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "One of the following categories: candidate-loan, contribution-total, debts-owed, disbusements-total, end-cash, individual-total, pac-total, receipts-total, refund-total"
          },
          {
            "name": ".format",
            "required": false,
            "in": "path",
            "type": "string",
            "default": "json",
            "description": "Sets the representation data format. To return JSON, add the .json extension to your request URI. XML is the default format; you do not need to add the .xml extension to get an XML response. Accepted values: json (implicit default), xml",
            "enum": [
              "json",
              "xml",
              "sphp"
            ]
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "api-key",
              "required": true,
              "in": "query",
              "type": "string",
              "default": "9746e90579a5e13719708aceb37ad848:0:64325990",
              "description": "API Key for Campaign Finance API."
            },
            {
              "name": "callback",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "JSONP callback function. As of February 2011, the Campaign Finance API supports JSONP requests."
            }
          ],
          "description": "Retrieves the top 20 candidates in a specific category (such as contribution total or debts owed)",
          "externalDocs": {
            "url": "http://developer.nytimes.com/docs/campaign_finance_api/#h3-candidate-details"
          }
        }
      },
      "/elections/us/{version}/finances/{campaign-cycle}/seats/{state}/{chamber}/{district}{.format}": {
        "parameters": [
          {
            "name": "version",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "v3",
            "description": "The API version. The current version is v3. Support for version 2 ended in February 2011. (Version 1 is for internal use only.)"
          },
          {
            "name": "state",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Two-letter state abbreviation"
          },
          {
            "name": "chamber",
            "required": false,
            "in": "path",
            "type": "string",
            "description": "Accepted values: house, senate. Optional."
          },
          {
            "name": "district",
            "required": false,
            "in": "path",
            "type": "string",
            "description": "House of Representatives district number. For \"at large\" districts (Alaska, Delaware, Montana, North Dakota, South Dakota, Vermont and Wyoming), specify the number 1. If you do not specify a district, all House candidates for state will be returned. If you specify a district in a Senate request, it will be ignored. Optional."
          },
          {
            "name": "category",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "One of the following categories: candidate-loan, contribution-total, debts-owed, disbusements-total, end-cash, individual-total, pac-total, receipts-total, refund-total"
          },
          {
            "name": ".format",
            "required": false,
            "in": "path",
            "type": "string",
            "default": "json",
            "description": "Sets the representation data format. To return JSON, add the .json extension to your request URI. XML is the default format; you do not need to add the .xml extension to get an XML response. Accepted values: json (implicit default), xml",
            "enum": [
              "json",
              "xml",
              "sphp"
            ]
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "api-key",
              "required": true,
              "in": "query",
              "type": "string",
              "default": "9746e90579a5e13719708aceb37ad848:0:64325990",
              "description": "API Key for Campaign Finance API."
            },
            {
              "name": "callback",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "JSONP callback function. As of February 2011, the Campaign Finance API supports JSONP requests."
            }
          ],
          "description": "Retrieves House and Senate candidates for a particular state (and optional chamber and district)",
          "externalDocs": {
            "url": "http://developer.nytimes.com/docs/campaign_finance_api/#h3-state-candidates"
          }
        }
      },
      "/elections/us/{version}/finances/{campaign-cycle}/candidates/new{.format}": {
        "parameters": [
          {
            "name": "version",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "v3",
            "description": "The API version. The current version is v3. Support for version 2 ended in February 2011. (Version 1 is for internal use only.)"
          },
          {
            "name": "campaign-cycle",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "An even numbered year representing the campaign cycle. Presidential data: 2008–present. Congressional data: 2000–present. NOTE: Only the current campaign cycle is supported. Format: YYYY"
          },
          {
            "name": ".format",
            "required": false,
            "in": "path",
            "type": "string",
            "default": "json",
            "description": "Sets the representation data format. To return JSON, add the .json extension to your request URI. XML is the default format; you do not need to add the .xml extension to get an XML response. Accepted values: json (implicit default), xml",
            "enum": [
              "json",
              "xml",
              "sphp"
            ]
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "api-key",
              "required": true,
              "in": "query",
              "type": "string",
              "default": "9746e90579a5e13719708aceb37ad848:0:64325990",
              "description": "API Key for Campaign Finance API."
            },
            {
              "name": "callback",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "JSONP callback function. As of February 2011, the Campaign Finance API supports JSONP requests."
            }
          ],
          "description": "Retrieves the 20 most recently added candidates.",
          "externalDocs": {
            "url": "http://developer.nytimes.com/docs/campaign_finance_api/#h3-new-candidates"
          }
        }
      },
      "/elections/us/{version}/finances/{campaign-cycle}/committees/search{.format}": {
        "parameters": [
          {
            "name": "version",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "v3",
            "description": "The API version. The current version is v3. Support for version 2 ended in February 2011. (Version 1 is for internal use only.)"
          },
          {
            "name": "campaign-cycle",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "An even numbered year representing the campaign cycle. Presidential data: 2008–present. Congressional data: 2000–present. Format: YYYY"
          },
          {
            "name": ".format",
            "required": false,
            "in": "path",
            "type": "string",
            "default": "json",
            "description": "Sets the representation data format. To return JSON, add the .json extension to your request URI. XML is the default format; you do not need to add the .xml extension to get an XML response. Accepted values: json (implicit default), xml",
            "enum": [
              "json",
              "xml",
              "sphp"
            ]
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "api-key",
              "required": true,
              "in": "query",
              "type": "string",
              "default": "9746e90579a5e13719708aceb37ad848:0:64325990",
              "description": "API Key for Campaign Finance API."
            },
            {
              "name": "name",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "The committee name or partial name. Examples: medicare, viacom"
            },
            {
              "name": "callback",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "JSONP callback function. As of February 2011, the Campaign Finance API supports JSONP requests."
            }
          ],
          "description": "Searches for political committee by full or partiatl name.",
          "externalDocs": {
            "url": "http://developer.nytimes.com/docs/campaign_finance_api/#h3-committee-search"
          }
        }
      },
      "/elections/us/{version}/finances/{campaign-cycle}/committees/{fec-id}{.format}": {
        "parameters": [
          {
            "name": "version",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "v3",
            "description": "The API version. The current version is v3. Support for version 2 ended in February 2011. (Version 1 is for internal use only.)"
          },
          {
            "name": "campaign-cycle",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "An even numbered year representing the campaign cycle. Presidential data: 2008–present. Congressional data: 2000–present. Format: YYYY"
          },
          {
            "name": "fec-id",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The FEC assigns a unique ID to each committee. To find a committee's official FEC ID, use a committee search request or the FEC web site. Format: C + 9 digits"
          },
          {
            "name": ".format",
            "required": false,
            "in": "path",
            "type": "string",
            "default": "json",
            "description": "Sets the representation data format. To return JSON, add the .json extension to your request URI. XML is the default format; you do not need to add the .xml extension to get an XML response. Accepted values: json (implicit default), xml",
            "enum": [
              "json",
              "xml",
              "sphp"
            ]
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "api-key",
              "required": true,
              "in": "query",
              "type": "string",
              "default": "9746e90579a5e13719708aceb37ad848:0:64325990",
              "description": "API Key for Campaign Finance API."
            },
            {
              "name": "callback",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "JSONP callback function. As of February 2011, the Campaign Finance API supports JSONP requests."
            }
          ],
          "description": "Returns details about a committee by FEC ID.",
          "externalDocs": {
            "url": "http://developer.nytimes.com/docs/campaign_finance_api/#h3-committee-details"
          }
        }
      },
      "/elections/us/{version}/finances/{campaign-cycle}/committees/new{.format}": {
        "parameters": [
          {
            "name": "version",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "v3",
            "description": "The API version. The current version is v3. Support for version 2 ended in February 2011. (Version 1 is for internal use only.)"
          },
          {
            "name": "campaign-cycle",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "An even numbered year representing the campaign cycle. Presidential data: 2008–present. Congressional data: 2000–present. NOTE: Only the curent campaign cycle is supported. Format: YYYY"
          },
          {
            "name": ".format",
            "required": false,
            "in": "path",
            "type": "string",
            "default": "json",
            "description": "Sets the representation data format. To return JSON, add the .json extension to your request URI. XML is the default format; you do not need to add the .xml extension to get an XML response. Accepted values: json (implicit default), xml",
            "enum": [
              "json",
              "xml",
              "sphp"
            ]
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "api-key",
              "required": true,
              "in": "query",
              "type": "string",
              "default": "9746e90579a5e13719708aceb37ad848:0:64325990",
              "description": "API Key for Campaign Finance API."
            },
            {
              "name": "callback",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "JSONP callback function. As of February 2011, the Campaign Finance API supports JSONP requests."
            }
          ],
          "description": "Retrieves the 20 most recently added committees.",
          "externalDocs": {
            "url": "http://developer.nytimes.com/docs/campaign_finance_api/#h3-new-committees"
          }
        }
      },
      "/elections/us/{version}/finances/{campaign-cycle}/committees/{fec-id}/contributions/{.format}": {
        "parameters": [
          {
            "name": "version",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "v3",
            "description": "The API version. The current version is v3. Support for version 2 ended in February 2011. (Version 1 is for internal use only.)"
          },
          {
            "name": "campaign-cycle",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "An even numbered year representing the campaign cycle. Presidential data: 2008–present. Congressional data: 2000–present. Format: YYYY"
          },
          {
            "name": "fec-id",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The FEC assigns a unique ID to each committee. To find a committee's official FEC ID, use a committee search request or the FEC web site. Format: C + 9 digits"
          },
          {
            "name": ".format",
            "required": false,
            "in": "path",
            "type": "string",
            "default": "json",
            "description": "Sets the representation data format. To return JSON, add the .json extension to your request URI. XML is the default format; you do not need to add the .xml extension to get an XML response. Accepted values: json (implicit default), xml",
            "enum": [
              "json",
              "xml",
              "sphp"
            ]
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "api-key",
              "required": true,
              "in": "query",
              "type": "string",
              "default": "9746e90579a5e13719708aceb37ad848:0:64325990",
              "description": "API Key for Campaign Finance API."
            },
            {
              "name": "offset",
              "required": false,
              "in": "query",
              "type": "integer",
              "default": 0,
              "description": "The value of offset corresponds to a set of 10 results (it does not indicate the starting number of the result set). For example, offset=0 corresponds to records 0-9. To return records 10-19, set offset to 1, not 10. Range: 0 to last set of ten. Default: 0"
            },
            {
              "name": "callback",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "JSONP callback function. As of February 2011, the Campaign Finance API supports JSONP requests."
            }
          ],
          "description": "Retrieves all available data about a particular committee's contributions to candidates.",
          "externalDocs": {
            "url": "http://developer.nytimes.com/docs/campaign_finance_api/#h3-committee-contributions"
          }
        }
      },
      "/elections/us/{version}/finances/{campaign-cycle}/committees/{fec-id}/contributions/candidates/{candidate-id}{.format}": {
        "parameters": [
          {
            "name": "version",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "v3",
            "description": "The API version. The current version is v3. Support for version 2 ended in February 2011. (Version 1 is for internal use only.)"
          },
          {
            "name": "campaign-cycle",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "An even numbered year representing the campaign cycle. Presidential data: 2008–present. Congressional data: 2000–present. Format: YYYY"
          },
          {
            "name": "fec-id",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The FEC assigns a unique ID to each committee. To find a committee's official FEC ID, use a committee search request or the FEC web site. If the fec-id does not exist in the data for the specified campaign-cycle, a 404 will be returned. Format: C + 9 digits"
          },
          {
            "name": "candidate-id",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The FEC assigns a unique ID to each candidate. To find a candidate's official FEC ID, use a candidate search request or the FEC web site. If the candidate-id does not exist in the data for the specified committee in the specified campaign-cycle, a 404 will be returned. Format: P | H | S + 9 digits (P = President; H = House; S = Senate)"
          },
          {
            "name": ".format",
            "required": false,
            "in": "path",
            "type": "string",
            "default": "json",
            "description": "Sets the representation data format. To return JSON, add the .json extension to your request URI. XML is the default format; you do not need to add the .xml extension to get an XML response. Accepted values: json (implicit default), xml",
            "enum": [
              "json",
              "xml",
              "sphp"
            ]
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "api-key",
              "required": true,
              "in": "query",
              "type": "string",
              "default": "9746e90579a5e13719708aceb37ad848:0:64325990",
              "description": "API Key for Campaign Finance API."
            },
            {
              "name": "callback",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "JSONP callback function. As of February 2011, the Campaign Finance API supports JSONP requests."
            }
          ],
          "description": "Retrieves committee contributions to a particular candidate.",
          "externalDocs": {
            "url": "http://developer.nytimes.com/docs/campaign_finance_api/#h3-committee-contributions"
          }
        }
      },
      "/elections/us/{version}/finances/{campaign-cycle}/committees/{fec-id}/filings{.format}": {
        "parameters": [
          {
            "name": "version",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "v3",
            "description": "The API version. The current version is v3. Support for version 2 ended in February 2011. (Version 1 is for internal use only.)"
          },
          {
            "name": "campaign-cycle",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "An even numbered year representing the campaign cycle. Presidential data: 2008–present. Congressional data: 2000–present. Format: YYYY"
          },
          {
            "name": "fec-id",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The FEC assigns a unique ID to each committee. To find a committee's official FEC ID, use a committee search request or the FEC web site. If the fec-id does not exist in the data for the specified campaign-cycle, a 404 will be returned. Format: C + 9 digits"
          },
          {
            "name": ".format",
            "required": false,
            "in": "path",
            "type": "string",
            "default": "json",
            "description": "Sets the representation data format. To return JSON, add the .json extension to your request URI. XML is the default format; you do not need to add the .xml extension to get an XML response. Accepted values: json (implicit default), xml",
            "enum": [
              "json",
              "xml",
              "sphp"
            ]
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "api-key",
              "required": true,
              "in": "query",
              "type": "string",
              "default": "9746e90579a5e13719708aceb37ad848:0:64325990",
              "description": "API Key for Campaign Finance API."
            },
            {
              "name": "callback",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "JSONP callback function. As of February 2011, the Campaign Finance API supports JSONP requests."
            }
          ],
          "description": "Retrieves a committee's electronic filings. Electronic filings are available back to 2001. Paper filings by Senate candidate committees and senatorial party committees go back to 1999.",
          "externalDocs": {
            "url": "http://developer.nytimes.com/docs/campaign_finance_api/#h3-committee-filings"
          }
        }
      },
      "/elections/us/{version}/finances/{campaign-cycle}/committees/leadership{.format}": {
        "parameters": [
          {
            "name": "version",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "v3",
            "description": "The API version. The current version is v3. Support for version 2 ended in February 2011. (Version 1 is for internal use only.)"
          },
          {
            "name": "campaign-cycle",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "An even numbered year representing the campaign cycle. Presidential data: 2008–present. Congressional data: 2000–present. Format: YYYY"
          },
          {
            "name": ".format",
            "required": false,
            "in": "path",
            "type": "string",
            "default": "json",
            "description": "Sets the representation data format. To return JSON, add the .json extension to your request URI. XML is the default format; you do not need to add the .xml extension to get an XML response. Accepted values: json (implicit default), xml",
            "enum": [
              "json",
              "xml",
              "sphp"
            ]
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "api-key",
              "required": true,
              "in": "query",
              "type": "string",
              "default": "9746e90579a5e13719708aceb37ad848:0:64325990",
              "description": "API Key for Campaign Finance API."
            },
            {
              "name": "callback",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "JSONP callback function. As of February 2011, the Campaign Finance API supports JSONP requests."
            }
          ],
          "description": "Retrieves committees designated as \"leadership PACs\" by the FEC.",
          "externalDocs": {
            "url": "http://developer.nytimes.com/docs/campaign_finance_api/#h3-leadership-committees"
          }
        }
      },
      "/elections/us/{version}/finances/{campaign-cycle}/president/totals{.format}": {
        "parameters": [
          {
            "name": "version",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "v3",
            "description": "The API version. The current version is v3. Support for version 2 ended in February 2011. (Version 1 is for internal use only.)"
          },
          {
            "name": "campaign-cycle",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "An even numbered year representing the campaign cycle. Presidential data: 2008–present. Congressional data: 2000–present. Format: YYYY"
          },
          {
            "name": ".format",
            "required": false,
            "in": "path",
            "type": "string",
            "default": "json",
            "description": "Sets the representation data format. To return JSON, add the .json extension to your request URI. XML is the default format; you do not need to add the .xml extension to get an XML response. Accepted values: json (implicit default), xml",
            "enum": [
              "json",
              "xml",
              "sphp"
            ]
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "api-key",
              "required": true,
              "in": "query",
              "type": "string",
              "default": "9746e90579a5e13719708aceb37ad848:0:64325990",
              "description": "API Key for Campaign Finance API."
            },
            {
              "name": "callback",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "JSONP callback function. As of February 2011, the Campaign Finance API supports JSONP requests."
            }
          ],
          "description": "Retrieves totals (receipts and disbursements) for all presidential candidates for a particular campaign cycle.",
          "externalDocs": {
            "url": "http://developer.nytimes.com/docs/campaign_finance_api/#h3-pres-candidate-totals"
          }
        }
      },
      "/elections/us/{version}/finances/{campaign-cycle}/president/candidates/{candidate-name-or-committeeID}{.format}": {
        "parameters": [
          {
            "name": "version",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "v3",
            "description": "The API version. The current version is v3. Support for version 2 ended in February 2011. (Version 1 is for internal use only.)"
          },
          {
            "name": "campaign-cycle",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "An even numbered year representing the campaign cycle. Presidential data: 2008–present. Congressional data: 2000–present. Format: YYYY"
          },
          {
            "name": "candidate-name-or-committeeID",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Either the candidate's name, or the FEC committee ID. Candidate name format: {last-name}[,first-name]  (first-name is optional) If you include a first name, there should be no space after the comma. If you do not include a first-name, data will be returned for all candidates with the last-name you specify. Committee ID format: C + 9 digits. The FEC assigns a unique ID to each campaign committee. Note that this request type uses the committee ID, not the candidate ID used in the main Candidate Details request type."
          },
          {
            "name": ".format",
            "required": false,
            "in": "path",
            "type": "string",
            "default": "json",
            "description": "Sets the representation data format. To return JSON, add the .json extension to your request URI. XML is the default format; you do not need to add the .xml extension to get an XML response. Accepted values: json (implicit default), xml",
            "enum": [
              "json",
              "xml",
              "sphp"
            ]
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "api-key",
              "required": true,
              "in": "query",
              "type": "string",
              "default": "9746e90579a5e13719708aceb37ad848:0:64325990",
              "description": "API Key for Campaign Finance API."
            },
            {
              "name": "callback",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "JSONP callback function. As of February 2011, the Campaign Finance API supports JSONP requests."
            }
          ],
          "description": "Retrieves campaign finance details for a particular presidential candidate. This request type is for presidential candidates only, and is provided for backward compatibility with version 2 of the Campaign Finance API. Responses vary slightly from the main version 3 Candidate Details response.",
          "externalDocs": {
            "url": "http://developer.nytimes.com/docs/campaign_finance_api/#h3-pres-candidate-details"
          }
        }
      },
      "/elections/us/{version}/finances/{campaign-cycle}/president/{resource-type}/{location}{.format}": {
        "parameters": [
          {
            "name": "version",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "v3",
            "description": "The API version. The current version is v3. Support for version 2 ended in February 2011. (Version 1 is for internal use only.)"
          },
          {
            "name": "campaign-cycle",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "An even numbered year representing the campaign cycle. Presidential data: 2008–present. Congressional data: 2000–present. Format: YYYY"
          },
          {
            "name": "resource-type",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Accepted values: states, zips"
          },
          {
            "name": "location",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "Two-letter state abbreviation (for the states resource type) or five-digit ZIP code (for the zips resource type)"
          },
          {
            "name": ".format",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Sets the representation data format. To return JSON, add the .json extension to your request URI. XML is the default format; you do not need to add the .xml extension to get an XML response. Accepted values: json (implicit default), xml",
            "enum": [
              "json",
              "xml",
              "sphp"
            ]
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "api-key",
              "required": true,
              "in": "query",
              "type": "string",
              "default": "9746e90579a5e13719708aceb37ad848:0:64325990",
              "description": "API Key for Campaign Finance API."
            },
            {
              "name": "callback",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "JSONP callback function. As of February 2011, the Campaign Finance API supports JSONP requests."
            }
          ],
          "description": "Retrieves totals (donations to all presidential candidates) for a particular location.",
          "externalDocs": {
            "url": "http://developer.nytimes.com/docs/campaign_finance_api/#h3-pres-state-zip"
          }
        }
      },
      "/elections/us/{version}/finances/{campaign-cycle}/president/contributions/donorsearch{.format}": {
        "parameters": [
          {
            "name": "version",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "v3",
            "description": "The API version. The current version is v3. Support for version 2 ended in February 2011. (Version 1 is for internal use only.)"
          },
          {
            "name": "campaign-cycle",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "An even numbered year representing the campaign cycle. Presidential data: 2008–present. Congressional data: 2000–present. Format: YYYY"
          },
          {
            "name": ".format",
            "required": false,
            "in": "path",
            "type": "string",
            "default": "json",
            "description": "Sets the representation data format. To return JSON, add the .json extension to your request URI. XML is the default format; you do not need to add the .xml extension to get an XML response. Accepted values: json (implicit default), xml",
            "enum": [
              "json",
              "xml",
              "sphp"
            ]
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "api-key",
              "required": true,
              "in": "query",
              "type": "string",
              "default": "9746e90579a5e13719708aceb37ad848:0:64325990",
              "description": "API Key for Campaign Finance API."
            },
            {
              "name": "lname",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "A donor's last name. Specify either this or both (with zip), but not neither. Example: paley"
            },
            {
              "name": "zip",
              "required": false,
              "in": "query",
              "type": "integer",
              "description": "A donor's ZIP code location. Specify either this or both (with lname), but not neither. Example: 11797"
            },
            {
              "name": "callback",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "JSONP callback function. As of February 2011, the Campaign Finance API supports JSONP requests."
            }
          ],
          "description": "Retrieves information about an individual donor to a presidential campaign or get a summary of donors in a particular location.",
          "externalDocs": {
            "url": "http://developer.nytimes.com/docs/campaign_finance_api/#h3-donor"
          }
        }
      },
      "/elections/us/{version}/finances/{campaign-cycle}/filings/{year}/{month}/{day}{.format}": {
        "parameters": [
          {
            "name": "version",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "v3",
            "description": "The API version. The current version is v3. Support for version 2 ended in February 2011. (Version 1 is for internal use only.)"
          },
          {
            "name": "campaign-cycle",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "An even numbered year representing the campaign cycle. Presidential data: 2008–present. Congressional data: 2000–present. Format: YYYY"
          },
          {
            "name": "year",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The date the documents were filed. Note that some filings (such as correspondence to the FEC) do not reflect campaign activity for a particular time period but still have a filing date. Format: YYYY"
          },
          {
            "name": "month",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The date the documents were filed. Note that some filings (such as correspondence to the FEC) do not reflect campaign activity for a particular time period but still have a filing date. Format: MM"
          },
          {
            "name": "day",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The date the documents were filed. Note that some filings (such as correspondence to the FEC) do not reflect campaign activity for a particular time period but still have a filing date. Format: DD"
          },
          {
            "name": ".format",
            "required": false,
            "in": "path",
            "type": "string",
            "default": "json",
            "description": "Sets the representation data format. To return JSON, add the .json extension to your request URI. XML is the default format; you do not need to add the .xml extension to get an XML response. Accepted values: json (implicit default), xml",
            "enum": [
              "json",
              "xml",
              "sphp"
            ]
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "api-key",
              "required": true,
              "in": "query",
              "type": "string",
              "default": "9746e90579a5e13719708aceb37ad848:0:64325990",
              "description": "API Key for Campaign Finance API."
            },
            {
              "name": "callback",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "JSONP callback function. As of February 2011, the Campaign Finance API supports JSONP requests."
            }
          ],
          "description": "Returns metadata for FEC reports filed electronically on a specific date. Electronic filings are available back to 2001. Paper filings by Senate candidate committees and senatorial party committees go back to 1999.",
          "externalDocs": {
            "url": "http://developer.nytimes.com/docs/campaign_finance_api/#h3-electronic-filings-by-date"
          }
        }
      },
      "/elections/us/{version}/finances/{campaign-cycle}/filings/types{.format}": {
        "parameters": [
          {
            "name": "version",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "v3",
            "description": "The API version. The current version is v3. Support for version 2 ended in February 2011. (Version 1 is for internal use only.)"
          },
          {
            "name": "campaign-cycle",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "An even numbered year representing the campaign cycle. Presidential data: 2008–present. Congressional data: 2000–present. Format: YYYY"
          },
          {
            "name": ".format",
            "required": false,
            "in": "path",
            "type": "string",
            "default": "json",
            "description": "Sets the representation data format. To return JSON, add the .json extension to your request URI. XML is the default format; you do not need to add the .xml extension to get an XML response. Accepted values: json (implicit default), xml",
            "enum": [
              "json",
              "xml",
              "sphp"
            ]
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "api-key",
              "required": true,
              "in": "query",
              "type": "string",
              "default": "9746e90579a5e13719708aceb37ad848:0:64325990",
              "description": "API Key for Campaign Finance API."
            },
            {
              "name": "callback",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "JSONP callback function. As of February 2011, the Campaign Finance API supports JSONP requests."
            }
          ],
          "description": "Returns a list of available form types for FEC electronic filings.",
          "externalDocs": {
            "url": "http://developer.nytimes.com/docs/campaign_finance_api/#h3-electronic-filing-form-types"
          }
        }
      },
      "/elections/us/{version}/finances/{campaign-cycle}/filings/types/{form-type-id}{.format}": {
        "parameters": [
          {
            "name": "version",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "v3",
            "description": "The API version. The current version is v3. Support for version 2 ended in February 2011. (Version 1 is for internal use only.)"
          },
          {
            "name": "campaign-cycle",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "An even numbered year representing the campaign cycle. Presidential data: 2008–present. Congressional data: 2000–present. Format: YYYY"
          },
          {
            "name": "form-type-id",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The FEC electronic filing form type ID. To get form type IDs, use an electronic filing form types request. Format: F + integer"
          },
          {
            "name": ".format",
            "required": false,
            "in": "path",
            "type": "string",
            "default": "json",
            "description": "Sets the representation data format. To return JSON, add the .json extension to your request URI. XML is the default format; you do not need to add the .xml extension to get an XML response. Accepted values: json (implicit default), xml",
            "enum": [
              "json",
              "xml",
              "sphp"
            ]
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "api-key",
              "required": true,
              "in": "query",
              "type": "string",
              "default": "9746e90579a5e13719708aceb37ad848:0:64325990",
              "description": "API Key for Campaign Finance API."
            },
            {
              "name": "callback",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "JSONP callback function. As of February 2011, the Campaign Finance API supports JSONP requests."
            }
          ],
          "description": "Retrieves FEC electronic filings by form type.",
          "externalDocs": {
            "url": "http://developer.nytimes.com/docs/campaign_finance_api/#h3-electronic-filings-by-type"
          }
        }
      },
      "/community/{version}/comments/recent{.format}": {
        "parameters": [
          {
            "name": "version",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "v2",
            "description": "The current version is v2. (Version 1 is for internal use only.)"
          },
          {
            "name": ".format",
            "required": false,
            "in": "path",
            "type": "string",
            "default": "json",
            "description": "Sets the representation data format. To return XML or serialized PHP, add the appropriate extension to your request URI. JSON is the default format; you do not need to add the .json extension to get a JSON response. Accepted values: json (implicit default), xml, sphp",
            "enum": [
              "json",
              "xml",
              "sphp"
            ]
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "api-key",
              "required": true,
              "in": "query",
              "type": "string",
              "default": "ffd13be0b6e879f3cee1075d3c05a59f:11:64325990",
              "description": "API Key for Community API."
            },
            {
              "name": "offset",
              "required": false,
              "in": "query",
              "type": "integer",
              "minimum": 1,
              "description": "Sets the starting point of the result set. The first 25 results are shown by default. To page through the results, set offset to the appropriate value (e.g., offset=25 displays results 26-50). Format: positive integer, multiple of 25"
            },
            {
              "name": "force-replies",
              "required": false,
              "in": "query",
              "type": "boolean",
              "description": "Limits the results to comments that have been replied to. Accepted values: 1 (limit is set), 0 (limit is not set)"
            },
            {
              "name": "sort",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Sets the sort order of the result set. See API docs for more details. Accepted values: newest, oldest, recommended, replied, editors-selection"
            }
          ],
          "description": "Retrieve the most recent user comments.",
          "externalDocs": {
            "url": "http://developer.nytimes.com/docs/community_api/#commentsRecent"
          }
        }
      },
      "/community/{version}/comments/random{.format}": {
        "parameters": [
          {
            "name": "version",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "v2",
            "description": "The current version is v2. (Version 1 is for internal use only.)"
          },
          {
            "name": ".format",
            "required": false,
            "in": "path",
            "type": "string",
            "default": "json",
            "description": "Sets the representation data format. To return XML or serialized PHP, add the appropriate extension to your request URI. JSON is the default format; you do not need to add the .json extension to get a JSON response. Accepted values: json (implicit default), xml, sphp",
            "enum": [
              "json",
              "xml",
              "sphp"
            ]
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "api-key",
              "required": true,
              "in": "query",
              "type": "string",
              "default": "ffd13be0b6e879f3cee1075d3c05a59f:11:64325990",
              "description": "API Key for Community API."
            }
          ],
          "description": "Retrieve a random set of user comments (50 records)",
          "externalDocs": {
            "url": "http://developer.nytimes.com/docs/community_api/#commentsRandom"
          }
        }
      },
      "/community/{version}/comments/by-date/{date}{.format}": {
        "parameters": [
          {
            "name": "version",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "v2",
            "description": "The current version is v2. (Version 1 is for internal use only.)"
          },
          {
            "name": "date",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The date for which you want to retrieve comments. Format: YYYYMMDD"
          },
          {
            "name": ".format",
            "required": false,
            "in": "path",
            "type": "string",
            "default": "json",
            "description": "Sets the representation data format. To return XML or serialized PHP, add the appropriate extension to your request URI. JSON is the default format; you do not need to add the .json extension to get a JSON response. Accepted values: json (implicit default), xml, sphp",
            "enum": [
              "json",
              "xml",
              "sphp"
            ]
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "api-key",
              "required": true,
              "in": "query",
              "type": "string",
              "default": "ffd13be0b6e879f3cee1075d3c05a59f:11:64325990",
              "description": "API Key for Community API."
            },
            {
              "name": "offset",
              "required": false,
              "in": "query",
              "type": "integer",
              "minimum": 1,
              "description": "Sets the starting point of the result set. The first 25 results are shown by default. To page through the results, set offset to the appropriate value (e.g., offset=25 displays results 26-50). Format: positive integer, multiple of 25"
            },
            {
              "name": "sort",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Sets the sort order of the result set. See API docs for more details. Accepted values: newest, oldest, recommended, replied, editors-selection"
            }
          ],
          "description": "Retrieve comments posted on a specific date.",
          "externalDocs": {
            "url": "http://developer.nytimes.com/docs/community_api/#commentsDate"
          }
        }
      },
      "/community/{version}/comments/user/id/{user-id}{.format}": {
        "parameters": [
          {
            "name": "version",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "v2",
            "description": "The current version is v2. (Version 1 is for internal use only.)"
          },
          {
            "name": "user-id",
            "required": true,
            "in": "path",
            "type": "integer",
            "description": "The ID of a specific NYTimes.com user. To get user-id values, refer to the <userComments> node in responses to other request types. Example: 56135867"
          },
          {
            "name": ".format",
            "required": false,
            "in": "path",
            "type": "string",
            "default": "json",
            "description": "Sets the representation data format. To return XML or serialized PHP, add the appropriate extension to your request URI. JSON is the default format; you do not need to add the .json extension to get a JSON response. Accepted values: json (implicit default), xml, sphp",
            "enum": [
              "json",
              "xml",
              "sphp"
            ]
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "api-key",
              "required": true,
              "in": "query",
              "type": "string",
              "default": "ffd13be0b6e879f3cee1075d3c05a59f:11:64325990",
              "description": "API Key for Community API."
            },
            {
              "name": "offset",
              "required": false,
              "in": "query",
              "type": "integer",
              "minimum": 1,
              "description": "Sets the starting point of the result set. The first 25 results are shown by default. To page through the results, set offset to the appropriate value (e.g., offset=25 displays results 26-50). Format: positive integer, multiple of 25"
            },
            {
              "name": "sort",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Sets the sort order of the result set. See API docs for more details. Accepted values: newest, oldest, recommended, replied, editors-selection"
            }
          ],
          "description": "Retrieve comments posted by a specific NYTimes.com user.",
          "externalDocs": {
            "url": "http://developer.nytimes.com/docs/community_api/#commentsUser"
          }
        }
      },
      "/community/{version}/comments/url/{match-type}{.format}": {
        "parameters": [
          {
            "name": "version",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "v2",
            "description": "The current version is v2. (Version 1 is for internal use only.)"
          },
          {
            "name": "match-type",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Sets the search type: get only the URL you specify, or search for similar URLs. If you specify exact-match, the first 25 comments associated with that URL will be returned if the URL is found. If there is no exact match, an empty result set will be returned. If you specify closest-stem-match, the most similar URLs will be returned. (No comments will be returned.) Accepted values: exact-match, closest-stem-match"
          },
          {
            "name": ".format",
            "required": false,
            "in": "path",
            "type": "string",
            "default": "json",
            "description": "Sets the representation data format. To return XML or serialized PHP, add the appropriate extension to your request URI. JSON is the default format; you do not need to add the .json extension to get a JSON response. Accepted values: json (implicit default), xml, sphp",
            "enum": [
              "json",
              "xml",
              "sphp"
            ]
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "api-key",
              "required": true,
              "in": "query",
              "type": "string",
              "default": "ffd13be0b6e879f3cee1075d3c05a59f:11:64325990",
              "description": "API Key for Community API."
            },
            {
              "name": "url",
              "required": true,
              "in": "query",
              "description": "The URL to search for."
            },
            {
              "name": "offset",
              "required": false,
              "in": "query",
              "type": "integer",
              "minimum": 1,
              "description": "Sets the starting point of the result set. The first 25 results are shown by default. To page through the results, set offset to the appropriate value (e.g., offset=25 displays results 26-50). Format: positive integer, multiple of 25"
            },
            {
              "name": "sort",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Sets the sort order of the result set. See API docs for more details. Accepted values: newest, oldest, recommended, replied, editors-selection"
            }
          ],
          "description": "Retrieve comments posted by a specific NYTimes.com user.",
          "externalDocs": {
            "url": "http://developer.nytimes.com/docs/community_api/#commentsURL"
          }
        }
      },
      "/politics/{version}/us/legislative/congress/{congress-number}/{chamber}/members{.format}": {
        "parameters": [
          {
            "name": "version",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "v3",
            "description": "The current version is v3. Version 2 is no longer supported. (Version 1 is for internal use only.)"
          },
          {
            "name": "congress-number",
            "required": true,
            "in": "path",
            "type": "integer",
            "description": "The number of the Congress during which the members served. Format: House of Representatives: 102–112, Senate: 80–112. For a table of years and session numbers, see the official site of the U.S. Senate."
          },
          {
            "name": "chamber",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Accepted values: house, senate"
          },
          {
            "name": ".format",
            "required": false,
            "in": "path",
            "type": "string",
            "default": "json",
            "description": "Sets the representation data format. To return JSON, add the appropriate extension to your request URI. XML is the default format; you do not need to add the .xml extension to get an XML response. Accepted values: json (implicit default), xml",
            "enum": [
              "json",
              "xml",
              "sphp"
            ]
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "api-key",
              "required": true,
              "in": "query",
              "type": "string",
              "default": "65551def4f298d7b18824aca7ebe3b75:1:64325990",
              "description": "API Key for Congress API."
            },
            {
              "name": "state",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Limits the list of members by state. Format: Two-letter state code (e.g., CA)"
            },
            {
              "name": "district",
              "required": false,
              "in": "query",
              "type": "integer",
              "description": "Limits the list of members by district (House only). If you specify a district, you must also specify a state. If the district number you specify is higher than the total number of districts for that state, a 404 response will be returned. Note: Member list responses include district numbers. Format: House of Representatives district number"
            }
          ],
          "description": "Retrieves a list of members of a particular chamber in a particular Congress.",
          "externalDocs": {
            "url": "http://developer.nytimes.com/docs/congress_api/#h3-members"
          }
        }
      },
      "/politics/{version}/us/legislative/congress/members/{member-id}{.format}": {
        "parameters": [
          {
            "name": "version",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "v3",
            "description": "The current version is v3. Version 2 is no longer supported. (Version 1 is for internal use only.)"
          },
          {
            "name": "member-id",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The member's unique ID number. To find a member's ID number, get the list of members for the appropriate House or Senate. You can also use the Biographical Directory of the United States Congress to get a member's ID. In search results, each member's name is linked to a record by index ID (e.g., http://bioguide.congress.gov/scripts/biodisplay.pl?index=C001041). Use the index ID as member-id in your request. Format: alphanumeric"
          },
          {
            "name": ".format",
            "required": false,
            "in": "path",
            "type": "string",
            "default": "json",
            "description": "Sets the representation data format. To return JSON, add the appropriate extension to your request URI. XML is the default format; you do not need to add the .xml extension to get an XML response. Accepted values: json (implicit default), xml",
            "enum": [
              "json",
              "xml",
              "sphp"
            ]
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "api-key",
              "required": true,
              "in": "query",
              "type": "string",
              "default": "65551def4f298d7b18824aca7ebe3b75:1:64325990",
              "description": "API Key for Congress API."
            }
          ],
          "description": "Retrieves biographical and Congressional role information for a particular member of Congress.",
          "externalDocs": {
            "url": "http://developer.nytimes.com/docs/congress_api/#h3-member-roles"
          }
        }
      },
      "/politics/{version}/us/legislative/congress/members/new{.format}": {
        "parameters": [
          {
            "name": "version",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "v3",
            "description": "The current version is v3. Version 2 is no longer supported. (Version 1 is for internal use only.)"
          },
          {
            "name": ".format",
            "required": false,
            "in": "path",
            "type": "string",
            "default": "json",
            "description": "Sets the representation data format. To return JSON, add the appropriate extension to your request URI. XML is the default format; you do not need to add the .xml extension to get an XML response. Accepted values: json (implicit default), xml",
            "enum": [
              "json",
              "xml",
              "sphp"
            ]
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "api-key",
              "required": true,
              "in": "query",
              "type": "string",
              "default": "65551def4f298d7b18824aca7ebe3b75:1:64325990",
              "description": "API Key for Congress API."
            }
          ],
          "description": "Returns a list of the most recent new members of the current Congress.",
          "externalDocs": {
            "url": "http://developer.nytimes.com/docs/congress_api/#h3-new-members"
          }
        }
      },
      "/politics/{version}/us/legislative/congress/members/{chamber}/{state}/{district}/current{.format}": {
        "parameters": [
          {
            "name": "version",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "v3",
            "description": "The current version is v3. Version 2 is no longer supported. (Version 1 is for internal use only.)"
          },
          {
            "name": "chamber",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Accepted values: house, senate. When chamber=senate, this request returns both current senators, if available. When chamber=house, this request returns the current occupant of the district seat."
          },
          {
            "name": "state",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Format: Two-letter state abbreviation"
          },
          {
            "name": "district",
            "required": false,
            "in": "path",
            "type": "string",
            "description": "Only required for House requests. If you specify a district in a Senate request, it will be ignored. Specify the district number; for \"at large\" districts (Alaska, Delaware, Montana, North Dakota, South Dakota, Vermont and Wyoming), specify the number 1. Format: House of Representatives district number"
          },
          {
            "name": ".format",
            "required": false,
            "in": "path",
            "type": "string",
            "default": "json",
            "description": "Sets the representation data format. To return JSON, add the appropriate extension to your request URI. XML is the default format; you do not need to add the .xml extension to get an XML response. Accepted values: json (implicit default), xml",
            "enum": [
              "json",
              "xml",
              "sphp"
            ]
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "api-key",
              "required": true,
              "in": "query",
              "type": "string",
              "default": "65551def4f298d7b18824aca7ebe3b75:1:64325990",
              "description": "API Key for Congress API."
            }
          ],
          "description": "Returns the current members of Congress for a particular chamber.",
          "externalDocs": {
            "url": "http://developer.nytimes.com/docs/congress_api/#h3-current-member"
          }
        }
      },
      "/politics/{version}/us/legislative/congress/{congress-number}/{chamber}/members/leaving{.format}": {
        "parameters": [
          {
            "name": "version",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "v3",
            "description": "The current version is v3. Version 2 is no longer supported. (Version 1 is for internal use only.)"
          },
          {
            "name": "congress-number",
            "required": true,
            "in": "path",
            "type": "integer",
            "description": "The number of the Congress during which the members served. Accepted values: 111, 112. Data for previous Congresses will be added soon."
          },
          {
            "name": "chamber",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Accepted values: house, senate"
          },
          {
            "name": ".format",
            "required": false,
            "in": "path",
            "type": "string",
            "default": "json",
            "description": "Sets the representation data format. To return JSON, add the appropriate extension to your request URI. XML is the default format; you do not need to add the .xml extension to get an XML response. Accepted values: json (implicit default), xml",
            "enum": [
              "json",
              "xml",
              "sphp"
            ]
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "api-key",
              "required": true,
              "in": "query",
              "type": "string",
              "default": "65551def4f298d7b18824aca7ebe3b75:1:64325990",
              "description": "API Key for Congress API."
            }
          ],
          "description": "Returns a list of members who have left the Senate or House or have announced plans to do so.",
          "externalDocs": {
            "url": "http://developer.nytimes.com/docs/congress_api/#h3-members-leaving"
          }
        }
      },
      "/politics/{version}/us/legislative/congress/members/{member-id}/votes{.format}": {
        "parameters": [
          {
            "name": "version",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "v3",
            "description": "The current version is v3. Version 2 is no longer supported. (Version 1 is for internal use only.)"
          },
          {
            "name": "member-id",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The member's unique ID number. To find a member's ID number, get the list of members for the appropriate House or Senate. You can also use the Biographical Directory of the United States Congress to get a member's ID. In search results, each member's name is linked to a record by index ID (e.g., http://bioguide.congress.gov/scripts/biodisplay.pl?index=C001041). Use the index ID as member-id in your request. Format: alphanumeric"
          },
          {
            "name": ".format",
            "required": false,
            "in": "path",
            "type": "string",
            "default": "json",
            "description": "Sets the representation data format. To return JSON, add the appropriate extension to your request URI. XML is the default format; you do not need to add the .xml extension to get an XML response. Accepted values: json (implicit default), xml",
            "enum": [
              "json",
              "xml",
              "sphp"
            ]
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "api-key",
              "required": true,
              "in": "query",
              "type": "string",
              "default": "65551def4f298d7b18824aca7ebe3b75:1:64325990",
              "description": "API Key for Congress API."
            }
          ],
          "description": "Retrieves the most recent vote positions for a specific member of the House of Representatives or Senate.",
          "externalDocs": {
            "url": "http://developer.nytimes.com/docs/congress_api/#h3-member-positions"
          }
        }
      },
      "/politics/{version}/us/legislative/congress/members/{first-member-id}/votes/{second-member-id}/{congress-number}/{chamber}{.format}": {
        "parameters": [
          {
            "name": "version",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "v3",
            "description": "The current version is v3. Version 2 is no longer supported. (Version 1 is for internal use only.)"
          },
          {
            "name": "first-member-id",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The unique ID number of the first member you want to compare. To find a member's ID number, get the list of members for the appropriate House or Senate. You can also use the Biographical Directory of the United States Congress to get a member's ID. In search results, each member's name is linked to a record by index ID (e.g., http://bioguide.congress.gov/scripts/biodisplay.pl?index=C001041). Use the index ID as member-id in your request. Format: alphanumeric"
          },
          {
            "name": "second-member-id",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The unique ID number of the second member you want to compare. To find a member's ID number, get the list of members for the appropriate House or Senate. You can also use the Biographical Directory of the United States Congress to get a member's ID. In search results, each member's name is linked to a record by index ID (e.g., http://bioguide.congress.gov/scripts/biodisplay.pl?index=C001041). Use the index ID as member-id in your request. Format: alphanumeric"
          },
          {
            "name": "congress-number",
            "required": true,
            "in": "path",
            "type": "integer",
            "description": "The number of the Congress in which the members served. For a table of years and session numbers, see the official site of the U.S. Senate. If the two members did not serve together in the Congress and chamber you specify, an error will be returned. Accepted values: Senate: 101–112, House: 102–112."
          },
          {
            "name": "chamber",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Accepted values: house, senate. If the two members did not serve together in the Congress and chamber you specify, an error will be returned. Accepted values: Senate: 101–112, House: 102–112."
          },
          {
            "name": ".format",
            "required": false,
            "in": "path",
            "type": "string",
            "default": "json",
            "description": "Sets the representation data format. To return JSON, add the appropriate extension to your request URI. XML is the default format; you do not need to add the .xml extension to get an XML response. Accepted values: json (implicit default), xml",
            "enum": [
              "json",
              "xml",
              "sphp"
            ]
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "api-key",
[...]
