{
  "type": "api",
  "key": "apigee:bitly",
  "info": {
    "title": "Bitly",
    "description": "Shorten, Share and Track your links with the Bitly APIs."
  },
  "swagger": {
    "swagger": "2.0",
    "host": "api-ssl.bitly.com",
    "basePath": "/",
    "schemes": [
      "https"
    ],
    "paths": {
      "/v3/shorten": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "longUrl",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "a long URL to be shortened (example: http://betaworks.com/)"
            },
            {
              "name": "domain",
              "required": false,
              "in": "query",
              "type": "string",
              "default": "bit.ly",
              "description": "(optional) refers to a preferred domain; either bit.ly, j.mp, or bitly.com, for users who do NOT have a custom short domain set up with bitly. This affects the output value of url. The default for this parameter is the short domain selected by each user in his/her bitly account settings. Passing a specific domain via this parameter will override the default settings for users who do NOT have a custom short domain set up with bitly. For users who have implemented a custom short domain, bitly will always return short links according to the user's account-level preference.",
              "enum": [
                "bit.ly",
                "j.mp",
                "bitly.com"
              ]
            },
            {
              "name": "format",
              "required": false,
              "in": "query",
              "type": "string",
              "default": "json",
              "description": "Response format.",
              "enum": [
                "xml",
                "json",
                "txt"
              ]
            }
          ],
          "description": "Given a long URL, returns a bitly short URL.",
          "externalDocs": {
            "url": "http://dev.bitly.com/links.html#v3_shorten"
          }
        }
      },
      "/v3/expand": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "shortUrl",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Short URL to be expanded."
            },
            {
              "name": "hash",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Refers to one or more bitly hashes."
            },
            {
              "name": "format",
              "required": false,
              "in": "query",
              "type": "string",
              "default": "json",
              "description": "Response format.",
              "enum": [
                "xml",
                "json"
              ]
            }
          ],
          "description": "Given a bitly URL or hash (or multiple), returns the target (long) URL.",
          "externalDocs": {
            "url": "http://dev.bitly.com/links.html#v3_expand"
          }
        }
      },
      "/v3/link/lookup": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "url",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "One or more long URLs to lookup."
            },
            {
              "name": "format",
              "required": false,
              "in": "query",
              "type": "string",
              "default": "json",
              "description": "Response format.",
              "enum": [
                "xml",
                "json"
              ]
            }
          ],
          "description": "This is used to query for a bitly link based on a long URL.",
          "externalDocs": {
            "url": "http://dev.bitly.com/links.html#v3_link_lookup"
          }
        }
      },
      "/v3/info": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "shortUrl",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Refers to one or more short URLs."
            },
            {
              "name": "hash",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Refers to one or more bitly hashes."
            },
            {
              "name": "format",
              "required": false,
              "in": "query",
              "type": "string",
              "default": "json",
              "description": "Response format.",
              "enum": [
                "xml",
                "json"
              ]
            }
          ],
          "description": "This is used to return the page title for a given bitly link.",
          "externalDocs": {
            "url": "http://dev.bitly.com/links.html#v3_info"
          }
        }
      },
      "/v3/user/info": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "login",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "(optional) the bitly login of the user whose info to look up. If not given, the authenticated user will be used."
            },
            {
              "name": "format",
              "required": false,
              "in": "query",
              "type": "string",
              "default": "json",
              "description": "Response format.",
              "enum": [
                "xml",
                "json"
              ]
            }
          ],
          "description": "Return information about a user.",
          "externalDocs": {
            "url": "http://dev.bitly.com/user_info.html#v3_user_info"
          }
        }
      },
      "/v3/user/link_history": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "limit",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "(optional) integer in the range 1 to 100 -  default: 50, specifying the max number of results to return."
            },
            {
              "name": "created_before",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "(optional) timestamp as an integer unix epoch."
            },
            {
              "name": "created_after",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "(optional) timestamp as an integer unix epoch."
            },
            {
              "name": "user",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "(optional)  the user for whom to retrieve history entries (if different from authenticated user)."
            },
            {
              "name": "format",
              "required": false,
              "in": "query",
              "type": "string",
              "default": "json",
              "description": "Response format.",
              "enum": [
                "xml",
                "json"
              ]
            }
          ],
          "description": "Returns entries from a user's link history in reverse chronological order.",
          "externalDocs": {
            "url": "http://dev.bitly.com/user_info.html#v3_user_link_history"
          }
        }
      },
      "/v3/user/popular_links": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "unit",
              "required": true,
              "in": "query",
              "type": "integer",
              "description": "minute, hour, day, week or month",
              "enum": [
                "minute",
                "hour",
                "day",
                "week",
                "month"
              ]
            },
            {
              "name": "units",
              "required": true,
              "in": "query",
              "type": "integer",
              "default": -1,
              "description": "an integer representing the time units to query data for. Pass -1 to return all units of time."
            },
            {
              "name": "timezone",
              "required": false,
              "in": "query",
              "type": "integer",
              "default": 0,
              "description": "(optional) an integer hour offset from UTC (-14 to 14)"
            },
            {
              "name": "limit",
              "required": false,
              "in": "query",
              "type": "integer",
              "default": 100,
              "description": "(optional) 1 to 1000 (default=100)."
            },
            {
              "name": "rollup",
              "required": false,
              "in": "query",
              "type": "string",
              "default": "true",
              "description": "(optional) true or false. Return data for multiple units rolled up to a single result instead of a separate value for each period of time."
            },
            {
              "name": "format",
              "required": false,
              "in": "query",
              "type": "string",
              "default": "json",
              "description": "Response format.",
              "enum": [
                "xml",
                "json"
              ]
            }
          ],
          "description": "Returns the authenticated user's most-clicked bitly links (ordered by number of clicks) in a given time period.",
          "externalDocs": {
            "url": "http://dev.bitly.com/user_metrics.html#v3_user_popular_links"
          }
        }
      },
      "/v3/link/clicks": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "link",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "a bltly link."
            },
            {
              "name": "unit",
              "required": true,
              "in": "query",
              "type": "integer",
              "description": "minute, hour, day, week or month",
              "enum": [
                "minute",
                "hour",
                "day",
                "week",
                "month"
              ]
            },
            {
              "name": "units",
              "required": true,
              "in": "query",
              "type": "integer",
              "default": -1,
              "description": "an integer representing the time units to query data for. Pass -1 to return all units of time."
            },
            {
              "name": "timezone",
              "required": false,
              "in": "query",
              "type": "integer",
              "default": 0,
              "description": "(optional) an integer hour offset from UTC (-14 to 14)"
            },
            {
              "name": "limit",
              "required": false,
              "in": "query",
              "type": "integer",
              "default": 100,
              "description": "(optional) 1 to 1000 (default=100)."
            },
            {
              "name": "rollup",
              "required": false,
              "in": "query",
              "type": "string",
              "default": "true",
              "description": "(optional) true or false. Return data for multiple units rolled up to a single result instead of a separate value for each period of time."
            },
            {
              "name": "format",
              "required": false,
              "in": "query",
              "type": "string",
              "default": "json",
              "description": "Response format.",
              "enum": [
                "xml",
                "json"
              ]
            }
          ],
          "description": "Returns entries from a user's link history in reverse chronological order.",
          "externalDocs": {
            "url": "http://dev.bitly.com/link_metrics.html#v3_link_clicks"
          }
        }
      },
      "/v3/link/countries": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "link",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "a bltly link."
            },
            {
              "name": "unit",
              "required": true,
              "in": "query",
              "type": "integer",
              "description": "minute, hour, day, week or month",
              "enum": [
                "minute",
                "hour",
                "day",
                "week",
                "month"
              ]
            },
            {
              "name": "units",
              "required": true,
              "in": "query",
              "type": "integer",
              "default": -1,
              "description": "an integer representing the time units to query data for. Pass -1 to return all units of time."
            },
            {
              "name": "timezone",
              "required": false,
              "in": "query",
              "type": "integer",
              "default": 0,
              "description": "(optional) an integer hour offset from UTC (-14 to 14)"
            },
            {
              "name": "limit",
              "required": false,
              "in": "query",
              "type": "integer",
              "default": 100,
              "description": "(optional) 1 to 1000 (default=100)."
            },
            {
              "name": "rollup",
              "required": false,
              "in": "query",
              "type": "string",
              "default": "true",
              "description": "(optional) true or false. Return data for multiple units rolled up to a single result instead of a separate value for each period of time."
            },
            {
              "name": "format",
              "required": false,
              "in": "query",
              "type": "string",
              "default": "json",
              "description": "Response format.",
              "enum": [
                "xml",
                "json"
              ]
            }
          ],
          "description": "Returns metrics about the countries referring click traffic to a single bitly link.",
          "externalDocs": {
            "url": "http://dev.bitly.com/link_metrics.html#v3_link_countries"
          }
        }
      },
      "/v3/link/referrers": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "link",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "a bltly link."
            },
            {
              "name": "unit",
              "required": true,
              "in": "query",
              "type": "integer",
              "description": "minute, hour, day, week or month",
              "enum": [
                "minute",
                "hour",
                "day",
                "week",
                "month"
              ]
            },
            {
              "name": "units",
              "required": true,
              "in": "query",
              "type": "integer",
              "default": -1,
              "description": "an integer representing the time units to query data for. Pass -1 to return all units of time."
            },
            {
              "name": "timezone",
              "required": false,
              "in": "query",
              "type": "integer",
              "default": 0,
              "description": "(optional) an integer hour offset from UTC (-14 to 14)"
            },
            {
              "name": "limit",
              "required": false,
              "in": "query",
              "type": "integer",
              "default": 100,
              "description": "(optional) 1 to 1000 (default=100)."
            },
            {
              "name": "rollup",
              "required": false,
              "in": "query",
              "type": "string",
              "default": "true",
              "description": "(optional) true or false. Return data for multiple units rolled up to a single result instead of a separate value for each period of time."
            },
            {
              "name": "format",
              "required": false,
              "in": "query",
              "type": "string",
              "default": "json",
              "description": "Response format.",
              "enum": [
                "xml",
                "json"
              ]
            }
          ],
          "description": "Returns metrics about the pages referring click traffic to a single bitly link.",
          "externalDocs": {
            "url": "http://dev.bitly.com/link_metrics.html#v3_link_referrers"
          }
        }
      },
      "/v3/link/shares": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "link",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "a bltly link."
            },
            {
              "name": "unit",
              "required": true,
              "in": "query",
              "type": "integer",
              "description": "minute, hour, day, week or month",
              "enum": [
                "minute",
                "hour",
                "day",
                "week",
                "month"
              ]
            },
            {
              "name": "units",
              "required": true,
              "in": "query",
              "type": "integer",
              "default": -1,
              "description": "an integer representing the time units to query data for. Pass -1 to return all units of time."
            },
            {
              "name": "timezone",
              "required": false,
              "in": "query",
              "type": "integer",
              "default": 0,
              "description": "(optional) an integer hour offset from UTC (-14 to 14)"
            },
            {
              "name": "limit",
              "required": false,
              "in": "query",
              "type": "integer",
              "default": 100,
              "description": "(optional) 1 to 1000 (default=100)."
            },
            {
              "name": "rollup",
              "required": false,
              "in": "query",
              "type": "string",
              "default": "true",
              "description": "(optional) true or false. Return data for multiple units rolled up to a single result instead of a separate value for each period of time."
            },
            {
              "name": "format",
              "required": false,
              "in": "query",
              "type": "string",
              "default": "json",
              "description": "Response format.",
              "enum": [
                "xml",
                "json"
              ]
            }
          ],
          "description": "Returns metrics about a shares of a single link.",
          "externalDocs": {
            "url": "http://dev.bitly.com/link_metrics.html#v3_link_shares"
          }
        }
      },
      "/v3/search": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "query",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "string to query for."
            },
            {
              "name": "limit",
              "required": false,
              "in": "query",
              "type": "integer",
              "description": "(optional) the maximum number of links to return."
            },
            {
              "name": "offset",
              "required": false,
              "in": "query",
              "type": "integer",
              "description": "(optional) which result to start with (defaults to 0)."
            },
            {
              "name": "cities",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "(optional) show links active in this city (ordered like country-state-city, e.g. us-il-chicago)."
            },
            {
              "name": "lang",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "(optional) favor results in this language (two letter ISO code)."
            },
            {
              "name": "domain",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "(optional) restrict results to this web domain."
            },
            {
              "name": "format",
              "required": false,
              "in": "query",
              "type": "string",
              "default": "json",
              "description": "Response format.",
              "enum": [
                "xml",
                "json"
              ]
            }
          ],
          "description": "Search links receiving clicks across bitly by content, language, location, and more.",
          "externalDocs": {
            "url": "http://dev.bitly.com/data_apis.html#v3_search"
          }
        }
      },
      "/v3/realtime/bursting_phrases": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "format",
              "required": false,
              "in": "query",
              "type": "string",
              "default": "json",
              "description": "Response format.",
              "enum": [
                "xml",
                "json"
              ]
            }
          ],
          "description": "Returns phrases that are receiving an uncharacteristically high volume of click traffic, and the individual links (hashes) driving traffic to pages containing these phrases.",
          "externalDocs": {
            "url": "http://dev.bitly.com/data_apis.html#v3_realtime_bursting_phrases"
          }
        }
      },
      "/v3/realtime/hot_phrases": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "format",
              "required": false,
              "in": "query",
              "type": "string",
              "default": "json",
              "description": "Response format.",
              "enum": [
                "xml",
                "json"
              ]
            }
          ],
          "description": "Returns phrases that are receiving a consistently high volume of click traffic, and the individual links (hashes) driving traffic to pages containing these phrases.",
          "externalDocs": {
            "url": "http://dev.bitly.com/data_apis.html#v3_realtime_hot_phrases"
          }
        }
      }
    },
    "info": {
      "title": "Bitly",
      "description": "Shorten, Share and Track your links with the Bitly APIs."
    }
  },
  "public": true
}