{
  "type": "api",
  "key": "apigee:google-spreadsheets",
  "info": {
    "title": "Google Spreadsheets",
    "description": "Manage and search Spreadsheet worksheets, cells and lists."
  },
  "swagger": {
    "swagger": "2.0",
    "host": "spreadsheets.google.com",
    "basePath": "/feeds",
    "schemes": [
      "https"
    ],
    "paths": {
      "/spreadsheets/{visibility}/{projection}": {
        "parameters": [
          {
            "name": "visibility",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "private",
            "description": "private: For use whenever you can authenticate the request. Read/write access if the authenticated user has edit privileges; otherwise, read-only.",
            "enum": [
              "private"
            ]
          },
          {
            "name": "projection",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Indicates what information is included in the representation.\nfull: Full-fidelity feed; contains all spreadsheet data including formulas. Full read/write access.\nvalues:\tFeed includes all data except for formulas. Formulas are replaced with their evaluations. Includes Data API extension elements.\tRead-only access.\nbasic: Feed includes all data except for formulas. Formulas are replaced with their evaluations. This feed uses only Atom elements, leaving out all Data API extension elements. Read-only access.\nNote: All combinations of visibility and projection are valid except for public/full.",
            "enum": [
              "full",
              "values",
              "basic"
            ]
          },
          {
            "name": "alt",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Alternative representation type.\natom: If you don't specify an alt parameter, the service returns an Atom feed.\nrss: Returns an RSS 2.0 result feed (for reads only). When you request data from a service in RSS format, the service supplies a feed (or other representation of the resource) in RSS format. If there's no equivalent RSS property for a given Data API property, the service uses the Atom property, labeling it with an appropriate namespace to indicate that it's an extension to RSS.\njson: Returns a JSON representation of the feed. More information\njson-in-script: Requests a response that wraps JSON in a script tag. More information\natom-in-script: Requests an Atom response that wraps an XML string in a script tag.\nrss-in-script: Requests an RSS response that wraps an XML string in a script tag.\natom-service: Requests an Atom service document that describes the feed.",
            "enum": [
              "atom",
              "rss",
              "json-in-script",
              "atom-in-script",
              "rss-in-script",
              "atom-service"
            ]
          },
          {
            "name": "author",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Entry author. The service returns entries where the author name and/or email address match your query string."
          },
          {
            "name": "start-index",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "1-based index of the first result to be retrieved. Note that this isn't a general cursoring mechanism. If you first send a query with ?start-index=1&max-results=10 and then send another query with ?start-index=11&max-results=10, the service cannot guarantee that the results are equivalent to ?start-index=1&max-results=20, because insertions and deletions could have taken place in between the two queries."
          },
          {
            "name": "max-results",
            "required": false,
            "in": "query",
            "type": "integer",
            "minimum": -2147483648,
            "maximum": 2147483647,
            "description": "Maximum number of results to be retrieved."
          },
          {
            "name": "updated-min",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Bounds on the entry update date. Use the RFC 3339 timestamp format. For example: 2005-08-09T10:57:00-08:00. The lower bound is inclusive, whereas the upper bound is exclusive. In some cases (such as when using v2.1 or newer of the Calendar Data API), specifying an updated-min that is too far in the past will cause an HTTP 410 (Gone) status to be returned."
          },
          {
            "name": "updated-max",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Bounds on the entry update date. Use the RFC 3339 timestamp format. For example: 2005-08-09T10:57:00-08:00. The lower bound is inclusive, whereas the upper bound is exclusive. In some cases (such as when using v2.1 or newer of the Calendar Data API), specifying an updated-min that is too far in the past will cause an HTTP 410 (Gone) status to be returned."
          },
          {
            "name": "title",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Specifies the search terms for the title of a document. This parameter used without title-exact will only submit partial queries, not exact queries."
          },
          {
            "name": "title-exact",
            "required": false,
            "in": "query",
            "type": "boolean",
            "description": "Specifies whether the title query should be taken as an exact string. Meaningless without title. Possible values are true and false. Note: Matches are case-insensitive."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "GData-Version",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "3.0",
              "description": "Specifies a version number."
            }
          ],
          "description": "Retrieves the list of spreadsheets for the authenticated user.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/apis/spreadsheets/data/3.0/developers_guide.html#ListingSpreadsheets"
          }
        }
      },
      "/spreadsheets/{visibility}/{projection}/{key}": {
        "parameters": [
          {
            "name": "visibility",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "private",
            "description": "private: For use whenever you can authenticate the request. Read/write access if the authenticated user has edit privileges; otherwise, read-only.",
            "enum": [
              "private"
            ]
          },
          {
            "name": "projection",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Indicates what information is included in the representation.\nfull: Full-fidelity feed; contains all spreadsheet data including formulas. Full read/write access.\nvalues:\tFeed includes all data except for formulas. Formulas are replaced with their evaluations. Includes Data API extension elements.\tRead-only access.\nbasic: Feed includes all data except for formulas. Formulas are replaced with their evaluations. This feed uses only Atom elements, leaving out all Data API extension elements. Read-only access.\nNote: All combinations of visibility and projection are valid except for public/full.",
            "enum": [
              "full",
              "values",
              "basic"
            ]
          },
          {
            "name": "key",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Specifies spreadsheet ID."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "GData-Version",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "3.0",
              "description": "Specifies a version number."
            }
          ],
          "description": "Retrieves the only the entry for the spreadsheet associated with the provided key.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/apis/spreadsheets/data/3.0/developers_guide.html#ListingSpreadsheets"
          }
        }
      },
      "/worksheets/{key}/{visibility}/{projection} ": {
        "parameters": [
          {
            "name": "visibility",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "private",
            "description": "private: For use whenever you can authenticate the request. Read/write access if the authenticated user has edit privileges; otherwise, read-only.",
            "enum": [
              "private"
            ]
          },
          {
            "name": "key",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Specifies spreadsheet ID."
          },
          {
            "name": "projection",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Indicates what information is included in the representation.\nfull: Full-fidelity feed; contains all spreadsheet data including formulas. Full read/write access.\nvalues:\tFeed includes all data except for formulas. Formulas are replaced with their evaluations. Includes Data API extension elements.\tRead-only access.\nbasic: Feed includes all data except for formulas. Formulas are replaced with their evaluations. This feed uses only Atom elements, leaving out all Data API extension elements. Read-only access.\nNote: All combinations of visibility and projection are valid except for public/full.",
            "enum": [
              "full",
              "values",
              "basic"
            ]
          },
          {
            "name": "alt",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Alternative representation type.\natom: If you don't specify an alt parameter, the service returns an Atom feed.\nrss: Returns an RSS 2.0 result feed (for reads only). When you request data from a service in RSS format, the service supplies a feed (or other representation of the resource) in RSS format. If there's no equivalent RSS property for a given Data API property, the service uses the Atom property, labeling it with an appropriate namespace to indicate that it's an extension to RSS.\njson: Returns a JSON representation of the feed. More information\njson-in-script: Requests a response that wraps JSON in a script tag. More information\natom-in-script: Requests an Atom response that wraps an XML string in a script tag.\nrss-in-script: Requests an RSS response that wraps an XML string in a script tag.\natom-service: Requests an Atom service document that describes the feed.",
            "enum": [
              "atom",
              "rss",
              "json-in-script",
              "atom-in-script",
              "rss-in-script",
              "atom-service"
            ]
          },
          {
            "name": "start-index",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "1-based index of the first result to be retrieved. Note that this isn't a general cursoring mechanism. If you first send a query with ?start-index=1&max-results=10 and then send another query with ?start-index=11&max-results=10, the service cannot guarantee that the results are equivalent to ?start-index=1&max-results=20, because insertions and deletions could have taken place in between the two queries."
          },
          {
            "name": "max-results",
            "required": false,
            "in": "query",
            "type": "integer",
            "minimum": -2147483648,
            "maximum": 2147483647,
            "description": "Maximum number of results to be retrieved."
          },
          {
            "name": "title",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Specifies the search terms for the title of a document. This parameter used without title-exact will only submit partial queries, not exact queries."
          },
          {
            "name": "title-exact",
            "required": false,
            "in": "query",
            "type": "boolean",
            "description": "Specifies whether the title query should be taken as an exact string. Meaningless without title. Possible values are true and false. Note: Matches are case-insensitive."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "GData-Version",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "3.0",
              "description": "Specifies a version number."
            }
          ],
          "description": "List all the worksheets within the spreadsheet identified by the specified key.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/apis/spreadsheets/data/3.0/developers_guide.html#RetrievingWorksheetFeeds"
          }
        },
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "GData-Version",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "3.0",
              "description": "Specifies a version number."
            },
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/atom+xml",
              "description": "Specifies Content Type."
            }
          ],
          "description": "To add a worksheet to the spreadsheet.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/apis/spreadsheets/data/3.0/developers_guide.html#CreatingWorksheets"
          }
        }
      },
      "/worksheets/{key}/{visibility}/{projection}/{worksheetId}": {
        "parameters": [
          {
            "name": "visibility",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "private",
            "description": "private: For use whenever you can authenticate the request. Read/write access if the authenticated user has edit privileges; otherwise, read-only.",
            "enum": [
              "private"
            ]
          },
          {
            "name": "key",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Specifies spreadsheet ID."
          },
          {
            "name": "projection",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Indicates what information is included in the representation.\nfull: Full-fidelity feed; contains all spreadsheet data including formulas. Full read/write access.\nvalues:\tFeed includes all data except for formulas. Formulas are replaced with their evaluations. Includes Data API extension elements.\tRead-only access.\nbasic: Feed includes all data except for formulas. Formulas are replaced with their evaluations. This feed uses only Atom elements, leaving out all Data API extension elements. Read-only access.\nNote: All combinations of visibility and projection are valid except for public/full.",
            "enum": [
              "full",
              "values",
              "basic"
            ]
          },
          {
            "name": "worksheetId",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Specifies worksheet ID."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "GData-Version",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "3.0",
              "description": "Specifies a version number."
            }
          ],
          "description": "List a worksheet within the spreadsheet identified by the specified key.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/apis/spreadsheets/data/3.0/developers_guide.html#RetrievingCached"
          }
        },
        "put": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "GData-Version",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "3.0",
              "description": "Specifies a version number."
            },
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/atom+xml",
              "description": "Specifies Content Type."
            }
          ],
          "description": "Modify the title and size of a worksheet.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/apis/spreadsheets/data/3.0/developers_guide.html#UpdatingWorksheets"
          }
        }
      },
      "/worksheets/{key}/{visibility}/{projection}/{worksheetId}/{version}": {
        "parameters": [
          {
            "name": "visibility",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "private",
            "description": "private: For use whenever you can authenticate the request. Read/write access if the authenticated user has edit privileges; otherwise, read-only.",
            "enum": [
              "private"
            ]
          },
          {
            "name": "key",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Specifies spreadsheet ID."
          },
          {
            "name": "projection",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Indicates what information is included in the representation.\nfull: Full-fidelity feed; contains all spreadsheet data including formulas. Full read/write access.\nvalues:\tFeed includes all data except for formulas. Formulas are replaced with their evaluations. Includes Data API extension elements.\tRead-only access.\nbasic: Feed includes all data except for formulas. Formulas are replaced with their evaluations. This feed uses only Atom elements, leaving out all Data API extension elements. Read-only access.\nNote: All combinations of visibility and projection are valid except for public/full.",
            "enum": [
              "full",
              "values",
              "basic"
            ]
          },
          {
            "name": "worksheetId",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Specifies worksheet ID."
          },
          {
            "name": "version",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Specifies the version of worksheet."
          }
        ],
        "delete": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "GData-Version",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "3.0",
              "description": "Specifies a version number."
            }
          ],
          "description": "To delete a worksheet. If you delete a worksheet, that worksheet is completely removed from the spreadsheet and all data contained on that worksheet is discarded.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/apis/spreadsheets/data/3.0/developers_guide.html#DeletingWorksheets"
          }
        }
      },
      "/list/{key}/{worksheetId}/{visibility}/{projection}": {
        "parameters": [
          {
            "name": "visibility",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "private",
            "description": "private: For use whenever you can authenticate the request. Read/write access if the authenticated user has edit privileges; otherwise, read-only.",
            "enum": [
              "private"
            ]
          },
          {
            "name": "key",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Specifies spreadsheet ID."
          },
          {
            "name": "projection",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Indicates what information is included in the representation.\nfull: Full-fidelity feed; contains all spreadsheet data including formulas. Full read/write access.\nvalues:\tFeed includes all data except for formulas. Formulas are replaced with their evaluations. Includes Data API extension elements.\tRead-only access.\nbasic: Feed includes all data except for formulas. Formulas are replaced with their evaluations. This feed uses only Atom elements, leaving out all Data API extension elements. Read-only access.\nNote: All combinations of visibility and projection are valid except for public/full.",
            "enum": [
              "full",
              "values",
              "basic"
            ]
          },
          {
            "name": "worksheetId",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Specifies worksheet ID."
          },
          {
            "name": "alt",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Alternative representation type.\natom: If you don't specify an alt parameter, the service returns an Atom feed.\nrss: Returns an RSS 2.0 result feed (for reads only). When you request data from a service in RSS format, the service supplies a feed (or other representation of the resource) in RSS format. If there's no equivalent RSS property for a given Data API property, the service uses the Atom property, labeling it with an appropriate namespace to indicate that it's an extension to RSS.\njson: Returns a JSON representation of the feed. More information\njson-in-script: Requests a response that wraps JSON in a script tag. More information\natom-in-script: Requests an Atom response that wraps an XML string in a script tag.\nrss-in-script: Requests an RSS response that wraps an XML string in a script tag.\natom-service: Requests an Atom service document that describes the feed.",
            "enum": [
              "atom",
              "rss",
              "json-in-script",
              "atom-in-script",
              "rss-in-script",
              "atom-service"
            ]
          },
          {
            "name": "start-index",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "1-based index of the first result to be retrieved. Note that this isn't a general cursoring mechanism. If you first send a query with ?start-index=1&max-results=10 and then send another query with ?start-index=11&max-results=10, the service cannot guarantee that the results are equivalent to ?start-index=1&max-results=20, because insertions and deletions could have taken place in between the two queries."
          },
          {
            "name": "max-results",
            "required": false,
            "in": "query",
            "type": "integer",
            "minimum": -2147483648,
            "maximum": 2147483647,
            "description": "Maximum number of results to be retrieved."
          },
          {
            "name": "q",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Full-text query string. \nWhen creating a query, list search terms separated by spaces, in the form q=term1 term2 term3. (As with all of the query parameter values, the spaces must be URL encoded.) The service returns all entries that match all of the search terms (like using AND between terms). Like Google's web search, a service searches on complete words (and related words with the same stem), not substrings.\nTo search for an exact phrase, enclose the phrase in quotation marks: q=\"exact phrase\".\nTo exclude entries that match a given term, use the form q=-term.\nThe search is case-insensitive."
          },
          {
            "name": "orderby",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Specifies what column to use in ordering the entries in the feed.\n- By position (the default): orderby=position returns rows in the order in which they appear in the GUI. Row 1, then row 2, then row 3, and so on.\n- By column: orderby=column:columnName sorts rows in ascending order based on the values in the column with the given columnName, where columnName is the value in the header row for that column."
          },
          {
            "name": "reverse",
            "required": false,
            "in": "query",
            "type": "boolean",
            "default": false,
            "description": "Specifies whether to sort in descending or ascending order. Reverses default sort order: reverse=true results in a descending sort; reverse=false (the default) results in an ascending sort."
          },
          {
            "name": "sq",
            "required": false,
            "in": "query",
            "type": "boolean",
            "description": "Structured query on the full text in the worksheet. \n[columnName][binaryOperator][value]\nSupported binaryOperators are:\n          o () for overriding order of operations\n          o = or == for strict equality\n          o <> or != for strict inequality\n          o and or && for boolean and\n          o or or || for boolean or\nNote that the binaryOperators need to be URL-encoded. \nExample: https://spreadsheets.google.com/feeds/list/key/worksheetId/private/full?sq=ipm<4%20and%20hours>40"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "GData-Version",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "3.0",
              "description": "Specifies a version number."
            }
          ],
          "description": "Retrieving a list-based feed.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/apis/spreadsheets/data/3.0/developers_guide.html#RetrievingListFeeds"
          }
        },
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "GData-Version",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "3.0",
              "description": "Specifies a version number."
            },
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/atom+xml",
              "description": "Specifies Content Type."
            }
          ],
          "description": "To add a row to the worksheet.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/apis/spreadsheets/data/3.0/developers_guide.html#CreatingListRows"
          }
        }
      },
      "/list/{key}/{worksheetId}/{visibility}/{projection}/{rowId}": {
        "parameters": [
          {
            "name": "visibility",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "private",
            "description": "private: For use whenever you can authenticate the request. Read/write access if the authenticated user has edit privileges; otherwise, read-only.",
            "enum": [
              "private"
            ]
          },
          {
            "name": "key",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Specifies spreadsheet ID."
          },
          {
            "name": "projection",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Indicates what information is included in the representation.\nfull: Full-fidelity feed; contains all spreadsheet data including formulas. Full read/write access.\nvalues:\tFeed includes all data except for formulas. Formulas are replaced with their evaluations. Includes Data API extension elements.\tRead-only access.\nbasic: Feed includes all data except for formulas. Formulas are replaced with their evaluations. This feed uses only Atom elements, leaving out all Data API extension elements. Read-only access.\nNote: All combinations of visibility and projection are valid except for public/full.",
            "enum": [
              "full",
              "values",
              "basic"
            ]
          },
          {
            "name": "worksheetId",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Specifies worksheet ID."
          },
          {
            "name": "rowId",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Specifies row ID."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "GData-Version",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "3.0",
              "description": "Specifies a version number."
            }
          ],
          "description": "Retrieving a list-based feed where the feed is limited to specific row.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/apis/spreadsheets/data/3.0/reference.html#ListFeed"
          }
        },
        "put": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "GData-Version",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "3.0",
              "description": "Specifies a version number."
            },
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/atom+xml",
              "description": "Specifies Content Type."
            }
          ],
          "description": "To update the contents of an existing row.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/apis/spreadsheets/data/3.0/developers_guide.html#UpdatingListRows"
          }
        },
        "delete": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "GData-Version",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "3.0",
              "description": "Specifies a version number."
            }
          ],
          "description": "To delete a row. If you delete a row, that row is completely removed from the worksheet.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/apis/spreadsheets/data/3.0/developers_guide.html#DeletingListRows"
          }
        }
      },
      "/cells/{key}/{worksheetId}/{visibility}/{projection}": {
        "parameters": [
          {
            "name": "visibility",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "private",
            "description": "private: For use whenever you can authenticate the request. Read/write access if the authenticated user has edit privileges; otherwise, read-only.",
            "enum": [
              "private"
            ]
          },
          {
            "name": "key",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Specifies spreadsheet ID."
          },
          {
            "name": "projection",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Indicates what information is included in the representation.\nfull: Full-fidelity feed; contains all spreadsheet data including formulas. Full read/write access.\nvalues:\tFeed includes all data except for formulas. Formulas are replaced with their evaluations. Includes Data API extension elements.\tRead-only access.\nbasic: Feed includes all data except for formulas. Formulas are replaced with their evaluations. This feed uses only Atom elements, leaving out all Data API extension elements. Read-only access.\nNote: All combinations of visibility and projection are valid except for public/full.",
            "enum": [
              "full",
              "values",
              "basic"
            ]
          },
          {
            "name": "worksheetId",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Specifies worksheet ID."
          },
          {
            "name": "alt",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Alternative representation type.\natom: If you don't specify an alt parameter, the service returns an Atom feed.\nrss: Returns an RSS 2.0 result feed (for reads only). When you request data from a service in RSS format, the service supplies a feed (or other representation of the resource) in RSS format. If there's no equivalent RSS property for a given Data API property, the service uses the Atom property, labeling it with an appropriate namespace to indicate that it's an extension to RSS.\njson: Returns a JSON representation of the feed. More information\njson-in-script: Requests a response that wraps JSON in a script tag. More information\natom-in-script: Requests an Atom response that wraps an XML string in a script tag.\nrss-in-script: Requests an RSS response that wraps an XML string in a script tag.\natom-service: Requests an Atom service document that describes the feed.",
            "enum": [
              "atom",
              "rss",
              "json-in-script",
              "atom-in-script",
              "rss-in-script",
              "atom-service"
            ]
          },
          {
            "name": "start-index",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "1-based index of the first result to be retrieved. Note that this isn't a general cursoring mechanism. If you first send a query with ?start-index=1&max-results=10 and then send another query with ?start-index=11&max-results=10, the service cannot guarantee that the results are equivalent to ?start-index=1&max-results=20, because insertions and deletions could have taken place in between the two queries."
          },
          {
            "name": "max-results",
            "required": false,
            "in": "query",
            "type": "integer",
            "minimum": -2147483648,
            "maximum": 2147483647,
            "description": "Maximum number of results to be retrieved."
          },
          {
            "name": "q",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Full-text query string. \nWhen creating a query, list search terms separated by spaces, in the form q=term1 term2 term3. (As with all of the query parameter values, the spaces must be URL encoded.) The service returns all entries that match all of the search terms (like using AND between terms). Like Google's web search, a service searches on complete words (and related words with the same stem), not substrings.\nTo search for an exact phrase, enclose the phrase in quotation marks: q=\"exact phrase\".\nTo exclude entries that match a given term, use the form q=-term.\nThe search is case-insensitive."
          },
          {
            "name": "min-row",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Positional number of minimum row returned in query. Queries indicate an inclusive range."
          },
          {
            "name": "max-row",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Positional number of maximum row returned in query. Queries indicate an inclusive range."
          },
          {
            "name": "min-col",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Positional number of minimum column returned in query. Queries indicate an inclusive range."
          },
          {
            "name": "max-col",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Positional number of maximum column returned in query. Queries indicate an inclusive range."
          },
          {
            "name": "range",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "A single cell or a range of cells.\nUse standard spreadsheet cell-range notations, using a colon to separate start and end of range. Examples:\n   range=A1 and range=R1C1 both specify only cell A1.\n   range=D1:F3 and range=R1C4:R3C6 both specify the rectangle of cells with corners at D1 and F3."
          },
          {
            "name": "return-empty",
            "required": false,
            "in": "query",
            "type": "boolean",
            "description": "If true then empty cells will be returned in the feed. The default is false."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "GData-Version",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "3.0",
              "description": "Specifies a version number."
            }
          ],
          "description": "To retrieve cell-based feed",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/apis/spreadsheets/data/3.0/developers_guide.html#RetrievingCellFeeds"
          }
        }
      },
      "/cells/{key}/{worksheetId}/{visibility}/{projection}/{cellId}": {
        "parameters": [
          {
            "name": "visibility",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "private",
            "description": "private: For use whenever you can authenticate the request. Read/write access if the authenticated user has edit privileges; otherwise, read-only.",
            "enum": [
              "private"
            ]
          },
          {
            "name": "key",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Specifies spreadsheet ID."
          },
          {
            "name": "projection",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Indicates what information is included in the representation.\nfull: Full-fidelity feed; contains all spreadsheet data including formulas. Full read/write access.\nvalues:\tFeed includes all data except for formulas. Formulas are replaced with their evaluations. Includes Data API extension elements.\tRead-only access.\nbasic: Feed includes all data except for formulas. Formulas are replaced with their evaluations. This feed uses only Atom elements, leaving out all Data API extension elements. Read-only access.\nNote: All combinations of visibility and projection are valid except for public/full.",
            "enum": [
              "full",
              "values",
              "basic"
            ]
          },
          {
            "name": "worksheetId",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Specifies worksheet ID."
          },
          {
            "name": "cellId",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Specifies cell ID."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "GData-Version",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "3.0",
              "description": "Specifies a version number."
            }
          ],
          "description": "Retrieves the entry for the indicated cell.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/apis/spreadsheets/data/3.0/reference.html#CellFeed"
          }
        },
        "put": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "GData-Version",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "3.0",
              "description": "Specifies a version number."
            },
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/atom+xml",
              "description": "Specifies Content Type."
            }
          ],
          "description": "To clear a cell.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/apis/spreadsheets/data/3.0/developers_guide.html#UpdatingCells"
          }
        }
      },
      "/cells/{key}/{worksheetId}/{visibility}/{projection}/batch": {
        "parameters": [
          {
            "name": "visibility",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "private",
            "description": "private: For use whenever you can authenticate the request. Read/write access if the authenticated user has edit privileges; otherwise, read-only.",
            "enum": [
              "private"
            ]
          },
          {
            "name": "key",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Specifies spreadsheet ID."
          },
          {
            "name": "projection",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Indicates what information is included in the representation.\nfull: Full-fidelity feed; contains all spreadsheet data including formulas. Full read/write access.\nvalues:\tFeed includes all data except for formulas. Formulas are replaced with their evaluations. Includes Data API extension elements.\tRead-only access.\nbasic: Feed includes all data except for formulas. Formulas are replaced with their evaluations. This feed uses only Atom elements, leaving out all Data API extension elements. Read-only access.\nNote: All combinations of visibility and projection are valid except for public/full.",
            "enum": [
              "full",
              "values",
              "basic"
            ]
          },
          {
            "name": "worksheetId",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Specifies worksheet ID."
          }
        ],
        "put": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "GData-Version",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "3.0",
              "description": "Specifies a version number."
            },
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/atom+xml",
              "description": "Specifies Content Type."
            }
          ],
          "description": "To update an entire column, row, or other set of cells.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/apis/spreadsheets/data/3.0/developers_guide.html#SendingBatchRequests"
          }
        }
      }
    },
    "info": {
      "title": "Google Spreadsheets",
      "description": "Manage and search Spreadsheet worksheets, cells and lists."
    }
  },
  "public": true
}