{
  "type": "api",
  "key": "apigee:twitter",
  "info": {
    "title": "Twitter",
    "description": "Access user data, geo, statuses and more with Twitter's REST API."
  },
  "swagger": {
    "swagger": "2.0",
    "host": "api.twitter.com",
    "basePath": "/1.1",
    "schemes": [
      "https"
    ],
    "paths": {
      "/statuses/mentions_timeline.json": {
        "parameters": [
          {
            "name": "count",
            "required": false,
            "in": "query",
            "type": "integer",
            "description": "Specifies the number of tweets to try and retrieve, up to a maximum of 200. The value of count is\n                    best thought of as a limit to the number of tweets to return because suspended or deleted content is\n                    removed after the count has been applied. We include retweets in the count, even if include_rts is\n                    not supplied. It is recommended you always send include_rts=1 when using this API method."
          },
          {
            "name": "since_id",
            "required": false,
            "in": "query",
            "type": "integer",
            "minimum": -9223372036854776000,
            "maximum": 9223372036854776000,
            "description": "Returns results with an ID greater than (that is, more recent than) the specified ID. There are\n                    limits to the number of Tweets which can be accessed through the API. If the limit of Tweets has\n                    occured since the since_id, the since_id will be forced to the oldest ID available."
          },
          {
            "name": "max_id",
            "required": false,
            "in": "query",
            "type": "integer",
            "minimum": -9223372036854776000,
            "maximum": 9223372036854776000,
            "description": "Returns results with an ID less than (that is, older than) or equal to the specified ID."
          },
          {
            "name": "trim_user",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "When set to either true, t or 1, each tweet returned in a timeline will include a user object\n                    including only the status authors numerical ID. Omit this parameter to receive the complete user\n                    object."
          },
          {
            "name": "contributor_details",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "This parameter enhances the contributors element of the status response to include the screen_name\n                    of the contributor. By default only the user_id of the contributor is included."
          },
          {
            "name": "include_entities",
            "required": false,
            "in": "query",
            "type": "boolean",
            "description": "The entities node will be disincluded when set to false."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns the 20\n                    most recent mentions (tweets containing a users's @screen_name) for the authenticating user.The\n                    timeline returned is the equivalent of the one seen when you view your mentions on twitter.com.This\n                    method can only return up to 800 statuses.This method will include retweets in the JSON response\n                    regardless of whether the include_rts parameter is set.",
          "externalDocs": {
            "url": "https://dev.twitter.com/docs/api/1.1/get/statuses/mentions_timeline"
          }
        }
      },
      "/statuses/user_timeline.json": {
        "parameters": [
          {
            "name": "count",
            "required": false,
            "in": "query",
            "type": "integer",
            "description": "Specifies the number of tweets to try and retrieve, up to a maximum of 200. The value of count is\n                    best thought of as a limit to the number of tweets to return because suspended or deleted content is\n                    removed after the count has been applied. We include retweets in the count, even if include_rts is\n                    not supplied. It is recommended you always send include_rts=1 when using this API method."
          },
          {
            "name": "since_id",
            "required": false,
            "in": "query",
            "type": "integer",
            "minimum": -9223372036854776000,
            "maximum": 9223372036854776000,
            "description": "Returns results with an ID greater than (that is, more recent than) the specified ID. There are\n                    limits to the number of Tweets which can be accessed through the API. If the limit of Tweets has\n                    occured since the since_id, the since_id will be forced to the oldest ID available."
          },
          {
            "name": "max_id",
            "required": false,
            "in": "query",
            "type": "integer",
            "minimum": -9223372036854776000,
            "maximum": 9223372036854776000,
            "description": "Returns results with an ID less than (that is, older than) or equal to the specified ID."
          },
          {
            "name": "trim_user",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "When set to either true, t or 1, each tweet returned in a timeline will include a user object\n                    including only the status authors numerical ID. Omit this parameter to receive the complete user\n                    object."
          },
          {
            "name": "exclude_replies",
            "required": false,
            "in": "query",
            "type": "boolean",
            "description": "This parameter will prevent replies from appearing in the returned timeline. Using exclude_replies\n                    with the count parameter will mean you will receive up-to count tweets — this is because the count\n                    parameter retrieves that many tweets before filtering out retweets and replies. This parameter is\n                    only supported for JSON and XML responses."
          },
          {
            "name": "contributor_details",
            "required": false,
            "in": "query",
            "type": "boolean",
            "description": "This parameter enhances the contributors element of the status response to include the screen_name\n                    of the contributor. By default only the user_id of the contributor is included."
          },
          {
            "name": "include_rts",
            "required": false,
            "in": "query",
            "type": "boolean",
            "description": "When set to false, the timeline will strip any native retweets (though they will still count toward\n                    both the maximal length of the timeline and the slice selected by the count parameter). Note: If\n                    you're using the trim_user parameter in conjunction with include_rts, the retweets will still\n                    contain a full user object."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns the 20 most\n                    recent statuses posted by the authenticating user. It is also possible to request another user's\n                    timeline by using the screen_name or user_id parameter. The other users timeline will only be\n                    visible if they are not protected, or if the authenticating user's follow request was accepted by\n                    the protected user. The timeline returned is the equivalent of the one seen when you view a user's\n                    profile on twitter.com. This method can only return up to 3,200 of a user's most recent statuses.\n                    Native retweets of other statuses by the user is included in this total, regardless of whether\n                    include_rts is specified when requesting this resource. This method will not include retweets in the\n                    XML and JSON responses unless the include_rts parameter is set. The RSS and Atom responses will\n                    always include retweets as statuses prefixed with RT, regardless of provided parameters. Always\n                    specify either an user_id or screen_name when requesting a user timeline.",
          "externalDocs": {
            "url": "https://dev.twitter.com/docs/api/1.1/get/statuses/user_timeline"
          }
        }
      },
      "/statuses/home_timeline.json": {
        "parameters": [
          {
            "name": "count",
            "required": false,
            "in": "query",
            "type": "integer",
            "description": "Specifies the number of records to retrieve. Must be less than or equal to 200."
          },
          {
            "name": "max_id",
            "required": false,
            "in": "query",
            "type": "integer",
            "minimum": -9223372036854776000,
            "maximum": 9223372036854776000,
            "description": "Returns results with an ID less than (that is, older than) or equal to the specified ID."
          },
          {
            "name": "since_id",
            "required": false,
            "in": "query",
            "type": "integer",
            "minimum": -9223372036854776000,
            "maximum": 9223372036854776000,
            "description": "Returns results with an ID greater than (that is, more recent than) the specified ID. There are\n                    limits to the number of Tweets which can be accessed through the API. If the limit of Tweets has\n                    occured since the since_id, the since_id will be forced to the oldest ID available."
          },
          {
            "name": "trim_user",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "When set to either true, t or 1, each tweet returned in a timeline will include a user object\n                    including only the status authors numerical ID. Omit this parameter to receive the complete user\n                    object."
          },
          {
            "name": "exclude_replies",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "This parameter will prevent replies from appearing in the returned timeline. Using exclude_replies\n                    with the count parameter will mean you will receive up-to count tweets — this is because the count\n                    parameter retrieves that many tweets before filtering out retweets and replies."
          },
          {
            "name": "contributor_details",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "This parameter enhances the contributors element of the status response to include the screen_name\n                    of the contributor. By default only the user_id of the contributor is included."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns a collection\n                    of the most recent Tweets and retweets posted by the authenticating user and the users they follow.\n                    The home timeline is central to how most users interact with the Twitter service.\n\n                    Up to 800 Tweets are obtainable on the home timeline. It is more volatile for users that follow many\n                    users or follow users who tweet frequently.",
          "externalDocs": {
            "url": "https://dev.twitter.com/docs/api/1.1/get/statuses/home_timeline"
          }
        }
      },
      "/statuses/retweets/{id}.json": {
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The numerical ID of the desired status."
          },
          {
            "name": "count",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Specifies the number of records to retrieve. Must be less than or equal to 100."
          },
          {
            "name": "trim_user",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "When set to either true, t or 1, each tweet returned in a timeline will include a user object\n                    including only the status authors numerical ID. Omit this parameter to receive the complete user\n                    object."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns up to 100 of\n                    the\n                    first retweets of a given tweet.",
          "externalDocs": {
            "url": "https://dev.twitter.com/docs/api/1.1/get/statuses/retweets/:id"
          }
        }
      },
      "/statuses/show/{id}.json": {
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "The numerical ID of the desired status."
          },
          {
            "name": "trim_user",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "When set to either true, t or 1, each tweet returned in a timeline will include a user object\n                    including only the status authors numerical ID. Omit this parameter to receive the complete user\n                    object."
          },
          {
            "name": "include_my_retweet",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "When set to either true, t or 1, any Tweets returned that have been retweeted by the authenticating\n                    user will include an additional current_user_retweet node, containing the ID of the source status\n                    for the retweet."
          },
          {
            "name": "include_entities",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "The entities node will be disincluded when set to false."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns a single status,\n                    specified by the id parameter below. The status's author will be returned inline.",
          "externalDocs": {
            "url": "https://dev.twitter.com/docs/api/1.1/get/statuses/show/:id"
          }
        }
      },
      "/statuses/destroy/{id}.json": {
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The numerical ID of the desired status."
          },
          {
            "name": "trim_user",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "When set to either true, t or 1, each tweet returned in a timeline will include a user object\n                    including only the status authors numerical ID. Omit this parameter to receive the complete user\n                    object."
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Destroys the status\n                    specified by the required ID parameter. The authenticating user must be the author of the specified\n                    status. Returns the destroyed status if successful.",
          "externalDocs": {
            "url": "https://dev.twitter.com/docs/api/1.1/post/statuses/destroy/:id"
          }
        }
      },
      "/statuses/update.json": {
        "parameters": [
          {
            "name": "status",
            "required": true,
            "in": "query",
            "type": "string",
            "default": "Posting from @apigee's API test console. It's like a command line for the Twitter API! #apitools",
            "description": "The text of your status update, typically up to 140 characters. URL encode as necessary. t.co link\n                    short-url wrapping (https://dev.twitter.com/docs/tco-link-wrapper/faq) may effect character counts."
          },
          {
            "name": "in_reply_to_status_id",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "The ID of an existing status that the update is in reply to. Note: This parameter will be ignored\n                    unless the author of the tweet this parameter references is mentioned within the status text.\n                    Therefore, you must include @username, where username is the author of the referenced tweet, within\n                    the update."
          },
          {
            "name": "lat",
            "required": false,
            "in": "query",
            "type": "string",
            "default": "37.426363",
            "description": "The latitude of the location this tweet refers to. This parameter will be ignored unless it is\n                    inside the range -90.0 to +90.0 (North is positive) inclusive. It will also be ignored if there\n                    isn't a corresponding long parameter."
          },
          {
            "name": "long",
            "required": false,
            "in": "query",
            "type": "string",
            "default": "-122.141114",
            "description": "The longitude of the location this tweet refers to. The valid ranges for longitude is -180.0 to\n                    +180.0 (East is positive) inclusive. This parameter will be ignored if outside that range, if it is\n                    not a number, if geo_enabled is disabled, or if there not a corresponding lat parameter."
          },
          {
            "name": "place_id",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "A place in the world. These IDs can be retrieved from GET geo/reverse_geocode\n                    (https://dev.twitter.com/docs/api/1/get/geo/reverse_geocode)."
          },
          {
            "name": "display_coordinates",
            "required": false,
            "in": "query",
            "type": "string",
            "default": "false",
            "description": "Whether or not to put a pin on the exact coordinates a tweet has been sent from.",
            "enum": [
              "false",
              "true",
              ""
            ]
          },
          {
            "name": "trim_user",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "When set to either true, t or 1, each tweet returned in a timeline will include a user object\n                    including only the status authors numerical ID. Omit this parameter to receive the complete user\n                    object."
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Updates the authenticating\n                    user's status, also known as tweeting. To upload an image to accompany the tweet, use POST\n                    statuses/update_with_media (https://dev.twitter.com/docs/api/1/post/statuses/update_with_media). For\n                    each update attempt, the update text is compared with the authenticating user's recent tweets. Any\n                    attempt that would result in duplication will be blocked, resulting in a 403 error. Therefore, a\n                    user cannot submit the same status twice in a row. While not rate limited by the API a user is\n                    limited in the number of tweets they can create at a time. If the number of updates posted by the\n                    user reaches the current allowed limit this method will return an HTTP 403 error.",
          "externalDocs": {
            "url": "https://dev.twitter.com/docs/api/1.1/post/statuses/update"
          }
        }
      },
      "/statuses/retweet/{id}.json": {
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The numerical ID of the desired status."
          },
          {
            "name": "trim_user",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "When set to either true, t or 1, each tweet returned in a timeline will include a user object\n                    including only the status authors numerical ID. Omit this parameter to receive the complete user\n                    object."
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Retweets a tweet.\n                    Returns\n                    the original tweet with retweet details embedded.",
          "externalDocs": {
            "url": "https://dev.twitter.com/docs/api/1.1/post/statuses/retweet/:id"
          }
        }
      },
      "/statuses/update_with_media.json": {
        "parameters": [
          {
            "name": "status",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "The text of your status update. URL encode as necessary. t.co link wrapping\n                    (https://dev.twitter.com/docs/tco-link-wrapper/faq) may affect character counts if the post contains\n                    URLs. You must additionally account for the characters_reserved_per_media per uploaded media,\n                    additionally accounting for space characters in between finalized URLs. Note: Request the GET\n                    help/configuration (https://dev.twitter.com/docs/api/1.1/get/help/configuration) endpoint to get the\n                    current characters_reserved_per_media and max_media_per_upload values."
          },
          {
            "name": "media",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "Up to max_media_per_upload files may be specified in the request, each named media[]. Supported\n                    image formats are PNG, JPG and GIF. Animated GIFs are not supported. Note: Request the GET\n                    help/configuration (https://dev.twitter.com/docs/api/1.1/get/help/configuration) endpoint to get the\n                    current max_media_per_upload and photo_size_limit values."
          },
          {
            "name": "possibly_sensitive",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Set to true for content which may not be suitable for every audience."
          },
          {
            "name": "in_reply_to_status_id",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "The ID of an existing status that the update is in reply to. Note: This parameter will be ignored\n                    unless the author of the tweet this parameter references is mentioned within the status text.\n                    Therefore, you must include @username, where username is the author of the referenced tweet, within\n                    the update."
          },
          {
            "name": "lat",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "The latitude of the location this tweet refers to. This parameter will be ignored unless it is\n                    inside the range -90.0 to +90.0 (North is positive) inclusive. It will also be ignored if there\n                    isn't a corresponding long parameter. Example value: 37.7821120598956."
          },
          {
            "name": "long",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "The longitude of the location this tweet refers to. The valid ranges for longitude is -180.0 to\n                    +180.0 (East is positive) inclusive. This parameter will be ignored if outside that range, not a\n                    number, geo_enabled is disabled, or if there not a corresponding lat parameter. Example value:\n                    -122.400612831116."
          },
          {
            "name": "place_id",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "A place in the world identified by a Twitter place ID. Place IDs can be retrieved from\n                    geo/reverse_geocode."
          },
          {
            "name": "display_coordinates",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Whether or not to put a pin on the exact coordinates a tweet has been sent from."
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "multipart/form-data",
              "description": "Content type."
            }
          ],
          "description": "Updates the\n                    authenticating user's status and attaches media for upload. Unlike POST statuses/update\n                    (https://dev.twitter.com/docs/api/1.1/post/statuses/update), this method expects raw multipart data.\n                    Your POST request's Content-Type should be set to multipart/form-data with the media[] parameter.\n                    The Tweet text will be rewritten to include the media URL(s), which will reduce the number of\n                    characters allowed in the Tweet text. If the URL(s) cannot be appended without text truncation, the\n                    tweet will be rejected and this method will return an HTTP 403 error. Important: Make sure that\n                    you're using upload.twitter.com as your host while posting statuses with media. It is strongly\n                    recommended to use SSL with this method.",
          "externalDocs": {
            "url": "https://dev.twitter.com/docs/api/1.1/post/statuses/update_with_media"
          }
        }
      },
      "/statuses/oembed.json": {
        "parameters": [
          {
            "name": "maxwidth",
            "required": false,
            "in": "query",
            "type": "integer",
            "description": "The maximum width in pixels that the embed should be rendered at. This value is constrained to be\n                    between 250 and 550 pixels. Note that Twitter does not support the oEmbed maxheight parameter.\n                    Tweets are fundamentally text, and are therefore of unpredictable height that cannot be scaled like\n                    an image or video. Relatedly, the oEmbed response will not provide a value for height.\n                    Implementations that need consistent heights for Tweets should refer to the hide_thread and\n                    hide_media parameters below."
          },
          {
            "name": "hide_media",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Specifies whether the embedded Tweet should automatically expand images which were uploaded via\n                    POST statuses/update_with_media. When set to either true, t or\n                    1 images will not be expanded. Defaults to false."
          },
          {
            "name": "hide_thread",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Specifies whether the embedded Tweet should automatically show the original message in the case\n                    that the embedded Tweet is a reply. When set to either true, t or 1 the original Tweet will not be\n                    shown. Defaults to false."
          },
          {
            "name": "omit_script",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Specifies whether the embedded Tweet HTML should include a\n                    'script' element pointing to widgets.js. In cases where a page already includes widgets.js, setting\n                    this\n                    value to true will prevent a redundant script element from being included. When set to either true,\n                    t or 1 the 'script'element will not be included in the embed HTML, meaning that pages must include a\n                    reference to\n                    widgets.js manually. Defaults to false."
          },
          {
            "name": "align",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Specifies whether the embedded Tweet should be left aligned, right aligned, or centered in the\n                    page. Valid values are left, right, center, and none. Defaults to none, meaning no alignment styles\n                    are specified for the Tweet.",
            "enum": [
              "left",
              "right",
              "center",
              "none"
            ]
          },
          {
            "name": "related",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "A value for the TWT related parameter, as described in Web Intents\n                    (https://dev.twitter.com/docs/intents). This value will be forwarded to all Web Intents calls.\n                    Example values: twitterapi, twittermedia, twitter."
          },
          {
            "name": "lang",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Language code for the rendered embed. This will affect the text and localization of the rendered\n                    HTML. Example value: fr"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns information allowing\n                    the creation of an embedded representation of a Tweet on third party sites. See the oEmbed\n                    specification (http://oembed.com) for information about the response format. Either the id or url\n                    parameters must be specified in a request, it is not necessary to include both. While this endpoint\n                    allows a bit of customization for the final appearance of the embedded Tweet, be aware that the\n                    appearance of the rendered Tweet may change over time to be consistent with Twitter's Display\n                    Guidelines (https://dev.twitter.com/terms/display-guidelines). Do not rely on any class or id\n                    parameters to stay constant in the returned markup.",
          "externalDocs": {
            "url": "https://dev.twitter.com/docs/api/1.1/get/statuses/oembed"
          }
        }
      },
      "/search/tweets.json": {
        "parameters": [
          {
            "name": "q",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "A UTF-8, URL-encoded search query of 1,000 characters maximum, including operators. Queries may\n                    additionally be limited by complexity.Example: @noradio."
          },
          {
            "name": "geocode",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Returns tweets by users located within a given radius of the given latitude/longitude. The location\n                    is preferentially taking from the Geotagging API, but will fall back to their Twitter profile. The\n                    parameter value is specified by \"latitude,longitude,radius\", where radius units must be specified as\n                    either \"mi\" (miles) or \"km\" (kilometers). Note that you cannot use the near operator via the API to\n                    geocode arbitrary locations; however you can use this geocode parameter to search near geocodes\n                    directly. A maximum of 1,000 distinct \"sub-regions\" will be considered when using the radius\n                    modifier."
          },
          {
            "name": "lang",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Restricts tweets to the given language, given by an ISO 639-1 code. Language detection is\n                    best-effort.Example Values: eu"
          },
          {
            "name": "locale",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Specify the language of the query you are sending (only ja is currently effective). This is\n                    intended for language-specific consumers and the default should work in the majority of\n                    cases.Example Values: ja"
          },
          {
            "name": "result_type",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Optional. Specifies what type of search results you would prefer to receive. The current default is\n                    \"mixed.\" Valid values include:\n                    * mixed: Include both popular and real time results in the response.\n                    * recent: return only the most recent results in the response\n                    * popular: return only the most popular results in the response. Example Values: mixed, recent,\n                    popular"
          },
          {
            "name": "count",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "The number of tweets to return per page, up to a maximum of 100. Defaults to 15. This was formerly\n                    the \"rpp\" parameter in the old Search API. Example Values: 100"
          },
          {
            "name": "until",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Returns tweets generated before the given date. Date should be formatted as YYYY-MM-DD. Keep in\n                    mind that the search index may not go back as far as the date you specify here. Example Values:\n                    2012-09-01"
          },
          {
            "name": "since_id",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Returns results with an ID greater than (that is, more recent than) the specified ID. There are\n                    limits to the number of Tweets which can be accessed through the API. If the limit of Tweets has\n                    occured since the since_id, the since_id will be forced to the oldest ID available. Example Values:\n                    12345"
          },
          {
            "name": "since_id",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Returns results with an ID greater than (that is, more recent than) the specified ID. There are\n                    limits to the number of Tweets which can be accessed through the API. If the limit of Tweets has\n                    occured since the since_id, the since_id will be forced to the oldest ID available. Example Values:\n                    12345"
          },
          {
            "name": "max_id",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Returns results with an ID less than (that is, older than) or equal to the specified ID. Example\n                    Values: 12345"
          },
          {
            "name": "include_entities",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "The entities node will be disincluded when set to false. Example Values: false"
          },
          {
            "name": "callback",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "If supplied, the response will use the JSONP format with a callback of the given name. The\n                    usefulness of this parameter is somewhat diminished by the requirement of authentication for\n                    requests to this endpoint. Example Values: processTweets"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns a collection of\n                    relevant Tweets matching a specified query.\n\n                    Please note that Twitter's search service and, by extension, the Search API is not meant to be an\n                    exhaustive source of Tweets. Not all Tweets will be indexed or made available via the search\n                    interface.\n\n                    In API v1.1, the response format of the Search API has been improved to return Tweet objects more\n                    similar to the objects you'll find across the REST API and platform. You may need to tolerate some\n                    inconsistencies and variance in perspectival values (fields that pertain to the perspective of the\n                    authenticating user) and embedded user objects.",
          "externalDocs": {
            "url": "https://dev.twitter.com/docs/api/1.1/get/search/tweets"
          }
        }
      },
      "/help/configuration.json": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns the current\n                    configuration used by Twitter including twitter.com slugs which are not usernames, maximum photo\n                    resolutions, and t.co URL lengths.\n\n                    It is recommended applications request this endpoint when they are loaded, but no more than once a\n                    day.",
          "externalDocs": {
            "url": "https://dev.twitter.com/docs/api/1.1/get/help/configuration"
          }
        }
      },
      "/help/languages.json": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns the list of languages\n                    supported by Twitter along with their ISO 639-1 code. The ISO 639-1 code is the two letter value to\n                    use if you include lang with any of your requests.",
          "externalDocs": {
            "url": "https://dev.twitter.com/docs/api/1.1/get/help/languages"
          }
        }
      },
      "/help/privacy.json": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns Twitter's Privacy Policy",
          "externalDocs": {
            "url": "https://dev.twitter.com/docs/api/1.1/get/help/privacy"
          }
        }
      },
      "/help/tos.json": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns the Twitter Terms of Service\n                    in the requested format. These are not the same as the Developer Rules of the Road.",
          "externalDocs": {
            "url": "https://dev.twitter.com/docs/api/1.1/get/help/tos"
          }
        }
      },
      "/application/rate_limit_status.json": {
        "parameters": [
          {
            "name": "resources",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "A comma-separated list of resource families you want to know the current rate limit disposition\n                    for. For best performance, only specify the resource families pertinent to your application.Example\n                    Values: statuses,friends,trends,help"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns the\n                    current rate limits for\n                    methods belonging to the specified resource families.\n\n                    Each 1.1 API resource belongs to a \"resource family\" which is indicated in its method documentation.\n                    You can typically determine a method's resource family from the first component of the path after\n                    the resource version.\n\n                    This method responds with a map of methods belonging to the families specified by the resources\n                    parameter, the current remaining uses for each of those resources within the current rate limiting\n                    window, and its expiration time in epoch time. It also includes a rate_limit_context field that\n                    indicates the current access token context.\n\n                    You may also issue requests to this method without any parameters to receive a map of all rate\n                    limited GET methods. If your application only uses a few of methods, please explicitly provide a\n                    resources parameter with the specified resource families you work with.",
          "externalDocs": {
            "url": "https://dev.twitter.com/docs/api/1.1/get/application/rate_limit_status"
          }
        }
      },
      "/users/report_spam.json": {
        "parameters": [],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "The user\n                    specified in the id is blocked by the authenticated user and reported as a spammer.",
          "externalDocs": {
            "url": "https://dev.twitter.com/docs/api/1.1/post/report_spam"
          }
        }
      },
      "/trends/place.json": {
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "The Yahoo! Where On Earth ID of the location to return trending information for. Global information\n                    is available by using 1 as the WOEID."
          },
          {
            "name": "exclude",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Setting this equal to hashtags will remove all hashtags from the trends list."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns the top 10 trending\n                    topics for a specific WOEID, if trending information is available for it.\n\n                    The response is an array of \"trend\" objects that encode the name of the trending topic, the query\n                    parameter that can be used to search for the topic on Twitter Search, and the Twitter Search URL.\n\n                    This information is cached for 5 minutes. Requesting more frequently than that will not return any\n                    more data, and will count against your rate limit usage.",
          "externalDocs": {
            "url": "https://dev.twitter.com/docs/api/1.1/get/trends/place"
          }
        }
      },
      "/trends/available.json": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns the locations that\n                    Twitter has trending topic information for.\n\n                    The response is an array of \"locations\" that encode the location's WOEID and some other\n                    human-readable information such as a canonical name and country the location belongs in.\n\n                    A WOEID is a Yahoo! Where On Earth ID.",
          "externalDocs": {
            "url": "https://dev.twitter.com/docs/api/1.1/get/trends/available"
          }
        }
      },
      "/trends/closest.json": {
        "parameters": [
          {
            "name": "lat",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "If provided with a long parameter the available trend locations will be sorted by distance, nearest\n                    to furthest, to the co-ordinate pair. The valid ranges for longitude is -180.0 to +180.0 (West is\n                    negative, East is positive) inclusive.\n\n                    Example Values: 37.781157"
          },
          {
            "name": "long",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "If provided with a lat parameter the available trend locations will be sorted by distance, nearest\n                    to furthest, to the co-ordinate pair. The valid ranges for longitude is -180.0 to +180.0 (West is\n                    negative, East is positive) inclusive.\n\n                    Example Values: -122.400612831116"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns the locations that\n                    Twitter has trending topic information for, closest to a specified location.\n\n                    The response is an array of \"locations\" that encode the location's WOEID and some other\n                    human-readable information such as a canonical name and country the location belongs in.\n\n                    A WOEID is a Yahoo! Where On Earth ID.",
          "externalDocs": {
            "url": "https://dev.twitter.com/docs/api/1.1/get/trends/closest"
          }
        }
      },
      "/geo/id/{place_id}.json": {
        "parameters": [
          {
            "name": "place_id",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "A place in the world. These IDs can be retrieved from geo/reverse_geocode.\n\n                    Example Values: df51dec6f4ee2b2c"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns all the\n                    information about a known place.Example Values: df51dec6f4ee2b2c",
          "externalDocs": {
            "url": "https://dev.twitter.com/docs/api/1.1/get/geo/id/%3Aplace_id"
          }
        }
      },
      "/geo/reverse_geocode.json": {
        "parameters": [
          {
            "name": "lat",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "The latitude to search around. This parameter will be ignored unless it is inside the range -90.0\n                    to +90.0 (North is positive) inclusive. It will also be ignored if there isn't a corresponding long\n                    parameter.\n\n                    Example Values: 37.7821120598956"
          },
          {
            "name": "long",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "The longitude to search around. The valid ranges for longitude is -180.0 to +180.0 (East is\n                    positive) inclusive. This parameter will be ignored if outside that range, if it is not a number, if\n                    geo_enabled is disabled, or if there not a corresponding lat parameter.\n\n                    Example Values: -122.400612831116"
          },
          {
            "name": "accuracy",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "A hint on the \"region\" in which to search. If a number, then this is a radius in meters, but it can\n                    also take a string that is suffixed with ft to specify feet. If this is not passed in, then it is\n                    assumed to be 0m. If coming from a device, in practice, this value is whatever accuracy the device\n                    has measuring its location (whether it be coming from a GPS, WiFi triangulation, etc.).\n\n                    Example Values: 5ft"
          },
          {
            "name": "granularity",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "This is the minimal granularity of place types to return and must be one of: poi, neighborhood,\n                    city, admin or country. If no granularity is provided for the request neighborhood is assumed.\n                    Setting this to city, for example, will find places which have a type of city, admin or country.\n\n                    Example Values: city"
          },
          {
            "name": "max_results",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "A hint as to the number of results to return. This does not guarantee that the number of results\n                    returned will equal max_results, but instead informs how many \"nearby\" results to return. Ideally,\n                    only pass in the number of places you intend to display to the user here.\n\n                    Example Values: 3"
          },
          {
            "name": "callback",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "If supplied, the response will use the JSONP format with a callback of the given name."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Given a latitude and a\n                    longitude, searches for up to 20 places that can be used as a place_id when updating a status.\n\n                    This request is an informative call and will deliver generalized results about geography",
          "externalDocs": {
            "url": "https://dev.twitter.com/docs/api/1.1/get/geo/reverse_geocode"
          }
        }
      },
      "/geo/search.json": {
        "parameters": [
          {
            "name": "accuracy",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "A hint on the \"region\" in which to search. If a number, then this is a radius in meters, but it can\n                    also take a string that is suffixed with ft to specify feet. If this is not passed in, then it is\n                    assumed to be 0m. If coming from a device, in practice, this value is whatever accuracy the device\n                    has measuring its location (whether it be coming from a GPS, WiFi triangulation, etc.).\n\n                    Example Values: 5ft"
          },
          {
            "name": "granularity",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "This is the minimal granularity of place types to return and must be one of: poi, neighborhood,\n                    city, admin or country. If no granularity is provided for the request neighborhood is assumed.\n                    Setting this to city, for example, will find places which have a type of city, admin or country.\n\n                    Example Values: city"
          },
          {
            "name": "contained_within",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "This is the place_id which you would like to restrict the search results to. Setting this value\n                    means only places within the given place_id will be found.\n\n                    Specify a place_id. For example, to scope all results to places within \"San Francisco, CA USA\", you\n                    would specify a place_id of \"5a110d312052166f\"\n\n                    Example Values: 247f43d441defc03"
          },
          {
            "name": "attribute:street_address",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "This parameter searches for places which have this given street address. There are other\n                    well-known, and application specific attributes available. Custom attributes are also permitted.\n                    Learn more about Place Attributes.\n\n                    Example Values: 795%20Folsom%20St"
          },
          {
            "name": "callback",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "If supplied, the response will use the JSONP format with a callback of the given name."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Search for places that can be\n                    attached to a statuses/update. Given a latitude and a longitude pair, an IP address, or a name, this\n                    request will return a list of all the valid places that can be used as the place_id when updating a\n                    status.\n\n                    Conceptually, a query can be made from the user's location, retrieve a list of places, have the user\n                    validate the location he or she is at, and then send the ID of this location with a call to POST\n                    statuses/update.\n\n                    This is the recommended method to use find places that can be attached to statuses/update. Unlike\n                    GET geo/reverse_geocode which provides raw data access, this endpoint can potentially re-order\n                    places with regards to the user who is authenticated. This approach is also preferred for\n                    interactive place matching with the user.",
          "externalDocs": {
            "url": "https://dev.twitter.com/docs/api/1.1/get/geo/search"
          }
        }
      },
      "/geo/similar_places.json": {
        "parameters": [
          {
            "name": "contained_within",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "This is the place_id which you would like to restrict the search results to. Setting this value\n                    means only places within the given place_id will be found.\n\n                    Specify a place_id. For example, to scope all results to places within \"San Francisco, CA USA\", you\n                    would specify a place_id of \"5a110d312052166f\"\n\n                    Example Values: 247f43d441defc03"
          },
          {
            "name": "attribute:street_address",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "This parameter searches for places which have this given street address. There are other\n                    well-known, and application specific attributes available. Custom attributes are also permitted.\n                    Learn more about Place Attributes.\n\n                    Example Values: 795%20Folsom%20St"
          },
          {
            "name": "callback",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "If supplied, the response will use the JSONP format with a callback of the given name."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Locates places near the\n                    given coordinates which are similar in name.\n\n                    Conceptually you would use this method to get a list of known places to choose from first. Then, if\n                    the desired place doesn't exist, make a request to POST geo/place to create a new one.\n\n                    The token contained in the response is the token needed to be able to create a new place.",
          "externalDocs": {
            "url": "https://dev.twitter.com/docs/api/1.1/get/geo/similar_places"
          }
        }
      },
      "/geo/places.json": {
        "parameters": [
          {
            "name": "attribute:street_address",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "This parameter searches for places which have this given street address. There are other\n                    well-known, and application specific attributes available. Custom attributes are also permitted.\n                    Learn more about Place Attributes.\n\n                    Example Values: 795%20Folsom%20St"
          },
          {
            "name": "callback",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "If supplied, the response will use the JSONP format with a callback of the given name."
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Creates a new place object at the\n                    given latitude and longitude.\n\n                    Before creating a place you need to query GET geo/similar_places with the latitude, longitude and\n                    name of the place you wish to create. The query will return an array of places which are similar to\n                    the one you wish to create, and a token. If the place you wish to create isn't in the returned array\n                    you can use the token with this method to create a new one.",
          "externalDocs": {
            "url": "https://dev.twitter.com/docs/api/1.1/post/geo/place"
          }
        }
      },
      "/saved_searches/list.json": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns the authenticated\n                    user's saved search queries.",
          "externalDocs": {
            "url": "https://dev.twitter.com/docs/api/1.1/get/saved_searches/list"
          }
        }
      },
      "/saved_searches/show/{id}.json": {
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The ID of the saved search.\n\n                    Example Values: 313006"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns the\n                    authenticated user's saved search queries.",
          "externalDocs": {
            "url": "https://dev.twitter.com/docs/api/1.1/get/saved_searches/show/%3Aid"
          }
        }
      },
      "/saved_searches/create.json": {
        "parameters": [
          {
            "name": "query",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "The query of the search the user would like to save."
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Create a new saved\n                    search for the authenticated user. A user may only have 25 saved searches.",
          "externalDocs": {
            "url": "https://dev.twitter.com/docs/api/1.1/post/saved_searches/create"
          }
        }
      },
      "/saved_searches/destroy/{id}.json": {
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The ID of the saved search.\n\n                    Example Values: 313006"
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Destroys a\n                    saved\n                    search for the authenticating user. The authenticating user must be the owner of saved search id\n                    being destroyed.",
          "externalDocs": {
            "url": "https://dev.twitter.com/docs/api/1.1/post/saved_searches/destroy/%3Aid"
          }
        }
      },
      "/favorites/list.json": {
        "parameters": [
          {
            "name": "count",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Specifies the number of records to retrieve. Must be less than or equal to 200. Defaults to 20.\n\n                    Example Values: 5"
          },
          {
            "name": "since_id",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Returns results with an ID greater than (that is, more recent than) the specified ID. There are\n                    limits to the number of Tweets which can be accessed through the API. If the limit of Tweets has\n                    occured since the since_id, the since_id will be forced to the oldest ID available.\n\n                    Example Values: 12345"
          },
          {
            "name": "max_id",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Returns results with an ID less than (that is, older than) or equal to the specified ID.\n\n                    Example Values: 54321"
          },
          {
            "name": "include_entities",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "The entities node will be omitted when set to false.\n\n                    Example Values: false"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns the 20 most recent\n                    Tweets favorited by the authenticating or specified user.",
          "externalDocs": {
            "url": "https://dev.twitter.com/docs/api/1.1/get/favorites/list"
          }
        }
      },
      "/favorites/create.json": {
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "The numerical ID of the desired status.\n\n                    Example Values: 123"
          },
          {
            "name": "include_entities",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "The entities node will be omitted when set to false.\n\n                    Example Values: false"
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Favorites the status\n                    specified in the ID parameter as the authenticating user. Returns the favorite status when\n                    successful.\n\n                    This process invoked by this method is asynchronous. The immediately returned status may not\n                    indicate the resultant favorited status of the tweet. A 200 OK response from this method will\n                    indicate whether the intended action was successful or not.",
          "externalDocs": {
            "url": "https://dev.twitter.com/docs/api/1.1/post/favorites/create"
          }
        }
      },
      "/favorites/destroy.json": {
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "The numerical ID of the desired status.\n\n                    Example Values: 123"
          },
          {
            "name": "include_entities",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "The entities node will be omitted when set to false.\n\n                    Example Values: false"
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Un-favorites the status\n                    specified in the ID parameter as the authenticating user. Returns the un-favorited status in the\n                    requested format when successful.\n\n                    This process invoked by this method is asynchronous. The immediately returned status may not\n                    indicate the resultant favorited status of the tweet. A 200 OK response from this method will\n                    indicate whether the intended action was successful or not.",
          "externalDocs": {
            "url": "https://dev.twitter.com/docs/api/1.1/post/favorites/destroy"
          }
        }
      },
      "/users/suggestions/{slug}.json": {
        "parameters": [
          {
            "name": "slug",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The short name of list or a category\n\n                    Example Values: twitter"
          },
          {
            "name": "lang",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Restricts the suggested categories to the requested language. The language must be specified by the\n                    appropriate two letter ISO 639-1 representation. Currently supported languages are provided by the\n                    GET help/languages API request. Unsupported language codes will receive English (en) results. If you\n                    use lang in this request, ensure you also include it when requesting the GET users/suggestions/:slug\n                    list."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Access the users in\n                    a given category of the Twitter suggested user list. It is recommended that applications cache this\n                    data for no more than one hour.",
          "externalDocs": {
            "url": "https://dev.twitter.com/docs/api/1.1/get/users/suggestions/%3Aslug"
          }
        }
      },
      "/users/suggestions.json": {
        "parameters": [
          {
            "name": "lang",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Restricts the suggested categories to the requested language. The language must be specified by the\n                    appropriate two letter ISO 639-1 representation. Currently supported languages are provided by the\n                    GET help/languages API request. Unsupported language codes will receive English (en) results. If you\n                    use lang in this request, ensure you also include it when requesting the GET users/suggestions/:slug\n                    list."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Access to Twitter's\n                    suggested user list. This returns the list of suggested user categories. The category can be used in\n                    GET users/suggestions/:slug to get the users in that category.",
          "externalDocs": {
            "url": "https://dev.twitter.com/docs/api/1.1/get/users/suggestions"
          }
        }
      },
      "/users/suggestions/{slug}/members.json": {
        "parameters": [
          {
            "name": "slug",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The short name of list or a category\n\n                    Example Values: twitter"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Access the\n                    users in a given category of the Twitter suggested user list and return their most recent status if\n                    they are not a protected user.",
          "externalDocs": {
            "url": "https://dev.twitter.com/docs/api/1.1/get/users/suggestions/%3Aslug/members"
          }
        }
      },
      "/direct_messages.json": {
        "parameters": [
          {
            "name": "count",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Specifies the number of direct messages to try and retrieve, up to a maximum of 200. The value of\n                    count is best thought of as a limit to the number of Tweets to return because suspended or deleted\n                    content is removed after the count has been applied.\n\n                    Example Values: 5"
          },
          {
            "name": "since_id",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Returns results with an ID greater than (that is, more recent than) the specified ID. There are\n                    limits to the number of Tweets which can be accessed through the API. If the limit of Tweets has\n                    occured since the since_id, the since_id will be forced to the oldest ID available.\n                    Example Values: 12345"
          },
          {
            "name": "max_id",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Returns results with an ID less than (that is, older than) or equal to the specified ID.\n\n                    Example Values: 54321"
          },
          {
            "name": "include_entities",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "The entities node will not be included when set to false.\n\n                    Example Values: false"
          },
          {
            "name": "page",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Specifies the page of results to retrieve.\n\n                    Example Values: 3"
          },
          {
            "name": "skip_status",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "When set to either true, t or 1 statuses will not be included in the returned user objects."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns the 20 most recent\n                    direct messages sent to the authenticating user. Includes detailed information about the sender and\n                    recipient user. You can request up to 200 direct messages per call, up to a maximum of 800 incoming\n                    DMs.\n\n                    Important: This method requires an access token with RWD (read, write and direct message)\n                    permissions.\n                    Consult The Application Permission Model for more information.",
          "externalDocs": {
            "url": "https://dev.twitter.com/docs/api/1.1/get/direct_messages"
          }
        }
      },
      "/direct_messages/sent.json": {
        "parameters": [
          {
            "name": "count",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Specifies the number of direct messages to try and retrieve, up to a maximum of 200. The value of\n                    count is best thought of as a limit to the number of Tweets to return because suspended or deleted\n                    content is removed after the count has been applied.\n\n                    Example Values: 5"
          },
          {
            "name": "since_id",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Returns results with an ID greater than (that is, more recent than) the specified ID. There are\n                    limits to the number of Tweets which can be accessed through the API. If the limit of Tweets has\n                    occured since the since_id, the since_id will be forced to the oldest ID available.\n\n                    Example Values: 12345"
          },
          {
            "name": "max_id",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Returns results with an ID less than (that is, older than) or equal to the specified ID.\n\n                    Example Values: 54321"
          },
          {
            "name": "include_entities",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "The entities node will not be included when set to false.\n\n                    Example Values: false"
          },
          {
            "name": "page",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Specifies the page of results to retrieve.\n\n                    Example Values: 3"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns the 20 most\n                    recent direct messages sent by the authenticating user. Includes detailed information about the\n                    sender and recipient user. You can request up to 200 direct messages per call, up to a maximum of\n                    800 outgoing DMs.\n\n                    Important: This method requires an access token with RWD (read, write and direct message)\n                    permissions. Consult The Application Permission Model for more information.",
          "externalDocs": {
            "url": "https://dev.twitter.com/docs/api/1.1/get/direct_messages/sent"
          }
        }
      },
      "/direct_messages/show.json": {
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "The ID of the direct message.\n\n                    Example Values: 587424932"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns a single direct\n                    message, specified by an id parameter. Like the /1.1/direct_messages.format request, this method\n                    will include the user objects of the sender and recipient.\n\n                    Important: This method requires an access token with RWD (read, write and direct message)\n                    permissions.\n                    Consult The Application Permission Model for more information.",
          "externalDocs": {
            "url": "https://dev.twitter.com/docs/api/1.1/get/direct_messages/show"
          }
        }
      },
      "/direct_messages/new.json": {
        "parameters": [
          {
            "name": "text",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "The text of your direct message. Be sure to URL encode as necessary, and keep the message under 140\n                    characters.\n\n                    Example Values: Meet me behind the cafeteria after school"
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Sends a new direct\n                    message to the specified user from the authenticating user. Requires both the user and text\n                    parameters and must be a POST. Returns the sent message in the requested format if successful.",
          "externalDocs": {
            "url": "https://dev.twitter.com/docs/api/1.1/post/direct_messages/new"
          }
        }
      },
      "/direct_messages/destroy.json": {
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "The ID of the direct message to delete.\n\n                    Example Values: 1270516771"
          },
          {
            "name": "include_entities",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "The entities node will not be included when set to false.\n\n                    Example Values: false"
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Destroys the direct\n                    message specified in the required ID parameter. The authenticating user must be the recipient of the\n                    specified direct message.\n\n                    Important: This method requires an access token with RWD (read, write and direct message)\n                    permissions.\n                    Consult The Application Permission Model for more information.",
          "externalDocs": {
            "url": "https://dev.twitter.com/docs/api/1.1/post/direct_messages/destroy"
          }
        }
      },
      "/friends/ids.json": {
        "parameters": [
          {
            "name": "stringify_ids",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Many programming environments will not consume our Tweet ids due to their size. Provide this option\n                    to have ids returned as strings instead. Example Values: true"
          },
          {
            "name": "cursor",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Causes the list of connections to be broken into pages of no more than 5000 IDs at a time. The\n                    number of IDs returned is not guaranteed to be 5000 as suspended users are filtered out after\n                    connections are queried. If no cursor is provided, a value of -1 will be assumed, which is the first\n                    \"page.\"\n\n                    The response from the API will include a previous_cursor and next_cursor to allow paging back and\n                    forth.Example Values: 12893764510938"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns a cursored collection of\n                    user IDs for every user the specified user is following (otherwise known as their \"friends\").\n\n                    At this time, results are ordered with the most recent following first — however, this ordering is\n                    subject to unannounced change and eventual consistency issues. Results are given in groups of 5,000\n                    user IDs and multiple \"pages\" of results can be navigated through using the next_cursor value in\n                    subsequent requests. See Using cursors to navigate collections for more information.\n\n                    This method is especially powerful when used in conjunction with GET users/lookup, a method that\n                    allows you to convert user IDs into full user objects in bulk.",
          "externalDocs": {
            "url": "https://dev.twitter.com/docs/api/1.1/get/friends/ids"
          }
        }
      },
      "/followers/ids.json": {
        "parameters": [
          {
            "name": "stringify_ids",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Many programming environments will not consume our Tweet ids due to their size. Provide this option\n                    to have ids returned as strings instead. Example Values: true"
          },
          {
            "name": "cursor",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Causes the list of connections to be broken into pages of no more than 5000 IDs at a time. The\n                    number of IDs returned is not guaranteed to be 5000 as suspended users are filtered out after\n                    connections are queried. If no cursor is provided, a value of -1 will be assumed, which is the first\n                    \"page.\"\n\n                    The response from the API will include a previous_cursor and next_cursor to allow paging back and\n                    forth.Example Values: 12893764510938"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns a cursored collection\n                    of user IDs for every user following the specified user.\n\n                    At this time, results are ordered with the most recent following first — however, this ordering is\n                    subject to unannounced change and eventual consistency issues. Results are given in groups of 5,000\n                    user IDs and multiple \"pages\" of results can be navigated through using the next_cursor value in\n                    subsequent requests. See Using cursors to navigate collections for more information.\n\n                    This method is especially powerful when used in conjunction with GET users/lookup, a method that\n                    allows you to convert user IDs into full user objects in bulk.",
          "externalDocs": {
            "url": "https://dev.twitter.com/docs/api/1.1/get/followers/ids"
          }
        }
      },
      "/friendships/lookup.json": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns the relationships\n                    of the authenticating user to the comma-separated list of up to 100 screen_names or user_ids\n                    provided. Values for connections can be: following, following_requested, followed_by, none.",
          "externalDocs": {
            "url": "https://dev.twitter.com/docs/api/1.1/get/friendships/lookup"
          }
        }
      },
      "/friendships/incoming.json": {
        "parameters": [
          {
            "name": "stringify_ids",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Many programming environments will not consume our Tweet ids due to their size. Provide this option\n                    to have ids returned as strings instead. Example Values: true"
          },
          {
            "name": "cursor",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Causes the list of connections to be broken into pages of no more than 5000 IDs at a time. The\n                    number of IDs returned is not guaranteed to be 5000 as suspended users are filtered out after\n                    connections are queried. If no cursor is provided, a value of -1 will be assumed, which is the first\n                    \"page.\"\n\n                    The response from the API will include a previous_cursor and next_cursor to allow paging back and\n                    forth.Example Values: 12893764510938"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns the\n                    relationships\n                    of the authenticating user to the comma-separated list of up to 100 screen_names or user_ids\n                    provided. Values for connections can be: following, following_requested, followed_by, none.",
          "externalDocs": {
            "url": "https://dev.twitter.com/docs/api/1.1/get/friendships/incoming"
          }
        }
      },
      "/friendships/outgoing.json": {
        "parameters": [
          {
            "name": "stringify_ids",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Many programming environments will not consume our Tweet ids due to their size. Provide this option\n                    to have ids returned as strings instead. Example Values: true"
          },
          {
            "name": "cursor",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Causes the list of connections to be broken into pages of no more than 5000 IDs at a time. The\n                    number of IDs returned is not guaranteed to be 5000 as suspended users are filtered out after\n                    connections are queried. If no cursor is provided, a value of -1 will be assumed, which is the first\n                    \"page.\"\n\n                    The response from the API will include a previous_cursor and next_cursor to allow paging back and\n                    forth.Example Values: 12893764510938"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns a collection of\n                    numeric IDs for every protected user for whom the authenticating user has a pending follow request.",
          "externalDocs": {
            "url": "https://dev.twitter.com/docs/api/1.1/get/friendships/outgoing"
          }
        }
      },
      "/friendships/create.json": {
        "parameters": [
          {
            "name": "follow",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Enable notifications for the target user. Example Values: true"
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Allows the authenticating\n                    users to follow the user specified in the ID parameter.\n\n                    Returns the befriended user in the requested format when successful. Returns a string describing the\n                    failure condition when unsuccessful. If you are already friends with the user a HTTP 403 may be\n                    returned, though for performance reasons you may get a 200 OK message even if the friendship already\n                    exists.\n\n                    Actions taken in this method are asynchronous and changes will be eventually consistent.",
          "externalDocs": {
            "url": "https://dev.twitter.com/docs/api/1.1/post/friendships/create"
          }
        }
      },
      "/friendships/destroy.json": {
        "parameters": [],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Allows the\n                    authenticating\n                    user to unfollow the user specified in the ID parameter.\n\n                    Returns the unfollowed user in the requested format when successful. Returns a string describing the\n                    failure condition when unsuccessful.\n\n                    Actions taken in this method are asynchronous and changes will be eventually consistent.",
          "externalDocs": {
            "url": "https://dev.twitter.com/docs/api/1.1/post/friendships/destroy"
          }
        }
      },
      "/friendships/update.json": {
        "parameters": [
          {
            "name": "device",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "Enable/disable device notifications from the target user. Example Values: true, false"
          },
          {
            "name": "retweets",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "Enable/disable retweets from the target user. Example Values: true, false"
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Allows one to enable or\n                    disable retweets and device notifications from the specified user.",
          "externalDocs": {
            "url": "https://dev.twitter.com/docs/api/1.1/post/friendships/update"
          }
        }
      },
      "/friendships/show.json": {
        "parameters": [
          {
            "name": "source_id",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "The user_id of the subject user.\n\n                    Example Values: 3191321"
          },
          {
            "name": "source_screen_name",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "The screen_name of the subject user.\n\n                    Example Values: raffi"
          },
          {
            "name": "target_id",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "The user_id of the target user.\n\n                    Example Values: 20"
          },
          {
            "name": "target_screen_name",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "The screen_name of the target user.\n\n                    Example Values: noradio"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns detailed information\n                    about the relationship between two arbitrary users.",
          "externalDocs": {
            "url": "https://dev.twitter.com/docs/api/1.1/get/friendships/show"
          }
        }
      },
      "/account/settings.json": {
        "parameters": [
          {
            "name": "trend_location_woeid",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "The Yahoo! Where On Earth ID to use as the user's default trend location. Global information is\n                    available by using 1 as the WOEID. The woeid must be one of the locations returned by GET\n                    trends/available.\n\n                    Example Values: 1"
          },
          {
            "name": "sleep_time_enabled",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "When set to true, t or 1, will enable sleep time for the user. Sleep time is the time when push or\n                    SMS notifications should not be sent to the user.\n\n                    Example Values: true"
          },
          {
            "name": "start_sleep_time",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "The hour that sleep time should begin if it is enabled. The value for this parameter should be\n                    provided in ISO8601 format (i.e. 00-23). The time is considered to be in the same timezone as the\n                    user's time_zone setting.\n\n                    Example Values: 13"
          },
          {
            "name": "end_sleep_time",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "The hour that sleep time should end if it is enabled. The value for this parameter should be\n                    provided in ISO8601 format (i.e. 00-23). The time is considered to be in the same timezone as the\n                    user's time_zone setting.\n\n                    Example Values: 13"
          },
          {
            "name": "time_zone",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "The timezone dates and times should be displayed in for the user. The timezone must be one of the\n                    Rails TimeZone names.\n\n                    Example Values: Europe/Copenhagen, Pacific/Tongatapu"
          },
          {
            "name": "lang",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "The language which Twitter should render in for this user. The language must be specified by the\n                    appropriate two letter ISO 639-1 representation. Currently supported languages are provided by GET\n                    help/languages.\n\n                    Example Values: it, en, es"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns settings (including\n                    current trend, geo and sleep time information) for the authenticating user.",
          "externalDocs": {
            "url": "https://dev.twitter.com/docs/api/1.1/get/account/settings"
          }
        },
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Updates the\n                    authenticating user's settings.",
          "externalDocs": {
            "url": "https://dev.twitter.com/docs/api/1.1/post/account/settings"
          }
        }
      },
      "/account/update_delivery_device.json": {
        "parameters": [
          {
            "name": "device",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "Must be one of: sms, none.\n\n                    Example Values: sms"
          },
          {
            "name": "include_entities",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "When set to either true, t or 1, each tweet will include a node called \"entities,\". This node\n                    offers a variety of metadata about the tweet in a discreet structure, including: user_mentions,\n                    urls, and hashtags. While entities are opt-in on timelines at present, they will be made a default\n                    component of output in the future. See Tweet Entities for more detail on entities.\n\n                    Example Values: true"
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Sets which\n                    device Twitter delivers updates to for the authenticating user. Sending none as the device parameter\n                    will disable SMS updates.",
          "externalDocs": {
            "url": "https://dev.twitter.com/docs/api/1.1/post/account/update_delivery_device"
          }
        }
      },
      "/account/update_profile.json": {
        "parameters": [
          {
            "name": "name",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Full name associated with the profile. Maximum of 20 characters.\n\n                    Example Values: Marcel Molina"
          },
          {
            "name": "url",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "URL associated with the profile. Will be prepended with \"http://\" if not present. Maximum of 100\n                    characters.\n\n                    Example Values: http://project.ioni.st"
          },
          {
            "name": "location",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "The city or country describing where the user of the account is located. The contents are not\n                    normalized or geocoded in any way. Maximum of 30 characters.\n\n                    Example Values: San Francisco, CA"
          },
          {
            "name": "description",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "A description of the user owning the account. Maximum of 160 characters.\n\n                    Example Values: Flipped my wig at age 22 and it never grew back. Also: I work at Twitter."
          },
          {
            "name": "include_entities",
            "required": false,
            "in": "query",
            "type": "string",
[...]
