{
  "type": "api",
  "key": "apigee:soundcloud",
  "info": {
    "title": "SoundCloud",
    "description": "Access, host, upload, and comment on audio."
  },
  "swagger": {
    "swagger": "2.0",
    "host": "api.soundcloud.com",
    "basePath": "/",
    "schemes": [
      "https"
    ],
    "paths": {
      "/tracks.{format}": {
        "parameters": [
          {
            "name": "title",
            "required": true,
            "in": "header",
            "type": "string",
            "default": "A Track Title"
          },
          {
            "name": "asset_data",
            "required": true,
            "in": "header",
            "type": "string",
            "default": ""
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "consumer_key",
              "required": true,
              "in": "query"
            }
          ],
          "description": "Returns a collection of tracks",
          "externalDocs": {
            "url": "http://github.com/soundcloud/api/wiki/10.2-Resources:-tracks"
          }
        },
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Uploads a track",
          "externalDocs": {
            "url": "http://github.com/soundcloud/api/wiki/10.2-Resources:-tracks"
          }
        }
      },
      "/tracks/{track_id}.{format}": {
        "parameters": [
          {
            "name": "track_id",
            "required": true,
            "in": "query",
            "type": "string",
            "default": "291"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "consumer_key",
              "required": true,
              "in": "query"
            }
          ],
          "description": "Returns a track by track id",
          "externalDocs": {
            "url": "http://github.com/soundcloud/api/wiki/10.2-Resources:-tracks"
          }
        },
        "put": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Updates a given track",
          "externalDocs": {
            "url": "http://github.com/soundcloud/api/wiki/10.2-Resources:-tracks-continued"
          }
        },
        "delete": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Deletes a given track",
          "externalDocs": {
            "url": "http://github.com/soundcloud/api/wiki/10.2-Resources:-tracks-continued"
          }
        }
      },
      "/tracks/{track_id}/comments.{format}": {
        "parameters": [
          {
            "name": "track_id",
            "required": true,
            "in": "query",
            "type": "string",
            "default": "291"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "consumer_key",
              "required": true,
              "in": "query"
            }
          ],
          "description": "Returns comments of a track by track id",
          "externalDocs": {
            "url": "http://github.com/soundcloud/api/wiki/10.2-Resources:-tracks-continued"
          }
        },
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Posts a comments to a track by track id",
          "externalDocs": {
            "url": "http://github.com/soundcloud/api/wiki/10.2-Resources:-tracks-continued"
          }
        }
      },
      "/tracks/{track_id}/permissions.{format}": {
        "parameters": [
          {
            "name": "track_id",
            "required": true,
            "in": "query",
            "type": "string",
            "default": "291"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "consumer_key",
              "required": true,
              "in": "query"
            }
          ],
          "description": "Returns all users with permission for a track by track id",
          "externalDocs": {
            "url": "http://github.com/soundcloud/api/wiki/10.2-Resources:-tracks-continued"
          }
        },
        "put": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Updates the list of permitted users for a track by track id",
          "externalDocs": {
            "url": "http://github.com/soundcloud/api/wiki/10.2-Resources:-tracks-continued"
          }
        }
      },
      "/tracks/{track_id}/secret-token.{format}": {
        "parameters": [
          {
            "name": "track_id",
            "required": true,
            "in": "query",
            "type": "string",
            "default": "291"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns the secret token for a track by track id. This resource can only be used by the track owner.",
          "externalDocs": {
            "url": "http://github.com/soundcloud/api/wiki/10.2-Resources:-tracks-continued"
          }
        },
        "put": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Resets the secret token for a track by track id. The secret token can not be specified but will be randomly chosen on\n          the server and returned. This resource can only be used by the track owner.",
          "externalDocs": {
            "url": "http://github.com/soundcloud/api/wiki/10.2-Resources:-tracks-continued"
          }
        }
      },
      "/users.{format}": {
        "parameters": [
          {
            "name": "q",
            "required": false,
            "in": "query",
            "type": "string",
            "default": ""
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "consumer_key",
              "required": true,
              "in": "query"
            }
          ],
          "description": "Returns a collection of users",
          "externalDocs": {
            "url": "http://github.com/soundcloud/api/wiki/10.1-Resources:-users"
          }
        }
      },
      "/users/{user_id}.{format}": {
        "parameters": [
          {
            "name": "user_id",
            "required": true,
            "in": "query",
            "type": "string",
            "default": "183"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "consumer_key",
              "required": true,
              "in": "query"
            }
          ],
          "description": "Returns a user by user id",
          "externalDocs": {
            "url": "http://github.com/soundcloud/api/wiki/10.1-Resources:-users"
          }
        }
      },
      "/users/{user_id}/tracks.{format}": {
        "parameters": [
          {
            "name": "user_id",
            "required": true,
            "in": "query",
            "type": "string",
            "default": "183"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "consumer_key",
              "required": true,
              "in": "query"
            }
          ],
          "description": "Returns a collection of tracks uploaded by user id",
          "externalDocs": {
            "url": "http://github.com/soundcloud/api/wiki/10.1-Resources:-users"
          }
        }
      },
      "/users/{user_id}/comments.{format}": {
        "parameters": [
          {
            "name": "user_id",
            "required": true,
            "in": "query",
            "type": "string",
            "default": "183"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "consumer_key",
              "required": true,
              "in": "query"
            }
          ],
          "description": "Returns a collection of comments made by user id",
          "externalDocs": {
            "url": "http://github.com/soundcloud/api/wiki/10.1-Resources:-users"
          }
        }
      },
      "/users/{user_id}/followings.{format}": {
        "parameters": [
          {
            "name": "user_id",
            "required": true,
            "in": "query",
            "type": "string",
            "default": "183"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "consumer_key",
              "required": true,
              "in": "query"
            }
          ],
          "description": "Returns a collection of users the user with user id is following",
          "externalDocs": {
            "url": "http://github.com/soundcloud/api/wiki/10.1-Resources:-users"
          }
        }
      },
      "/users/{user_id}/followings/{contact_id}.{format}": {
        "parameters": [
          {
            "name": "user_id",
            "required": true,
            "in": "query",
            "type": "string",
            "default": "183"
          },
          {
            "name": "contact_id",
            "required": true,
            "in": "query",
            "type": "string",
            "default": "183"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "consumer_key",
              "required": true,
              "in": "query"
            }
          ],
          "description": "Checks if the user with the id contact_id is in the givens user's list of contacts.",
          "externalDocs": {
            "url": "http://github.com/soundcloud/api/wiki/10.1-Resources:-users"
          }
        },
        "put": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Adds the user with the id contact_id to the givens user's list of contacts.",
          "externalDocs": {
            "url": "http://github.com/soundcloud/api/wiki/10.1-Resources:-users"
          }
        },
        "delete": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Removes the user with the id contact_id from the givens user's list of contacts.",
          "externalDocs": {
            "url": "http://github.com/soundcloud/api/wiki/10.1-Resources:-users"
          }
        }
      },
      "/users/{user_id}/followers.{format}": {
        "parameters": [
          {
            "name": "user_id",
            "required": true,
            "in": "query",
            "type": "string",
            "default": "183"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "consumer_key",
              "required": true,
              "in": "query"
            }
          ],
          "description": "Returns a collection of users who follow the user with user id",
          "externalDocs": {
            "url": "http://github.com/soundcloud/api/wiki/10.1-Resources:-users"
          }
        }
      },
      "/users/{user_id}/followers/{contact_id}.{format}": {
        "parameters": [
          {
            "name": "user_id",
            "required": true,
            "in": "query",
            "type": "string",
            "default": "183"
          },
          {
            "name": "contact_id",
            "required": true,
            "in": "query",
            "type": "string",
            "default": "183"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "consumer_key",
              "required": true,
              "in": "query"
            }
          ],
          "description": "Checks if the user with contact_id is a follower of the given user.",
          "externalDocs": {
            "url": "http://github.com/soundcloud/api/wiki/10.1-Resources:-users"
          }
        }
      },
      "/users/{user_id}/favorites.{format}": {
        "parameters": [
          {
            "name": "user_id",
            "required": true,
            "in": "query",
            "type": "string",
            "default": "183"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "consumer_key",
              "required": true,
              "in": "query"
            }
          ],
          "description": "Returns a collection of tracks favorited by the user with user id",
          "externalDocs": {
            "url": "http://github.com/soundcloud/api/wiki/10.1-Resources:-users"
          }
        }
      },
      "/users/{user_id}/favorites/{track_id}.{format}": {
        "parameters": [
          {
            "name": "user_id",
            "required": true,
            "in": "query",
            "type": "string",
            "default": "183"
          },
          {
            "name": "track_id",
            "required": true,
            "in": "query",
            "type": "string",
            "default": "291"
          }
        ],
        "put": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Adds the given track to the given user's list of favorites.",
          "externalDocs": {
            "url": "http://github.com/soundcloud/api/wiki/10.1-Resources:-users"
          }
        },
        "delete": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Deletes the given track from the given user's list of favorites.",
          "externalDocs": {
            "url": "http://github.com/soundcloud/api/wiki/10.1-Resources:-users"
          }
        }
      },
      "/users/{user_id}/groups.{format}": {
        "parameters": [
          {
            "name": "user_id",
            "required": true,
            "in": "query",
            "type": "string",
            "default": "183"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "consumer_key",
              "required": true,
              "in": "query"
            }
          ],
          "description": "Returns a collection of groups joined by user with user id",
          "externalDocs": {
            "url": "http://github.com/soundcloud/api/wiki/10.1-Resources:-users"
          }
        }
      },
      "/users/{user_id}/playlists.{format}": {
        "parameters": [
          {
            "name": "user_id",
            "required": true,
            "in": "query",
            "type": "string",
            "default": "183"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "consumer_key",
              "required": true,
              "in": "query"
            }
          ],
          "description": "Returns a collection of playlists created by user with user id",
          "externalDocs": {
            "url": "http://github.com/soundcloud/api/wiki/10.1-Resources:-users"
          }
        }
      },
      "/me.{format}": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns the logged-in user",
          "externalDocs": {
            "url": "http://github.com/soundcloud/api/wiki/10.1-Resources:-users"
          }
        },
        "put": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Updates the logged-in user",
          "externalDocs": {
            "url": "http://github.com/soundcloud/api/wiki/10.1-Resources:-users"
          }
        }
      },
      "/me/tracks.{format}": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns a collection of tracks uploaded by logged-in user",
          "externalDocs": {
            "url": "http://github.com/soundcloud/api/wiki/10.1-Resources:-users"
          }
        }
      },
      "/me/comments.{format}": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns a collection of comments made by logged-in user",
          "externalDocs": {
            "url": "http://github.com/soundcloud/api/wiki/10.1-Resources:-users"
          }
        }
      },
      "/me/followings.{format}": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns a collection of users the logged-in user is following",
          "externalDocs": {
            "url": "http://github.com/soundcloud/api/wiki/10.1-Resources:-users"
          }
        }
      },
      "/me/followings/{contact_id}.{format}": {
        "parameters": [
          {
            "name": "contact_id",
            "required": true,
            "in": "query",
            "type": "string",
            "default": "183"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Checks if the user with the id contact_id is in the logged-in user's list of contacts.",
          "externalDocs": {
            "url": "http://github.com/soundcloud/api/wiki/10.1-Resources:-users"
          }
        },
        "put": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Adds the user with the id contact_id to the logged-in user's list of contacts.",
          "externalDocs": {
            "url": "http://github.com/soundcloud/api/wiki/10.1-Resources:-users"
          }
        },
        "delete": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Deletes the user with the id contact_id from the logged-in user's list of contacts.",
          "externalDocs": {
            "url": "http://github.com/soundcloud/api/wiki/10.1-Resources:-users"
          }
        }
      },
      "/me/followers.{format}": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns a collection of users who follow the logged-in user",
          "externalDocs": {
            "url": "http://github.com/soundcloud/api/wiki/10.1-Resources:-users"
          }
        }
      },
      "/me/followers/{contact_id}.{format}": {
        "parameters": [
          {
            "name": "contact_id",
            "required": true,
            "in": "query",
            "type": "string",
            "default": "183"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Checks if the user with the id contact_id is a follower of the logged-in user",
          "externalDocs": {
            "url": "http://github.com/soundcloud/api/wiki/10.1-Resources:-users"
          }
        }
      },
      "/me/favorites.{format}": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns a collection of tracks favorited by the logged-in user",
          "externalDocs": {
            "url": "http://github.com/soundcloud/api/wiki/10.1-Resources:-users"
          }
        }
      },
      "/me/favorites/{track_id}.{format}": {
        "parameters": [
          {
            "name": "track_id",
            "required": true,
            "in": "query",
            "type": "string",
            "default": "291"
          }
        ],
        "put": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Adds the given track to the logged-in user's list of favorites.",
          "externalDocs": {
            "url": "http://github.com/soundcloud/api/wiki/10.1-Resources:-users"
          }
        },
        "delete": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Deletes the given track from the logged-in user's list of favorites.",
          "externalDocs": {
            "url": "http://github.com/soundcloud/api/wiki/10.1-Resources:-users"
          }
        }
      },
      "/me/groups.{format}": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns a collection of groups joined by logged-in user",
          "externalDocs": {
            "url": "http://github.com/soundcloud/api/wiki/10.1-Resources:-users"
          }
        }
      },
      "/me/playlists.{format}": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns a collection of playlists created by the logged-in user",
          "externalDocs": {
            "url": "http://github.com/soundcloud/api/wiki/10.1-Resources:-users"
          }
        }
      },
      "/playlists.{format}": {
        "parameters": [
          {
            "name": "q",
            "required": false,
            "in": "query",
            "type": "string",
            "default": ""
          },
          {
            "name": "filter",
            "required": false,
            "in": "query",
            "type": "string",
            "default": "all",
            "enum": [
              "all",
              "public",
              "private"
            ]
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "consumer_key",
              "required": true,
              "in": "query"
            }
          ],
          "description": "Returns a collection of playlists",
          "externalDocs": {
            "url": "http://github.com/soundcloud/api/wiki/10.3-Resources:-playlists"
          }
        }
      },
      "/playlists/{playlist_id}.{format}": {
        "parameters": [
          {
            "name": "playlist_id",
            "required": true,
            "in": "query",
            "type": "string",
            "default": "18"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "consumer_key",
              "required": true,
              "in": "query"
            }
          ],
          "description": "Returns a playlist by playlist id",
          "externalDocs": {
            "url": "http://github.com/soundcloud/api/wiki/10.3-Resources:-playlists"
          }
        }
      },
      "/groups.{format}": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "consumer_key",
              "required": true,
              "in": "query"
            }
          ],
          "description": "Returns a collection of groups",
          "externalDocs": {
            "url": "http://github.com/soundcloud/api/wiki/10.4-Resources:-groups"
          }
        }
      },
      "/groups/{group_id}.{format}": {
        "parameters": [
          {
            "name": "playlist_id",
            "required": true,
            "in": "query",
            "type": "string",
            "default": "18"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "consumer_key",
              "required": true,
              "in": "query"
            }
          ],
          "description": "Returns a group by group id",
          "externalDocs": {
            "url": "http://github.com/soundcloud/api/wiki/10.4-Resources:-groups"
          }
        }
      },
      "/groups/{group_id}/users.{format}": {
        "parameters": [
          {
            "name": "playlist_id",
            "required": true,
            "in": "query",
            "type": "string",
            "default": "18"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "consumer_key",
              "required": true,
              "in": "query"
            }
          ],
          "description": "Returns a combined collection of moderators, members and contributors of the group with group id",
          "externalDocs": {
            "url": "http://github.com/soundcloud/api/wiki/10.4-Resources:-groups"
          }
        }
      },
      "/groups/{group_id}/moderators.{format}": {
        "parameters": [
          {
            "name": "playlist_id",
            "required": true,
            "in": "query",
            "type": "string",
            "default": "18"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "consumer_key",
              "required": true,
              "in": "query"
            }
          ],
          "description": "Returns a collection of moderators of the group with group id",
          "externalDocs": {
            "url": "http://github.com/soundcloud/api/wiki/10.4-Resources:-groups"
          }
        }
      },
      "/groups/{group_id}/members.{format}": {
        "parameters": [
          {
            "name": "playlist_id",
            "required": true,
            "in": "query",
            "type": "string",
            "default": "18"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "consumer_key",
              "required": true,
              "in": "query"
            }
          ],
          "description": "Returns a collection of members of the group with group id",
          "externalDocs": {
            "url": "http://github.com/soundcloud/api/wiki/10.4-Resources:-groups"
          }
        }
      },
      "/groups/{group_id}/contributors.{format}": {
        "parameters": [
          {
            "name": "playlist_id",
            "required": true,
            "in": "query",
            "type": "string",
            "default": "18"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "consumer_key",
              "required": true,
              "in": "query"
            }
          ],
          "description": "Returns a collection of contributors of the group with group id",
          "externalDocs": {
            "url": "http://github.com/soundcloud/api/wiki/10.4-Resources:-groups"
          }
        }
      },
      "/groups/{group_id}/tracks.{format}": {
        "parameters": [
          {
            "name": "playlist_id",
            "required": true,
            "in": "query",
            "type": "string",
            "default": "18"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "consumer_key",
              "required": true,
              "in": "query"
            }
          ],
          "description": "Returns a collection of tracks contributed to the group with group id",
          "externalDocs": {
            "url": "http://github.com/soundcloud/api/wiki/10.4-Resources:-groups"
          }
        }
      },
      "/comments/{comment_id}.{format}": {
        "parameters": [
          {
            "name": "playlist_id",
            "required": true,
            "in": "query",
            "type": "string",
            "default": "18"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "consumer_key",
              "required": true,
              "in": "query"
            }
          ],
          "description": "Returns a comment by comment id",
          "externalDocs": {
            "url": "http://github.com/soundcloud/api/wiki/10.5-Resources:-comments"
          }
        }
      },
      "/resolve.{format}": {
        "parameters": [
          {
            "name": "url",
            "required": true,
            "in": "query",
            "type": "string",
            "default": "http://soundcloud.com/forss"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "consumer_key",
              "required": true,
              "in": "query"
            }
          ],
          "description": "Translates a website URI into an API URI",
          "externalDocs": {
            "url": "http://github.com/soundcloud/api/wiki/12-Resolver"
          }
        }
      }
    },
    "info": {
      "title": "SoundCloud",
      "description": "Access, host, upload, and comment on audio."
    }
  },
  "public": true
}