{
  "type": "api",
  "key": "apigee:flickr",
  "info": {
    "title": "Flickr",
    "description": "Explore, upload and organize photos on Flickr"
  },
  "swagger": {
    "swagger": "2.0",
    "host": "api.flickr.com",
    "basePath": "/services/",
    "schemes": [
      "http"
    ],
    "paths": {
      "/upload": {
        "parameters": [],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "title",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "The title of the photo. Optional."
            },
            {
              "name": "description",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "A description of the photo. May contain some limited HTML. Optional."
            },
            {
              "name": "tags",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "A space-seperated list of tags to apply to the photo. Optional."
            },
            {
              "name": "is_public",
              "required": false,
              "in": "query",
              "type": "boolean",
              "description": "Set to 0 for no, 1 for yes. Specifies who can view the photo. Optional."
            },
            {
              "name": "is_friend",
              "required": false,
              "in": "query",
              "type": "boolean",
              "description": "Set to 0 for no, 1 for yes. Specifies who can view the photo. Optional."
            },
            {
              "name": "is_family",
              "required": false,
              "in": "query",
              "type": "boolean",
              "description": "Set to 0 for no, 1 for yes. Specifies who can view the photo. Optional."
            },
            {
              "name": "safety_level",
              "required": false,
              "in": "query",
              "type": "integer",
              "description": "Set to 1 for Safe, 2 for Moderate, or 3 for Restricted. Optional."
            },
            {
              "name": "content_type",
              "required": false,
              "in": "query",
              "type": "integer",
              "description": "Set to 1 for Photo, 2 for Screenshot, or 3 for Other. Optional."
            },
            {
              "name": "hidden",
              "required": false,
              "in": "query",
              "type": "integer",
              "description": "Set to 1 to keep the photo in global search results, 2 to hide from public searches. Optional."
            },
            {
              "name": "async",
              "required": false,
              "in": "query",
              "type": "boolean",
              "description": "Flickr can process photos in async mode, for applications that need to post multiple photos and don't want to wait around for each one to complete, leaving a socket connection open the whole time. Set to 1 for async mode, 0 for sync mode."
            }
          ],
          "description": "Uploads a photo. Uploading apps can call the flickr.people.getUploadStatus method in the regular API to obtain file and bandwidth limits for the user.",
          "externalDocs": {
            "url": "http://www.flickr.com/services/api/upload.api.html"
          }
        }
      },
      "/replace": {
        "parameters": [],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "photo_id",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "The ID of the photo to replace."
            },
            {
              "name": "async",
              "required": false,
              "in": "query",
              "type": "boolean",
              "description": "Photos may be replaced in async mode, for applications that don't want to wait around for an upload to complete, leaving a socket connection open the whole time. Processing photos asynchronously is recommended. Please consult the documentation for details. Set to 1 for async mode, 0 for sync mode."
            }
          ],
          "description": "Replaces a photo that has already been uploaded to Flickr. Uploading apps can call the flickr.people.getUploadStatus method in the regular API to obtain file and bandwidth limits for the user.",
          "externalDocs": {
            "url": "http://www.flickr.com/services/api/replace.api.html"
          }
        }
      },
      "/rest/?method=flickr.activity.userComments": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "api_key",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "Your API application key."
            },
            {
              "name": "format",
              "required": false,
              "in": "query",
              "type": "string",
              "default": "rest",
              "description": "Response format. Accepted values: rest (REST), xmlrpc (XML-RPC), soap (SOAP), soap2 (Alternate SOAP) json (JSON), php_serial (Serialized PHP)."
            },
            {
              "name": "per_page",
              "required": false,
              "in": "query",
              "type": "integer",
              "default": 10,
              "description": "Number of items to return per page. If this argument is omitted, it defaults to 10. The maximum allowed value is 50."
            },
            {
              "name": "page",
              "required": false,
              "in": "query",
              "type": "integer",
              "default": 1,
              "description": "The page of results to return. If this argument is omitted, it defaults to 1."
            }
          ],
          "description": "Returns a list of recent activity on photos commented on by the calling user. Do not poll this method more than once an hour.",
          "externalDocs": {
            "url": "http://www.flickr.com/services/api/flickr.activity.userComments.html"
          }
        }
      },
      "/rest/?method=flickr.activity.userPhotos": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "api_key",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "Your API application key."
            },
            {
              "name": "format",
              "required": false,
              "in": "query",
              "type": "string",
              "default": "rest",
              "description": "Response format. Accepted values: rest (REST), xmlrpc (XML-RPC), soap (SOAP), soap2 (Alternate SOAP) json (JSON), php_serial (Serialized PHP)."
            },
            {
              "name": "timeframe",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "The timeframe in which to return updates for. This can be specified in days ('2d') or hours ('4h'). The default behavoir is to return changes since the beginning of the previous user session."
            },
            {
              "name": "per_page",
              "required": false,
              "in": "query",
              "type": "integer",
              "default": 10,
              "description": "Number of items to return per page. If this argument is omitted, it defaults to 10. The maximum allowed value is 50."
            },
            {
              "name": "page",
              "required": false,
              "in": "query",
              "type": "integer",
              "default": 1,
              "description": "The page of results to return. If this argument is omitted, it defaults to 1."
            }
          ],
          "description": "Returns a list of recent activity on photos commented on by the calling user. Do not poll this method more than once an hour.",
          "externalDocs": {
            "url": "http://www.flickr.com/services/api/flickr.activity.userPhotos.html"
          }
        }
      },
      "/rest/?method=flickr.auth.checkToken": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "api_key",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "Your API application key."
            },
            {
              "name": "format",
              "required": false,
              "in": "query",
              "type": "string",
              "default": "rest",
              "description": "Response format. Accepted values: rest (REST), xmlrpc (XML-RPC), soap (SOAP), soap2 (Alternate SOAP) json (JSON), php_serial (Serialized PHP)."
            },
            {
              "name": "auth_token",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "The authentication token to check."
            }
          ],
          "description": "Returns the credentials attached to an authentication token. This call must be signed as specified in the authentication API spec.",
          "externalDocs": {
            "url": "http://www.flickr.com/services/api/flickr.auth.checkToken.html"
          }
        }
      },
      "/rest/?method=flickr.auth.getFrob": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "api_key",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "Your API application key."
            },
            {
              "name": "format",
              "required": false,
              "in": "query",
              "type": "string",
              "default": "rest",
              "description": "Response format. Accepted values: rest (REST), xmlrpc (XML-RPC), soap (SOAP), soap2 (Alternate SOAP) json (JSON), php_serial (Serialized PHP)."
            }
          ],
          "description": "Returns a frob to be used during authentication. This method call must be signed, and is deprecated in favour of OAuth.",
          "externalDocs": {
            "url": "http://www.flickr.com/services/api/flickr.auth.getFrob.html"
          }
        }
      },
      "/rest/?method=flickr.auth.getFullToken": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "api_key",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "Your API application key."
            },
            {
              "name": "format",
              "required": false,
              "in": "query",
              "type": "string",
              "default": "rest",
              "description": "Response format. Accepted values: rest (REST), xmlrpc (XML-RPC), soap (SOAP), soap2 (Alternate SOAP) json (JSON), php_serial (Serialized PHP)."
            },
            {
              "name": "mini_token",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "The mini-token typed in by a user. It should be 9 digits long. It may optionally contain dashes."
            }
          ],
          "description": "Get the full authentication token for a mini-token. This method call must be signed.",
          "externalDocs": {
            "url": "http://www.flickr.com/services/api/flickr.auth.getFullToken.html"
          }
        }
      },
      "/rest/?method=flickr.auth.getToken": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "api_key",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "Your API application key."
            },
            {
              "name": "format",
              "required": false,
              "in": "query",
              "type": "string",
              "default": "rest",
              "description": "Response format. Accepted values: rest (REST), xmlrpc (XML-RPC), soap (SOAP), soap2 (Alternate SOAP) json (JSON), php_serial (Serialized PHP)."
            },
            {
              "name": "frob",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "The frob to check."
            }
          ],
          "description": "Returns the auth token for the given frob, if one has been attached. This method call must be signed, and is deprecated in favour of OAuth.",
          "externalDocs": {
            "url": "http://www.flickr.com/services/api/flickr.auth.getToken.html"
          }
        }
      },
      "/rest/?method=flickr.auth.oauth.getAccessToken": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "api_key",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "Your API application key."
            },
            {
              "name": "format",
              "required": false,
              "in": "query",
              "type": "string",
              "default": "rest",
              "description": "Response format. Accepted values: rest (REST), xmlrpc (XML-RPC), soap (SOAP), soap2 (Alternate SOAP) json (JSON), php_serial (Serialized PHP)."
            }
          ],
          "description": "Exchange an auth token from the old Authentication API, to an OAuth access token. Calling this method will delete the auth token used to make the request. The request must be signed.",
          "externalDocs": {
            "url": "http://www.flickr.com/services/api/flickr.auth.oauth.getAccessToken.html"
          }
        }
      },
      "/rest/?method=flickr.blogs.getList": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "api_key",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "Your API application key."
            },
            {
              "name": "format",
              "required": false,
              "in": "query",
              "type": "string",
              "default": "rest",
              "description": "Response format. Accepted values: rest (REST), xmlrpc (XML-RPC), soap (SOAP), soap2 (Alternate SOAP) json (JSON), php_serial (Serialized PHP)."
            },
            {
              "name": "service",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Optionally only return blogs for a given service id. You can get a list of from flickr.blogs.getServices()."
            }
          ],
          "description": "Get a list of configured blogs for the calling user.",
          "externalDocs": {
            "url": "http://www.flickr.com/services/api/flickr.blogs.getList.html"
          }
        }
      },
      "/rest/?method=flickr.blogs.getServices": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "api_key",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "Your API application key."
            },
            {
              "name": "format",
              "required": false,
              "in": "query",
              "type": "string",
              "default": "rest",
              "description": "Response format. Accepted values: rest (REST), xmlrpc (XML-RPC), soap (SOAP), soap2 (Alternate SOAP) json (JSON), php_serial (Serialized PHP)."
            }
          ],
          "description": "Returns a list of Flickr supported blogging services.",
          "externalDocs": {
            "url": "http://www.flickr.com/services/api/flickr.blogs.getServices.html"
          }
        }
      },
      "/rest/?method=flickr.blogs.postPhoto": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "api_key",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "Your API application key."
            },
            {
              "name": "format",
              "required": false,
              "in": "query",
              "type": "string",
              "default": "rest",
              "description": "Response format. Accepted values: rest (REST), xmlrpc (XML-RPC), soap (SOAP), soap2 (Alternate SOAP) json (JSON), php_serial (Serialized PHP)."
            },
            {
              "name": "blog_id",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "The ID of the blog to post to."
            },
            {
              "name": "photo_id",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "The ID of the photo to blog."
            },
            {
              "name": "title",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "The blog post title."
            },
            {
              "name": "description",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "The blog post body."
            },
            {
              "name": "blog_password",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "The password for the blog (used when the blog does not have a stored password)."
            },
            {
              "name": "service",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "A Flickr supported blogging service. Instead of passing a blog id you can pass a service id and we'll post to the first blog of that service we find."
            }
          ],
          "description": "Posts a photo to a blog.",
          "externalDocs": {
            "url": "http://www.flickr.com/services/api/flickr.blogs.postPhoto.html"
          }
        }
      },
      "/rest/?method=flickr.collections.getInfo": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "api_key",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "Your API application key."
            },
            {
              "name": "format",
              "required": false,
              "in": "query",
              "type": "string",
              "default": "rest",
              "description": "Response format. Accepted values: rest (REST), xmlrpc (XML-RPC), soap (SOAP), soap2 (Alternate SOAP) json (JSON), php_serial (Serialized PHP)."
            },
            {
              "name": "collection_id",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "The ID of the collection to fetch information for."
            }
          ],
          "description": "Returns information for a single collection. Currently can only be called by the collection owner, this may change.",
          "externalDocs": {
            "url": "http://www.flickr.com/services/api/flickr.collections.getInfo.html"
          }
        }
      },
      "/rest/?method=flickr.collections.getTree": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "api_key",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "Your API application key."
            },
            {
              "name": "format",
              "required": false,
              "in": "query",
              "type": "string",
              "default": "rest",
              "description": "Response format. Accepted values: rest (REST), xmlrpc (XML-RPC), soap (SOAP), soap2 (Alternate SOAP) json (JSON), php_serial (Serialized PHP)."
            },
            {
              "name": "collection_id",
              "required": false,
              "in": "query",
              "type": "string",
              "default": "0",
              "description": "The ID of the collection to fetch a tree for, or zero to fetch the root collection. Defaults to zero."
            },
            {
              "name": "user_id",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "The ID of the account to fetch the collection tree for. Deafults to the calling user."
            }
          ],
          "description": "Returns a tree (or sub tree) of collections belonging to a given user.",
          "externalDocs": {
            "url": "http://www.flickr.com/services/api/flickr.collections.getTree.html"
          }
        }
      },
      "/rest/?method=flickr.commons.getInstitutions": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "api_key",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "Your API application key."
            },
            {
              "name": "format",
              "required": false,
              "in": "query",
              "type": "string",
              "default": "rest",
              "description": "Response format. Accepted values: rest (REST), xmlrpc (XML-RPC), soap (SOAP), soap2 (Alternate SOAP) json (JSON), php_serial (Serialized PHP)."
            }
          ],
          "description": "Retrieves a list of the current Commons institutions.",
          "externalDocs": {
            "url": "http://www.flickr.com/services/api/flickr.commons.getInstitutions.html"
          }
        }
      },
      "/rest/?method=flickr.contacts.getList": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "api_key",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "Your API application key."
            },
            {
              "name": "format",
              "required": false,
              "in": "query",
              "type": "string",
              "default": "rest",
              "description": "Response format. Accepted values: rest (REST), xmlrpc (XML-RPC), soap (SOAP), soap2 (Alternate SOAP) json (JSON), php_serial (Serialized PHP)."
            },
            {
              "name": "filter",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "An optional filter of the results. The following values are valid: friends (Only contacts who are friends, and not family), family (Only contacts who are family, and not friends), both (Only contacts who are both friends and family), neither (Only contacts who are neither friends nor family)."
            },
            {
              "name": "page",
              "required": false,
              "in": "query",
              "type": "integer",
              "default": 1,
              "description": "The page of results to return. If this argument is omitted, it defaults to 1."
            },
            {
              "name": "per_page",
              "required": false,
              "in": "query",
              "type": "integer",
              "default": 1000,
              "description": "Number of photos to return per page. If this argument is omitted, it defaults to 1000. The maximum allowed value is 1000."
            }
          ],
          "description": "Get a list of contacts for the calling user.",
          "externalDocs": {
            "url": "http://www.flickr.com/services/api/flickr.contacts.getList.html"
          }
        }
      },
      "/rest/?method=flickr.contacts.getListRecentlyUploaded": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "api_key",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "Your API application key."
            },
            {
              "name": "format",
              "required": false,
              "in": "query",
              "type": "string",
              "default": "rest",
              "description": "Response format. Accepted values: rest (REST), xmlrpc (XML-RPC), soap (SOAP), soap2 (Alternate SOAP) json (JSON), php_serial (Serialized PHP)."
            },
            {
              "name": "date_lastupload",
              "required": false,
              "in": "query",
              "type": "integer",
              "minimum": -9223372036854776000,
              "maximum": 9223372036854776000,
              "description": "Limits the resultset to contacts that have uploaded photos since this date. The date should be in the form of a Unix timestamp. The default offset is (1) hour and the maximum (24) hours."
            },
            {
              "name": "filter",
              "required": false,
              "in": "query",
              "type": "string",
              "default": "all",
              "description": "Limit the result set to all contacts or only those who are friends or family. Valid options are: ff (friends and family), all (all your contacts). Default value is \"all\"."
            }
          ],
          "description": "Return a list of contacts for a user who have recently uploaded photos along with the total count of photos uploaded. This method is still considered experimental. We don't plan for it to change or to go away but so long as this notice is present you should write your code accordingly.",
          "externalDocs": {
            "url": "http://www.flickr.com/services/api/flickr.contacts.getListRecentlyUploaded.html"
          }
        }
      },
      "/rest/?method=flickr.contacts.getPublicList": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "api_key",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "Your API application key."
            },
            {
              "name": "format",
              "required": false,
              "in": "query",
              "type": "string",
              "default": "rest",
              "description": "Response format. Accepted values: rest (REST), xmlrpc (XML-RPC), soap (SOAP), soap2 (Alternate SOAP) json (JSON), php_serial (Serialized PHP)."
            },
            {
              "name": "user_id",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "The NSID of the user to fetch the contact list for."
            },
            {
              "name": "page",
              "required": false,
              "in": "query",
              "type": "integer",
              "default": 1,
              "description": "The page of results to return. If this argument is omitted, it defaults to 1."
            },
            {
              "name": "per_page",
              "required": false,
              "in": "query",
              "type": "integer",
              "default": 1000,
              "description": "Number of photos to return per page. If this argument is omitted, it defaults to 1000. The maximum allowed value is 1000."
            }
          ],
          "description": "Get the contact list for a user.",
          "externalDocs": {
            "url": "http://www.flickr.com/services/api/flickr.contacts.getPublicList.html"
          }
        }
      },
      "/rest/?method=flickr.favorites.add": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "api_key",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "Your API application key."
            },
            {
              "name": "format",
              "required": false,
              "in": "query",
              "type": "string",
              "default": "rest",
              "description": "Response format. Accepted values: rest (REST), xmlrpc (XML-RPC), soap (SOAP), soap2 (Alternate SOAP) json (JSON), php_serial (Serialized PHP)."
            },
            {
              "name": "photo_id",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "The id of the photo to add to the user's favorites."
            }
          ],
          "description": "Adds a photo to a user's favorites list.",
          "externalDocs": {
            "url": "http://www.flickr.com/services/api/flickr.favorites.add.html"
          }
        }
      },
      "/rest/?method=flickr.favorites.getList": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "api_key",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "Your API application key."
            },
            {
              "name": "format",
              "required": false,
              "in": "query",
              "type": "string",
              "default": "rest",
              "description": "Response format. Accepted values: rest (REST), xmlrpc (XML-RPC), soap (SOAP), soap2 (Alternate SOAP) json (JSON), php_serial (Serialized PHP)."
            },
            {
              "name": "min_fave_date",
              "required": false,
              "in": "query",
              "type": "integer",
              "minimum": -9223372036854776000,
              "maximum": 9223372036854776000,
              "description": "Minimum date that a photo was favorited on. The date should be in the form of a unix timestamp."
            },
            {
              "name": "max_fave_date",
              "required": false,
              "in": "query",
              "type": "integer",
              "minimum": -9223372036854776000,
              "maximum": 9223372036854776000,
              "description": "Maximum date that a photo was favorited on. The date should be in the form of a unix timestamp."
            },
            {
              "name": "extras",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "A comma-delimited list of extra information to fetch for each returned record. Currently supported fields are: description, license, date_upload, date_taken, owner_name, icon_server, original_format, last_update, geo, tags, machine_tags, o_dims, views, media, path_alias, url_sq, url_t, url_s, url_m, url_z, url_l, url_o"
            },
            {
              "name": "per_page",
              "required": false,
              "in": "query",
              "type": "integer",
              "default": 100,
              "description": "Number of photos to return per page. If this argument is omitted, it defaults to 100. The maximum allowed value is 500."
            },
            {
              "name": "page",
              "required": false,
              "in": "query",
              "type": "integer",
              "default": 1,
              "description": "The page of results to return. If this argument is omitted, it defaults to 1."
            }
          ],
          "description": "Returns a list of the user's favorite photos. Only photos which the calling user has permission to see are returned.",
          "externalDocs": {
            "url": "http://www.flickr.com/services/api/flickr.favorites.getList.html"
          }
        }
      },
      "/rest/?method=flickr.favorites.getPublicList": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "api_key",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "Your API application key."
            },
            {
              "name": "format",
              "required": false,
              "in": "query",
              "type": "string",
              "default": "rest",
              "description": "Response format. Accepted values: rest (REST), xmlrpc (XML-RPC), soap (SOAP), soap2 (Alternate SOAP) json (JSON), php_serial (Serialized PHP)."
            },
            {
              "name": "user_id",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "The user to fetch the favorites list for."
            },
            {
              "name": "min_fave_date",
              "required": false,
              "in": "query",
              "type": "integer",
              "minimum": -9223372036854776000,
              "maximum": 9223372036854776000,
              "description": "Minimum date that a photo was favorited on. The date should be in the form of a unix timestamp."
            },
            {
              "name": "max_fave_date",
              "required": false,
              "in": "query",
              "type": "integer",
              "minimum": -9223372036854776000,
              "maximum": 9223372036854776000,
              "description": "Maximum date that a photo was favorited on. The date should be in the form of a unix timestamp."
            },
            {
              "name": "extras",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "A comma-delimited list of extra information to fetch for each returned record. Currently supported fields are: description, license, date_upload, date_taken, owner_name, icon_server, original_format, last_update, geo, tags, machine_tags, o_dims, views, media, path_alias, url_sq, url_t, url_s, url_m, url_z, url_l, url_o"
            },
            {
              "name": "per_page",
              "required": false,
              "in": "query",
              "type": "integer",
              "default": 100,
              "description": "Number of photos to return per page. If this argument is omitted, it defaults to 100. The maximum allowed value is 500."
            },
            {
              "name": "page",
              "required": false,
              "in": "query",
              "type": "integer",
              "default": 1,
              "description": "The page of results to return. If this argument is omitted, it defaults to 1."
            }
          ],
          "description": "Returns a list of favorite public photos for the given user.",
          "externalDocs": {
            "url": "http://www.flickr.com/services/api/flickr.favorites.getPublicList.html"
          }
        }
      },
      "/rest/?method=flickr.favorites.remove": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "api_key",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "Your API application key."
            },
            {
              "name": "format",
              "required": false,
              "in": "query",
              "type": "string",
              "default": "rest",
              "description": "Response format. Accepted values: rest (REST), xmlrpc (XML-RPC), soap (SOAP), soap2 (Alternate SOAP) json (JSON), php_serial (Serialized PHP)."
            },
            {
              "name": "photo_id",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "The id of the photo to remove to the user's favorites."
            }
          ],
          "description": "Adds a photo to a user's favorites list.",
          "externalDocs": {
            "url": "http://www.flickr.com/services/api/flickr.favorites.remove.html"
          }
        }
      },
      "/rest/?method=flickr.galleries.addPhoto": {
        "parameters": [],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "api_key",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "Your API application key."
            },
            {
              "name": "gallery_id",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "The ID of the gallery to add a photo to. Note: this is the compound ID returned in methods like flickr.galleries.getList, and flickr.galleries.getListForPhoto."
            },
            {
              "name": "photo_id",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "The photo ID to add to the gallery."
            },
            {
              "name": "comment",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "A short comment or story to accompany the photo."
            }
          ],
          "description": "Add a photo to a gallery.",
          "externalDocs": {
            "url": "http://www.flickr.com/services/api/flickr.galleries.addPhoto.html"
          }
        }
      },
      "/rest/?method=flickr.galleries.create": {
        "parameters": [],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "api_key",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "Your API application key."
            },
            {
              "name": "format",
              "required": false,
              "in": "query",
              "type": "string",
              "default": "rest",
              "description": "Response format. Accepted values: rest (REST), xmlrpc (XML-RPC), soap (SOAP), soap2 (Alternate SOAP) json (JSON), php_serial (Serialized PHP)."
            },
            {
              "name": "title",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "The title of the gallery."
            },
            {
              "name": "description",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "A short description for the gallery."
            },
            {
              "name": "primary_photo_id",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "The first photo to add to your gallery."
            }
          ],
          "description": "Create a new gallery for the calling user.",
          "externalDocs": {
            "url": "http://www.flickr.com/services/api/flickr.galleries.create.html"
          }
        }
      },
      "/rest/?method=flickr.galleries.editMeta": {
        "parameters": [],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "api_key",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "Your API application key."
            },
            {
              "name": "gallery_id",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "The gallery ID to update."
            },
            {
              "name": "title",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "The new title for the gallery."
            },
            {
              "name": "description",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "The new description for the gallery."
            }
          ],
          "description": "Modify the metadata for a gallery.",
          "externalDocs": {
            "url": "http://www.flickr.com/services/api/flickr.galleries.editMeta.html"
          }
        }
      },
      "/rest/?method=flickr.galleries.editPhoto": {
        "parameters": [],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "api_key",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "Your API application key."
            },
            {
              "name": "gallery_id",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "The ID of the gallery to add a photo to. Note: this is the compound ID returned in methods like flickr.galleries.getList, and flickr.galleries.getListForPhoto."
            },
            {
              "name": "photo_id",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "The photo ID to add to the gallery."
            },
            {
              "name": "comment",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "The updated comment the photo."
            }
          ],
          "description": "Edit the comment for a gallery photo.",
          "externalDocs": {
            "url": "http://www.flickr.com/services/api/flickr.galleries.editPhoto.html"
          }
        }
      },
      "/rest/?method=flickr.galleries.editPhotos": {
        "parameters": [],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "api_key",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "Your API application key."
            },
            {
              "name": "gallery_id",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "The id of the gallery to modify. The gallery must belong to the calling user."
            },
            {
              "name": "primary_photo_id",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "The id of the photo to use as the 'primary' photo for the gallery. This id must also be passed along in photo_ids list argument."
            },
            {
              "name": "photo_ids",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "A comma-delimited list of photo ids to include in the gallery. They will appear in the set in the order sent. This list must contain the primary photo id. This list of photos replaces the existing list."
            }
          ],
          "description": "Modify the photos in a gallery. Use this method to add, remove and re-order photos.",
          "externalDocs": {
            "url": "http://www.flickr.com/services/api/flickr.galleries.editPhotos.html"
          }
        }
      },
      "/rest/?method=flickr.galleries.getInfo": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "api_key",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "Your API application key."
            },
            {
              "name": "format",
              "required": false,
              "in": "query",
              "type": "string",
              "default": "rest",
              "description": "Response format. Accepted values: rest (REST), xmlrpc (XML-RPC), soap (SOAP), soap2 (Alternate SOAP) json (JSON), php_serial (Serialized PHP)."
            },
            {
              "name": "gallery_id",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "The gallery ID you are requesting information for."
            }
          ],
          "description": "Returns information about a gallery.",
          "externalDocs": {
            "url": "http://www.flickr.com/services/api/flickr.galleries.getInfo.html"
          }
        }
      },
      "/rest/?method=flickr.galleries.getList": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "api_key",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "Your API application key."
            },
            {
              "name": "format",
              "required": false,
              "in": "query",
              "type": "string",
              "default": "rest",
              "description": "Response format. Accepted values: rest (REST), xmlrpc (XML-RPC), soap (SOAP), soap2 (Alternate SOAP) json (JSON), php_serial (Serialized PHP)."
            },
            {
              "name": "user_id",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "The NSID of the user to get a galleries list for. If none is specified, the calling user is assumed."
            },
            {
              "name": "per_page",
              "required": false,
              "in": "query",
              "type": "integer",
              "default": 100,
              "description": "Number of galleries to return per page. If this argument is omitted, it defaults to 100. The maximum allowed value is 500."
            },
            {
              "name": "page",
              "required": false,
              "in": "query",
              "type": "integer",
              "default": 1,
              "description": "The page of results to return. If this argument is omitted, it defaults to 1."
            }
          ],
          "description": "Return the list of galleries created by a user. Sorted from newest to oldest.",
          "externalDocs": {
            "url": "http://www.flickr.com/services/api/flickr.galleries.getList.html"
          }
        }
      },
      "/rest/?method=flickr.galleries.getListForPhoto": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "api_key",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "Your API application key."
            },
            {
              "name": "format",
              "required": false,
              "in": "query",
              "type": "string",
              "default": "rest",
              "description": "Response format. Accepted values: rest (REST), xmlrpc (XML-RPC), soap (SOAP), soap2 (Alternate SOAP) json (JSON), php_serial (Serialized PHP)."
            },
            {
              "name": "photo_id",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "The ID of the photo to fetch a list of galleries for."
            },
            {
              "name": "per_page",
              "required": false,
              "in": "query",
              "type": "integer",
              "default": 100,
              "description": "Number of galleries to return per page. If this argument is omitted, it defaults to 100. The maximum allowed value is 500."
            },
            {
              "name": "page",
              "required": false,
              "in": "query",
              "type": "integer",
              "default": 1,
              "description": "The page of results to return. If this argument is omitted, it defaults to 1."
            }
          ],
          "description": "Return the list of galleries to which a photo has been added. Galleries are returned sorted by date which the photo was added to the gallery.",
          "externalDocs": {
            "url": "http://www.flickr.com/services/api/flickr.galleries.getListForPhoto.html"
          }
        }
      },
      "/rest/?method=flickr.galleries.getPhotos": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "api_key",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "Your API application key."
            },
            {
              "name": "format",
              "required": false,
              "in": "query",
              "type": "string",
              "default": "rest",
              "description": "Response format. Accepted values: rest (REST), xmlrpc (XML-RPC), soap (SOAP), soap2 (Alternate SOAP) json (JSON), php_serial (Serialized PHP)."
            },
            {
              "name": "gallery_id",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "The ID of the gallery of photos to return."
            },
            {
              "name": "extras",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "A comma-delimited list of extra information to fetch for each returned record. Currently supported fields are: description, license, date_upload, date_taken, owner_name, icon_server, original_format, last_update, geo, tags, machine_tags, o_dims, views, media, path_alias, url_sq, url_t, url_s, url_m, url_z, url_l, url_o"
            },
            {
              "name": "per_page",
              "required": false,
              "in": "query",
              "type": "integer",
              "default": 100,
              "description": "Number of galleries to return per page. If this argument is omitted, it defaults to 100. The maximum allowed value is 500."
            },
            {
              "name": "page",
              "required": false,
              "in": "query",
              "type": "integer",
              "default": 1,
              "description": "The page of results to return. If this argument is omitted, it defaults to 1."
            }
          ],
          "description": "Return the list of photos for a gallery.",
          "externalDocs": {
            "url": "http://www.flickr.com/services/api/flickr.galleries.getPhotos.html"
          }
        }
      },
      "/rest/?method=flickr.groups.browse": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "api_key",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "Your API application key."
            },
            {
              "name": "format",
              "required": false,
              "in": "query",
              "type": "string",
              "default": "rest",
              "description": "Response format. Accepted values: rest (REST), xmlrpc (XML-RPC), soap (SOAP), soap2 (Alternate SOAP) json (JSON), php_serial (Serialized PHP)."
            },
            {
              "name": "cat_id",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "The category id to fetch a list of groups and sub-categories for. If not specified, it defaults to zero, the root of the category tree."
            }
          ],
          "description": "Browse the group category tree, finding groups and sub-categories.",
          "externalDocs": {
            "url": "http://www.flickr.com/services/api/flickr.groups.browse.html"
          }
        }
      },
      "/rest/?method=flickr.groups.getInfo": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "api_key",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "Your API application key."
            },
            {
              "name": "format",
              "required": false,
              "in": "query",
              "type": "string",
              "default": "rest",
              "description": "Response format. Accepted values: rest (REST), xmlrpc (XML-RPC), soap (SOAP), soap2 (Alternate SOAP) json (JSON), php_serial (Serialized PHP)."
            },
            {
              "name": "group_id",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "The NSID of the group to fetch information for."
            },
            {
              "name": "lang",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "The language of the group name and description to fetch. If the language is not found, the primary language of the group will be returned. Valid values are the same as in feeds."
            }
          ],
          "description": "Get information about a group.",
          "externalDocs": {
            "url": "http://www.flickr.com/services/api/flickr.groups.getInfo.html"
          }
        }
      },
      "/rest/?method=flickr.groups.search": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "api_key",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "Your API application key."
            },
            {
              "name": "format",
              "required": false,
              "in": "query",
              "type": "string",
              "default": "rest",
              "description": "Response format. Accepted values: rest (REST), xmlrpc (XML-RPC), soap (SOAP), soap2 (Alternate SOAP) json (JSON), php_serial (Serialized PHP)."
            },
            {
              "name": "text",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "The text to search for."
            },
            {
              "name": "per_page",
              "required": false,
              "in": "query",
              "type": "integer",
              "default": 100,
              "description": "Number of groups to return per page. If this argument is omitted, it defaults to 100. The maximum allowed value is 500."
            },
            {
              "name": "page",
              "required": false,
              "in": "query",
              "type": "integer",
              "default": 1,
              "description": "The page of results to return. If this argument is omitted, it defaults to 1."
            }
          ],
          "description": "Search for groups. 18+ groups will only be returned for authenticated calls where the authenticated user is over 18.",
          "externalDocs": {
            "url": "http://www.flickr.com/services/api/flickr.groups.search.html"
          }
        }
      },
      "/rest/?method=flickr.groups.members.getList": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "api_key",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "Your API application key."
            },
            {
              "name": "format",
              "required": false,
              "in": "query",
              "type": "string",
              "default": "rest",
              "description": "Response format. Accepted values: rest (REST), xmlrpc (XML-RPC), soap (SOAP), soap2 (Alternate SOAP) json (JSON), php_serial (Serialized PHP)."
            },
            {
              "name": "group_id",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "Return a list of members for this group. The group must be viewable by the Flickr member on whose behalf the API call is made."
            },
            {
              "name": "membertypes",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Comma separated list of member types. Accepted values: 2 (member), 3 (moderator), 4 (admin). By default returns all types. (Returning super rare member type \"1: narwhal\" isn't supported by this API method)"
            },
            {
              "name": "per_page",
              "required": false,
              "in": "query",
              "type": "integer",
              "default": 100,
              "description": "Number of groups to return per page. If this argument is omitted, it defaults to 100. The maximum allowed value is 500."
            },
            {
              "name": "page",
              "required": false,
              "in": "query",
              "type": "integer",
              "default": 1,
              "description": "The page of results to return. If this argument is omitted, it defaults to 1."
            }
          ],
          "description": "Get a list of the members of a group. The call must be signed on behalf of a Flickr member, and the ability to see the group membership will be determined by the Flickr member's group privileges.",
          "externalDocs": {
            "url": "http://www.flickr.com/services/api/flickr.groups.members.getList.html"
          }
        }
      },
      "/rest/?method=flickr.groups.pools.add": {
        "parameters": [],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "api_key",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "Your API application key."
            },
            {
              "name": "photo_id",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "The id of the photo to add to the group pool. The photo must belong to the calling user."
            },
            {
              "name": "group_id",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "The NSID of the group whose pool the photo is to be added to."
            }
          ],
          "description": "Add a photo to a group's pool.",
          "externalDocs": {
            "url": "http://www.flickr.com/services/api/flickr.groups.pools.add.html"
          }
        }
      },
      "/rest/?method=flickr.groups.pools.getContext": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "api_key",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "Your API application key."
            },
            {
              "name": "format",
              "required": false,
              "in": "query",
              "type": "string",
              "default": "rest",
              "description": "Response format. Accepted values: rest (REST), xmlrpc (XML-RPC), soap (SOAP), soap2 (Alternate SOAP) json (JSON), php_serial (Serialized PHP)."
            },
            {
              "name": "photo_id",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "The id of the photo to fetch the context for."
            },
            {
              "name": "group_id",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "The NSID of the group whose pool to fetch the photo's context for."
            }
          ],
          "description": "Returns next and previous photos for a photo in a group pool.",
          "externalDocs": {
            "url": "http://www.flickr.com/services/api/flickr.groups.pools.getContext.html"
          }
        }
      },
      "/rest/?method=flickr.groups.pools.getGroups": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "api_key",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "Your API application key."
            },
            {
              "name": "format",
              "required": false,
              "in": "query",
              "type": "string",
              "default": "rest",
              "description": "Response format. Accepted values: rest (REST), xmlrpc (XML-RPC), soap (SOAP), soap2 (Alternate SOAP) json (JSON), php_serial (Serialized PHP)."
            },
            {
              "name": "page",
              "required": false,
              "in": "query",
              "type": "string",
              "default": "1",
              "description": "The page of results to return. If this argument is omitted, it defaults to 1."
            },
            {
              "name": "per_page",
              "required": false,
              "in": "query",
              "type": "string",
              "default": "400",
              "description": "Number of groups to return per page. If this argument is omitted, it defaults to 400. The maximum allowed value is 400."
            }
          ],
          "description": "Returns a list of groups to which you can add photos.",
          "externalDocs": {
            "url": "http://www.flickr.com/services/api/flickr.groups.pools.getGroups.html"
          }
        }
      },
      "/rest/?method=flickr.groups.pools.getPhotos": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "api_key",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "Your API application key."
            },
            {
              "name": "format",
              "required": false,
              "in": "query",
              "type": "string",
              "default": "rest",
              "description": "Response format. Accepted values: rest (REST), xmlrpc (XML-RPC), soap (SOAP), soap2 (Alternate SOAP) json (JSON), php_serial (Serialized PHP)."
            },
            {
              "name": "tags",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "A tag to filter the pool with. At the moment only one tag at a time is supported."
            },
            {
              "name": "user_id",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "The nsid of a user. Specifiying this parameter will retrieve for you only those photos that the user has contributed to the group pool."
            },
            {
              "name": "extras",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "A comma-delimited list of extra information to fetch for each returned record. Currently supported fields are: description, license, date_upload, date_taken, owner_name, icon_server, original_format, last_update, geo, tags, machine_tags, o_dims, views, media, path_alias, url_sq, url_t, url_s, url_m, url_z, url_l, url_o"
            },
            {
              "name": "per_page",
              "required": false,
              "in": "query",
              "type": "integer",
              "default": 100,
              "description": "Number of photos to return per page. If this argument is omitted, it defaults to 100. The maximum allowed value is 400."
            },
            {
              "name": "page",
              "required": false,
              "in": "query",
              "type": "integer",
              "default": 1,
              "description": "The page of results to return. If this argument is omitted, it defaults to 1."
            }
          ],
          "description": "Returns a list of pool photos for a given group, based on the permissions of the group and the user logged in (if any).",
          "externalDocs": {
            "url": "http://www.flickr.com/services/api/flickr.groups.pools.getPhotos.html"
          }
        }
      },
      "/rest/?method=flickr.groups.pools.remove": {
        "parameters": [],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "api_key",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "Your API application key."
            },
            {
              "name": "photo_id",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "The id of the photo to remove from the group pool. The photo must either be owned by the calling user of the calling user must be an administrator of the group."
            },
            {
              "name": "group_id",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "The NSID of the group who's pool the photo is to removed from."
            }
          ],
          "description": "Remove a photo from a group pool.",
          "externalDocs": {
            "url": "http://www.flickr.com/services/api/flickr.groups.pools.remove.html"
          }
        }
      },
      "/rest/?method=flickr.interestingness.getList": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "api_key",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "Your API application key."
            },
            {
              "name": "format",
              "required": false,
              "in": "query",
              "type": "string",
              "default": "rest",
              "description": "Response format. Accepted values: rest (REST), xmlrpc (XML-RPC), soap (SOAP), soap2 (Alternate SOAP) json (JSON), php_serial (Serialized PHP)."
            },
            {
              "name": "date",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "A specific date, formatted as YYYY-MM-DD, to return interesting photos for."
            },
            {
              "name": "extras",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "A comma-delimited list of extra information to fetch for each returned record. Currently supported fields are: description, license, date_upload, date_taken, owner_name, icon_server, original_format, last_update, geo, tags, machine_tags, o_dims, views, media, path_alias, url_sq, url_t, url_s, url_m, url_z, url_l, url_o"
            },
            {
              "name": "per_page",
              "required": false,
              "in": "query",
              "type": "integer",
              "default": 100,
              "description": "Number of photos to return per page. If this argument is omitted, it defaults to 100. The maximum allowed value is 500."
            },
            {
              "name": "page",
              "required": false,
              "in": "query",
              "type": "integer",
              "default": 1,
              "description": "The page of results to return. If this argument is omitted, it defaults to 1."
            }
          ],
          "description": "Returns the list of interesting photos for the most recent day or a user-specified date.",
          "externalDocs": {
            "url": "http://www.flickr.com/services/api/flickr.interestingness.getList.html"
          }
        }
      },
      "/rest/?method=flickr.machinetags.getNamespaces": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "api_key",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "Your API application key."
            },
            {
              "name": "format",
              "required": false,
              "in": "query",
              "type": "string",
              "default": "rest",
              "description": "Response format. Accepted values: rest (REST), xmlrpc (XML-RPC), soap (SOAP), soap2 (Alternate SOAP) json (JSON), php_serial (Serialized PHP)."
            },
            {
              "name": "predicate",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Limit the list of namespaces returned to those that have the following predicate."
            },
            {
              "name": "per_page",
              "required": false,
              "in": "query",
              "type": "integer",
              "default": 100,
              "description": "Number of photos to return per page. If this argument is omitted, it defaults to 100. The maximum allowed value is 500."
            },
            {
              "name": "page",
              "required": false,
              "in": "query",
              "type": "integer",
              "default": 1,
              "description": "The page of results to return. If this argument is omitted, it defaults to 1."
            }
          ],
          "description": "Return a list of unique namespaces, optionally limited by a given predicate, in alphabetical order.",
          "externalDocs": {
            "url": "http://www.flickr.com/services/api/flickr.machinetags.getNamespaces.html"
          }
        }
      },
      "/rest/?method=flickr.machinetags.getPairs": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "api_key",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "Your API application key."
            },
            {
              "name": "format",
              "required": false,
              "in": "query",
              "type": "string",
              "default": "rest",
              "description": "Response format. Accepted values: rest (REST), xmlrpc (XML-RPC), soap (SOAP), soap2 (Alternate SOAP) json (JSON), php_serial (Serialized PHP)."
            },
            {
              "name": "namespace",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Limit the list of pairs returned to those that have the following namespace."
            },
            {
              "name": "predicate",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Limit the list of namespaces returned to those that have the following predicate."
            },
            {
              "name": "per_page",
              "required": false,
              "in": "query",
              "type": "integer",
              "default": 100,
              "description": "Number of photos to return per page. If this argument is omitted, it defaults to 100. The maximum allowed value is 500."
            },
            {
              "name": "page",
              "required": false,
              "in": "query",
              "type": "integer",
              "default": 1,
              "description": "The page of results to return. If this argument is omitted, it defaults to 1."
            }
          ],
          "description": "Return a list of unique namespace and predicate pairs, optionally limited by predicate or namespace, in alphabetical order.",
          "externalDocs": {
            "url": "http://www.flickr.com/services/api/flickr.machinetags.getPairs.html"
          }
        }
      },
      "/rest/?method=flickr.machinetags.getPredicates": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "api_key",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "Your API application key."
            },
            {
              "name": "format",
              "required": false,
              "in": "query",
              "type": "string",
              "default": "rest",
              "description": "Response format. Accepted values: rest (REST), xmlrpc (XML-RPC), soap (SOAP), soap2 (Alternate SOAP) json (JSON), php_serial (Serialized PHP)."
            },
            {
              "name": "namespace",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Limit the list of predicates returned to those that have the following namespace."
            },
            {
              "name": "per_page",
              "required": false,
              "in": "query",
              "type": "integer",
              "default": 100,
              "description": "Number of predicates to return per page. If this argument is omitted, it defaults to 100. The maximum allowed value is 500."
            },
            {
              "name": "page",
              "required": false,
              "in": "query",
              "type": "integer",
              "default": 1,
              "description": "The page of results to return. If this argument is omitted, it defaults to 1."
            }
          ],
          "description": "Return a list of unique predicates, optionally limited by a given namespace.",
          "externalDocs": {
            "url": "http://www.flickr.com/services/api/flickr.machinetags.getPredicates.html"
          }
        }
      },
      "/rest/?method=flickr.machinetags.getRecentValues": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "api_key",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "Your API application key."
            },
            {
              "name": "format",
              "required": false,
              "in": "query",
              "type": "string",
              "default": "rest",
              "description": "Response format. Accepted values: rest (REST), xmlrpc (XML-RPC), soap (SOAP), soap2 (Alternate SOAP) json (JSON), php_serial (Serialized PHP)."
            },
            {
              "name": "namespace",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "A namespace that all values should be restricted to."
            },
            {
              "name": "predicate",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "A predicate that all values should be restricted to."
            },
            {
              "name": "per_page",
              "required": false,
              "in": "query",
              "type": "integer",
              "default": 100,
              "description": "Number of values to return per page. If this argument is omitted, it defaults to 100. The maximum allowed value is 500."
            },
            {
              "name": "page",
              "required": false,
              "in": "query",
              "type": "integer",
              "default": 1,
              "description": "The page of results to return. If this argument is omitted, it defaults to 1."
            }
          ],
          "description": "Fetch recently used (or created) machine tags values.",
          "externalDocs": {
            "url": "http://www.flickr.com/services/api/flickr.machinetags.getRecentValues.html"
          }
        }
      },
      "/rest/?method=flickr.machinetags.getValues": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "api_key",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "Your API application key."
            },
            {
              "name": "format",
              "required": false,
              "in": "query",
              "type": "string",
              "default": "rest",
              "description": "Response format. Accepted values: rest (REST), xmlrpc (XML-RPC), soap (SOAP), soap2 (Alternate SOAP) json (JSON), php_serial (Serialized PHP)."
            },
            {
              "name": "namespace",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "A namespace that all values should be restricted to."
            },
            {
              "name": "predicate",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "A predicate that all values should be restricted to."
            },
            {
              "name": "per_page",
              "required": false,
              "in": "query",
              "type": "integer",
              "default": 100,
              "description": "Number of values to return per page. If this argument is omitted, it defaults to 100. The maximum allowed value is 500."
            },
            {
              "name": "page",
              "required": false,
              "in": "query",
              "type": "integer",
              "default": 1,
              "description": "The page of results to return. If this argument is omitted, it defaults to 1."
            }
          ],
          "description": "Return a list of unique values for a namespace and predicate.",
          "externalDocs": {
            "url": "http://www.flickr.com/services/api/flickr.machinetags.getValues.html"
          }
        }
      },
      "/rest/?method=flickr.panda.getList": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "api_key",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "Your API application key."
            },
            {
              "name": "format",
              "required": false,
              "in": "query",
              "type": "string",
              "default": "rest",
              "description": "Response format. Accepted values: rest (REST), xmlrpc (XML-RPC), soap (SOAP), soap2 (Alternate SOAP) json (JSON), php_serial (Serialized PHP)."
            }
          ],
          "description": "Return a list of Flickr pandas, from whom you can request photos using the flickr.panda.getPhotos API method. More information about the pandas can be found on the dev blog.",
          "externalDocs": {
            "url": "http://www.flickr.com/services/api/flickr.panda.getList.html"
          }
        }
      },
      "/rest/?method=flickr.panda.getPhotos": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "api_key",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "Your API application key."
            },
            {
              "name": "format",
              "required": false,
              "in": "query",
              "type": "string",
              "default": "rest",
              "description": "Response format. Accepted values: rest (REST), xmlrpc (XML-RPC), soap (SOAP), soap2 (Alternate SOAP) json (JSON), php_serial (Serialized PHP)."
            },
            {
              "name": "panda_name",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "The name of the panda to ask for photos from. You can fetch a list of all the current pandas using the flickr.panda.getList API method."
            },
            {
              "name": "extras",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "A comma-delimited list of extra information to fetch for each returned record. Currently supported fields are: description, license, date_upload, date_taken, owner_name, icon_server, original_format, last_update, geo, tags, machine_tags, o_dims, views, media, path_alias, url_sq, url_t, url_s, url_m, url_z, url_l, url_o"
            },
            {
              "name": "per_page",
              "required": false,
              "in": "query",
              "type": "integer",
              "default": 100,
              "description": "Number of photos to return per page. If this argument is omitted, it defaults to 100. The maximum allowed value is 500."
            },
            {
              "name": "page",
              "required": false,
              "in": "query",
              "type": "integer",
              "default": 1,
              "description": "The page of results to return. If this argument is omitted, it defaults to 1."
            }
          ],
          "description": "Ask the Flickr Pandas for a list of recent public (and \"safe\") photos. More information about the pandas can be found on the dev blog.",
          "externalDocs": {
            "url": "http://www.flickr.com/services/api/flickr.panda.getPhotos.html"
          }
        }
      },
      "/rest/?method=flickr.people.findByEmail": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "api_key",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "Your API application key."
            },
            {
              "name": "format",
              "required": false,
              "in": "query",
              "type": "string",
              "default": "rest",
              "description": "Response format. Accepted values: rest (REST), xmlrpc (XML-RPC), soap (SOAP), soap2 (Alternate SOAP) json (JSON), php_serial (Serialized PHP)."
            },
            {
              "name": "find_email",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "The email address of the user to find (may be primary or secondary)."
            }
          ],
          "description": "Return a user's NSID, given their email address",
          "externalDocs": {
            "url": "http://www.flickr.com/services/api/flickr.people.findByEmail.html"
          }
        }
      },
      "/rest/?method=flickr.people.findByUsername": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "api_key",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "Your API application key."
            },
            {
              "name": "format",
              "required": false,
              "in": "query",
              "type": "string",
              "default": "rest",
              "description": "Response format. Accepted values: rest (REST), xmlrpc (XML-RPC), soap (SOAP), soap2 (Alternate SOAP) json (JSON), php_serial (Serialized PHP)."
            },
            {
              "name": "username",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "The username of the user to lookup."
            }
          ],
          "description": "Return a user's NSID, given their username.",
          "externalDocs": {
            "url": "http://www.flickr.com/services/api/flickr.people.findByUsername.html"
          }
        }
      },
      "/rest/?method=flickr.people.getInfo": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "api_key",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "Your API application key."
            },
            {
              "name": "format",
              "required": false,
              "in": "query",
              "type": "string",
              "default": "rest",
              "description": "Response format. Accepted values: rest (REST), xmlrpc (XML-RPC), soap (SOAP), soap2 (Alternate SOAP) json (JSON), php_serial (Serialized PHP)."
            },
            {
              "name": "user_id",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "The NSID of the user to fetch information about."
            }
          ],
          "description": "Get information about a user.",
          "externalDocs": {
            "url": "http://www.flickr.com/services/api/flickr.people.getInfo.html"
          }
        }
      },
      "/rest/?method=flickr.people.getPhotos": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "api_key",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "Your API application key."
            },
            {
              "name": "format",
              "required": false,
              "in": "query",
              "type": "string",
              "default": "rest",
              "description": "Response format. Accepted values: rest (REST), xmlrpc (XML-RPC), soap (SOAP), soap2 (Alternate SOAP) json (JSON), php_serial (Serialized PHP)."
            },
            {
              "name": "user_id",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "The NSID of the user whose photos to return. A value of \"me\" will return the calling user's photos."
            },
            {
              "name": "safe_search",
              "required": false,
              "in": "query",
              "type": "integer",
              "description": "Safe search setting. Accepted values: 1 (safe), 2 (moderate), 3 (restricted)"
            },
            {
              "name": "min_upload_date",
              "required": false,
              "in": "query",
              "type": "integer",
              "minimum": -9223372036854776000,
              "maximum": 9223372036854776000,
              "description": "Minimum upload date. Photos with an upload date greater than or equal to this value will be returned. The date should be in the form of a unix timestamp."
            },
            {
              "name": "max_upload_date",
              "required": false,
              "in": "query",
              "type": "integer",
              "minimum": -9223372036854776000,
              "maximum": 9223372036854776000,
              "description": "Maximum upload date. Photos with an upload date less than or equal to this value will be returned. The date should be in the form of a unix timestamp."
            },
            {
              "name": "min_taken_date",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Minimum taken date. Photos with an taken date greater than or equal to this value will be returned. The date should be in the form of a mysql datetime."
            },
            {
              "name": "max_taken_date",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Maximum taken date. Photos with an taken date less than or equal to this value will be returned. The date should be in the form of a mysql datetime."
            },
            {
              "name": "content_type",
              "required": false,
              "in": "query",
              "type": "integer",
              "description": "Content type setting. Accepted values: 1 (photos only), 2 (screenshots only), 3 ('other' only), 4 (photos and screenshots), 5 (screenshots and 'other'), 6 (photos and 'other'), 7 (photos, screenshots, and 'other') (all)"
            },
            {
              "name": "privacy_filter",
              "required": false,
              "in": "query",
              "type": "integer",
              "description": "Return photos only matching a certain privacy level. This only applies when making an authenticated call to view photos you own. Valid values are: 1 (public photos), 2 (private photos visible to friends), 3 (private photos visible to family), 4 (private photos visible to friends and family), 5 (completely private photos)"
            },
            {
              "name": "extras",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "A comma-delimited list of extra information to fetch for each returned record. Currently supported fields are: description, license, date_upload, date_taken, owner_name, icon_server, original_format, last_update, geo, tags, machine_tags, o_dims, views, media, path_alias, url_sq, url_t, url_s, url_m, url_z, url_l, url_o"
            },
            {
              "name": "per_page",
              "required": false,
              "in": "query",
              "type": "integer",
              "default": 100,
              "description": "Number of photos to return per page. If this argument is omitted, it defaults to 100. The maximum allowed value is 500."
            },
            {
              "name": "page",
              "required": false,
              "in": "query",
              "type": "integer",
              "default": 1,
              "description": "The page of results to return. If this argument is omitted, it defaults to 1."
            }
          ],
          "description": "Return photos from the given user's photostream. Only photos visible to the calling user will be returned. This method must be authenticated; to return public photos for a user, use flickr.people.getPublicPhotos.",
          "externalDocs": {
            "url": "http://www.flickr.com/services/api/flickr.people.getPhotos.html"
          }
        }
      },
      "/rest/?method=flickr.people.getPhotosOf": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "api_key",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "Your API application key."
            },
            {
              "name": "format",
              "required": false,
              "in": "query",
              "type": "string",
              "default": "rest",
              "description": "Response format. Accepted values: rest (REST), xmlrpc (XML-RPC), soap (SOAP), soap2 (Alternate SOAP) json (JSON), php_serial (Serialized PHP)."
            },
            {
              "name": "user_id",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "The NSID of the user you want to find photos of. A value of \"me\" will search against photos of the calling user, for authenticated calls."
            },
            {
              "name": "owner_id",
              "required": false,
              "in": "query",
              "type": "integer",
              "description": "An NSID of a Flickr member. This will restrict the list of photos to those taken by that member."
            },
            {
              "name": "extras",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "A comma-delimited list of extra information to fetch for each returned record. Currently supported fields are: description, license, date_upload, date_taken, date_person_added, owner_name, icon_server, original_format, last_update, geo, tags, machine_tags, o_dims, views, media, path_alias, url_sq, url_t, url_s, url_m, url_z, url_l, url_o"
            },
            {
              "name": "per_page",
              "required": false,
              "in": "query",
              "type": "integer",
              "default": 100,
              "description": "Number of photos to return per page. If this argument is omitted, it defaults to 100. The maximum allowed value is 500."
            },
            {
              "name": "page",
              "required": false,
              "in": "query",
              "type": "integer",
              "default": 1,
              "description": "The page of results to return. If this argument is omitted, it defaults to 1."
            }
          ],
          "description": "Returns a list of photos containing a particular Flickr member.",
          "externalDocs": {
            "url": "http://www.flickr.com/services/api/flickr.people.getPhotosOf.html"
          }
        }
      },
      "/rest/?method=flickr.people.getPublicGroups": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
[...]
