{
  "type": "api",
  "key": "apigee:google-tasks",
  "info": {
    "title": "Google Tasks",
    "description": "Bring Google Tasks content and metadata into your apps or websites."
  },
  "swagger": {
    "swagger": "2.0",
    "host": "www.googleapis.com",
    "basePath": "/tasks/v1",
    "schemes": [
      "https"
    ],
    "paths": {
      "/lists/{tasklist}/tasks": {
        "parameters": [
          {
            "name": "tasklist",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Task list identifier. To refer to the authenticated user's default task list, use the special value @default."
          },
          {
            "name": "fields",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Selector specifying a subset of fields to include in the response. Use for better performance."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "maxResults",
              "required": false,
              "in": "query",
              "type": "string",
              "default": "100",
              "description": "The maximum number of elements to return with this request. Default: maxResults=20. Maximum allowable value: maxResults=100."
            },
            {
              "name": "completedMax",
              "required": false,
              "in": "query",
              "type": "string",
              "default": "2031-01-01",
              "description": "Upper bound for a task's completion date (as an RFC 3339 timestamp) to filter by. Default: completedMax=2031-01-01. Use the RFC 3339 timestamp format. For example: 2010-08-09T10:57:00.000-08:00"
            },
            {
              "name": "completedMin",
              "required": false,
              "in": "query",
              "type": "string",
              "default": "1970-01-01",
              "description": "Lower bound for a task's completion date (as an RFC 3339 timestamp) to filter by. Default: completedMin=1970-01-01. Use the RFC 3339 timestamp format. For example: 2010-08-09T10:57:00.000-08:00"
            },
            {
              "name": "dueMax",
              "required": false,
              "in": "query",
              "type": "string",
              "default": "2031-01-01",
              "description": "Upper bound for a task's due date (as an RFC 3339 timestamp) to filter by. Default: dueMax=2031-01-01. Use the RFC 3339 timestamp format. For example: 2010-08-09T10:57:00.000-08:00"
            },
            {
              "name": "dueMin",
              "required": false,
              "in": "query",
              "type": "string",
              "default": "1970-01-01",
              "description": "Lower bound for a task's due date (as an RFC 3339 timestamp) to filter by. Default: dueMin=1970-01-01. Use the RFC 3339 timestamp format. For example: 2010-08-09T10:57:00.000-08:00"
            },
            {
              "name": "showCompleted",
              "required": false,
              "in": "query",
              "type": "boolean",
              "default": true,
              "description": "Specify whether or not to show completed tasks. Default: showCompleted=true"
            },
            {
              "name": "showDeleted",
              "required": false,
              "in": "query",
              "type": "boolean",
              "default": false,
              "description": "Specify whether or not to show deleted tasks. Default: showDeleted=false"
            },
            {
              "name": "showHidden",
              "required": false,
              "in": "query",
              "type": "boolean",
              "default": false,
              "description": "Specify whether or not to show hidden tasks. Default: showHidden=true"
            },
            {
              "name": "pageToken",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Token specifying the result page to return. The default is to return the first page."
            },
            {
              "name": "updatedMin",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Lower bound for a task's last modification time (as an RFC 3339 timestamp) to filter by. Use the RFC 3339 timestamp format. For example: 2010-08-09T10:57:00.000-08:00Z. The default is not to filter by last modification time."
            }
          ],
          "description": "Returns all Task Resources in the specified task list. Authentication is required.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/apis/tasks/v1/reference.html#method_tasks_tasks_list"
          }
        },
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/json",
              "description": "Content type."
            },
            {
              "name": "parent",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Specify the task's parent task ID. No parameter indicates an insertion or a move to the top level of the task list."
            },
            {
              "name": "previous",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Specify the task's previous task ID. No parameter indicates an insertion or a move to the first position in the sublist."
            }
          ],
          "description": "Creates a new task on the specified task list. Returns a copy of the created Task Resource. Authentication is required.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/apis/tasks/v1/reference.html#method_tasks_tasks_insert"
          }
        }
      },
      "/lists/{tasklist}/tasks/{task}": {
        "parameters": [
          {
            "name": "tasklist",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Task list identifier. To refer to the authenticated user's default task list, use the special value @default."
          },
          {
            "name": "task",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Task identifier."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "fields",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Selector specifying a subset of fields to include in the response. Use for better performance."
            }
          ],
          "description": "Returns the specified Task Resource. Authentication is required.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/apis/tasks/v1/reference.html#method_tasks_tasks_get"
          }
        },
        "put": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/json",
              "description": "Content type."
            },
            {
              "name": "fields",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Selector specifying a subset of fields to include in the response. Use for better performance."
            }
          ],
          "description": "Updates the specified task. Returns a copy of the updated Task Resource. Authentication is required.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/apis/tasks/v1/reference.html#method_tasks_tasks_update"
          }
        },
        "delete": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Deletes the specified task from the task list. Returns no data (only a status code). Authentication is required.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/apis/tasks/v1/reference.html#method_tasks_tasks_delete"
          }
        }
      },
      "/lists/{tasklist}/tasks/{task}/move": {
        "parameters": [
          {
            "name": "tasklist",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Task list identifier. To refer to the authenticated user's default task list, use the special value @default."
          },
          {
            "name": "task",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Task identifier."
          },
          {
            "name": "parent",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Specify the task's parent task ID. No parameter indicates an insertion or a move to the top level of the task list."
          },
          {
            "name": "previous",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Specify the task's previous task ID. No parameter indicates an insertion or a move to the first position in the sublist."
          },
          {
            "name": "fields",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Selector specifying a subset of fields to include in the response. Use for better performance."
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Moves the specified task to another position in the task list. This can include putting it as a child task under a new parent and/or moving it to a different position among its sibling tasks. Returns a copy of the updated Task Resource. Authentication is required.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/apis/tasks/v1/reference.html#method_tasks_tasks_move"
          }
        }
      },
      "/lists/{tasklist}/clear": {
        "parameters": [
          {
            "name": "tasklist",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Task list identifier. To refer to the authenticated user's default task list, use the special value @default."
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Clears all completed tasks from the specified task list. The affected tasks are marked as hidden and are no longer returned by default when retrieving all tasks for a task list. Returns no data (only a status code). Authentication is required.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/apis/tasks/v1/reference.html#method_tasks_tasks_clear"
          }
        }
      },
      "/users/@me/lists": {
        "parameters": [
          {
            "name": "fields",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Selector specifying a subset of fields to include in the response. Use for better performance."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "maxResults",
              "required": false,
              "in": "query",
              "type": "string",
              "default": "100",
              "description": "The maximum number of elements to return with this request. Default: maxResults=20. Maximum allowable value: maxResults=100."
            },
            {
              "name": "pageToken",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Token specifying the result page to return. The default is to return the first page."
            }
          ],
          "description": "Returns all the authenticated user's Tasklist Resources. Authentication is required.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/apis/tasks/v1/reference.html#method_tasks_tasklists_list"
          }
        },
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/json",
              "description": "Content type."
            }
          ],
          "description": "Creates a new task list and adds it to the authenticated user's task lists. Returns a copy of the created Tasklist Resource. Authentication is required.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/apis/tasks/v1/reference.html#method_tasks_tasklists_insert"
          }
        }
      },
      "/users/@me/lists/{tasklist}": {
        "parameters": [
          {
            "name": "tasklist",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Task list identifier. To refer to the authenticated user's default task list, use the special value @default."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "fields",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Selector specifying a subset of fields to include in the response. Use for better performance."
            }
          ],
          "description": "Returns the authenticated user's specified Tasklist Resource. Authentication is required.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/apis/tasks/v1/reference.html#method_tasks_tasklists_get"
          }
        },
        "put": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/json",
              "description": "Content type."
            },
            {
              "name": "fields",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Selector specifying a subset of fields to include in the response. Use for better performance."
            }
          ],
          "description": "Updates the authenticated user's specified task list. Returns a copy of the updated Tasklist Resource. Authentication is required.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/apis/tasks/v1/reference.html#method_tasks_tasklists_update"
          }
        },
        "delete": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Deletes the authenticated user's specified task list. Returns no data (only a status code). Authentication is required.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/apis/tasks/v1/reference.html#method_tasks_tasklists_delete"
          }
        }
      }
    },
    "info": {
      "title": "Google Tasks",
      "description": "Bring Google Tasks content and metadata into your apps or websites."
    }
  },
  "public": true
}