{
  "type": "api",
  "key": "apigee:OneDrive",
  "info": {
    "title": "OneDrive",
    "description": "Keep your user’s files, folders, and photos in OneDrive to make them accessible on any device and at any time"
  },
  "swagger": {
    "swagger": "2.0",
    "host": "api.onedrive.com",
    "basePath": "/",
    "schemes": [
      "https"
    ],
    "paths": {
      "/v1.0/drive/": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "select",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "You can use the select query string parameter to provide a comma-separated list of properties to return on Items."
            },
            {
              "name": "expand",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "You can use the expand query string parameter to instruct the API to expand a children collection and include those results."
            },
            {
              "name": "orderby",
              "required": false,
              "in": "query",
              "type": "string",
              "default": "",
              "description": "You can use the orderby query string to control the sort order of the items returned from the API. For a collection of items, the following fields are allowed to be used in the orderby parameter:",
              "enum": [
                "",
                "name%20desc",
                "size%20desc",
                "lastModifiedDateTime%20desc",
                "name%20asc",
                "size%20asc",
                "lastModifiedDateTime%20asc"
              ]
            },
            {
              "name": "top",
              "required": false,
              "in": "query",
              "type": "integer",
              "description": "Specify the number of items to return in a result set. The API may have a hard limit that prevents you from asking for more items per response."
            },
            {
              "name": "skipToken",
              "required": false,
              "in": "query",
              "type": "integer",
              "description": "Paging token that can be used to get the next set of results"
            }
          ],
          "description": "Get metadata about user's default drive.",
          "externalDocs": {
            "url": "http://onedrive.github.io/drives/default.htm"
          }
        }
      },
      "/v1.0/drives/{drive-id}": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "drive-id",
              "required": true,
              "in": "path",
              "type": "string",
              "default": "me",
              "description": "The ID for the drive requested"
            },
            {
              "name": "select",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "You can use the select query string parameter to provide a comma-separated list of properties to return on Items."
            },
            {
              "name": "expand",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "You can use the expand query string parameter to instruct the API to expand a children collection and include those results."
            },
            {
              "name": "orderby",
              "required": false,
              "in": "query",
              "type": "string",
              "default": "",
              "description": "You can use the orderby query string to control the sort order of the items returned from the API. For a collection of items, the following fields are allowed to be used in the orderby parameter:",
              "enum": [
                "",
                "name%20desc",
                "size%20desc",
                "lastModifiedDateTime%20desc",
                "name%20asc",
                "size%20asc",
                "lastModifiedDateTime%20asc"
              ]
            },
            {
              "name": "top",
              "required": false,
              "in": "query",
              "type": "integer",
              "description": "Specify the number of items to return in a result set. The API may have a hard limit that prevents you from asking for more items per response."
            },
            {
              "name": "skipToken",
              "required": false,
              "in": "query",
              "type": "integer",
              "description": "Paging token that can be used to get the next set of results"
            }
          ],
          "description": "Get metadata of a drive by unique identifier.",
          "externalDocs": {
            "url": "http://onedrive.github.io/drives/get.htm"
          }
        }
      },
      "/v1.0/drive/special/{special-folder-name}": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "special-folder-name",
              "required": true,
              "in": "path",
              "type": "string",
              "default": "documents",
              "description": "The special folder name",
              "enum": [
                "documents",
                "photos",
                "cameraroll",
                "approot",
                "music"
              ]
            }
          ],
          "description": "Special folders provide simple aliases to access well known folders in OneDrive\r\nwithout the need to look up the folder by path (which would require localization)\r\nor referencing the folder with an ID. If a special folder is renamed or moved\r\nto another location within the Drive, this syntax will continue to find that\r\nfolder.",
          "externalDocs": {
            "url": "http://onedrive.github.io/items/special_folders.htm"
          }
        }
      },
      "/v1.0/drive/special/{special-folder-name}/children": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "special-folder-name",
              "required": true,
              "in": "path",
              "type": "string",
              "default": "documents",
              "description": "The special folder name",
              "enum": [
                "documents",
                "photos",
                "cameraroll",
                "approot",
                "music"
              ]
            }
          ],
          "description": "Special folders provide simple aliases to access well known folders in OneDrive\r\nwithout the need to look up the folder by path (which would require localization)\r\nor referencing the folder with an ID. If a special folder is renamed or moved\r\nto another location within the Drive, this syntax will continue to find that\r\nfolder.",
          "externalDocs": {
            "url": "http://onedrive.github.io/items/special_folders.htm"
          }
        }
      },
      "/v1.0/drive/{parent-path}:/{file-name}:/upload.createSession": {
        "parameters": [],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "if-match",
              "required": false,
              "in": "header",
              "type": "string",
              "default": "100-continue",
              "description": "If this request header is included and the etag provided does not match the current etag on the item, a 412 Precondition Failed error response is returned."
            },
            {
              "name": "parent-path",
              "required": true,
              "in": "path",
              "type": "string",
              "default": "root",
              "description": "The parent folder's path.   Ex: root, special/public, etc."
            },
            {
              "name": "file-name",
              "required": true,
              "in": "path",
              "type": "string",
              "default": "myLargeFile.txt",
              "description": "The file name"
            }
          ],
          "description": "To support the upload of larger files, a resumable upload method is necessary\r\nto ensure that the whole file can be uploaded in pieces and easily resumed if\r\nthe transfer is interrupted.",
          "externalDocs": {
            "url": "http://onedrive.github.io/items/upload_large_files.htm#create-an-upload-session"
          }
        }
      },
      "/up/{upload-fragment}": {
        "parameters": [],
        "put": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "upload-fragment",
              "required": true,
              "in": "path",
              "type": "string",
              "description": "the upload URL part after 'https://api.onedrive.com/up/' returned from creating a session for uploading a large file in fragments"
            },
            {
              "name": "Content-Range",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "bytes 0-23/24",
              "description": "Specify the range of the bytes to be uploaded and the total size."
            }
          ],
          "description": "Once your app has created an upload session, you can upload the fragments.",
          "externalDocs": {
            "url": "http://onedrive.github.io/items/upload_large_files.htm#upload-fragments"
          }
        },
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "upload-fragment",
              "required": true,
              "in": "path",
              "type": "string",
              "description": "the upload URL part after 'https://api.onedrive.com/up/' returned from creating a session for uploading a large file in fragments"
            }
          ],
          "description": "Once your app has created an upload session, you can find out what fragments are left to be uploaded.",
          "externalDocs": {
            "url": "http://onedrive.github.io/items/upload_large_files.htm#request-upload-status"
          }
        },
        "delete": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "upload-fragment",
              "required": true,
              "in": "path",
              "type": "string",
              "description": "the upload URL part after 'https://api.onedrive.com/up/' returned from creating a session for uploading a large file in fragments"
            }
          ],
          "description": "Once your app has created an upload session, you can abort the upload.",
          "externalDocs": {
            "url": "http://onedrive.github.io/items/upload_large_files.htm#cancel-the-upload-session"
          }
        }
      },
      "/v1.0/drive/{parent-path}/children": {
        "parameters": [],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "parent-path",
              "required": true,
              "in": "path",
              "type": "string",
              "default": "root",
              "description": "the 'parent-path' of the item to be created.  Ex: root, special/public"
            },
            {
              "name": "nameConflict",
              "required": false,
              "in": "query",
              "type": "string",
              "default": "fail",
              "description": "Determines what to do if a file with a matching filename already exists in this folder. Accepted values are: rename, replace, and fail (the default).",
              "enum": [
                "fail",
                "rename",
                "replace"
              ]
            },
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/json",
              "description": "Since the body of the request is in JSON, the request header should be set accordingly."
            }
          ],
          "description": "Add a new item under an existing parent item.",
          "externalDocs": {
            "url": "http://onedrive.github.io/items/create.htm"
          }
        }
      },
      "/v1.0/drive/{parent-path}:/{filename}:/content": {
        "parameters": [],
        "put": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "parent-path",
              "required": true,
              "in": "path",
              "type": "string",
              "default": "root",
              "description": "The parent folder.   Ex: root, special/public, etc."
            },
            {
              "name": "filename",
              "required": true,
              "in": "path",
              "type": "string",
              "default": "myFilename.txt",
              "description": "The file name (myFilename.txt) or the file name with path relative to the parent folder (path/to/my/folder/myFileName.txt) of the item to be uploaded"
            },
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/octet-stream",
              "description": "Always use the Content-Type value application/octet-stream when uploading binary content to the OneDrive API. This will ensure that the contents of the file are not misinterpreted."
            }
          ],
          "description": "The simple upload API allows you to provide the contents of a new file or update\r\nthe contents of an existing file in a single API call. This method only supports\r\nfiles up to 100MB in size.",
          "externalDocs": {
            "url": "http://onedrive.github.io/items/upload_put.htm"
          }
        }
      },
      "/v1.0/drive/{parent-item}/children": {
        "parameters": [],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "parent-item",
              "required": true,
              "in": "path",
              "type": "string",
              "default": "root",
              "description": "The parent item.   Ex: root, special/public, root:/path/to/my/folder: etc."
            },
            {
              "name": "Prefer",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "respond-async",
              "description": "respond-async to enable asynchronous item transfer. Otherwise the request is aborted."
            },
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/json",
              "description": "Since the body of the request is in JSON, the request header should be set accordingly."
            }
          ],
          "description": "Upload from URL allows your app to upload a file to OneDrive from a remote\r\nserver without streaming the bytes through your client. This is especially useful\r\nfor mobile clients or browser add-ins where it may be optimal to not transfer\r\nthe bytes of the file through the local client.",
          "externalDocs": {
            "url": "http://onedrive.github.io/items/upload_url.htm"
          }
        }
      },
      "/v1.0/monitor/{location}": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "location",
              "required": true,
              "in": "path",
              "type": "string",
              "description": "the URL part after 'https://api.onedrive.com/v1.0/monitor/' returned in the 'Location' header after copying an item"
            }
          ],
          "description": "Returns details about how to monitor the progress of the copy, upon accepting the request.",
          "externalDocs": {
            "url": "http://onedrive.github.io/items/copy.htm#response"
          }
        }
      },
      "/v1.0/drive/{item-path}:/action.copy": {
        "parameters": [],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "item-path",
              "required": true,
              "in": "path",
              "type": "string",
              "description": "the 'item-path' of the item to be copied.  Ex: root:/myFile.zip"
            },
            {
              "name": "Prefer",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "respond-async",
              "description": "respond-async to enable asynchronous item transfer. Otherwise the request is aborted."
            },
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/json",
              "description": "Since the body of the request is in JSON, the request header should be set accordingly."
            }
          ],
          "description": "Create copy of an Item (including any children) under a new parent.",
          "externalDocs": {
            "url": "http://onedrive.github.io/items/copy.htm"
          }
        }
      },
      "/v1.0/drive/items/{item-id}/action.copy": {
        "parameters": [],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "item-id",
              "required": true,
              "in": "path",
              "type": "string",
              "description": "the 'item-id' of the item to be copied"
            },
            {
              "name": "Prefer",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "respond-async",
              "description": "respond-async to enable asynchronous item transfer. Otherwise the request is aborted."
            },
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/json",
              "description": "Since the body of the request is in JSON, the request header should be set accordingly."
            }
          ],
          "description": "Create copy of an Item (including any children) under a new parent.",
          "externalDocs": {
            "url": "http://onedrive.github.io/items/copy.htm"
          }
        }
      },
      "/v1.0/drive/items/{parent-id}/children": {
        "parameters": [],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "parent-id",
              "required": true,
              "in": "path",
              "type": "string",
              "description": "the 'parent-id' of the item to be created"
            },
            {
              "name": "nameConflict",
              "required": false,
              "in": "query",
              "type": "string",
              "default": "fail",
              "description": "Determines what to do if a file with a matching filename already exists in this folder. Accepted values are: rename, replace, and fail (the default).",
              "enum": [
                "fail",
                "rename",
                "replace"
              ]
            },
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/json",
              "description": "Since the body of the request is in JSON, the request header should be set accordingly."
            }
          ],
          "description": "Add a new item under an existing parent item.",
          "externalDocs": {
            "url": "http://onedrive.github.io/items/create.htm"
          }
        }
      },
      "/v1.0/drive/{item-path}": {
        "parameters": [],
        "delete": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "item-path",
              "required": true,
              "in": "path",
              "type": "string",
              "description": "the 'item-path' of the item to be deleted.  Ex: root:/myFile.zip, special/public:/path/to/my/folder, special/public:/myFile.zip, etc."
            },
            {
              "name": "if-match",
              "required": false,
              "in": "header",
              "type": "string",
              "description": "If this request header is included and the etag provided does not match the current etag on the item, an 412 Precondition Failed response is returned and the item will not be deleted."
            }
          ],
          "description": "Add a new item under an existing parent item.",
          "externalDocs": {
            "url": "http://onedrive.github.io/items/delete.htm"
          }
        },
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "item-path",
              "required": true,
              "in": "path",
              "type": "string",
              "default": "root",
              "description": "the 'item-path' of the item to view the metadata for.  Ex: root, root:/myFile.zip, special/public, special/public:/myFile.zip, etc."
            },
            {
              "name": "if-none-match",
              "required": false,
              "in": "header",
              "type": "string",
              "description": "If this request header is included and the etag provided matches the current etag on the file, an HTTP 304 Not Modified response is returned."
            },
            {
              "name": "expand",
              "required": false,
              "in": "query",
              "type": "string",
              "default": "children",
              "description": "If set to \"children\", includes the children of an item in the same call as retrieving the metadata of an item"
            }
          ],
          "description": "Retrieve the metadata for an Item by path or ID.",
          "externalDocs": {
            "url": "http://onedrive.github.io/items/get.htm"
          }
        },
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "item-path",
              "required": true,
              "in": "path",
              "type": "string",
              "description": "the 'item-path' of the item to be moved.  Ex: root:/myFile.jpg, special/public, special/public:/myFile.jpg, etc."
            },
            {
              "name": "X-HTTP-Method-Override",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "PATCH",
              "description": "Apigee's API console doesn't support PATCH but the OneDrive API supports HTTP Method overriding."
            },
            {
              "name": "if-match",
              "required": false,
              "in": "header",
              "type": "string",
              "default": "100-continue",
              "description": "If this request header is included and the etag provided does not match the current etag on the folder, an 412 Precondition Failed response is returned."
            },
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/json",
              "description": "Since the body of the request is in JSON, the request header should be set accordingly."
            }
          ],
          "description": "Change the parent folder for an Item resource.",
          "externalDocs": {
            "url": "http://onedrive.github.io/items/move.htm"
          }
        }
      },
      "/v1.0/drive/items/{item-id}": {
        "parameters": [],
        "delete": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "item-id",
              "required": true,
              "in": "path",
              "type": "string",
              "description": "the 'item-id' of the item to be deleted"
            },
            {
              "name": "if-match",
              "required": false,
              "in": "header",
              "type": "string",
              "description": "If this request header is included and the etag provided does not match the current etag on the item, an 412 Precondition Failed response is returned and the item will not be deleted."
            }
          ],
          "description": "Add a new item under an existing parent item.",
          "externalDocs": {
            "url": "http://onedrive.github.io/items/delete.htm"
          }
        },
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "item-id",
              "required": true,
              "in": "path",
              "type": "string",
              "description": "the 'item-id' of the item to view the metadata for"
            },
            {
              "name": "if-none-match",
              "required": false,
              "in": "header",
              "type": "string",
              "description": "If this request header is included and the etag provided matches the current etag on the file, an HTTP 304 Not Modified response is returned."
            },
            {
              "name": "expand",
              "required": false,
              "in": "query",
              "type": "string",
              "default": "children",
              "description": "If set to \"children\", includes the children of an item in the same call as retrieving the metadata of an item"
            }
          ],
          "description": "Retrieve the metadata for an Item by path or ID.",
          "externalDocs": {
            "url": "http://onedrive.github.io/items/get.htm"
          }
        },
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "item-id",
              "required": true,
              "in": "path",
              "type": "string",
              "description": "the 'item-id' of the item to be moved"
            },
            {
              "name": "X-HTTP-Method-Override",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "PATCH",
              "description": "Apigee's API console doesn't support PATCH but the OneDrive API supports HTTP Method overriding."
            },
            {
              "name": "if-match",
              "required": false,
              "in": "header",
              "type": "string",
              "default": "100-continue",
              "description": "If this request header is included and the etag provided does not match the current etag on the folder, an 412 Precondition Failed response is returned."
            },
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/json",
              "description": "Since the body of the request is in JSON, the request header should be set accordingly."
            }
          ],
          "description": "Change the parent folder for an Item resource.",
          "externalDocs": {
            "url": "http://onedrive.github.io/items/move.htm"
          }
        }
      },
      "/v1.0/drive/{item-path}:/content": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "item-path",
              "required": true,
              "in": "path",
              "type": "string",
              "description": "the 'item-path' of the item to be downloaded.  Ex: root:/myFile.zip, special/public:/myFile.zip, etc."
            },
            {
              "name": "if-none-match",
              "required": false,
              "in": "header",
              "type": "string",
              "description": "If this request header is included and the etag provided matches the current etag on the file, an HTTP 304 Not Modified response is returned."
            },
            {
              "name": "range",
              "required": false,
              "in": "header",
              "type": "string",
              "description": "Range of bytes that should be returned in the request."
            }
          ],
          "description": "Use this API to download the contents (default stream) for an Item with the File facet.",
          "externalDocs": {
            "url": "http://onedrive.github.io/items/download.htm"
          }
        }
      },
      "/v1.0/drive/items/{item-id}/content": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "item-id",
              "required": true,
              "in": "path",
              "type": "string",
              "description": "the 'item-id' of the item to be downloaded"
            },
            {
              "name": "if-none-match",
              "required": false,
              "in": "header",
              "type": "string",
              "description": "If this request header is included and the etag provided matches the current etag on the file, an HTTP 304 Not Modified response is returned."
            },
            {
              "name": "range",
              "required": false,
              "in": "header",
              "type": "string",
              "description": "Range of bytes that should be returned in the request."
            }
          ],
          "description": "Use this API to download the contents (default stream) for an Item with the File facet.",
          "externalDocs": {
            "url": "http://onedrive.github.io/items/download.htm"
          }
        }
      },
      "/v1.0/drive/{item-path}:/thumbnails": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "item-path",
              "required": true,
              "in": "path",
              "type": "string",
              "description": "the 'item-path' of the item to get the thumbnails for.  Ex: root:/myFile.jpg, special/public:/myFile.jpg, etc."
            },
            {
              "name": "select",
              "required": false,
              "in": "path",
              "type": "string",
              "description": "You can use the select query string parameter to control which thumbnail sizes are returned in the ThumbnailSet. For example: /thumbnails?select=medium to retrieve only the medium sized thumbnails.",
              "enum": [
                "",
                "small",
                "medium",
                "large",
                "smallSquare",
                "mediumSquare",
                "largeSquare"
              ]
            },
            {
              "name": "select",
              "required": false,
              "in": "path",
              "type": "string",
              "description": "In addition to the defined sizes, your app can request a custom thumbnail size by specifying the dimensions of the thumbnail prefixed with 'c' For example if you need thumbnails that are 300x400, you can request that size like 'c300x400'"
            }
          ],
          "description": "Retrieve available thumbnails for an Item by path or ID.",
          "externalDocs": {
            "url": "http://onedrive.github.io/items/thumbnails.htm#enumerate-available-thumbnails"
          }
        }
      },
      "/v1.0/drive/items/{item-id}/thumbnails": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "item-id",
              "required": true,
              "in": "path",
              "type": "string",
              "description": "the 'item-id' of the item to get the thumbnails for"
            },
            {
              "name": "select",
              "required": false,
              "in": "path",
              "type": "string",
              "description": "You can use the select query string parameter to control which thumbnail sizes are returned in the ThumbnailSet. For example: /thumbnails?select=medium to retrieve only the medium sized thumbnails.",
              "enum": [
                "",
                "small",
                "medium",
                "large",
                "smallSquare",
                "mediumSquare",
                "largeSquare"
              ]
            },
            {
              "name": "select",
              "required": false,
              "in": "path",
              "type": "string",
              "description": "In addition to the defined sizes, your app can request a custom thumbnail size by specifying the dimensions of the thumbnail prefixed with 'c' For example if you need thumbnails that are 300x400, you can request that size like 'c300x400'"
            }
          ],
          "description": "Retrieve available thumbnails for an Item by path or ID.",
          "externalDocs": {
            "url": "http://onedrive.github.io/items/thumbnails.htm#enumerate-available-thumbnails"
          }
        }
      },
      "/v1.0/drive/{item-path}:/thumbnails/{thumbnail-set-index}/{size}": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "item-path",
              "required": true,
              "in": "path",
              "type": "string",
              "default": "root",
              "description": "the 'item-path' of the item to get the thumbnail for.  Ex: root:/myFile.jpg, special/public:/myFile.jpg, etc."
            },
            {
              "name": "thumbnail-set-index",
              "required": true,
              "in": "path",
              "type": "integer",
              "default": 0,
              "description": "The index of the thumbnail, usually 0-4.",
              "enum": [
                "0",
                "1",
                "2",
                "3",
                "4"
              ]
            },
            {
              "name": "size",
              "required": true,
              "in": "path",
              "type": "string",
              "default": "medium",
              "description": "The size of the thumbnail requested",
              "enum": [
                "small",
                "medium",
                "large",
                "smallSquare",
                "mediumSquare",
                "largeSquare"
              ]
            }
          ],
          "description": "Retrieve available thumbnails for an Item by path or ID.",
          "externalDocs": {
            "url": "http://onedrive.github.io/items/thumbnails.htm#retrieve-a-single-thumbnail"
          }
        }
      },
      "/v1.0/drive/items/{item-id}/thumbnails/{thumbnail-set-index}/{size}": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "item-id",
              "required": true,
              "in": "path",
              "type": "string",
              "description": "the 'item-id' of the item to get the thumbnails for"
            },
            {
              "name": "thumbnail-set-index",
              "required": true,
              "in": "path",
              "type": "integer",
              "default": 0,
              "description": "The index of the thumbnail, usually 0-4.",
              "enum": [
                "0",
                "1",
                "2",
                "3",
                "4"
              ]
            },
            {
              "name": "size",
              "required": true,
              "in": "path",
              "type": "string",
              "default": "medium",
              "description": "The size of the thumbnail requested",
              "enum": [
                "small",
                "medium",
                "large",
                "smallSquare",
                "mediumSquare",
                "largeSquare"
              ]
            }
          ],
          "description": "Retrieve available thumbnails for an Item by path or ID.",
          "externalDocs": {
            "url": "http://onedrive.github.io/items/thumbnails.htm#retrieve-a-single-thumbnail"
          }
        }
      },
      "/v1.0/drive/{item-path}:/thumbnails/{thumbnail-set-index}/{size}/content": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "item-path",
              "required": true,
              "in": "path",
              "type": "string",
              "description": "the 'item-path' of the item to get the thumbnail contents for.  Ex: root:/myFile.jpg, special/public:/myFile.jpg, etc."
            },
            {
              "name": "thumbnail-set-index",
              "required": true,
              "in": "path",
              "type": "integer",
              "default": 0,
              "description": "The index of the thumbnail, usually 0-4.",
              "enum": [
                "0",
                "1",
                "2",
                "3",
                "4"
              ]
            },
            {
              "name": "size",
              "required": true,
              "in": "path",
              "type": "string",
              "default": "medium",
              "description": "The size of the thumbnail requested",
              "enum": [
                "small",
                "medium",
                "large",
                "smallSquare",
                "mediumSquare",
                "largeSquare"
              ]
            }
          ],
          "description": "Retrieve available thumbnails for an Item by path or ID.",
          "externalDocs": {
            "url": "http://onedrive.github.io/items/thumbnails.htm#retrieve-thumbnail-content"
          }
        }
      },
      "/v1.0/drive/items/{item-id}/thumbnails/{thumbnail-set-index}/{size}/content": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "item-id",
              "required": true,
              "in": "path",
              "type": "string",
              "description": "the 'item-id' of the item to get the thumbnails contents for"
            },
            {
              "name": "thumbnail-set-index",
              "required": true,
              "in": "path",
              "type": "integer",
              "default": 0,
              "description": "The index of the thumbnail, usually 0-4.",
              "enum": [
                "0",
                "1",
                "2",
                "3",
                "4"
              ]
            },
            {
              "name": "size",
              "required": true,
              "in": "path",
              "type": "string",
              "default": "medium",
              "description": "The size of the thumbnail requested",
              "enum": [
                "small",
                "medium",
                "large",
                "smallSquare",
                "mediumSquare",
                "largeSquare"
              ]
            }
          ],
          "description": "Retrieve available thumbnails for an Item by path or ID.",
          "externalDocs": {
            "url": "http://onedrive.github.io/items/thumbnails.htm#retrieve-thumbnail-content"
          }
        }
      },
      "/v1.0/drive/{item-path}:/view.delta": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "item-path",
              "required": true,
              "in": "path",
              "type": "string",
              "description": "the 'item-path' of the item to view the changes for. Ex: root:/myFile.jpg:, special/public:/myFile.jpg, etc."
            },
            {
              "name": "token",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "The last token returned from the previous call to view.delta. If omitted, view.delta will return the current state of the hierarchy."
            },
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/json",
              "description": "Since the body of the request is in JSON, the request header should be set accordingly."
            }
          ],
          "description": "Enumerate the changes under a folder since a given state, represented by a change token. This enables your application to maintain a local representation of the contents of a drive and update the local state efficiently.",
          "externalDocs": {
            "url": "http://onedrive.github.io/items/view_delta.htm"
          }
        }
      },
      "/v1.0/drive/items/{item-id}/view.delta": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "item-id",
              "required": true,
              "in": "path",
              "type": "string",
              "description": "the 'item-id' of the item to view the changes for"
            },
            {
              "name": "token",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "The last token returned from the previous call to view.delta. If omitted, view.delta will return the current state of the hierarchy."
            },
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/json",
              "description": "Since the body of the request is in JSON, the request header should be set accordingly."
            }
          ],
          "description": "Enumerate the changes under a folder since a given state, represented by a change token. This enables your application to maintain a local representation of the contents of a drive and update the local state efficiently.",
          "externalDocs": {
            "url": "http://onedrive.github.io/items/view_delta.htm"
          }
        }
      },
      "/v1.0/drive/{item-path}:/view.search": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "item-path",
              "required": true,
              "in": "path",
              "type": "string",
              "default": "root",
              "description": "the 'item-path' of the item to search under.  Ex: root:/path/to/my/folder"
            },
            {
              "name": "q",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "The query text used to search the item's index."
            },
            {
              "name": "select",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "You can use the select query string parameter to provide a comma-separated list of properties to return on Items."
            },
            {
              "name": "expand",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "You can use the expand query string parameter to instruct the API to expand a children collection and include those results."
            },
            {
              "name": "orderby",
              "required": false,
              "in": "query",
              "type": "string",
              "default": "",
              "description": "You can use the orderby query string to control the sort order of the items returned from the API. For a collection of items, the following fields are allowed to be used in the orderby parameter:",
              "enum": [
                "",
                "name%20desc",
                "size%20desc",
                "lastModifiedDateTime%20desc",
                "name%20asc",
                "size%20asc",
                "lastModifiedDateTime%20asc"
              ]
            },
            {
              "name": "top",
              "required": false,
              "in": "query",
              "type": "integer",
              "description": "Specify the number of items to return in a result set. The API may have a hard limit that prevents you from asking for more items per response."
            },
            {
              "name": "skipToken",
              "required": false,
              "in": "query",
              "type": "integer",
              "description": "Paging token that can be used to get the next set of results"
            }
          ],
          "description": "Search the hierarchy of items for items matching a query. Filenames and content of items may be searched depending on the query.",
          "externalDocs": {
            "url": "http://onedrive.github.io/items/search.htm"
          }
        }
      },
      "/v1.0/drive/items/{item-id}/view.search": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "item-id",
              "required": true,
              "in": "path",
              "type": "string",
              "description": "the 'item-id' of the item to search under"
            },
            {
              "name": "q",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "The query text used to search the item's index."
            },
            {
              "name": "select",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "You can use the select query string parameter to provide a comma-separated list of properties to return on Items."
            },
            {
              "name": "expand",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "You can use the exapnd query string parameter to instruct the API to expand a children collection and include those results."
            },
            {
              "name": "orderby",
              "required": false,
              "in": "query",
              "type": "string",
              "default": "",
              "description": "You can use the orderby query string to control the sort order of the items returned from the API. For a collection of items, the following fields are allowed to be used in the orderby parameter:",
              "enum": [
                "",
                "name%20desc",
                "size%20desc",
                "lastModifiedDateTime%20desc",
                "name%20asc",
                "size%20asc",
                "lastModifiedDateTime%20asc"
              ]
            },
            {
              "name": "top",
              "required": false,
              "in": "query",
              "type": "integer",
              "description": "Specify the number of items to return in a result set. The API may have a hard limit that prevents you from asking for more items per response."
            },
            {
              "name": "skipToken",
              "required": false,
              "in": "query",
              "type": "integer",
              "description": "Paging token that can be used to get the next set of results"
            }
          ],
          "description": "Search the hierarchy of items for items matching a query. Filenames and content of items may be searched depending on the query.",
          "externalDocs": {
            "url": "http://onedrive.github.io/items/search.htm"
          }
        }
      },
      "/v1.0/drive/{item-path}:/children": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "item-path",
              "required": true,
              "in": "path",
              "type": "string",
              "default": "root",
              "description": "the 'item-path' of the item to list the children of.  Ex: root:/path/to/my/folder, special/public:/path/to/my/folder"
            },
            {
              "name": "if-none-match",
              "required": false,
              "in": "header",
              "type": "string",
              "description": "If this request header is included and the etag provided matches the current etag on the file, an HTTP 304 Not Modified response is returned."
            }
          ],
          "description": "Items with the Folder facet may contain one or more child items. This API lists the contents of the item's Children collection using either the Item ID or path to the Item.",
          "externalDocs": {
            "url": "http://onedrive.github.io/items/list.htm"
          }
        }
      },
      "/v1.0/drive/items/{item-id}/children": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "item-id",
              "required": true,
              "in": "path",
              "type": "string",
              "description": "the 'item-id' of the item to list the children of"
            },
            {
              "name": "if-none-match",
              "required": false,
              "in": "header",
              "type": "string",
              "description": "If this request header is included and the etag provided matches the current etag on the file, an HTTP 304 Not Modified response is returned."
            }
          ],
          "description": "Items with the Folder facet may contain one or more child items. This API lists the contents of the item's Children collection using either the Item ID or path to the Item.",
          "externalDocs": {
            "url": "http://onedrive.github.io/items/list.htm"
          }
        }
      },
      "/v1.0/drive/{item-path}:/action.createLink": {
        "parameters": [],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "item-path",
              "required": true,
              "in": "path",
              "type": "string",
              "description": "the 'item-path' of the item to create a sharing link for. Ex: root:/path/to/my/folder, root:/path/to/my/folder:/myFile.zip, special/public:/myFile.zip, etc."
            },
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/json",
              "description": "Since the body of the request is in JSON, the request header should be set accordingly."
            }
          ],
          "description": "The createLink action can be used to share an existing Item via a link.",
          "externalDocs": {
            "url": "http://onedrive.github.io/items/sharing_createLink.htm"
          }
        }
      },
      "/v1.0/drive/items/{item-id}/action.createLink": {
        "parameters": [],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "item-id",
              "required": true,
              "in": "path",
              "type": "string",
              "description": "the 'item-id' of the item to create a sharing link for"
            },
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/json",
              "description": "Since the body of the request is in JSON, the request header should be set accordingly."
            }
          ],
          "description": "The createLink action can be used to share an existing Item via a link.",
          "externalDocs": {
            "url": "http://onedrive.github.io/items/sharing_createLink.htm"
          }
        }
      }
    },
    "info": {
      "title": "OneDrive",
      "description": "Keep your user’s files, folders, and photos in OneDrive to make them accessible on any device and at any time"
    }
  },
  "public": true
}