{
  "type": "api",
  "key": "apigee:google-mail",
  "info": {
    "title": "Google Mail (Settings)",
    "description": "Create sidebar and contextual gadgets and access the Gmail inbox feed."
  },
  "swagger": {
    "swagger": "2.0",
    "host": "apps-apis.google.com",
    "basePath": "/a/feeds/emailsettings/2.0",
    "schemes": [
      "https"
    ],
    "paths": {
      "/{domain_name}/{user_name}/label": {
        "parameters": [
          {
            "name": "domain_name",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The domain of the email address."
          },
          {
            "name": "user_name",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The username of the email address."
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/atom+xml",
              "description": "The content type."
            }
          ],
          "description": "Creates a label.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/googleapps/domain/email_settings/developers_guide_protocol.html#GA_email_label_main"
          }
        },
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Retrieves all labels and their settings.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/googleapps/domain/email_settings/developers_guide_protocol.html#GA_email_label_main"
          }
        }
      },
      "/{domain_name}/{user_name}/filter": {
        "parameters": [
          {
            "name": "domain_name",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The domain of the email address."
          },
          {
            "name": "user_name",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The username of the email address."
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/atom+xml",
              "description": "The content type."
            }
          ],
          "description": "Creates a filter.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/googleapps/domain/email_settings/developers_guide_protocol.html#GA_email_filter_main"
          }
        }
      },
      "/{domain_name}/{user_name}/sendas": {
        "parameters": [
          {
            "name": "domain_name",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The domain of the email address."
          },
          {
            "name": "user_name",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The username of the email address."
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/atom+xml",
              "description": "The content type."
            }
          ],
          "description": "Creates a send-as alias.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/googleapps/domain/email_settings/developers_guide_protocol.html#GA_email_sendas_main"
          }
        },
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Retrieves all send-as alias settings.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/googleapps/domain/email_settings/developers_guide_protocol.html#GA_email_sendas_main"
          }
        }
      },
      "/{domain_name}/{user_name}/webclip": {
        "parameters": [
          {
            "name": "domain_name",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The domain of the email address."
          },
          {
            "name": "user_name",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The username of the email address."
          }
        ],
        "put": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/atom+xml",
              "description": "The content type."
            }
          ],
          "description": "Updates web clips settings.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/googleapps/domain/email_settings/developers_guide_protocol.html#GA_email_webclip_main"
          }
        }
      },
      "/{domain_name}/{user_name}/forwarding": {
        "parameters": [
          {
            "name": "domain_name",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The domain of the email address."
          },
          {
            "name": "user_name",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The username of the email address."
          }
        ],
        "put": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/atom+xml",
              "description": "The content type."
            }
          ],
          "description": "Updates forwarding settings.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/googleapps/domain/email_settings/developers_guide_protocol.html#GA_email_forwarding_main"
          }
        },
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Retrieves all forwarding settings.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/googleapps/domain/email_settings/developers_guide_protocol.html#GA_email_forwarding_main"
          }
        }
      },
      "/{domain_name}/{user_name}/pop": {
        "parameters": [
          {
            "name": "domain_name",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The domain of the email address."
          },
          {
            "name": "user_name",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The username of the email address."
          }
        ],
        "put": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/atom+xml",
              "description": "The content type."
            }
          ],
          "description": "Updates POP settings.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/googleapps/domain/email_settings/developers_guide_protocol.html#GA_email_pop_main"
          }
        },
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Retrieves POP settings.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/googleapps/domain/email_settings/developers_guide_protocol.html#GA_email_pop_main"
          }
        }
      },
      "/{domain_name}/{user_name}/imap": {
        "parameters": [
          {
            "name": "domain_name",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The domain of the email address."
          },
          {
            "name": "user_name",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The username of the email address."
          }
        ],
        "put": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/atom+xml",
              "description": "The content type."
            }
          ],
          "description": "Updates IMAP settings.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/googleapps/domain/email_settings/developers_guide_protocol.html#GA_email_imap_main"
          }
        },
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Retrieves IMAP settings.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/googleapps/domain/email_settings/developers_guide_protocol.html#GA_email_imap_main"
          }
        }
      },
      "/{domain_name}/{user_name}/vacation": {
        "parameters": [
          {
            "name": "domain_name",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The domain of the email address."
          },
          {
            "name": "user_name",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The username of the email address."
          }
        ],
        "put": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/atom+xml",
              "description": "The content type."
            }
          ],
          "description": "Updates vacation-responder settings.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/googleapps/domain/email_settings/developers_guide_protocol.html#GA_email_vacation_main"
          }
        },
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Retrieves vacation-responder settings.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/googleapps/domain/email_settings/developers_guide_protocol.html#GA_email_vacation_main"
          }
        }
      },
      "/{domain_name}/{user_name}/signature": {
        "parameters": [
          {
            "name": "domain_name",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The domain of the email address."
          },
          {
            "name": "user_name",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The username of the email address."
          }
        ],
        "put": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/atom+xml",
              "description": "The content type."
            }
          ],
          "description": "Updates signature settings.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/googleapps/domain/email_settings/developers_guide_protocol.html#GA_email_signature_main"
          }
        },
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Retrieves signature settings.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/googleapps/domain/email_settings/developers_guide_protocol.html#GA_email_signature_main"
          }
        }
      },
      "/{domain_name}/{user_name}/language": {
        "parameters": [
          {
            "name": "domain_name",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The domain of the email address."
          },
          {
            "name": "user_name",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The username of the email address."
          }
        ],
        "put": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/atom+xml",
              "description": "The content type."
            }
          ],
          "description": "Updates language settings.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/googleapps/domain/email_settings/developers_guide_protocol.html#GA_email_language_main"
          }
        }
      },
      "/{domain_name}/{user_name}/delegation": {
        "parameters": [
          {
            "name": "domain_name",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The domain of the email address."
          },
          {
            "name": "user_name",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The username of the email address."
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/atom+xml",
              "description": "The content type."
            }
          ],
          "description": "Creates a delegate.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/googleapps/domain/email_settings/developers_guide_protocol.html#GA_email_delegation_main"
          }
        },
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Retrieves all delegates.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/googleapps/domain/email_settings/developers_guide_protocol.html#GA_email_delegation_main"
          }
        }
      },
      "/{domain_name}/{user_name}/delegation/{delegate_email_id}": {
        "parameters": [
          {
            "name": "domain_name",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The domain of the email address."
          },
          {
            "name": "user_name",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The username of the email address."
          },
          {
            "name": "delegate_email_id",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The email ID of the delegate."
          }
        ],
        "delete": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Deletes a delegate.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/googleapps/domain/email_settings/developers_guide_protocol.html#GA_email_delegation_main"
          }
        }
      },
      "/{domain_name}/{user_name}/general": {
        "parameters": [
          {
            "name": "domain_name",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The domain of the email address."
          },
          {
            "name": "user_name",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The username of the email address."
          }
        ],
        "put": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/atom+xml",
              "description": "The content type."
            }
          ],
          "description": "Updates general settings.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/googleapps/domain/email_settings/developers_guide_protocol.html#GA_email_general_main"
          }
        }
      }
    },
    "info": {
      "title": "Google Mail (Settings)",
      "description": "Create sidebar and contextual gadgets and access the Gmail inbox feed."
    }
  },
  "public": true
}