{
  "type": "api",
  "key": "apigee:echonest",
  "info": {
    "title": "EchoNest",
    "description": "Gain access to billions of data points about music, including artist info, taste profiles, playlists and more."
  },
  "swagger": {
    "swagger": "2.0",
    "host": "developer.echonest.com",
    "basePath": "/api/v4",
    "schemes": [
      "http"
    ],
    "paths": {
      "/artist/biographies": {
        "parameters": [
          {
            "name": "format",
            "required": false,
            "in": "query",
            "type": "string",
            "default": "json",
            "description": "The format of the response.",
            "enum": [
              "json",
              "xml",
              "jsonp"
            ]
          },
          {
            "name": "callback",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "The callback function for JSONP requests. Required if format is jsonp."
          },
          {
            "name": "results",
            "required": false,
            "in": "query",
            "type": "integer",
            "default": 15,
            "description": "The number of results desired. 0 < results < 100"
          },
          {
            "name": "start",
            "required": false,
            "in": "query",
            "type": "integer",
            "default": 15,
            "description": "The desired index of the first result returned."
          },
          {
            "name": "license",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "The desired licenses of the returned images.",
            "enum": [
              "echo-source",
              "all-rights-reserved",
              "cc-by-sa",
              "cc-by-nc",
              "cc-by-nc-nd",
              "cc-by-nc-sa",
              "cc-by-nd",
              "cc-by",
              "public-domain",
              "unknown"
            ]
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Get a list of artist biographies.",
          "externalDocs": {
            "url": "http://developer.echonest.com/docs/v4/artist.html#biographies"
          }
        }
      },
      "/artist/blogs": {
        "parameters": [
          {
            "name": "format",
            "required": false,
            "in": "query",
            "type": "string",
            "default": "json",
            "description": "The format of the response.",
            "enum": [
              "json",
              "xml",
              "jsonp"
            ]
          },
          {
            "name": "callback",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "The callback function for JSONP requests. Required if format is jsonp."
          },
          {
            "name": "results",
            "required": false,
            "in": "query",
            "type": "integer",
            "default": 15,
            "description": "The number of results desired. 0 < results < 100"
          },
          {
            "name": "start",
            "required": false,
            "in": "query",
            "type": "integer",
            "default": 15,
            "description": "The desired index of the first result returned."
          },
          {
            "name": "high_relevance",
            "required": false,
            "in": "query",
            "type": "boolean",
            "default": false,
            "description": "If true only items that are highly relevant for this artist will be returned."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Get a list of blog articles related to an artist.",
          "externalDocs": {
            "url": "http://developer.echonest.com/docs/v4/artist.html#blogs"
          }
        }
      },
      "/artist/familiarity": {
        "parameters": [
          {
            "name": "format",
            "required": false,
            "in": "query",
            "type": "string",
            "default": "json",
            "description": "The format of the response.",
            "enum": [
              "json",
              "xml",
              "jsonp"
            ]
          },
          {
            "name": "callback",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "The callback function for JSONP requests. Required if format is jsonp."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Get our numerical estimation of how familiar an artist currently is to the world.",
          "externalDocs": {
            "url": "http://developer.echonest.com/docs/v4/artist.html#familiarity"
          }
        }
      },
      "/artist/hotttnesss": {
        "parameters": [
          {
            "name": "format",
            "required": false,
            "in": "query",
            "type": "string",
            "default": "json",
            "description": "The format of the response.",
            "enum": [
              "json",
              "xml",
              "jsonp"
            ]
          },
          {
            "name": "callback",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "The callback function for JSONP requests. Required if format is jsonp."
          },
          {
            "name": "type",
            "required": false,
            "in": "query",
            "type": "string",
            "default": "overall",
            "description": "Controls the type of hotttnesss that is used.",
            "enum": [
              "overall",
              "social",
              "reviews",
              "mainstream"
            ]
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns our numerical description of how hottt an artist currently is.",
          "externalDocs": {
            "url": "http://developer.echonest.com/docs/v4/artist.html#hotttnesss"
          }
        }
      },
      "/artist/images": {
        "parameters": [
          {
            "name": "format",
            "required": false,
            "in": "query",
            "type": "string",
            "default": "json",
            "description": "The format of the response.",
            "enum": [
              "json",
              "xml",
              "jsonp"
            ]
          },
          {
            "name": "callback",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "The callback function for JSONP requests. Required if format is jsonp."
          },
          {
            "name": "results",
            "required": false,
            "in": "query",
            "type": "integer",
            "default": 15,
            "description": "The number of results desired. 0 < results < 100"
          },
          {
            "name": "start",
            "required": false,
            "in": "query",
            "type": "integer",
            "default": 15,
            "description": "The desired index of the first result returned."
          },
          {
            "name": "license",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "The desired licenses of the returned images.",
            "enum": [
              "echo-source",
              "all-rights-reserved",
              "cc-by-sa",
              "cc-by-nc",
              "cc-by-nc-nd",
              "cc-by-nc-sa",
              "cc-by-nd",
              "cc-by",
              "public-domain",
              "unknown"
            ]
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Get a list of artist images.",
          "externalDocs": {
            "url": "http://developer.echonest.com/docs/v4/artist.html#images"
          }
        }
      },
      "/artist/list_terms": {
        "parameters": [
          {
            "name": "format",
            "required": false,
            "in": "query",
            "type": "string",
            "default": "json",
            "description": "The format of the response.",
            "enum": [
              "json",
              "xml",
              "jsonp"
            ]
          },
          {
            "name": "callback",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "The callback function for JSONP requests. Required if format is jsonp."
          },
          {
            "name": "type",
            "required": false,
            "in": "query",
            "type": "string",
            "default": "style",
            "description": "The type of term that is of interest.",
            "enum": [
              "style",
              "mood"
            ]
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Get a list of the best typed descriptive terms for use with search.",
          "externalDocs": {
            "url": "http://developer.echonest.com/docs/v4/artist.html#list-terms"
          }
        }
      },
      "/artist/news": {
        "parameters": [
          {
            "name": "format",
            "required": false,
            "in": "query",
            "type": "string",
            "default": "json",
            "description": "The format of the response.",
            "enum": [
              "json",
              "xml",
              "jsonp"
            ]
          },
          {
            "name": "callback",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "The callback function for JSONP requests. Required if format is jsonp."
          },
          {
            "name": "results",
            "required": false,
            "in": "query",
            "type": "integer",
            "default": 15,
            "description": "The number of results desired. 0 < results < 100"
          },
          {
            "name": "start",
            "required": false,
            "in": "query",
            "type": "integer",
            "default": 15,
            "description": "The desired index of the first result returned."
          },
          {
            "name": "high_relevance",
            "required": false,
            "in": "query",
            "type": "boolean",
            "default": false,
            "description": "If true only news articles that are highly relevant for this artist will be returned."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Get a list of news articles found on the web related to an artist.",
          "externalDocs": {
            "url": "http://developer.echonest.com/docs/v4/artist.html#news"
          }
        }
      },
      "/artist/profile": {
        "parameters": [
          {
            "name": "format",
            "required": false,
            "in": "query",
            "type": "string",
            "default": "json",
            "description": "The format of the response.",
            "enum": [
              "json",
              "xml",
              "jsonp"
            ]
          },
          {
            "name": "callback",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "The callback function for JSONP requests. Required if format is jsonp."
          },
          {
            "name": "bucket",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Indicates what data should be returned with each artist. Bucket:\nbiographies: returns up to the 15 most recent biographies found on the web related to the artist\nblogs: returns up to the 15 most recent blogs found on the web related to the artist\ndoc_counts(beta): returns document counts for each of the various artist document types\nfamiliarity: returns the familiarity for the artist\nhotttnesss: returns the hotttnesss for the artist\nimages: returns up to the 15 most recent images found on the web related to the artist\nnews: returns up to the 15 most recent news articles found on the web related to the artist\nreviews: returns up to the 15 most recent reviews found on the web related to the artist\nsongs(beta): returns up to the 15 hotttest songs for the artist\nurls: returns links to this artist's pages on various sites\nvideo: returns up to the 15 most recent videos found on the web related to the artist\nyears_active(beta): returns years active information for the artist\nid:rosetta-catalog: returns catalog specific information about the artist for the given catalog. See http://developer.echonest.com/docs/v4/index.html#rosetta for details.\nid:Taste-Profile-ID: returns personal catalog specific information about the artist for the given catalog. See http://developer.echonest.com/docs/v4/index.html#rosetta for details."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Get basic information on an artist: the name, the Echo Nest ID, and the MusicBrainz ID.",
          "externalDocs": {
            "url": "http://developer.echonest.com/docs/v4/artist.html#profile"
          }
        }
      },
      "/artist/reviews": {
        "parameters": [
          {
            "name": "format",
            "required": false,
            "in": "query",
            "type": "string",
            "default": "json",
            "description": "The format of the response.",
            "enum": [
              "json",
              "xml",
              "jsonp"
            ]
          },
          {
            "name": "callback",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "The callback function for JSONP requests. Required if format is jsonp."
          },
          {
            "name": "results",
            "required": false,
            "in": "query",
            "type": "integer",
            "default": 15,
            "description": "The number of results desired. 0 < results < 100"
          },
          {
            "name": "start",
            "required": false,
            "in": "query",
            "type": "integer",
            "default": 15,
            "description": "The desired index of the first result returned."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Get reviews related to an artist's work.",
          "externalDocs": {
            "url": "http://developer.echonest.com/docs/v4/artist.html#reviews"
          }
        }
      },
      "/artist/search": {
        "parameters": [
          {
            "name": "format",
            "required": false,
            "in": "query",
            "type": "string",
            "default": "json",
            "description": "The format of the response.",
            "enum": [
              "json",
              "xml",
              "jsonp"
            ]
          },
          {
            "name": "callback",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "The callback function for JSONP requests. Required if format is jsonp."
          },
          {
            "name": "results",
            "required": false,
            "in": "query",
            "type": "integer",
            "default": 15,
            "description": "The number of results desired. 0 < results < 100"
          },
          {
            "name": "bucket",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Indicates what data should be returned with each artist. Bucket:\nbiographies: returns up to the 15 most recent biographies found on the web related to the artist\nblogs: returns up to the 15 most recent blogs found on the web related to the artist\ndoc_counts(beta): returns document counts for each of the various artist document types\nfamiliarity: returns the familiarity for the artist\nhotttnesss: returns the hotttnesss for the artist\nimages: returns up to the 15 most recent images found on the web related to the artist\nnews: returns up to the 15 most recent news articles found on the web related to the artist\nreviews: returns up to the 15 most recent reviews found on the web related to the artist\nsongs(beta): returns up to the 15 hotttest songs for the artist\nurls: returns links to this artist's pages on various sites\nvideo: returns up to the 15 most recent videos found on the web related to the artist\nyears_active(beta): returns years active information for the artist\nid:rosetta-catalog: returns catalog specific information about the artist for the given catalog. See http://developer.echonest.com/docs/v4/index.html#rosetta for details.\nid:Taste-Profile-ID: returns personal catalog specific information about the artist for the given catalog. See http://developer.echonest.com/docs/v4/index.html#rosetta for details."
          },
          {
            "name": "limit",
            "required": false,
            "in": "query",
            "type": "boolean",
            "default": false,
            "description": "If 'true', limit the results to any of the given idspaces or catalogs."
          },
          {
            "name": "style",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "A musical style or genre like rock, jazz, or funky. See the method list_terms for details on what styles are currently available."
          },
          {
            "name": "mood",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "A mood like happy or sad. See the method list_terms for details on what moods are currently available."
          },
          {
            "name": "rank_type",
            "required": false,
            "in": "query",
            "type": "string",
            "default": "relevance",
            "description": "For search by description, style or mood indicates whether results should be ranked by query relevance or by artist familiarity",
            "enum": [
              "relevance",
              "familiarity"
            ]
          },
          {
            "name": "fuzzy_match",
            "required": false,
            "in": "query",
            "type": "boolean",
            "description": "If true, a fuzzy search is performed."
          },
          {
            "name": "max_familiarity",
            "required": false,
            "in": "query",
            "default": 1,
            "description": "The maximum familiarity for returned artists (0.0 < familiarity < 1.0). Default: 1.0"
          },
          {
            "name": "min_familiarity",
            "required": false,
            "in": "query",
            "default": 0,
            "description": "The minimum familiarity for returned artists (0.0 < familiarity < 1.0). Default: 0.0"
          },
          {
            "name": "max_hotttnesss",
            "required": false,
            "in": "query",
            "default": 1,
            "description": "The maximum hotttnesss for returned artists (0.0 < hotttnesss < 1.0). Default: 1.0"
          },
          {
            "name": "min_hotttnesss",
            "required": false,
            "in": "query",
            "default": 0,
            "description": "The minimum hotttnesss for returned artists (0.0 < hotttnesss < 1.0). Default: 0.0"
          },
          {
            "name": "artist_start_year_before",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Matches artists that have an earliest start year before the given value. Examples: 1970, 2011, present"
          },
          {
            "name": "artist_start_year_after",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Matches artists that have an earliest start year after the given value. Examples: 1970, 2011, present"
          },
          {
            "name": "artist_end_year_before",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Matches artists that have a latest end year before the given value. Examples: 1970, 2011, present"
          },
          {
            "name": "artist_end_year_after",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Matches artists that have a latest end year after the given value. Examples: 1970, 2011, present"
          },
          {
            "name": "sort",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Specified the sort order of the results.",
            "enum": [
              "familiarity-asc",
              "hotttnesss-asc",
              "familiarity-desc",
              "hotttnesss-desc",
              "artist_start_year-asc",
              "artist_start_year-desc",
              "artist_end_year-asc",
              "artist_end_year-desc"
            ]
          },
          {
            "name": "start",
            "required": false,
            "in": "query",
            "type": "integer",
            "default": 15,
            "description": "The desired index of the first result returned."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Search artists.",
          "externalDocs": {
            "url": "http://developer.echonest.com/docs/v4/artist.html#search"
          }
        }
      },
      "/artist/extract": {
        "parameters": [
          {
            "name": "format",
            "required": false,
            "in": "query",
            "type": "string",
            "default": "json",
            "description": "The format of the response.",
            "enum": [
              "json",
              "xml",
              "jsonp"
            ]
          },
          {
            "name": "callback",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "The callback function for JSONP requests. Required if format is jsonp."
          },
          {
            "name": "results",
            "required": false,
            "in": "query",
            "type": "integer",
            "default": 15,
            "description": "The number of results desired. 0 < results < 100"
          },
          {
            "name": "bucket",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Indicates what data should be returned with each artist. Bucket:\nbiographies: returns up to the 15 most recent biographies found on the web related to the artist\nblogs: returns up to the 15 most recent blogs found on the web related to the artist\ndoc_counts(beta): returns document counts for each of the various artist document types\nfamiliarity: returns the familiarity for the artist\nhotttnesss: returns the hotttnesss for the artist\nimages: returns up to the 15 most recent images found on the web related to the artist\nnews: returns up to the 15 most recent news articles found on the web related to the artist\nreviews: returns up to the 15 most recent reviews found on the web related to the artist\nsongs(beta): returns up to the 15 hotttest songs for the artist\nurls: returns links to this artist's pages on various sites\nvideo: returns up to the 15 most recent videos found on the web related to the artist\nyears_active(beta): returns years active information for the artist\nid:rosetta-catalog: returns catalog specific information about the artist for the given catalog. See http://developer.echonest.com/docs/v4/index.html#rosetta for details.\nid:Taste-Profile-ID: returns personal catalog specific information about the artist for the given catalog. See http://developer.echonest.com/docs/v4/index.html#rosetta for details."
          },
          {
            "name": "limit",
            "required": false,
            "in": "query",
            "type": "boolean",
            "default": false,
            "description": "If 'true', limit the results to any of the given idspaces or catalogs."
          },
          {
            "name": "text",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Text that contains artist names."
          },
          {
            "name": "max_familiarity",
            "required": false,
            "in": "query",
            "default": 1,
            "description": "The maximum familiarity for returned artists (0.0 < familiarity < 1.0). Default: 1.0"
          },
          {
            "name": "min_familiarity",
            "required": false,
            "in": "query",
            "default": 0,
            "description": "The minimum familiarity for returned artists (0.0 < familiarity < 1.0). Default: 0.0"
          },
          {
            "name": "max_hotttnesss",
            "required": false,
            "in": "query",
            "default": 1,
            "description": "The maximum hotttnesss for returned artists (0.0 < hotttnesss < 1.0). Default: 1.0"
          },
          {
            "name": "min_hotttnesss",
            "required": false,
            "in": "query",
            "default": 0,
            "description": "The minimum hotttnesss for returned artists (0.0 < hotttnesss < 1.0). Default: 0.0"
          },
          {
            "name": "sort",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Specified the sort order of the results.",
            "enum": [
              "familiarity-asc",
              "hotttnesss-asc",
              "familiarity-desc",
              "hotttnesss-desc",
              "artist_start_year-asc",
              "artist_start_year-desc",
              "artist_end_year-asc",
              "artist_end_year-desc"
            ]
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Extract artist names from text.",
          "externalDocs": {
            "url": "http://developer.echonest.com/docs/v4/artist.html#extract-beta"
          }
        }
      },
      "/artist/songs": {
        "parameters": [
          {
            "name": "format",
            "required": false,
            "in": "query",
            "type": "string",
            "default": "json",
            "description": "The format of the response.",
            "enum": [
              "json",
              "xml",
              "jsonp"
            ]
          },
          {
            "name": "callback",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "The callback function for JSONP requests. Required if format is jsonp."
          },
          {
            "name": "results",
            "required": false,
            "in": "query",
            "type": "integer",
            "default": 15,
            "description": "The number of results desired. 0 < results < 100"
          },
          {
            "name": "start",
            "required": false,
            "in": "query",
            "type": "integer",
            "default": 15,
            "description": "The desired index of the first result returned."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Get a list of songs created by an artist.",
          "externalDocs": {
            "url": "http://developer.echonest.com/docs/v4/artist.html#songs"
          }
        }
      },
      "/artist/similar": {
        "parameters": [
          {
            "name": "format",
            "required": false,
            "in": "query",
            "type": "string",
            "default": "json",
            "description": "The format of the response.",
            "enum": [
              "json",
              "xml",
              "jsonp"
            ]
          },
          {
            "name": "callback",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "The callback function for JSONP requests. Required if format is jsonp."
          },
          {
            "name": "results",
            "required": false,
            "in": "query",
            "type": "integer",
            "default": 15,
            "description": "The number of results desired. 0 < results < 100"
          },
          {
            "name": "min_results",
            "required": false,
            "in": "query",
            "type": "integer",
            "default": 15,
            "description": "Indicates the minimum number of results to be returned regardless of constraints. 0 < results < 100"
          },
          {
            "name": "start",
            "required": false,
            "in": "query",
            "type": "integer",
            "default": 15,
            "description": "The desired index of the first result returned."
          },
          {
            "name": "bucket",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Indicates what data should be returned with each artist. Bucket:\nbiographies: returns up to the 15 most recent biographies found on the web related to the artist\nblogs: returns up to the 15 most recent blogs found on the web related to the artist\ndoc_counts(beta): returns document counts for each of the various artist document types\nfamiliarity: returns the familiarity for the artist\nhotttnesss: returns the hotttnesss for the artist\nimages: returns up to the 15 most recent images found on the web related to the artist\nnews: returns up to the 15 most recent news articles found on the web related to the artist\nreviews: returns up to the 15 most recent reviews found on the web related to the artist\nsongs(beta): returns up to the 15 hotttest songs for the artist\nurls: returns links to this artist's pages on various sites\nvideo: returns up to the 15 most recent videos found on the web related to the artist\nyears_active(beta): returns years active information for the artist\nid:rosetta-catalog: returns catalog specific information about the artist for the given catalog. See http://developer.echonest.com/docs/v4/index.html#rosetta for details.\nid:Taste-Profile-ID: returns personal catalog specific information about the artist for the given catalog. See http://developer.echonest.com/docs/v4/index.html#rosetta for details."
          },
          {
            "name": "max_familiarity",
            "required": false,
            "in": "query",
            "default": 1,
            "description": "The maximum familiarity for returned artists (0.0 < familiarity < 1.0). Default: 1.0"
          },
          {
            "name": "min_familiarity",
            "required": false,
            "in": "query",
            "default": 0,
            "description": "The minimum familiarity for returned artists (0.0 < familiarity < 1.0). Default: 0.0"
          },
          {
            "name": "max_hotttnesss",
            "required": false,
            "in": "query",
            "default": 1,
            "description": "The maximum hotttnesss for returned artists (0.0 < hotttnesss < 1.0). Default: 1.0"
          },
          {
            "name": "min_hotttnesss",
            "required": false,
            "in": "query",
            "default": 0,
            "description": "The minimum hotttnesss for returned artists (0.0 < hotttnesss < 1.0). Default: 0.0"
          },
          {
            "name": "artist_start_year_before",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Matches artists that have an earliest start year before the given value. Examples: 1970, 2011, present"
          },
          {
            "name": "artist_start_year_after",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Matches artists that have an earliest start year after the given value. Examples: 1970, 2011, present"
          },
          {
            "name": "artist_end_year_before",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Matches artists that have a latest end year before the given value. Examples: 1970, 2011, present"
          },
          {
            "name": "artist_end_year_after",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Matches artists that have a latest end year after the given value. Examples: 1970, 2011, present"
          },
          {
            "name": "reverse",
            "required": false,
            "in": "query",
            "type": "boolean",
            "default": false,
            "description": "If true, return artists that are disimilar to the seeds."
          },
          {
            "name": "limit",
            "required": false,
            "in": "query",
            "type": "boolean",
            "default": false,
            "description": "If true, limit the results to any of the given idspaces or catalogs."
          },
          {
            "name": "seed_catalog",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Only give similars to those in a catalog or catalogs, An Echo Nest artist catalog identifier. Repeating: up to 5"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Return similar artists given one or more artists for comparison.",
          "externalDocs": {
            "url": "http://developer.echonest.com/docs/v4/artist.html#similar"
          }
        }
      },
      "/artist/suggest": {
        "parameters": [
          {
            "name": "format",
            "required": false,
            "in": "query",
            "type": "string",
            "default": "json",
            "description": "The format of the response.",
            "enum": [
              "json",
              "xml",
              "jsonp"
            ]
          },
          {
            "name": "callback",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "The callback function for JSONP requests. Required if format is jsonp."
          },
          {
            "name": "results",
            "required": false,
            "in": "query",
            "type": "integer",
            "default": 10,
            "description": "The number of results desired. 0 < results < 15"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Suggest artists based upon partial names.",
          "externalDocs": {
            "url": "http://developer.echonest.com/docs/v4/artist.html#suggest-beta"
          }
        }
      },
      "/artist/terms": {
        "parameters": [
          {
            "name": "format",
            "required": false,
            "in": "query",
            "type": "string",
            "default": "json",
            "description": "The format of the response.",
            "enum": [
              "json",
              "xml",
              "jsonp"
            ]
          },
          {
            "name": "callback",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "The callback function for JSONP requests. Required if format is jsonp."
          },
          {
            "name": "sort",
            "required": false,
            "in": "query",
            "type": "string",
            "default": "frequency",
            "description": "Sort terms based upon weight or frequency.",
            "enum": [
              "weight",
              "frequency"
            ]
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Get a list of most descriptive terms for an artist.",
          "externalDocs": {
            "url": "http://developer.echonest.com/docs/v4/artist.html#terms"
          }
        }
      },
      "/artist/top_hottt": {
        "parameters": [
          {
            "name": "format",
            "required": false,
            "in": "query",
            "type": "string",
            "default": "json",
            "description": "The format of the response.",
            "enum": [
              "json",
              "xml",
              "jsonp"
            ]
          },
          {
            "name": "callback",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "The callback function for JSONP requests. Required if format is jsonp."
          },
          {
            "name": "results",
            "required": false,
            "in": "query",
            "type": "integer",
            "default": 15,
            "description": "The number of results desired. 0 < results < 100"
          },
          {
            "name": "start",
            "required": false,
            "in": "query",
            "type": "integer",
            "default": 15,
            "description": "The desired index of the first result returned."
          },
          {
            "name": "bucket",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Indicates what data should be returned with each artist. Bucket:\nbiographies: returns up to the 15 most recent biographies found on the web related to the artist\nblogs: returns up to the 15 most recent blogs found on the web related to the artist\ndoc_counts(beta): returns document counts for each of the various artist document types\nfamiliarity: returns the familiarity for the artist\nhotttnesss: returns the hotttnesss for the artist\nimages: returns up to the 15 most recent images found on the web related to the artist\nnews: returns up to the 15 most recent news articles found on the web related to the artist\nreviews: returns up to the 15 most recent reviews found on the web related to the artist\nsongs(beta): returns up to the 15 hotttest songs for the artist\nurls: returns links to this artist's pages on various sites\nvideo: returns up to the 15 most recent videos found on the web related to the artist\nyears_active(beta): returns years active information for the artist\nid:rosetta-catalog: returns catalog specific information about the artist for the given catalog. See http://developer.echonest.com/docs/v4/index.html#rosetta for details.\nid:Taste-Profile-ID: returns personal catalog specific information about the artist for the given catalog. See http://developer.echonest.com/docs/v4/index.html#rosetta for details."
          },
          {
            "name": "limit",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "If true artists will be limited to those that appear in any of the catalogs specified by the id: bucket."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Return a list of the top hottt artists.",
          "externalDocs": {
            "url": "http://developer.echonest.com/docs/v4/artist.html#top-hottt"
          }
        }
      },
      "/artist/top_terms": {
        "parameters": [
          {
            "name": "format",
            "required": false,
            "in": "query",
            "type": "string",
            "default": "json",
            "description": "The format of the response.",
            "enum": [
              "json",
              "xml",
              "jsonp"
            ]
          },
          {
            "name": "callback",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "The callback function for JSONP requests. Required if format is jsonp."
          },
          {
            "name": "results",
            "required": false,
            "in": "query",
            "type": "integer",
            "default": 15,
            "description": "The number of results desired. 0 < results < 100"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns a list of the overall top terms.",
          "externalDocs": {
            "url": "http://developer.echonest.com/docs/v4/artist.html#top-terms"
          }
        }
      },
      "/artist/twitter": {
        "parameters": [
          {
            "name": "format",
            "required": false,
            "in": "query",
            "type": "string",
            "default": "json",
            "description": "The format of the response.",
            "enum": [
              "json",
              "xml",
              "jsonp"
            ]
          },
          {
            "name": "callback",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "The callback function for JSONP requests. Required if format is jsonp."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Gets the twitter handle for an artist.",
          "externalDocs": {
            "url": "http://developer.echonest.com/docs/v4/artist.html#twitter"
          }
        }
      },
      "/artist/urls": {
        "parameters": [
          {
            "name": "format",
            "required": false,
            "in": "query",
            "type": "string",
            "default": "json",
            "description": "The format of the response.",
            "enum": [
              "json",
              "xml",
              "jsonp"
            ]
          },
          {
            "name": "callback",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "The callback function for JSONP requests. Required if format is jsonp."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Get links to the artist's official site, MusicBrainz site, MySpace site, Wikipedia article, Amazon list, and iTunes page.",
          "externalDocs": {
            "url": "http://developer.echonest.com/docs/v4/artist.html#urls"
          }
        }
      },
      "/artist/video": {
        "parameters": [
          {
            "name": "format",
            "required": false,
            "in": "query",
            "type": "string",
            "default": "json",
            "description": "The format of the response.",
            "enum": [
              "json",
              "xml",
              "jsonp"
            ]
          },
          {
            "name": "callback",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "The callback function for JSONP requests. Required if format is jsonp."
          },
          {
            "name": "results",
            "required": false,
            "in": "query",
            "type": "integer",
            "default": 15,
            "description": "The number of results desired. 0 < results < 100"
          },
          {
            "name": "start",
            "required": false,
            "in": "query",
            "type": "integer",
            "default": 15,
            "description": "The desired index of the first result returned."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Get a list of video documents found on the web related to an artist.",
          "externalDocs": {
            "url": "http://developer.echonest.com/docs/v4/artist.html#video"
          }
        }
      },
      "/song/search": {
        "parameters": [
          {
            "name": "format",
            "required": false,
            "in": "query",
            "type": "string",
            "default": "json",
            "description": "The format of the results.",
            "enum": [
              "json",
              "xml"
            ]
          },
          {
            "name": "title",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "The title of the song."
          },
          {
            "name": "artist",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "The name of the primary artist."
          },
          {
            "name": "combined",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Query both artist and title fields."
          },
          {
            "name": "description",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "A description of the artist."
          },
          {
            "name": "style",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "A musical style or genre like rock, jazz, or funky."
          },
          {
            "name": "mood",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "A mood like happy or sad."
          },
          {
            "name": "rank_type",
            "required": false,
            "in": "query",
            "type": "string",
            "default": "relevance",
            "description": "For search by description, style or mood indicates whether results should be ranked by query relevance or by artist familiarity",
            "enum": [
              "relevance",
              "familiarity"
            ]
          },
          {
            "name": "artist_id",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "The artist ID. An Echo Nest ID or a Rosetta ID (See http://developer.echonest.com/docs/v4/index.html#rosetta)."
          },
          {
            "name": "results",
            "required": false,
            "in": "query",
            "type": "integer",
            "default": 15,
            "description": "The number of results desired. 0 < results < 100"
          },
          {
            "name": "start",
            "required": false,
            "in": "query",
            "type": "integer",
            "default": 15,
            "description": "The desired index of the first result returned."
          },
          {
            "name": "max_tempo",
            "required": false,
            "in": "query",
            "default": 500,
            "description": "The maximum tempo for the song. 0.0 < tempo < 500.0 (BPM)"
          },
          {
            "name": "min_tempo",
            "required": false,
            "in": "query",
            "default": 0,
            "description": "The minimun tempo for the song. 0.0 < tempo < 500.0 (BPM)"
          },
          {
            "name": "max_duration",
            "required": false,
            "in": "query",
            "default": 3600,
            "description": "The maximum duration of any song. 0.0 < duration < 3600.0 (seconds)"
          },
          {
            "name": "min_duration",
            "required": false,
            "in": "query",
            "default": 0,
            "description": "The minimun duration of any song. 0.0 < duration < 3600.0 (seconds)"
          },
          {
            "name": "max_loudness",
            "required": false,
            "in": "query",
            "default": 100,
            "description": "The maximum loudness of any song. -100.0 < loudness < 100.0 (dB)"
          },
          {
            "name": "min_loudness",
            "required": false,
            "in": "query",
            "default": -100,
            "description": "The minimum loudness of any song. -100.0 < loudness < 100.0 (dB)"
          },
          {
            "name": "artist_max_familiarity",
            "required": false,
            "in": "query",
            "default": 1,
            "description": "The maximum familiarity of any song. 0.0 < familiarity < 1.0"
          },
          {
            "name": "artist_min_familiarity",
            "required": false,
            "in": "query",
            "default": 0,
            "description": "The minimum familiarity of any song. 0.0 < familiarity < 1.0"
          },
          {
            "name": "artist_start_year_before",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Matches artists that have an earliest start year before the given value. Examples: 1970, 2011, present"
          },
          {
            "name": "artist_start_year_after",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Matches artists that have an earliest start year after the given value. Examples: 1970, 2011, present"
          },
          {
            "name": "artist_end_year_before",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Matches artists that have a latest end year before the given value. Examples: 1970, 2011, present"
          },
          {
            "name": "artist_end_year_after",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Matches artists that have a latest end year after the given value. Examples: 1970, 2011, present"
          },
          {
            "name": "song_max_hotttnesss",
            "required": false,
            "in": "query",
            "default": 1,
            "description": "The maximum hotttnesss of any song. 0.0 < hotttnesss < 1.0"
          },
          {
            "name": "song_min_hotttnesss",
            "required": false,
            "in": "query",
            "default": 0,
            "description": "The minimum hotttnesss of any song. 0.0 < hotttnesss < 1.0"
          },
          {
            "name": "artist_max_hotttnesss",
            "required": false,
            "in": "query",
            "default": 1,
            "description": "The maximum hotttnesss of any song's artist. 0.0 < hotttnesss < 1.0"
          },
          {
            "name": "artist_min_hotttnesss",
            "required": false,
            "in": "query",
            "default": 0,
            "description": "The minimum hotttnesss of any song's artist. 0.0 < hotttnesss < 1.0"
          },
          {
            "name": "max_longitude",
            "required": false,
            "in": "query",
            "default": 180,
            "description": "The maximum longitude of the primary artist location. -180.0 < longitude < 180.0"
          },
          {
            "name": "min_longitude",
            "required": false,
            "in": "query",
            "default": -180,
            "description": "The minimum longitude of the primary artist location. -180.0 < longitude < 180.0"
          },
          {
            "name": "max_latitude",
            "required": false,
            "in": "query",
            "default": 90,
            "description": "The maximum latitude of the primary artist location. -90.0 < latitude < 90.0"
          },
          {
            "name": "min_latitude",
            "required": false,
            "in": "query",
            "default": -90,
            "description": "The minimum latitude of the primary artist location. -90.0 < latitude < 90.0"
          },
          {
            "name": "max_danceability",
            "required": false,
            "in": "query",
            "default": 1,
            "description": "The maximum danceability of any song. 0.0 < danceability < 1.0"
          },
          {
            "name": "min_danceability",
            "required": false,
            "in": "query",
            "default": 0,
            "description": "The minimum danceability of any song. 0.0 < danceability < 1.0"
          },
          {
            "name": "max_energy",
            "required": false,
            "in": "query",
            "default": 1,
            "description": "The maximum energy of any song. 0.0 < energy < 1.0"
          },
          {
            "name": "min_energy",
            "required": false,
            "in": "query",
            "default": 0,
            "description": "The minimum energy of any song. 0.0 < energy < 1.0"
          },
          {
            "name": "mode",
            "required": false,
            "in": "query",
            "type": "integer",
            "description": "The mode of songs. (minor, major) 0, 1",
            "enum": [
              "0",
              "1"
            ]
          },
          {
            "name": "key",
            "required": false,
            "in": "query",
            "type": "integer",
            "description": "The key of songs in the playlist. (c, c-sharp, d, e-flat, e, f, f-sharp, g, a-flat, a, b-flat, b) 0 - 11",
            "enum": [
              "0",
              "1",
              "2",
              "3",
              "4",
              "5",
              "6",
              "7",
              "8",
              "8",
              "9",
              "10",
              "11"
            ]
          },
          {
            "name": "bucket",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Indicates what data should be returned for each song. If specifying the \"tracks\" bucket, a bucket with an id space must also be specified. See http://developer.echonest.com/docs/v4/index.html#rosetta for details on retrieving information associated with a particular catalog. Bucket:\naudio_summary: returns summary audio parameters for the song\nartist_familiarity: returns the familiarity for the song's artist\nartist_hotttnesss: returns the hotttnesss for the song's artist\nartist_location: returns information about the location of origin for the song's artist\nsong_hotttnesss: returns the hotttnesss of the song\ntracks: returns detailed track information for the song. You must also specify a Rosetta id space such as 7digital-US.\nid:rosetta-catalog: returns catalog specific information about the song for the given catalog. See http://developer.echonest.com/docs/v4/index.html#rosetta for details.\nid:Personal-Catalog-ID: returns personal catalog specific information about the song for the given catalog. See http://developer.echonest.com/docs/v4/index.html#rosetta for details."
          },
          {
            "name": "sort",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Indicates how the songs results should be ordered.",
            "enum": [
              "tempo-asc",
              "duration-asc",
              "loudness-asc",
              "artist_familiarity-asc",
              "artist_hotttnesss-asc",
              "artist_start_year-asc",
              "artist_start_year-desc",
              "artist_end_year-asc",
              "artist_end_year-desc",
              "song_hotttness-asc",
              "latitude-asc",
              "longitude-asc",
              "mode-asc",
              "key-asc",
              "tempo-desc",
              "duration-desc",
              "loudness-desc",
              "artist_familiarity-desc",
              "artist_hotttnesss-desc",
              "song_hotttnesss-desc",
              "latitude-desc",
              "longitude-desc",
              "mode-desc",
              "key-desc",
              "energy-asc",
              "energy-desc",
              "danceability-asc",
              "danceability-desc"
            ]
          },
          {
            "name": "limit",
            "required": false,
            "in": "query",
            "type": "boolean",
            "default": false,
            "description": "If 'true', limit the results to any of the given idspaces or catalogs."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Search for songs given different query types.",
          "externalDocs": {
            "url": "http://developer.echonest.com/docs/v4/song.html#search"
          }
        }
      },
      "/song/profile": {
        "parameters": [
          {
            "name": "format",
            "required": false,
            "in": "query",
            "type": "string",
            "default": "json",
            "description": "The format of the results.",
            "enum": [
              "json",
              "xml"
            ]
          },
          {
            "name": "bucket",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Indicates what data should be returned for each song. If specifying the \"tracks\" bucket, a bucket with an id space must also be specified. Bucket:\naudio_summary: returns summary audio parameters for the song\nartist_familiarity: returns the familiarity for the song's artist\nartist_hotttnesss: returns the hotttnesss for the song's artist\nartist_location: returns information about the location of origin for the song's artist\nsong_hotttnesss: returns the hotttnesss of the song\ntracks: returns detailed track information for the song. You must also specify a Rosetta id space such as 7digital-US.\nid:rosetta-catalog: returns catalog specific information about the song for the given catalog. See http://developer.echonest.com/docs/v4/index.html#rosetta for details.\nid:Personal-Catalog-ID: returns personal catalog specific information about the song for the given catalog. See http://developer.echonest.com/docs/v4/index.html#rosetta for details."
          },
          {
            "name": "limit",
            "required": false,
            "in": "query",
            "type": "boolean",
            "default": false,
            "description": "If 'true', limit the results to any of the given idspaces or catalogs."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Get info about songs given a list of ids.",
          "externalDocs": {
            "url": "http://developer.echonest.com/docs/v4/song.html#profile"
          }
        }
      },
      "/song/identify": {
        "parameters": [
          {
            "name": "version",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Version of codegen used to generate the code. Currently supported versions are 3.15 for ENMFP and 4.11 for Echoprint. If not specified, version 3.15 is used. See the section below on Echo Nest Fingerprinting systems to determine which fingerprinting system is best for you."
          },
          {
            "name": "bucket",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Specifies which information should be returned for each matching song. Bucket:\naudio_summary: returns summary audio parameters for the song\nartist_familiarity: returns the familiarity for the song's artist\nartist_hotttnesss: returns the hotttnesss for the song's artist\nartist_location: returns information about the location of origin for the song's artist\nsong_hotttnesss: returns the hotttnesss of the song\ntracks: returns detailed track information for the song. You must also specify a Rosetta id space such as 7digital-US.\nid:rosetta-catalog: returns catalog specific information about the song for the given catalog. See http://developer.echonest.com/docs/v4/index.html#rosetta for details.\nid:Personal-Catalog-ID: returns personal catalog specific information about the song for the given catalog. See http://developer.echonest.com/docs/v4/index.html#rosetta for details."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "code",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "The FP hashcodes for the track."
            },
            {
              "name": "artist",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "The name of the artist from the ID3 tag."
            },
            {
              "name": "title",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "The title of the track from the ID3 tag."
            },
            {
              "name": "title",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "The title of the track from the ID3 tag."
            },
            {
              "name": "release",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "The title of the album/release from the ID3 tag."
            },
            {
              "name": "duration",
              "required": false,
              "in": "query",
              "description": "The length of time of the track, in seconds."
            },
            {
              "name": "genre",
              "required": false,
              "in": "query",
              "description": "The genre from the ID3 tag."
            }
          ],
          "description": "Identifies a song given an Echoprint or Echo Nest Musical Fingerprint hash codes.",
          "externalDocs": {
            "url": "http://developer.echonest.com/docs/v4/song.html#identify"
          }
        },
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "multipart/form-data",
              "description": "Specifies Content Type."
            },
            {
              "name": "query",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "The JSON query."
            }
          ],
          "description": "Identifies a song given an Echoprint or Echo Nest Musical Fingerprint hash codes. Request with Content-Type \"multipart/form-data\" where all parameters are in the post body and the query is in the \"query\" parameter of the post \"files\".",
          "externalDocs": {
            "url": "http://developer.echonest.com/docs/v4/song.html#identify"
          }
        }
      },
      "/track/analyze": {
        "parameters": [
          {
            "name": "format",
            "required": false,
            "in": "query",
            "type": "string",
            "default": "json",
            "description": "The format of the response.",
            "enum": [
              "json",
              "xml",
              "jsonp"
            ]
          },
          {
            "name": "callback",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "The callback function for JSONP requests. Required if format is jsonp."
          },
          {
            "name": "wait",
            "required": false,
            "in": "query",
            "type": "boolean",
            "default": true,
            "description": "If true wait for the analysis to be completed."
          },
          {
            "name": "bucket",
            "required": false,
            "in": "query",
            "type": "integer",
            "description": "Indicates which track data should be returned (only valid if wait is true)."
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "multipart/form-data",
              "description": "Specifies Content Type."
            }
          ],
          "description": "Analyze a previously uploaded track with the latest version of the analyzer.",
          "externalDocs": {
            "url": "http://developer.echonest.com/docs/v4/track.html#analyze"
          }
        }
      },
      "/track/profile": {
        "parameters": [
          {
            "name": "format",
            "required": false,
            "in": "query",
            "type": "string",
            "default": "json",
            "description": "The format of the response.",
            "enum": [
              "json",
              "xml",
              "jsonp"
            ]
          },
          {
            "name": "callback",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "The callback function for JSONP requests. Required if format is jsonp."
          },
          {
            "name": "wait",
            "required": false,
            "in": "query",
            "type": "boolean",
            "default": true,
            "description": "If true wait for the analysis to be completed."
          },
          {
            "name": "bucket",
            "required": false,
            "in": "query",
            "type": "integer",
            "description": "The type of track data that should be returned."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Get info about tracks given an id or md5.",
          "externalDocs": {
            "url": "http://developer.echonest.com/docs/v4/track.html#profile"
          }
        }
      },
      "/track/upload": {
        "parameters": [
          {
            "name": "url",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "A url to an audio file."
          },
          {
            "name": "filetype",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Required if uploading a local file. The type of audio file to be analyzed."
          },
          {
            "name": "format",
            "required": false,
            "in": "query",
            "type": "string",
            "default": "json",
            "description": "The format of the response.",
            "enum": [
              "json",
              "xml",
              "jsonp"
            ]
          },
          {
            "name": "callback",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "The callback function for JSONP requests. Required if format is jsonp."
          },
          {
            "name": "wait",
            "required": false,
            "in": "query",
            "type": "boolean",
            "default": true,
            "description": "If true wait for the analysis to be completed."
          },
          {
            "name": "bucket",
            "required": false,
            "in": "query",
            "type": "integer",
            "description": "The type of track data that should be returned."
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "multipart/form-data",
              "description": "Specifies Content Type."
            },
            {
              "name": "track",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "The track data."
            }
          ],
          "description": "Upload a track to The Echo Nest's analyzer for analysis. Request with Content-Type \"multipart/form-data\" where all parameters are in the post body and the track is in the \"track\" section of the post \"files\".",
          "externalDocs": {
            "url": "http://developer.echonest.com/docs/v4/track.html#upload"
          }
        }
      },
      "/playlist/basic": {
        "parameters": [
          {
            "name": "format",
            "required": false,
            "in": "query",
            "type": "string",
            "default": "json",
            "description": "The format of the response.",
            "enum": [
              "json",
              "xml",
              "jsonp"
            ]
          },
          {
            "name": "callback",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "The callback function for JSONP requests. Required if format is jsonp."
          },
          {
            "name": "results",
            "required": false,
            "in": "query",
            "type": "integer",
            "default": 15,
            "description": "The number of results desired. 0 < results < 100"
          },
          {
            "name": "bucket",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Specifies which rosetta id space info should be returned."
          },
          {
            "name": "limit",
            "required": false,
            "in": "query",
            "type": "boolean",
            "default": false,
            "description": "If 'true', limit the results to any of the given rosetta id space."
          },
          {
            "name": "dmca",
            "required": false,
            "in": "query",
            "type": "boolean",
            "description": "If true the playlist delivered will meet the DMCA rules."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns a basic playlist.",
          "externalDocs": {
            "url": "http://developer.echonest.com/docs/v4/playlist.html#basic"
          }
        }
      },
      "/playlist/static": {
        "parameters": [
          {
            "name": "format",
            "required": false,
            "in": "query",
            "type": "string",
            "default": "json",
            "description": "The format of the response.",
            "enum": [
              "json",
              "xml",
              "jsonp"
            ]
          },
          {
            "name": "callback",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "The callback function for JSONP requests. Required if format is jsonp."
          },
          {
            "name": "type",
            "required": false,
            "in": "query",
            "type": "string",
            "default": "artist",
            "description": "The type of the playlist to be generated.",
            "enum": [
              "artist",
              "artist-radio",
              "artist-description",
              "song-radio",
              "catalog",
              "catalog-radio"
            ]
          },
          {
            "name": "artist_pick",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "The artist_pick parameter is used to determine how songs are picked for each artist in artist-type playlists. If the asc or desc suffix is ommitted, artist_pick defaults to descending."
          },
          {
            "name": "variety",
            "required": false,
            "in": "query",
            "default": 0.3,
            "description": "The maximum variety of artists to be represented in the playlist. A higher number will allow for more variety in the artists. 0 - 1 (default = 0.3)"
          },
          {
            "name": "distribution",
            "required": false,
            "in": "query",
            "type": "string",
            "default": "focused",
            "description": "Controls the distribution of artists in the playlist. A focused distribution yields a playlist of songs that are tightly clustered around the seeds, whereas a wandering distribution yields a playlist from a broader range of artists.",
            "enum": [
              "focused",
              "wandering"
            ]
          },
          {
            "name": "adventurousness",
            "required": false,
            "in": "query",
            "default": 0.2,
            "description": "Controls the trade between known music and unknown music. A value of 0 means no adventurousness, only known and preferred music will be played. A value of 1 means high adventurousness, mostly unknown music will be played. A value of auto indicates that the adventurousness should be automatically determined based upon the taste profile of the user. This parameter only applies to catalog and catalog-radio type playlists.0 - 1 (default = 0.2)"
          },
          {
            "name": "results",
            "required": false,
            "in": "query",
            "type": "integer",
            "default": 15,
            "description": "The desired number of songs in the playlist. 0 < results < 100"
          },
          {
            "name": "max_tempo",
            "required": false,
            "in": "query",
            "default": 500,
            "description": "The maximum tempo for any included songs. 0.0 < tempo < 500.0 (BPM)"
          },
          {
            "name": "min_tempo",
            "required": false,
            "in": "query",
            "default": 0,
            "description": "The minimun tempo for any included songs. 0.0 < tempo < 500.0 (BPM)"
          },
          {
            "name": "max_duration",
            "required": false,
            "in": "query",
            "default": 3600,
            "description": "The maximum duration of any song on the playlist. 0.0 < duration < 3600.0 (seconds)"
          },
          {
            "name": "min_duration",
            "required": false,
            "in": "query",
            "default": 0,
            "description": "The minimun duration of any song on the playlist. 0.0 < duration < 3600.0 (seconds)"
          },
          {
            "name": "max_loudness",
            "required": false,
            "in": "query",
            "default": 100,
            "description": "The maximum loudness of any song on the playlist. -100.0 < loudness < 100.0 (dB)"
          },
          {
            "name": "min_loudness",
            "required": false,
            "in": "query",
            "default": -100,
            "description": "The minimum loudness of any song on the playlist. -100.0 < loudness < 100.0 (dB)"
          },
          {
            "name": "max_danceability",
            "required": false,
            "in": "query",
            "default": 1,
            "description": "The maximum danceability of any song. 0.0 < danceability < 1.0"
          },
          {
            "name": "min_danceability",
            "required": false,
            "in": "query",
            "default": 0,
            "description": "The minimum danceability of any song. 0.0 < danceability < 1.0"
          },
          {
            "name": "max_energy",
            "required": false,
            "in": "query",
            "default": 1,
            "description": "The maximum energy of any song. 0.0 < energy < 1.0"
          },
          {
            "name": "min_energy",
            "required": false,
            "in": "query",
            "default": 0,
            "description": "The minimum energy of any song. 0.0 < energy < 1.0"
          },
          {
            "name": "artist_max_familiarity",
            "required": false,
            "in": "query",
            "default": 1,
            "description": "The maximum artist familiarity for songs in the playlist. 0.0 < familiarity < 1.0"
          },
          {
            "name": "artist_min_familiarity",
            "required": false,
            "in": "query",
            "default": 0,
            "description": "The minimum artist familiarity for songs in the playlist. 0.0 < familiarity < 1.0"
          },
          {
            "name": "artist_max_hotttnesss",
            "required": false,
            "in": "query",
            "default": 1,
            "description": "The maximum artist hotttness for songs in the playlist. 0.0 < hotttnesss < 1.0"
          },
          {
            "name": "artist_min_hotttnesss",
            "required": false,
            "in": "query",
            "default": 0,
            "description": "The minimum artist hotttness for songs in the playlist. 0.0 < hotttnesss < 1.0"
          },
          {
            "name": "artist_start_year_before",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Matches artists that have an earliest start year before the given value. Examples: 1970, 2011, present"
          },
          {
            "name": "artist_start_year_after",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Matches artists that have an earliest start year after the given value. Examples: 1970, 2011, present"
          },
          {
            "name": "artist_end_year_before",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Matches artists that have a latest end year before the given value. Examples: 1970, 2011, present"
          },
          {
            "name": "artist_end_year_after",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Matches artists that have a latest end year after the given value. Examples: 1970, 2011, present"
          },
          {
            "name": "song_max_hotttnesss",
            "required": false,
            "in": "query",
            "default": 1,
            "description": "The maximum hotttnesss for songs in the playlist. 0.0 < hotttnesss < 1.0"
          },
          {
            "name": "song_min_hotttnesss",
            "required": false,
            "in": "query",
            "default": 0,
            "description": "The minimum hotttnesss for songs in the playlist. 0.0 < hotttnesss < 1.0"
          },
          {
            "name": "max_longitude",
            "required": false,
            "in": "query",
            "default": 180,
            "description": "The maximum longitude for the location of artists in the playlist. -180.0 < longitude < 180.0"
          },
          {
            "name": "min_longitude",
            "required": false,
            "in": "query",
            "default": -180,
            "description": "The minimum longitude for the location of artists in the playlist. -180.0 < longitude < 180.0"
          },
          {
            "name": "max_latitude",
            "required": false,
            "in": "query",
            "default": 90,
            "description": "The maximum latitude for the location of artists in the playlist. -90.0 < latitude < 90.0"
          },
          {
            "name": "min_latitude",
            "required": false,
            "in": "query",
            "default": -90,
            "description": "The minimum latitude for the location of artists in the playlist. -90.0 < latitude < 90.0"
          },
          {
            "name": "mode",
            "required": false,
            "in": "query",
            "type": "integer",
            "description": "The mode of songs in the playlist. (minor, major) 0, 1",
            "enum": [
              "0",
              "1"
            ]
          },
          {
            "name": "key",
            "required": false,
            "in": "query",
            "type": "integer",
            "description": "The key of songs in the playlist. (c, c-sharp, d, e-flat, e, f, f-sharp, g, a-flat, a, b-flat, b) 0 - 11",
            "enum": [
              "0",
              "1",
              "2",
              "3",
              "4",
              "5",
              "6",
              "7",
              "8",
              "8",
              "9",
              "10",
              "11"
            ]
          },
          {
            "name": "bucket",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Indicates what data should be returned in the playlist (for json and xml types only)."
          },
          {
            "name": "sort",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Indicates how the songs should be ordered in the playlist.",
            "enum": [
              "tempo-asc",
              "duration-asc",
              "loudness-asc",
              "artist_familiarity-asc",
              "artist_hotttnesss-asc",
              "artist_start_year-asc",
              "artist_start_year-desc",
              "artist_end_year-asc",
              "artist_end_year-desc",
              "song_hotttness-asc",
              "latitude-asc",
              "longitude-asc",
              "mode-asc",
              "key-asc",
              "tempo-desc",
              "duration-desc",
              "loudness-desc",
              "artist_familiarity-desc",
              "artist_hotttnesss-desc",
              "song_hotttnesss-desc",
              "latitude-desc",
              "longitude-desc",
              "mode-desc",
              "key-desc",
              "energy-asc",
              "energy-desc",
              "danceability-asc",
              "danceability-desc"
            ]
          },
          {
            "name": "limit",
            "required": false,
            "in": "query",
            "type": "boolean",
            "default": false,
            "description": "If 'true', limit the results to any of the given idspaces or catalogs."
          },
          {
            "name": "dmca",
            "required": false,
            "in": "query",
            "type": "boolean",
            "description": "If true the playlist delivered will meet the DMCA rules."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns a static playlist.",
          "externalDocs": {
            "url": "http://developer.echonest.com/docs/v4/playlist.html#static"
          }
        }
      },
      "/playlist/dynamic": {
        "parameters": [
          {
            "name": "type",
            "required": true,
            "in": "query",
            "type": "string",
            "default": "artist",
            "description": "The type of the playlist to be generated.",
            "enum": [
              "artist",
              "artist-radio",
              "artist-description ",
              "song-radio",
              "catalog",
              "catalog-radio"
            ]
          },
          {
            "name": "format",
            "required": false,
            "in": "query",
            "type": "string",
            "default": "json",
            "description": "The format of the response.",
            "enum": [
              "json",
              "xml",
              "jsonp"
            ]
          },
          {
            "name": "callback",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "The callback function for JSONP requests. Required if format is jsonp."
          },
          {
            "name": "artist_pick",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "The artist_pick parameter is used to determine how songs are picked for each artist in artist-type playlists. If the asc or desc suffix is ommitted, artist_pick defaults to descending."
          },
          {
            "name": "variety",
            "required": false,
            "in": "query",
            "default": 0.3,
            "description": "The maximum variety of artists to be represented in the playlist. A higher number will allow for more variety in the artists. 0 - 1 (default = 0.3)"
          },
          {
            "name": "distribution",
            "required": false,
            "in": "query",
            "type": "string",
            "default": "focused",
            "description": "Controls the distribution of artists in the playlist. A focused distribution yields a playlist of songs that are tightly clustered around the seeds, whereas a wandering distribution yields a playlist from a broader range of artists.",
            "enum": [
              "focused",
              "wandering"
            ]
          },
          {
            "name": "adventurousness",
            "required": false,
            "in": "query",
            "default": 0.2,
            "description": "Controls the trade between known music and unknown music. A value of 0 means no adventurousness, only known and preferred music will be played. A value of 1 means high adventurousness, mostly unknown music will be played. A value of auto indicates that the adventurousness should be automatically determined based upon the taste profile of the user. This parameter only applies to catalog and catalog-radio type playlists.0 - 1 (default = 0.2)"
          },
          {
            "name": "results",
            "required": false,
            "in": "query",
            "type": "integer",
            "default": 15,
            "description": "The desired number of songs in the playlist. 0 < results < 100"
          },
          {
            "name": "max_tempo",
            "required": false,
            "in": "query",
            "default": 500,
            "description": "The maximum tempo for any included songs. 0.0 < tempo < 500.0 (BPM)"
          },
          {
            "name": "min_tempo",
            "required": false,
            "in": "query",
            "default": 0,
            "description": "The minimun tempo for any included songs. 0.0 < tempo < 500.0 (BPM)"
          },
          {
            "name": "max_duration",
            "required": false,
            "in": "query",
            "default": 3600,
            "description": "The maximum duration of any song on the playlist. 0.0 < duration < 3600.0 (seconds)"
          },
          {
            "name": "min_duration",
            "required": false,
            "in": "query",
            "default": 0,
            "description": "The minimun duration of any song on the playlist. 0.0 < duration < 3600.0 (seconds)"
          },
          {
            "name": "max_loudness",
            "required": false,
            "in": "query",
            "default": 100,
            "description": "The maximum loudness of any song on the playlist. -100.0 < loudness < 100.0 (dB)"
          },
          {
            "name": "min_loudness",
            "required": false,
            "in": "query",
            "default": -100,
            "description": "The minimum loudness of any song on the playlist. -100.0 < loudness < 100.0 (dB)"
          },
          {
            "name": "max_danceability",
            "required": false,
            "in": "query",
            "default": 1,
            "description": "The maximum danceability of any song. 0.0 < danceability < 1.0"
          },
          {
            "name": "min_danceability",
            "required": false,
            "in": "query",
            "default": 0,
            "description": "The minimum danceability of any song. 0.0 < danceability < 1.0"
          },
          {
            "name": "max_energy",
            "required": false,
            "in": "query",
            "default": 1,
            "description": "The maximum energy of any song. 0.0 < energy < 1.0"
          },
          {
            "name": "min_energy",
            "required": false,
            "in": "query",
            "default": 0,
            "description": "The minimum energy of any song. 0.0 < energy < 1.0"
          },
          {
            "name": "artist_max_familiarity",
            "required": false,
            "in": "query",
            "default": 1,
            "description": "The maximum artist familiarity for songs in the playlist. 0.0 < familiarity < 1.0"
          },
          {
            "name": "artist_min_familiarity",
            "required": false,
            "in": "query",
            "default": 0,
            "description": "The minimum artist familiarity for songs in the playlist. 0.0 < familiarity < 1.0"
          },
          {
            "name": "artist_max_hotttnesss",
            "required": false,
            "in": "query",
            "default": 1,
            "description": "The maximum artist hotttness for songs in the playlist. 0.0 < hotttnesss < 1.0"
          },
          {
            "name": "artist_min_hotttnesss",
            "required": false,
            "in": "query",
            "default": 0,
            "description": "The minimum artist hotttness for songs in the playlist. 0.0 < hotttnesss < 1.0"
          },
          {
            "name": "artist_start_year_before",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Matches artists that have an earliest start year before the given value. Examples: 1970, 2011, present"
          },
          {
            "name": "artist_start_year_after",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Matches artists that have an earliest start year after the given value. Examples: 1970, 2011, present"
          },
          {
            "name": "artist_end_year_before",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Matches artists that have a latest end year before the given value. Examples: 1970, 2011, present"
          },
          {
            "name": "artist_end_year_after",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Matches artists that have a latest end year after the given value. Examples: 1970, 2011, present"
          },
          {
            "name": "song_max_hotttnesss",
            "required": false,
            "in": "query",
            "default": 1,
            "description": "The maximum hotttnesss for songs in the playlist. 0.0 < hotttnesss < 1.0"
          },
          {
            "name": "song_min_hotttnesss",
            "required": false,
            "in": "query",
            "default": 0,
            "description": "The minimum hotttnesss for songs in the playlist. 0.0 < hotttnesss < 1.0"
          },
          {
            "name": "max_longitude",
            "required": false,
            "in": "query",
            "default": 180,
            "description": "The maximum longitude for the location of artists in the playlist. -180.0 < longitude < 180.0"
          },
          {
            "name": "min_longitude",
            "required": false,
            "in": "query",
            "default": -180,
            "description": "The minimum longitude for the location of artists in the playlist. -180.0 < longitude < 180.0"
          },
          {
            "name": "max_latitude",
            "required": false,
            "in": "query",
            "default": 90,
            "description": "The maximum latitude for the location of artists in the playlist. -90.0 < latitude < 90.0"
          },
          {
            "name": "min_latitude",
            "required": false,
            "in": "query",
            "default": -90,
            "description": "The minimum latitude for the location of artists in the playlist. -90.0 < latitude < 90.0"
          },
          {
            "name": "mode",
            "required": false,
            "in": "query",
            "type": "integer",
            "description": "The mode of songs in the playlist. (minor, major) 0, 1",
            "enum": [
              "0",
              "1"
            ]
          },
          {
            "name": "key",
            "required": false,
            "in": "query",
            "type": "integer",
            "description": "The key of songs in the playlist. (c, c-sharp, d, e-flat, e, f, f-sharp, g, a-flat, a, b-flat, b) 0 - 11",
            "enum": [
              "0",
              "1",
              "2",
              "3",
              "4",
              "5",
              "6",
              "7",
              "8",
              "8",
              "9",
              "10",
              "11"
            ]
          },
          {
            "name": "bucket",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Indicates what data should be returned in the playlist (for json and xml types only)."
          },
          {
            "name": "sort",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Indicates how the songs should be ordered in the playlist.",
            "enum": [
              "tempo-asc",
              "duration-asc",
              "loudness-asc",
              "artist_familiarity-asc",
              "artist_hotttnesss-asc",
              "artist_start_year-asc",
              "artist_start_year-desc",
              "artist_end_year-asc",
              "artist_end_year-desc",
              "song_hotttness-asc",
              "latitude-asc",
              "longitude-asc",
              "mode-asc",
              "key-asc",
              "tempo-desc",
              "duration-desc",
              "loudness-desc",
              "artist_familiarity-desc",
              "artist_hotttnesss-desc",
              "song_hotttnesss-desc",
              "latitude-desc",
              "longitude-desc",
              "mode-desc",
              "key-desc",
              "energy-asc",
              "energy-desc",
              "danceability-asc",
              "danceability-desc"
            ]
          },
          {
            "name": "limit",
            "required": false,
            "in": "query",
            "type": "boolean",
            "default": false,
            "description": "If 'true', limit the results to any of the given idspaces or catalogs."
          },
          {
            "name": "session_id",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "The id of the current playlist session. To start a new session, call playlist/dynamic with no session ID."
          },
          {
            "name": "dmca",
            "required": false,
            "in": "query",
            "type": "boolean",
            "description": "If true the playlist delivered will meet the DMCA rules."
          },
          {
            "name": "adventurousness",
            "required": false,
            "in": "query",
            "default": 0.2,
            "description": "Controls the trade between known music and unknown music. A value of 0 means no adventurousness, only known and preferred music will be played. A value of 1 means high adventurousness, mostly unknown music will be played. A value of auto indicates that the adventurousness should be automatically determined based upon the taste profile of the user. This parameter only applies to catalog and catalog-radio type playlists. Setting this parameter on a prexisting session resets the playlist session. 0 - 1 (default = 0.2)"
          },
          {
            "name": "rating",
            "required": false,
            "in": "query",
            "type": "integer",
            "description": "The user rating for the previous track. 5 is the highest rating, 1 is the lowest rating. Some playlist algorithms will adapt playlists based upon these ratings.",
            "enum": [
              "1",
              "2",
              "3",
              "4",
              "5"
            ]
          },
          {
            "name": "chain_xspf",
            "required": false,
            "in": "query",
            "type": "boolean",
            "description": "If true, an additional 'track' is added to the end XSPF playlist that is a URL to the next XSPF in the chain."
[...]
