{
  "type": "api",
  "key": "apigee:rdio",
  "info": {
    "title": "Rdio",
    "description": "Easily and legally access and play music across web and mobile devices."
  },
  "swagger": {
    "swagger": "2.0",
    "host": "api.rdio.com",
    "basePath": "/1/",
    "schemes": [
      "http"
    ],
    "paths": {
      "/?method=get": {
        "parameters": [],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [],
          "description": "Fetch one or more objects from Rdio.",
          "externalDocs": {
            "url": "http://developer.rdio.com/docs/read/rest/Methods#core"
          }
        }
      },
      "/?method=getObjectFromShortCode": {
        "parameters": [],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [],
          "description": "Return the object that the supplied Rdio short-code is a representation of, or null if the short-code is invalid.",
          "externalDocs": {
            "url": "http://developer.rdio.com/docs/read/rest/Methods#core"
          }
        }
      },
      "/?method=getObjectFromUrl": {
        "parameters": [],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [],
          "description": "Return the object that the supplied Rdio url is a representation of, or null if the url doesn't represent an object.",
          "externalDocs": {
            "url": "http://developer.rdio.com/docs/read/rest/Methods#core"
          }
        }
      },
      "/?method=getAlbumsByUPC": {
        "parameters": [],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [],
          "description": "Finds and returns albums based on their Universal Product Code (UPC).",
          "externalDocs": {
            "url": "http://developer.rdio.com/docs/read/rest/Methods#catalog"
          }
        }
      },
      "/?method=getAlbumsForArtist": {
        "parameters": [],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [],
          "description": "Returns the albums by (or featuring) an artist.",
          "externalDocs": {
            "url": "http://developer.rdio.com/docs/read/rest/Methods#catalog"
          }
        }
      },
      "/?method=getTracksByISRC": {
        "parameters": [],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [],
          "description": "Finds and returns tracks based on their International Standard Recording Code (ISRC).",
          "externalDocs": {
            "url": "http://developer.rdio.com/docs/read/rest/Methods#catalog"
          }
        }
      },
      "/?method=getTracksForArtist": {
        "parameters": [],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [],
          "description": "Gets all of the tracks by this artist.",
          "externalDocs": {
            "url": "http://developer.rdio.com/docs/read/rest/Methods#catalog"
          }
        }
      },
      "/?method=search": {
        "parameters": [],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [],
          "description": "Searches for artists, albums, tracks, users or all kinds of objects.",
          "externalDocs": {
            "url": "http://developer.rdio.com/docs/read/rest/Methods#catalog"
          }
        }
      },
      "/?method=searchSuggestions": {
        "parameters": [],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [],
          "description": "Matches the supplied prefix against artists, albums, tracks and people in the Rdio system. Return the first ten matches.",
          "externalDocs": {
            "url": "http://developer.rdio.com/docs/read/rest/Methods#catalog"
          }
        }
      },
      "/?method=addToCollection": {
        "parameters": [],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [],
          "description": "Adds tracks or playlists to the current user's collection.",
          "externalDocs": {
            "url": "http://developer.rdio.com/docs/read/rest/Methods#collection"
          }
        }
      },
      "/?method=getAlbumsForArtistInCollection": {
        "parameters": [],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [],
          "description": "Gets the albums in the user's collection by a particular artist.",
          "externalDocs": {
            "url": "http://developer.rdio.com/docs/read/rest/Methods#collection"
          }
        }
      },
      "/?method=getAlbumsInCollection": {
        "parameters": [],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [],
          "description": "Gets all of the albums in the user's collection.",
          "externalDocs": {
            "url": "http://developer.rdio.com/docs/read/rest/Methods#collection"
          }
        }
      },
      "/?method=getArtistsInCollection": {
        "parameters": [],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [],
          "description": "Gets all of the artist in a user's collection.",
          "externalDocs": {
            "url": "http://developer.rdio.com/docs/read/rest/Methods#collection"
          }
        }
      },
      "/?method=getTracksForAlbumInCollection": {
        "parameters": [],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [],
          "description": "Which tracks on the given album are in the user's collection.",
          "externalDocs": {
            "url": "http://developer.rdio.com/docs/read/rest/Methods#collection"
          }
        }
      },
      "/?method=getTracksForArtistInCollection": {
        "parameters": [],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [],
          "description": "Which tracks from the given artist are in the user's collection.",
          "externalDocs": {
            "url": "http://developer.rdio.com/docs/read/rest/Methods#collection"
          }
        }
      },
      "/?method=getTracksInCollection": {
        "parameters": [],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [],
          "description": "Gets all of the tracks in the user's collection.",
          "externalDocs": {
            "url": "http://developer.rdio.com/docs/read/rest/Methods#collection"
          }
        }
      },
      "/?method=removeFromCollection": {
        "parameters": [],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [],
          "description": "Removes tracks or playlists from the current user's collection.",
          "externalDocs": {
            "url": "http://developer.rdio.com/docs/read/rest/Methods#collection"
          }
        }
      },
      "/?method=setAvailableOffline": {
        "parameters": [],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [],
          "description": "Marks tracks or playlists for offline syncing.",
          "externalDocs": {
            "url": "http://developer.rdio.com/docs/read/rest/Methods#collection"
          }
        }
      },
      "/?method=addToPlaylist": {
        "parameters": [],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [],
          "description": "Adds a track to a playlist.",
          "externalDocs": {
            "url": "http://developer.rdio.com/docs/read/rest/Methods#playlists"
          }
        }
      },
      "/?method=createPlaylist": {
        "parameters": [],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [],
          "description": "Creates a new playlist in the current user's collection. The new playlist will be returned if the creation is successful, otherwise null will be returned.",
          "externalDocs": {
            "url": "http://developer.rdio.com/docs/read/rest/Methods#playlists"
          }
        }
      },
      "/?method=deletePlaylist": {
        "parameters": [],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [],
          "description": "Deletes a playlist.",
          "externalDocs": {
            "url": "http://developer.rdio.com/docs/read/rest/Methods#playlists"
          }
        }
      },
      "/?method=getPlaylists": {
        "parameters": [],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [],
          "description": "Gets the current user's playlists.",
          "externalDocs": {
            "url": "http://developer.rdio.com/docs/read/rest/Methods#playlists"
          }
        }
      },
      "/?method=removeFromPlaylist": {
        "parameters": [],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [],
          "description": "Removes items from a playlist by range (index and count). All track keys to remove must be in the tracks list too. This is to prevent accidental overwriting of playlist changes.",
          "externalDocs": {
            "url": "http://developer.rdio.com/docs/read/rest/Methods#playlists"
          }
        }
      },
      "/?method=setPlaylistCollaborating": {
        "parameters": [],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [],
          "description": "Starts or stops collaborating on this playlist.",
          "externalDocs": {
            "url": "http://developer.rdio.com/docs/read/rest/Methods#playlists"
          }
        }
      },
      "/?method=setPlaylistCollaborationMode": {
        "parameters": [],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [],
          "description": "Sets the playlist collaboration mode to allow no collaboration (0), collaboration with all Rdio users (1), or collaboration with Rdio users followed by the playlist owner (2).",
          "externalDocs": {
            "url": "http://developer.rdio.com/docs/read/rest/Methods#playlists"
          }
        }
      },
      "/?method=setPlaylistFields": {
        "parameters": [],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [],
          "description": "Sets the name and description for a playlist.",
          "externalDocs": {
            "url": "http://developer.rdio.com/docs/read/rest/Methods#playlists"
          }
        }
      },
      "/?method=setPlaylistOrder": {
        "parameters": [],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [],
          "description": "Saves the given order of tracks in a given playlist. The new order must have the same tracks as the previous order (this method may not be used to add/remove tracks).",
          "externalDocs": {
            "url": "http://developer.rdio.com/docs/read/rest/Methods#playlists"
          }
        }
      },
      "/?method=addFriend": {
        "parameters": [],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [],
          "description": "Adds a friend to the current user.",
          "externalDocs": {
            "url": "http://developer.rdio.com/docs/read/rest/Methods#social"
          }
        }
      },
      "/?method=currentUser": {
        "parameters": [],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [],
          "description": "Gets information about the currently logged in user.",
          "externalDocs": {
            "url": "http://developer.rdio.com/docs/read/rest/Methods#social"
          }
        }
      },
      "/?method=findUser": {
        "parameters": [],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [],
          "description": "Finds a user either by email address or by their username. Exactly one of email or vanityName must be supplied.",
          "externalDocs": {
            "url": "http://developer.rdio.com/docs/read/rest/Methods#social"
          }
        }
      },
      "/?method=removeFriend": {
        "parameters": [],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [],
          "description": "Removes a friend from the current user.",
          "externalDocs": {
            "url": "http://developer.rdio.com/docs/read/rest/Methods#social"
          }
        }
      },
      "/?method=userFollowers": {
        "parameters": [],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [],
          "description": "Gets a list of users following a user.",
          "externalDocs": {
            "url": "http://developer.rdio.com/docs/read/rest/Methods#social"
          }
        }
      },
      "/?method=userFollowing": {
        "parameters": [],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [],
          "description": "Gets a list of users that a user follows.",
          "externalDocs": {
            "url": "http://developer.rdio.com/docs/read/rest/Methods#social"
          }
        }
      },
      "/?method=getActivityStream": {
        "parameters": [],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [],
          "description": "Gets the activity events for a user, a user's friends, or everyone on Rdio.",
          "externalDocs": {
            "url": "http://developer.rdio.com/docs/read/rest/Methods#activity"
          }
        }
      },
      "/?method=getHeavyRotation": {
        "parameters": [],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [],
          "description": "Finds the most popular artists or albums for a user, their friends or the whole site.",
          "externalDocs": {
            "url": "http://developer.rdio.com/docs/read/rest/Methods#activity"
          }
        }
      },
      "/?method=getNewReleases": {
        "parameters": [],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [],
          "description": "Returns new albums released across a timeframe.",
          "externalDocs": {
            "url": "http://developer.rdio.com/docs/read/rest/Methods#activity"
          }
        }
      },
      "/?method=getTopCharts": {
        "parameters": [],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [],
          "description": "Returns the site-wide most popular items for a given type.",
          "externalDocs": {
            "url": "http://developer.rdio.com/docs/read/rest/Methods#activity"
          }
        }
      },
      "/?method=getPlaybackToken": {
        "parameters": [],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [],
          "description": "Gets an playback token. If you are using this for web playback you must supply a domain.",
          "externalDocs": {
            "url": "http://developer.rdio.com/docs/read/rest/Methods#playback"
          }
        }
      }
    },
    "info": {
      "title": "Rdio",
      "description": "Easily and legally access and play music across web and mobile devices."
    }
  },
  "public": true
}