{
  "type": "feed",
  "key": "feed:www.reddit.com",
  "info": {
    "title": "Reddit",
    "x-logo": {
      "url": "https://www.redditstatic.com/about/assets/reddit-logo.png"
    }
  },
  "public": true,
  "swagger": {
    "swagger": "2.0",
    "host": "www.reddit.com",
    "basePath": "/",
    "schemes": [
      "http"
    ],
    "paths": {
      "/.rss": {
        "get": {
          "parameters": [],
          "responses": {
            "200": {
              "schema": {
                "properties": {
                  "feed": {
                    "properties": {
                      "feedUrl": {
                        "type": "string",
                        "example": "http://www.reddit.com/r/all/.rss"
                      },
                      "title": {
                        "type": "string",
                        "example": "all subreddits"
                      },
                      "link": {
                        "type": "string",
                        "example": "http://www.reddit.com/r/all/"
                      },
                      "author": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      },
                      "entries": {
                        "type": "array",
                        "items": {
                          "properties": {
                            "title": {
                              "type": "string",
                              "example": "How to pass time at the airport"
                            },
                            "link": {
                              "type": "string",
                              "example": "http://i.imgur.com/LRBtkiW.gif"
                            },
                            "author": {
                              "type": "string"
                            },
                            "publishedDate": {
                              "type": "string",
                              "example": "Mon, 09 Nov 2015 10:30:22 -0800"
                            },
                            "content": "<p>Some text</p>"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/r/{subreddit}/.rss": {
        "get": {
          "parameters": [
            {
              "in": "path",
              "name": "subreddit"
            }
          ],
          "responses": {
            "200": {
              "schema": {
                "properties": {
                  "feed": {
                    "properties": {
                      "feedUrl": {
                        "type": "string",
                        "example": "http://www.reddit.com/r/all/.rss"
                      },
                      "title": {
                        "type": "string",
                        "example": "all subreddits"
                      },
                      "link": {
                        "type": "string",
                        "example": "http://www.reddit.com/r/all/"
                      },
                      "author": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      },
                      "entries": {
                        "type": "array",
                        "items": {
                          "properties": {
                            "title": {
                              "type": "string",
                              "example": "How to pass time at the airport"
                            },
                            "link": {
                              "type": "string",
                              "example": "http://i.imgur.com/LRBtkiW.gif"
                            },
                            "author": {
                              "type": "string"
                            },
                            "publishedDate": {
                              "type": "string",
                              "example": "Mon, 09 Nov 2015 10:30:22 -0800"
                            },
                            "content": "<p>Some text</p>"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/user/{username}/.rss": {
        "get": {
          "parameters": [
            {
              "in": "path",
              "name": "username"
            }
          ],
          "responses": {
            "200": {
              "schema": {
                "properties": {
                  "feed": {
                    "properties": {
                      "feedUrl": {
                        "type": "string",
                        "example": "http://www.reddit.com/r/all/.rss"
                      },
                      "title": {
                        "type": "string",
                        "example": "all subreddits"
                      },
                      "link": {
                        "type": "string",
                        "example": "http://www.reddit.com/r/all/"
                      },
                      "author": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      },
                      "entries": {
                        "type": "array",
                        "items": {
                          "properties": {
                            "title": {
                              "type": "string",
                              "example": "How to pass time at the airport"
                            },
                            "link": {
                              "type": "string",
                              "example": "http://i.imgur.com/LRBtkiW.gif"
                            },
                            "author": {
                              "type": "string"
                            },
                            "publishedDate": {
                              "type": "string",
                              "example": "Mon, 09 Nov 2015 10:30:22 -0800"
                            },
                            "content": "<p>Some text</p>"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/r/{subreddit}/comments/{post}/.rss": {
        "get": {
          "parameters": [
            {
              "in": "path",
              "name": "subreddit"
            },
            {
              "in": "path",
              "name": "post"
            }
          ],
          "responses": {
            "200": {
              "schema": {
                "properties": {
                  "feed": {
                    "properties": {
                      "feedUrl": {
                        "type": "string",
                        "example": "http://www.reddit.com/r/all/.rss"
                      },
                      "title": {
                        "type": "string",
                        "example": "all subreddits"
                      },
                      "link": {
                        "type": "string",
                        "example": "http://www.reddit.com/r/all/"
                      },
                      "author": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      },
                      "entries": {
                        "type": "array",
                        "items": {
                          "properties": {
                            "title": {
                              "type": "string",
                              "example": "How to pass time at the airport"
                            },
                            "link": {
                              "type": "string",
                              "example": "http://i.imgur.com/LRBtkiW.gif"
                            },
                            "author": {
                              "type": "string"
                            },
                            "publishedDate": {
                              "type": "string",
                              "example": "Mon, 09 Nov 2015 10:30:22 -0800"
                            },
                            "content": "<p>Some text</p>"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/domain/{domain}/.rss": {
        "get": {
          "parameters": [
            {
              "in": "path",
              "name": "domain"
            }
          ],
          "responses": {
            "200": {
              "schema": {
                "properties": {
                  "feed": {
                    "properties": {
                      "feedUrl": {
                        "type": "string",
                        "example": "http://www.reddit.com/r/all/.rss"
                      },
                      "title": {
                        "type": "string",
                        "example": "all subreddits"
                      },
                      "link": {
                        "type": "string",
                        "example": "http://www.reddit.com/r/all/"
                      },
                      "author": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      },
                      "entries": {
                        "type": "array",
                        "items": {
                          "properties": {
                            "title": {
                              "type": "string",
                              "example": "How to pass time at the airport"
                            },
                            "link": {
                              "type": "string",
                              "example": "http://i.imgur.com/LRBtkiW.gif"
                            },
                            "author": {
                              "type": "string"
                            },
                            "publishedDate": {
                              "type": "string",
                              "example": "Mon, 09 Nov 2015 10:30:22 -0800"
                            },
                            "content": "<p>Some text</p>"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "info": {
      "title": "Reddit",
      "x-logo": {
        "url": "https://www.redditstatic.com/about/assets/reddit-logo.png"
      }
    }
  }
}