{
  "type": "api",
  "key": "apigee:fitbit",
  "info": {
    "title": "Fitbit",
    "description": "Bring Fitbit health data into your apps, including user activities, sleep, heart, glucose and blood pressure information."
  },
  "swagger": {
    "swagger": "2.0",
    "host": "api.fitbit.com",
    "basePath": "/1",
    "schemes": [
      "https"
    ],
    "paths": {
      "/user/{user-id}/profile.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "name": "user-id",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "-"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Get user's profile in the format requested using units in the unit system which corresponds to the Accept-Language header provided.",
          "externalDocs": {
            "url": "http://wiki.fitbit.com/display/API/API-Get-User-Info"
          }
        }
      },
      "/user/-/profile.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "name": "gender",
            "required": false,
            "in": "query",
            "type": "string",
            "default": "FEMALE"
          },
          {
            "name": "birthday",
            "required": false,
            "in": "query",
            "type": "string",
            "default": "1980-02-01"
          },
          {
            "name": "height",
            "required": false,
            "in": "query",
            "type": "string",
            "default": "176"
          },
          {
            "name": "nickname",
            "required": false,
            "in": "query",
            "type": "string",
            "default": "Me"
          },
          {
            "name": "fullname",
            "required": false,
            "in": "query",
            "type": "string",
            "default": "TestUser"
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Update user's profile using units in the unit system that corresponds to the Accept-Language header provided and get a response in the format requested.",
          "externalDocs": {
            "url": "http://wiki.fitbit.com/display/API/API-Update-User-Info"
          }
        }
      },
      "/user/{user-id}/body/date/{date}.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "name": "user-id",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "-"
          },
          {
            "name": "date",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "2015-03-01"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Get a summary of a user's body measurements for a given day in the format requested using units in the unit system which corresponds to the Accept-Language header provided.",
          "externalDocs": {
            "url": "http://wiki.fitbit.com/display/API/API-Get-Body-Measurements"
          }
        }
      },
      "/user/-/body/log/weight/date/{date}.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "name": "date",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "2015-03-01"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Get a list of all user's body weight log entries for a given day in the format requested using units in the unit system which corresponds to the Accept-Language header provided.",
          "externalDocs": {
            "url": "http://wiki.fitbit.com/display/API/API-Get-Body-Weight"
          }
        }
      },
      "/user/-/body/log/fat/date/{date}.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "name": "date",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "2015-03-01"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Get a list of all user's body fat log entries for a given day in the format requested.",
          "externalDocs": {
            "url": "http://wiki.fitbit.com/display/API/API-Get-Body-Fat"
          }
        }
      },
      "/user/{user-id}/activities/date/{date}.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "name": "user-id",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "-"
          },
          {
            "name": "date",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "2015-03-01"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Get a summary and list of a user's activities and activity log entries for a given day in the format requested using units in the unit system which corresponds to the Accept-Language header provided.",
          "externalDocs": {
            "url": "http://wiki.fitbit.com/display/API/API-Get-Activities"
          }
        }
      },
      "/user/{user-id}/foods/log/date/{date}.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "name": "user-id",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "-"
          },
          {
            "name": "date",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "2015-03-01"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Get a summary and list of a user's food log entries for a given day in the format requested.",
          "externalDocs": {
            "url": "http://wiki.fitbit.com/display/API/API-Get-Foods"
          }
        }
      },
      "/user/{user-id}/sleep/date/{date}.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "name": "user-id",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "-"
          },
          {
            "name": "date",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "2015-03-01"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Get a summary and list of a user's sleep log entries for a given day in the format requested. Endpoint returns summary for all sleep log entries for the given day (including naps). If you need data only for the main sleep you can fetch entry with \"isMainSleep\" = true or use Get-Time-Series calls.",
          "externalDocs": {
            "url": "http://wiki.fitbit.com/display/API/API-Get-Sleep"
          }
        }
      },
      "/user/-/heart/date/{date}.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "name": "date",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "2015-03-01"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Get an average values and a list of user's heart rate log entries for a given day in the format requested. Heart rate data available only to the authorized user. Heart rate log entries in response are sorted exactly the same as they are presented on the Fitbit website. We always include all heart rate trackers in the \"average\" section of the response body (with zero average values for the days with no measurements) to allow to seamlessly fetch a list of all additional user created custom trackers.",
          "externalDocs": {
            "url": "http://wiki.fitbit.com/display/API/API-Get-Heart-Rate"
          }
        }
      },
      "/user/-/bp/date/{date}.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "name": "date",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "2015-03-01"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Get an average value and a list of user's blood pressure log entries for a given day in the format requested. Blood pressure log entries are available only to authorized user. Blood pressure log entries in response are sorted exactly the same as they are presented on the Fitbit website.",
          "externalDocs": {
            "url": "http://wiki.fitbit.com/display/API/API-Get-Blood-Pressure"
          }
        }
      },
      "/user/-/glucose/date/{date}.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "name": "date",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "2015-03-01"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Get a list of user's blood glucose and HbA1C measurements for a given day in the format requested using units in the unit system which corresponds to the Accept-Language header provided. Glucose measurement log entries are available only to authorized user. We always include all glucose trackers in the response body (with zero glucose value for the days with no measurements) to allow to seamlessly fetch a list of all additional user created custom trackers.",
          "externalDocs": {
            "url": "http://wiki.fitbit.com/display/API/API-Get-Glucose"
          }
        }
      },
      "/user/{user-id}/friends.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "name": "user-id",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "-"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Get user's friends in the format requested using units in the unit system which corresponds to the Accept-Language header provided.",
          "externalDocs": {
            "url": "http://wiki.fitbit.com/display/API/API-Get-Friends"
          }
        }
      },
      "/user/-/friends/leaderboard.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "enum": [
              "xml",
              "json"
            ]
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Get a leaderboard of user's friends progress in the format requested using units in the unit system which corresponds to the Accept-Language header provided. Authorized user himself is also included in the response.",
          "externalDocs": {
            "url": "http://wiki.fitbit.com/display/API/API-Get-Friends"
          }
        }
      },
      "/user/-/activities.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "enum": [
              "xml",
              "json"
            ]
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Create log entry for an activity using units in the unit system which corresponds to the Accept-Language header provided (or using optional custom distanceUnit).",
          "externalDocs": {
            "url": "http://wiki.fitbit.com/display/API/API-Log-Activity"
          }
        },
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Get user's activity statistics in the format requested using units in the unit system which corresponds to the Accept-Language header provided. Response contains both lifetime statistics from the tracker device and total numbers including the manual activity log entries as seen on the Fitbit website dashboard.",
          "externalDocs": {
            "url": "http://wiki.fitbit.com/display/API/API-Get-Activity-Stats"
          }
        }
      },
      "/user/-/foods/log.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "name": "foodId",
            "required": true,
            "in": "query",
            "type": "string",
            "default": "30414"
          },
          {
            "name": "mealTypeId",
            "required": true,
            "in": "query",
            "type": "string",
            "default": "1"
          },
          {
            "name": "unitId",
            "required": true,
            "in": "query",
            "type": "string",
            "default": "147"
          },
          {
            "name": "amount",
            "required": true,
            "in": "query",
            "type": "string",
            "default": "1"
          },
          {
            "name": "date",
            "required": true,
            "in": "query",
            "type": "string",
            "default": "2015-03-01"
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Create log entry for a food. You need to select one of the unit ids to create a food log entry. It is possible to fetch unit ids allowed for specific food via previous calls to endpoints that retrieve food lists of the user. Each unit id maps to a unit in the list returned via the Get Food Units API call.",
          "externalDocs": {
            "url": "http://wiki.fitbit.com/display/API/API-Log-Food"
          }
        }
      },
      "/user/-/sleep.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "name": "startTime",
            "required": true,
            "in": "query",
            "type": "string",
            "default": "02:20"
          },
          {
            "name": "duration",
            "required": true,
            "in": "query",
            "type": "string",
            "default": "24000000"
          },
          {
            "name": "date",
            "required": true,
            "in": "query",
            "type": "string",
            "default": "2015-03-01"
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Create log entry for a sleep and get a response in the format requested.",
          "externalDocs": {
            "url": "http://wiki.fitbit.com/display/API/API-Log-Sleep"
          }
        }
      },
      "/user/-/heart.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "name": "tracker",
            "required": true,
            "in": "query",
            "type": "string",
            "default": "Running"
          },
          {
            "name": "heartRate",
            "required": true,
            "in": "query",
            "type": "string",
            "default": "80"
          },
          {
            "name": "date",
            "required": true,
            "in": "query",
            "type": "string",
            "default": "2015-03-01"
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Create log entry for a heart rate measurement and get a response in the format requested.",
          "externalDocs": {
            "url": "http://wiki.fitbit.com/display/API/API-Log-Heart-Rate"
          }
        }
      },
      "/user/-/bp.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "name": "systolic",
            "required": true,
            "in": "query",
            "type": "string",
            "default": "120"
          },
          {
            "name": "diastolic",
            "required": true,
            "in": "query",
            "type": "string",
            "default": "80"
          },
          {
            "name": "date",
            "required": true,
            "in": "query",
            "type": "string",
            "default": "2015-03-01"
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Create log entry for a blood pressure measurement and get a response in the format requested.",
          "externalDocs": {
            "url": "http://wiki.fitbit.com/display/API/API-Log-Blood-Pressure"
          }
        }
      },
      "/user/-/glucose.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "name": "hba1c",
            "required": false,
            "in": "query",
            "type": "string",
            "default": "4.5"
          },
          {
            "name": "tracker",
            "required": true,
            "in": "query",
            "type": "string",
            "default": "Afternoon"
          },
          {
            "name": "glucose",
            "required": true,
            "in": "query",
            "type": "string",
            "default": "3"
          },
          {
            "name": "time",
            "required": false,
            "in": "query",
            "type": "string",
            "default": "12:30"
          },
          {
            "name": "date",
            "required": true,
            "in": "query",
            "type": "string",
            "default": "2015-03-01"
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Create log entry for a blood glucose measurement and/or HbA1c using units in the unit system which corresponds to the Accept-Language header provided and get a response in the format requested.",
          "externalDocs": {
            "url": "http://wiki.fitbit.com/display/API/API-Log-Glucose"
          }
        }
      },
      "/user/-/foods/log/{food-log-id}.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "name": "food-log-id",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "1"
          }
        ],
        "delete": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Delete the user's food log entry with the given id.",
          "externalDocs": {
            "url": "http://wiki.fitbit.com/display/API/API-Delete-Food-Log"
          }
        }
      },
      "/user/-/activities/{activity-log-id}.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "name": "activity-log-id",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "1"
          }
        ],
        "delete": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Delete user's activity log entry with the given id.",
          "externalDocs": {
            "url": "http://wiki.fitbit.com/display/API/API-Delete-Activity-Log"
          }
        }
      },
      "/user/{user-id}/badges.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "name": "user-id",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "-"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Get user's badges in the format requested. Response includes all badges for the user as seen on the Fitbit website badge locker (both activity and weight related). We return weight and distance badges based on the user's unit profile preference as on the website.",
          "externalDocs": {
            "url": "http://wiki.fitbit.com/display/API/API-Get-Badges"
          }
        }
      },
      "/user/-/sleep/{sleep-log-id}.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "name": "sleep-log-id",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "1"
          }
        ],
        "delete": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Delete user's sleep log entry with the given id.",
          "externalDocs": {
            "url": "http://wiki.fitbit.com/display/API/Delete-Sleep-Log"
          }
        }
      },
      "/user/-/heart/{heart-log-id}.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "name": "heart-log-id",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "1"
          }
        ],
        "delete": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Delete user's heart rate log entry with the given id.",
          "externalDocs": {
            "url": "http://wiki.fitbit.com/display/API/API-Delete-Heart-Rate-Log"
          }
        }
      },
      "/user/-/bp/{bp-log-id}.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "name": "bp-log-id",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "1"
          }
        ],
        "delete": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Delete user's blood pressure log entry with the given id.",
          "externalDocs": {
            "url": "http://wiki.fitbit.com/display/API/API-Delete-Blood-Pressure-Log"
          }
        }
      },
      "/user/{user-id}/activities/calories/date/{start-date-or-end-date}/{end-date-or-period}.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "name": "user-id",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "-"
          },
          {
            "name": "start-date-or-end-date",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "2015-03-01"
          },
          {
            "name": "end-date-or-period",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "7d"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Get time series in the specified range for a given resource in the format requested using units in the unit system which corresponds to the Accept-Language header provided.",
          "externalDocs": {
            "url": "http://wiki.fitbit.com/display/API/API-Get-Time-Series"
          }
        }
      },
      "/user/{user-id}/body/weight/date/{start-date-or-end-date}/{end-date-or-period}.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "name": "user-id",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "-"
          },
          {
            "name": "start-date-or-end-date",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "2015-03-01"
          },
          {
            "name": "end-date-or-period",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "7d"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Get time series in the specified range for a given resource in the format requested using units in the unit system which corresponds to the Accept-Language header provided.",
          "externalDocs": {
            "url": "http://wiki.fitbit.com/display/API/API-Get-Time-Series"
          }
        }
      },
      "/user/-/body.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "name": "weight",
            "required": false,
            "in": "query",
            "type": "string",
            "default": "150"
          },
          {
            "name": "fat",
            "required": false,
            "in": "query",
            "type": "string",
            "default": "14.4"
          },
          {
            "name": "date",
            "required": true,
            "in": "query",
            "type": "string",
            "default": "2015-03-01"
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Log body measurements using units in the unit system that corresponds to the Accept-Language header provided.",
          "externalDocs": {
            "url": "http://wiki.fitbit.com/display/API/API-Log-Body-Measurements"
          }
        }
      },
      "/user/-/body/log/weight.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "name": "weight",
            "required": true,
            "in": "query",
            "type": "string",
            "default": "150"
          },
          {
            "name": "time",
            "required": true,
            "in": "query",
            "type": "string",
            "default": "12:20:00"
          },
          {
            "name": "date",
            "required": true,
            "in": "query",
            "type": "string",
            "default": "2015-03-01"
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Create log entry for a body weight using units in the unit system that corresponds to the Accept-Language header provided and get a response in the format requested.",
          "externalDocs": {
            "url": "http://wiki.fitbit.com/display/API/API-Log-Body-Weight"
          }
        }
      },
      "/user/-/body/log/fat.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "name": "fat",
            "required": true,
            "in": "query",
            "type": "string",
            "default": "14.4"
          },
          {
            "name": "time",
            "required": true,
            "in": "query",
            "type": "string",
            "default": "12:20"
          },
          {
            "name": "date",
            "required": true,
            "in": "query",
            "type": "string",
            "default": "2015-03-01"
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Create log entry for a body fat and get a response in the format requested.",
          "externalDocs": {
            "url": "http://wiki.fitbit.com/display/API/API-Log-Body-Fat"
          }
        }
      },
      "/user/-/body/log/fat/{body-weight-log-id}.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "name": "body-weight-log-id",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "1"
          }
        ],
        "delete": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Delete user's body weight log entry with the given id.",
          "externalDocs": {
            "url": "http://wiki.fitbit.com/display/API/API-Delete-Body-Weight-Log"
          }
        }
      },
      "/user/-/body/log/fat/{body-fat-log-id}.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "name": "body-fat-log-id",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "1"
          }
        ],
        "delete": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Delete user's body fat log entry with the given id.",
          "externalDocs": {
            "url": "http://wiki.fitbit.com/display/API/API-Delete-Body-Fat-Log"
          }
        }
      },
      "/user/-/body/log/weight/goal.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "name": "weight",
            "required": true,
            "in": "query",
            "type": "string",
            "default": "70"
          },
          {
            "name": "startWeight",
            "required": true,
            "in": "query",
            "type": "string",
            "default": "75"
          },
          {
            "name": "startDate",
            "required": true,
            "in": "query",
            "type": "string",
            "default": "2015-03-01"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Get a user's current weight goal using units in the unit system that corresponds to the Accept-Language header provided in the format requested.",
          "externalDocs": {
            "url": "http://wiki.fitbit.com/display/API/API-Get-Body-Weight-Goal"
          }
        },
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Create or update user's weight goal using units in the unit system that corresponds to the Accept-Language header provided and get a response in the format requested.",
          "externalDocs": {
            "url": "http://wiki.fitbit.com/display/API/API-Update-Weight-Goal"
          }
        }
      },
      "/user/-/body/log/fat/goal.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "name": "fat",
            "required": true,
            "in": "query",
            "type": "string",
            "default": "14"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Get a user's current fat goal in the format requested.",
          "externalDocs": {
            "url": "http://wiki.fitbit.com/display/API/API-Get-Body-Fat-Goal"
          }
        },
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Create or updates user's fat goal and get a response in the format requested.",
          "externalDocs": {
            "url": "http://wiki.fitbit.com/display/API/API-Update-Fat-Goal"
          }
        }
      },
      "/user/{user-id}/foods/log/caloriesIn/date/{start-date-or-end-date}/{end-date-or-period}.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "name": "user-id",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "-"
          },
          {
            "name": "start-date-or-end-date",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "2015-03-01"
          },
          {
            "name": "end-date-or-period",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "7d"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Get time series in the specified range for a given resource in the format requested using units in the unit system which corresponds to the Accept-Language header provided.",
          "externalDocs": {
            "url": "http://wiki.fitbit.com/display/API/API-Get-Time-Series"
          }
        }
      },
      "/user/{user-id}/sleep/minutesAsleep/date/{start-date-or-end-date}/{end-date-or-period}.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "name": "user-id",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "-"
          },
          {
            "name": "start-date-or-end-date",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "2015-03-01"
          },
          {
            "name": "end-date-or-period",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "7d"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Get time series in the specified range for a given resource in the format requested using units in the unit system which corresponds to the Accept-Language header provided.",
          "externalDocs": {
            "url": "http://wiki.fitbit.com/display/API/API-Get-Time-Series"
          }
        }
      },
      "/user/-/activities/recent.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "enum": [
              "xml",
              "json"
            ]
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Get a list of a user's recent activities in the format requested using units in the unit system which corresponds to the Accept-Language header provided. A recent activity record contains the distance and duration values recorded the last time the activity was logged. The record retrieved can therefore be used to log the activity via the Log Activity with the same or adjusted values for distance and duration.",
          "externalDocs": {
            "url": "http://wiki.fitbit.com/display/API/API-Get-Recent-Activities"
          }
        }
      },
      "/user/-/activities/frequent.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "enum": [
              "xml",
              "json"
            ]
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Get a list of a user's frequent activities in the format requested using units in the unit system which corresponds to the Accept-Language header provided. A frequent activity record contains the distance and duration values recorded the last time the activity was logged. The record retrieved can therefore be used to log the activity via the Log Activity with the same or adjusted values for distance and duration.",
          "externalDocs": {
            "url": "http://wiki.fitbit.com/display/API/API-Get-Frequent-Activities"
          }
        }
      },
      "/user/-/activities/favorite.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "enum": [
              "xml",
              "json"
            ]
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Get a list of a user's favorite activities in the format requested. A user marks an activity as favorite on the user's Activities Tab. The activity ids in the list can be used to create a new activity log entry via the Log Activity.",
          "externalDocs": {
            "url": "http://wiki.fitbit.com/display/API/API-Get-Recent-Activities"
          }
        }
      },
      "/user/-/foods/log/recent.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "enum": [
              "xml",
              "json"
            ]
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Get a list of a user's recent foods in the format requested. A recent food provides a quick way to log the food via the Log Food endpoint.",
          "externalDocs": {
            "url": "http://wiki.fitbit.com/display/API/API-Get-Recent-Foods"
          }
        }
      },
      "/user/-/foods/log/frequent.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "enum": [
              "xml",
              "json"
            ]
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Get a list of a user's frequent foods in the format requested. A frequent food in the list provides a quick way to log the food via the Log Food endpoint.",
          "externalDocs": {
            "url": "http://wiki.fitbit.com/display/API/API-Get-Frequent-Foods"
          }
        }
      },
      "/user/-/foods/log/favorite.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "enum": [
              "xml",
              "json"
            ]
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Get a list of a user's favorite foods in the format requested. A user marks a food as favorite on the user's Food Tab tab. A favorite food in the list provides a quick way to log the food via the Log Food endpoint.",
          "externalDocs": {
            "url": "http://wiki.fitbit.com/display/API/API-Get-Favorite-Foods"
          }
        }
      },
      "/user/-/activities/log/favorite/{id}.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "name": "id",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "1"
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Adds the activity with the given id to user's list of favorite activities.",
          "externalDocs": {
            "url": "http://wiki.fitbit.com/display/API/API-Add-Favorite-Activity"
          }
        },
        "delete": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Delete the activity with the given id from user's list of favorite activities.",
          "externalDocs": {
            "url": "http://wiki.fitbit.com/display/API/API-Delete-Favorite-Activity"
          }
        }
      },
      "/user/-/activities/goals/daily.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "enum": [
              "xml",
              "json"
            ]
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Get a user's current daily activity goals in the format requested using units in the unit system which corresponds to the Accept-Language header provided.",
          "externalDocs": {
            "url": "http://wiki.fitbit.com/display/API/API-Get-Activity-Daily-Goals"
          }
        }
      },
      "/user/-/activities/goals/weekly.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "enum": [
              "xml",
              "json"
            ]
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Get a user's current weekly activity goals in the format requested using units in the unit system which corresponds to the Accept-Language header provided.",
          "externalDocs": {
            "url": "http://wiki.fitbit.com/display/API/API-Get-Activity-Weekly-Goals"
          }
        }
      },
      "/user/-/activities/goals/daily.{format}?type={type}&value={value}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "name": "type",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "steps",
            "enum": [
              "steps",
              "distance",
              "floors",
              "caloriesOut"
            ]
          },
          {
            "name": "value",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "5000"
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Create or updates user's daily activity goals and get a response in the format requested using units in the unit system which corresponds to the Accept-Language header provided.",
          "externalDocs": {
            "url": "http://wiki.fitbit.com/display/API/API-Update-Activity-Daily-Goals"
          }
        }
      },
      "/user/-/activities/goals/weekly.{format}?type={type}&value={value}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "name": "type",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "steps",
            "enum": [
              "steps",
              "distance",
              "floors"
            ]
          },
          {
            "name": "value",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "5000"
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Create or updates user's weekly activity goals and get a response in the format requested using units in the unit system which corresponds to the Accept-Language header provided.",
          "externalDocs": {
            "url": "http://wiki.fitbit.com/display/API/API-Update-Activity-Weekly-Goals"
          }
        }
      },
      "/user/-/foods/log/favorite/{id}.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "name": "id",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "1"
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Add the food with the given id to user's list of favorite foods.",
          "externalDocs": {
            "url": "http://wiki.fitbit.com/display/API/API-Add-Favorite-Food"
          }
        },
        "delete": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Delete the food with the given id from user's list of favorite foods.",
          "externalDocs": {
            "url": "http://wiki.fitbit.com/display/API/API-Delete-Favorite-Food"
          }
        }
      },
      "/user/-/foods/log/water/date/{date}.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "name": "date",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "2015-03-01"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Get a summary and list of a user's water log entries for a given day in the format requested using units in the unit system which corresponds to the Accept-Language header provided.",
          "externalDocs": {
            "url": "http://wiki.fitbit.com/display/API/API-Get-Water"
          }
        }
      },
      "/user/-/foods/log/water.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "name": "amount",
            "required": true,
            "in": "query",
            "type": "string",
            "default": "300"
          },
          {
            "name": "date",
            "required": true,
            "in": "query",
            "type": "string",
            "default": "2015-03-01"
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Create log entry for a water using units in the unit system that corresponds to the Accept-Language header provided (or waterUnit) and get a response in the format requested.",
          "externalDocs": {
            "url": "http://wiki.fitbit.com/display/API/API-Log-Water"
          }
        }
      },
      "/user/-/foods/log/water/{water-log-id}.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "name": "water-log-id",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "1"
          }
        ],
        "delete": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Delete user's water log entry with the given id.",
          "externalDocs": {
            "url": "http://wiki.fitbit.com/display/API/Delete-Water-Log"
          }
        }
      },
      "/foods.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "name": "name",
            "required": true,
            "in": "query",
            "type": "string",
            "default": "Icecream,big"
          },
          {
            "name": "defaultFoodMeasurementUnitId",
            "required": true,
            "in": "query",
            "type": "string",
            "default": "147"
          },
          {
            "name": "defaultServingSize",
            "required": true,
            "in": "query",
            "type": "string",
            "default": "1"
          },
          {
            "name": "calories",
            "required": true,
            "in": "query",
            "type": "string",
            "default": "500"
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Create new private food for a user and get a response in a format requested. Created private food could be found in results of Search Foods call.",
          "externalDocs": {
            "url": "http://wiki.fitbit.com/display/API/API-Create-Food"
          }
        }
      },
      "/user/-/meals.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "enum": [
              "xml",
              "json"
            ]
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Get a list of meals user created in his food log in the format requested.",
          "externalDocs": {
            "url": "http://wiki.fitbit.com/display/API/API-Get-Meals"
          }
        }
      },
      "/user/-/foods/log/goal.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "name": "intensity",
            "required": true,
            "in": "query",
            "type": "string",
            "default": "MEDIUM"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Get a user's current daily calorie consumption goal and/or Food Plan in the format requested.",
          "externalDocs": {
            "url": "http://wiki.fitbit.com/display/API/API-Get-Food-Goals"
          }
        },
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Update (create) a user's daily calorie consumption goal or Food Plan and get a response in the format requested. Food Plan could not be created unless user already has active goal (Update-Weight-Goal). Depending on the weight goal setup only either MAINTENANCE (in case start weight is close to target weight or smaller) or one of the four other \"lose\" food plans could be created via intensity POST parameter.",
          "externalDocs": {
            "url": "http://wiki.fitbit.com/display/API/API-Update-Food-Goals"
          }
        }
      },
      "/user/-/devices.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "enum": [
              "xml",
              "json"
            ]
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Retrieve the list of Fitbit devices for a user in the format requested.",
          "externalDocs": {
            "url": "http://wiki.fitbit.com/display/API/API-Get-Devices"
          }
        }
      },
      "/activities.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "enum": [
              "xml",
              "json"
            ]
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Get a tree of all valid Fitbit public activities from the activities catalog as well as private custom activities the user created in the format requested. If activity has levels, also get a list of activity level details.",
          "externalDocs": {
            "url": "http://wiki.fitbit.com/display/API/API-Browse-Activities"
          }
        }
      },
      "/activities/{id}.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "name": "id",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "90009"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Get the details of a specific activity in Fitbit activities database in the format requested. If activity has levels, also get list of activity level details.",
          "externalDocs": {
            "url": "http://wiki.fitbit.com/display/API/API-Get-Activity"
          }
        }
      },
      "/foods/search.{format}?query={query}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "name": "query",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "Icecream",
            "enum": [
              "Icecream"
            ]
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Given a search query, get a list of public foods from Fitbit foods database and private foods the user created in the format requested.",
          "externalDocs": {
            "url": "http://wiki.fitbit.com/display/API/API-Get-Activity"
          }
        }
      },
      "/foods/{food-id}.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "name": "food-id",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "30414"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Get the details of a specific food in Fitbit Food database (or private food for the user) in the format requested. Note, that nutritional values currently included in response only for the private foods.",
          "externalDocs": {
            "url": "http://wiki.fitbit.com/display/API/API-Get-Food"
          }
        }
      },
      "/foods/units.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "enum": [
              "xml",
              "json"
            ]
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Get list of all valid Fitbit food units in the format requested.",
          "externalDocs": {
            "url": "http://wiki.fitbit.com/display/API/API-Get-Food-Units"
          }
        }
      },
      "/user/-/friends/invitations.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "enum": [
              "xml",
              "json"
            ]
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Retrieve the list of invites to become freinds for a user in the format requested.",
          "externalDocs": {
            "url": "http://wiki.fitbit.com/display/API/API-Get-Invites"
          }
        }
      },
      "/user/-/friends/invitations.{format}?invitedUserEmail={invitedUserEmail}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "name": "invitedUserEmail",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "222YZL"
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Invite a user to become friends with authorized user. If you provide invitedUserEmail parameter with the request, standard friendship invitation email will be sent to the invited user, that he can accept later. Contrary, invitedUserId parameter creates an invite silently, so it could only be fetched through the Get Invites endpoint. You can accept or reject both invitation types on behalf of the authorized user via Accept Invite API call.",
          "externalDocs": {
            "url": "http://wiki.fitbit.com/display/API/API-Create-Invite"
          }
        }
      },
      "/user/-/friends/invitations/{from-user-id}.{format}?accept={accept}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "name": "from-user-id",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "222YZL"
          },
          {
            "name": "accept",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "true",
            "enum": [
              "true",
              "false"
            ]
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Accept or reject an invite to become friends with inviting user.",
          "externalDocs": {
            "url": "http://wiki.fitbit.com/display/API/API-Accept-Invite"
          }
        }
      },
      "/user/-{collection-path}apiSubscriptions/{subscription-id}.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "name": "collection-path",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "/",
            "enum": [
              "/",
              "/activities/",
              "/foods/",
              "/body/",
              "/sleep/"
            ]
          },
          {
            "name": "subscription-id",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "1"
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Add a subscription for the user to get notifications and get a response in the format requested.",
          "externalDocs": {
            "url": "http://wiki.fitbit.com/display/API/Subscriptions-API#Subscriptions-API-Addasubscription"
          }
        },
        "delete": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Delete a subscription for the user and get a response in the format requested.",
          "externalDocs": {
            "url": "http://wiki.fitbit.com/display/API/Subscriptions-API#Subscriptions-API-Removeasubscription"
          }
        }
      },
      "/user/-{collection-path}apiSubscriptions.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "name": "collection-path",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "/",
            "enum": [
              "/",
              "/activities/",
              "/foods/",
              "/body/",
              "/sleep/"
            ]
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Get a list of user's subscriptions for your application in the format requested.",
          "externalDocs": {
            "url": "http://wiki.fitbit.com/display/API/Subscriptions-API#Subscriptions-API-Listexistingsubscriptions"
          }
        }
      }
    },
    "info": {
      "title": "Fitbit",
      "description": "Bring Fitbit health data into your apps, including user activities, sleep, heart, glucose and blood pressure information."
    }
  },
  "public": true
}