{
  "type": "api",
  "key": "apigee:wunderground",
  "info": {
    "title": "Weather Underground",
    "description": "Get forecast and weather data with complete geolocation services, global coverage and more."
  },
  "swagger": {
    "swagger": "2.0",
    "host": "api.wunderground.com",
    "basePath": "/api/",
    "schemes": [
      "http"
    ],
    "paths": {
      "/{key}/geolookup/q/CA/San_Francisco.json": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "This example will return the geographic attributes of San Francisco CA.  Use {2 letter state code} /  {City Name}",
          "externalDocs": {
            "url": "/geolookup/q/CA/San_Francisco.json"
          }
        }
      },
      "/{key}/geolookup/q/France/Paris.json": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "This example will return the geographic attributes of Paris, France. Use {Full Country Name} / {City Name}",
          "externalDocs": {
            "url": "/geolookup/q/France/Paris.json"
          }
        }
      },
      "/{key}/geolookup/q/autoip.json": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "This example will return the geographic attributes associated with the IP address location of the user.",
          "externalDocs": {
            "url": "/geolookup/q/autoip.json"
          }
        }
      },
      "/{key}/geolookup/q/94107.json": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "This example will return the geographic attributes of zip code 94107",
          "externalDocs": {
            "url": "/geolookup/q/94107.json"
          }
        }
      },
      "/{key}/geolookup/q/SFO.json": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "This example will return the geographic attributes of San Francisco International Airport (Airport Code: SFO)",
          "externalDocs": {
            "url": "/geolookup/q/SFO.json"
          }
        }
      },
      "/{key}/geolookup/q/37.776289,-122.395234.json": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "This example will return the the geographic attributes of Latitude 37.776289 N, Longitude 122.395234 W",
          "externalDocs": {
            "url": "/geolookup/q/37.776289,-122.395234.json"
          }
        }
      },
      "/{key}/conditions/q/pws:KCATAHOE2.json": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "This example will return the the current weather conditions at the Personal Weather Station (pws) KCATAHOE2",
          "externalDocs": {
            "url": "/conditions/q/pws:KCATAHOE2.json"
          }
        }
      },
      "/{key}/conditions/q/CA/San_Francisco.json": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "This example will return the current conditions in San Francisco, California",
          "externalDocs": {
            "url": "/conditions/q/CA/San_Francisco.json"
          }
        }
      },
      "/{key}/astronomy/q/CA/San_Francisco.json": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "This example will return the Astronomy of San Francisco, California",
          "externalDocs": {
            "url": "/astronomy/q/CA/San_Francisco.json"
          }
        }
      },
      "/{key}/forecast/q/CA/San_Francisco.json": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "This example will return the 3 Day Forecast Summary for San Francisco, California",
          "externalDocs": {
            "url": "/forecast/q/CA/San_Francisco.json"
          }
        }
      },
      "/{key}/almanac/q/CA/San_Francisco.json": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "This example will return Today's Average Highs/Lows and Record Highs/Lows for San Francisco, California.",
          "externalDocs": {
            "url": "/Almanac/q/CA/San_Francisco.json"
          }
        }
      },
      "/{key}/conditions/forecast/lang:FR/q/France/Paris.json": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "This example will return Current Conditions and a 3 day simple Forecast for Paris France in French. See documentation page for full list of language code options.",
          "externalDocs": {
            "url": "/Conditions/Forecast/lang:FR/q/France/Paris.json"
          }
        }
      },
      "/{key}/conditions/forecast/lang:SP/q/Spain/Alicante.json": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "This example will return Current Conditions and a 3 day simple Forecast for Alicante, Spain in Spanish. See documentation page for full list of language code options.",
          "externalDocs": {
            "url": "/Conditions/Forecast/lang:SP/q/Spain/Alicante.json"
          }
        }
      },
      "/{key}/forecast10day/q/CA/San_Francisco.json": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "This example will return the 10 Day Forecast Summary for San Francisco, California",
          "externalDocs": {
            "url": "/forecast10day/q/CA/San_Francisco.json"
          }
        }
      },
      "/{key}/hourly/q/CA/San_Francisco.json": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "This example will return a detailed hourly forecast for the 'next' 36 hours in San Francisco, California",
          "externalDocs": {
            "url": "/hourly/q/CA/San_Francisco.json"
          }
        }
      },
      "/{key}/satellite/q/CA/San_Francisco.json": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "This example will return URL's for satellite (visual and IR) images for San Francisco, California",
          "externalDocs": {
            "url": "/satellite/q/CA/San_Francisco.json"
          }
        }
      },
      "/{key}/radar/image.gif?maxlat=42.35%26maxlon=-109.311%26minlat=39.27%26minlon=-114.644%26width=600%26height=480%26newmaps=0": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "This example will return dynamic radar image around Salt Lake City, UT with a transparent background. See Docs for all the options for creating these images.",
          "externalDocs": {
            "url": "/radar/image.gif?maxlat=42.35%26maxlon=-109.311%26minlat=39.27%26minlon=-114.644%26width=600%26height=480%26newmaps=0"
          }
        }
      },
      "/{key}/radar/image.gif?maxlat=42.35%26maxlon=-109.311%26minlat=39.27%26minlon=-114.644%26width=600%26height=480%26newmaps=1": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "This example will return dynamic radar image around Salt Lake City, UT with a Base Map background. See Docs for all the options for creating these images.",
          "externalDocs": {
            "url": "/radar/image.gif?maxlat=42.35%26maxlon=-109.311%26minlat=39.27%26minlon=-114.644%26width=600%26height=480%26newmaps=1"
          }
        }
      },
      "/{key}/alerts/q/CA/San_Francisco.json": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "This example will return active severe alerts for San Francisco, California.  This request only works in the USA, Canada and Europe.",
          "externalDocs": {
            "url": "/alerts/q/CA/San_Francisco.json"
          }
        }
      },
      "/{key}/tide/q/CA/San_Francisco.json": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "This example will return 4 days of tides for San Francisco, California starting 'today'.  This request only works in the USA.",
          "externalDocs": {
            "url": "/tide/q/CA/San_Francisco.json"
          }
        }
      },
      "/{key}/tide_20160312/q/CA/San_Francisco.json": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "This example will return 4 days of tides for San Francisco, California following March 3 2012.  This request only works in the USA.",
          "externalDocs": {
            "url": "/tide_20160312/q/CA/San_Francisco.json"
          }
        }
      },
      "/{key}/rawtide_20160312/q/CA/San_Francisco.json": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "This example will return raw tide data for San Francisco, California on March 3 2016.  This request only works in the USA.",
          "externalDocs": {
            "url": "/rawtide_20160312/q/CA/San_Francisco.json"
          }
        }
      },
      "/{key}/hourly10day/q/CA/San_Francisco.json": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "This example will return a detailed hourly forecast for the next 10 days in San Francisco, California",
          "externalDocs": {
            "url": "/hourly10day/q/CA/San_Francisco.json"
          }
        }
      },
      "/{key}/yesterday/q/CA/San_Francisco.json": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "This example will return yesterday's weather in San Francisco, California.",
          "externalDocs": {
            "url": "/yesterday/q/CA/San_Francisco.json"
          }
        }
      },
      "/{key}/planner_10051031/q/CA/San_Francisco.json": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "This example will return a Historical roll up of weather data in San Francisco from Oct 5 to Oct 31. An example application: http://www.wunderground.com/travelplanner/index.asp",
          "externalDocs": {
            "url": "/planner_10051031/q/CA/San_Francisco.json"
          }
        }
      },
      "/{key}/webcams/q/CA/San_Francisco.json": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "This example will return URL's to webcam images in San Francisco, California.  It will also return information about the webcam, including it's location in Lat,Long coordinates.",
          "externalDocs": {
            "url": "/webcams/q/CA/San_Francisco.json"
          }
        }
      },
      "/{key}/animatedradar/image.gif?maxlat=42.35%26maxlon=-109.311%26minlat=39.27%26minlon=-114.644%26width=600%26height=480%26newmaps=1": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "This example will return dynamic animated radar image around Salt Lake City, UT with a base map background. See Docs for all the options for creating these images.",
          "externalDocs": {
            "url": "/animatedradar/image.gif?maxlat=42.35%26maxlon=-109.311%26minlat=39.27%26minlon=-114.644%26width=600%26height=480%26newmaps=1"
          }
        }
      },
      "/{key}/animatedradar/image.gif?maxlat=42.35%26maxlon=-109.311%26minlat=39.27%26minlon=-114.644%26width=600%26height=480%26newmaps=0": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "This example will return dynamic animated radar image around Salt Lake City, UT with a transparent background. See Docs for all the options for creating these images.",
          "externalDocs": {
            "url": "/animatedradar/image.gif?maxlat=42.35%26maxlon=-109.311%26minlat=39.27%26minlon=-114.644%26width=600%26height=480%26newmaps=0"
          }
        }
      },
      "/{key}/history_20101018/q/SFO.json": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "This example will return historical data for San Francisco, California for the specified date.  If you search by zip or lat/long you will get nearest airport.",
          "externalDocs": {
            "url": "/history_20101018/q/SFO.json"
          }
        }
      },
      "/{key}/history_20101018/q/pws:KCASANFR14.json": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "This example will return historical data for a Personal Weather Station for the specified date.  The feature only works with JSON.  XML will come out soon.",
          "externalDocs": {
            "url": "/history_20101018/q/pws:KCASANFR14.json"
          }
        }
      },
      "/{key}/geolookup/conditions/q/CA/San_Francisco.json": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "This example will return the geographical and current conditions for San Francisco, California",
          "externalDocs": {
            "url": "/geolookup/conditions/q/CA/San_Francisco.json"
          }
        }
      },
      "/{key}/geolookup/conditions/forecast/q/CA/San_Francisco.json": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "This example will return the geographical, current conditions and 3 day forecast summary for San Francisco, California",
          "externalDocs": {
            "url": "/geolookup/conditions/forecast/q/CA/San_Francisco.json"
          }
        }
      }
    },
    "info": {
      "title": "Weather Underground",
      "description": "Get forecast and weather data with complete geolocation services, global coverage and more."
    }
  },
  "public": true
}