{
  "type": "api",
  "key": "apigee:google-calendar",
  "info": {
    "title": "Google Calendar",
    "description": "Build apps that can edit, create and delete Google Calendar events and invitations."
  },
  "swagger": {
    "swagger": "2.0",
    "host": "www.googleapis.com",
    "basePath": "/calendar/v3",
    "schemes": [
      "https"
    ],
    "paths": {
      "/calendars/{calendarId}/acl": {
        "parameters": [
          {
            "name": "calendarId",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Calendar identifier."
          },
          {
            "name": "fields",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Selector specifying which fields to include in a partial response."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns the rules in the access control list for the calendar",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/apis/calendar/v3/reference.html#method_calendar_acl_list"
          }
        },
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/json",
              "description": "Specifies Content Type."
            }
          ],
          "description": "Creates an access control rule.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/apis/calendar/v3/reference.html#method_calendar_acl_insert"
          }
        }
      },
      "/calendars/{calendarId}/acl/{ruleId}": {
        "parameters": [
          {
            "name": "calendarId",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Calendar identifier."
          },
          {
            "name": "ruleId",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "ACL rule identifier."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "fields",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Selector specifying which fields to include in a partial response."
            }
          ],
          "description": "Returns an access control rule.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/apis/calendar/v3/reference.html#method_calendar_acl_get"
          }
        },
        "put": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "fields",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Selector specifying which fields to include in a partial response."
            },
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/json",
              "description": "Specifies Content Type."
            }
          ],
          "description": "Updates an access control rule.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/apis/calendar/v3/reference.html#method_calendar_acl_update"
          }
        },
        "delete": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Deletes an access control rule.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/apis/calendar/v3/reference.html#method_calendar_acl_delete"
          }
        }
      },
      "/users/me/calendarList": {
        "parameters": [
          {
            "name": "fields",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Selector specifying which fields to include in a partial response."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "maxResults",
              "required": false,
              "in": "query",
              "type": "integer",
              "minimum": -2147483648,
              "maximum": 2147483647,
              "description": "Maximum number of entries returned on one result page."
            },
            {
              "name": "minAccessRole",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "The minimum access role for the user in the returned entires. Optional. The default is no restriction."
            },
            {
              "name": "pageToken",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Token specifying which result page to return."
            },
            {
              "name": "showHidden",
              "required": false,
              "in": "query",
              "type": "string",
              "default": "false",
              "description": "Whether to show hidden entries."
            }
          ],
          "description": "Returns entries on the user's calendar list.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/apis/calendar/v3/reference.html#method_calendar_calendarList_list"
          }
        },
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "fields",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Selector specifying which fields to include in a partial response."
            },
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/json",
              "description": "Specifies Content Type."
            }
          ],
          "description": "Adds an entry to the user's calendar list.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/apis/calendar/v3/reference.html#method_calendar_calendarList_insert"
          }
        }
      },
      "/users/me/calendarList/{calendarId}": {
        "parameters": [
          {
            "name": "calendarId",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Calendar identifier."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "fields",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Selector specifying which fields to include in a partial response."
            }
          ],
          "description": "Returns an entry on the user's calendar list.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/apis/calendar/v3/reference.html#method_calendar_calendarList_get"
          }
        },
        "put": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "fields",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Selector specifying which fields to include in a partial response."
            },
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/json",
              "description": "Specifies Content Type."
            }
          ],
          "description": "Updates an entry on the user's calendar list.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/apis/calendar/v3/reference.html#method_calendar_calendarList_update"
          }
        },
        "delete": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Deletes an entry on the user's calendar list.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/apis/calendar/v3/reference.html#method_calendar_calendarList_delete"
          }
        }
      },
      "/calendars": {
        "parameters": [
          {
            "name": "fields",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Selector specifying which fields to include in a partial response."
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/json",
              "description": "Specifies Content Type."
            }
          ],
          "description": "Creates a secondary calendar.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/apis/calendar/v3/reference.html#method_calendar_calendars_insert"
          }
        }
      },
      "/calendars/{calendarId}": {
        "parameters": [
          {
            "name": "calendarId",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Calendar identifier."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "fields",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Selector specifying which fields to include in a partial response."
            }
          ],
          "description": "Returns metadata for a calendar.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/apis/calendar/v3/reference.html#method_calendar_calendars_get"
          }
        },
        "put": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "fields",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Selector specifying which fields to include in a partial response."
            },
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/json",
              "description": "Specifies Content Type."
            }
          ],
          "description": "Updates metadata for a calendar.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/apis/calendar/v3/reference.html#method_calendar_calendars_update"
          }
        },
        "delete": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Deletes a secondary calendar.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/apis/calendar/v3/reference.html#method_calendar_calendars_delete"
          }
        }
      },
      "/calendars/{calendarId}/clear": {
        "parameters": [
          {
            "name": "calendarId",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Calendar identifier."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Clears a primary calendar. This operation deletes all data associated with the primary calendar of an account and cannot be undone.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/apis/calendar/v3/reference.html#method_calendar_calendars_clear"
          }
        }
      },
      "/calendars/{calendarId}/events": {
        "parameters": [
          {
            "name": "calendarId",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Calendar identifier."
          },
          {
            "name": "fields",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Selector specifying which fields to include in a partial response."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "iCalUID",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Specifies iCalendar UID (iCalUID) of events to be included in the response."
            },
            {
              "name": "maxAttendees",
              "required": false,
              "in": "query",
              "type": "integer",
              "minimum": -2147483648,
              "maximum": 2147483647,
              "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned."
            },
            {
              "name": "maxResults",
              "required": false,
              "in": "query",
              "type": "integer",
              "minimum": -2147483648,
              "maximum": 2147483647,
              "description": "Maximum number of events returned on one result page."
            },
            {
              "name": "orderBy",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "The order of the events returned in the result."
            },
            {
              "name": "pageToken",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Token specifying which result page to return."
            },
            {
              "name": "q",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Free text search terms to find events that match these terms in any field, except for extended properties."
            },
            {
              "name": "showDeleted",
              "required": false,
              "in": "query",
              "type": "boolean",
              "default": false,
              "description": "Whether to include deleted events (with 'eventStatus' equals 'cancelled') in the result."
            },
            {
              "name": "showHiddenInvitations",
              "required": false,
              "in": "query",
              "type": "boolean",
              "default": false,
              "description": "Whether to include hidden invitations in the result."
            },
            {
              "name": "singleEvents",
              "required": false,
              "in": "query",
              "type": "boolean",
              "default": false,
              "description": "Whether to expand recurring events into instances and only return single one-off events and instances of recurring events, but not the underlying recurring events themselves."
            },
            {
              "name": "timeMax",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Upper bound (exclusive) for an event's start time to filter by. Optional. The default is not to filter by start time."
            },
            {
              "name": "timeMin",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Lower bound (inclusive) for an event's end time to filter by. Optional. The default is not to filter by end time."
            },
            {
              "name": "timeZone",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Time zone used in the response. The default is the time zone of the calendar."
            },
            {
              "name": "updatedMin",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Lower bound for an event's last modification time (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by last modification time."
            }
          ],
          "description": "Returns events on the specified calendar.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/apis/calendar/v3/reference.html#method_calendar_events_list"
          }
        },
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "sendNotifications",
              "required": false,
              "in": "query",
              "type": "boolean",
              "default": false,
              "description": "Whether to send notifications about the creation of the new event."
            },
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/json",
              "description": "Specifies Content Type."
            }
          ],
          "description": "Creates an event.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/apis/calendar/v3/reference.html#method_calendar_events_insert"
          }
        }
      },
      "/calendars/{calendarId}/events/{eventId}": {
        "parameters": [
          {
            "name": "calendarId",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Calendar identifier."
          },
          {
            "name": "eventId",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Event identifier."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "fields",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Selector specifying which fields to include in a partial response."
            },
            {
              "name": "maxAttendees",
              "required": false,
              "in": "query",
              "type": "integer",
              "minimum": -2147483648,
              "maximum": 2147483647,
              "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned."
            },
            {
              "name": "timeZone",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Time zone used in the response. The default is the time zone of the calendar."
            }
          ],
          "description": "Returns an event.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/apis/calendar/v3/reference.html#method_calendar_events_get"
          }
        },
        "put": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "fields",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Selector specifying which fields to include in a partial response."
            },
            {
              "name": "sendNotifications",
              "required": false,
              "in": "query",
              "type": "boolean",
              "default": false,
              "description": "Whether to send notifications about the event update (e.g. attendee's responses, title changes, etc.)."
            },
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/json",
              "description": "Specifies Content Type."
            }
          ],
          "description": "Updates an event.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/apis/calendar/v3/reference.html#method_calendar_events_update"
          }
        },
        "delete": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "sendNotifications",
              "required": false,
              "in": "query",
              "type": "boolean",
              "default": false,
              "description": "Whether to send notifications about the deletion of the event."
            }
          ],
          "description": "Deletes an event.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/apis/calendar/v3/reference.html#method_calendar_events_delete"
          }
        }
      },
      "/calendars/{calendarId}/events/{eventId}/instances": {
        "parameters": [
          {
            "name": "calendarId",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Calendar identifier."
          },
          {
            "name": "eventId",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Event identifier."
          },
          {
            "name": "maxAttendees",
            "required": false,
            "in": "query",
            "type": "integer",
            "minimum": -2147483648,
            "maximum": 2147483647,
            "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned."
          },
          {
            "name": "maxResults",
            "required": false,
            "in": "query",
            "type": "integer",
            "minimum": -2147483648,
            "maximum": 2147483647,
            "description": "Maximum number of entries returned on one result page."
          },
          {
            "name": "originalStart",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "The original start time of the instance in the result."
          },
          {
            "name": "pageToken",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Token specifying which result page to return."
          },
          {
            "name": "showDeleted",
            "required": false,
            "in": "query",
            "type": "boolean",
            "default": false,
            "description": "Whether to include deleted events (with 'eventStatus' equals 'cancelled') in the result."
          },
          {
            "name": "timeZone",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Time zone used in the response. The default is the time zone of the calendar."
          },
          {
            "name": "fields",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Selector specifying which fields to include in a partial response."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns instances of the specified recurring event.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/apis/calendar/v3/reference.html#method_calendar_events_instances"
          }
        }
      },
      "/calendars/{calendarId}/events/import": {
        "parameters": [
          {
            "name": "calendarId",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Calendar identifier."
          },
          {
            "name": "fields",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Selector specifying which fields to include in a partial response."
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/json",
              "description": "Specifies Content Type."
            }
          ],
          "description": "Imports an event.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/apis/calendar/v3/reference.html#method_calendar_events_import"
          }
        }
      },
      "/calendars/{calendarId}/events/quickAdd": {
        "parameters": [
          {
            "name": "calendarId",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Calendar identifier."
          },
          {
            "name": "text",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "The text describing the event to be created."
          },
          {
            "name": "sendNotifications",
            "required": false,
            "in": "query",
            "type": "boolean",
            "description": "Whether to send notifications about the creation of the event."
          },
          {
            "name": "fields",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Selector specifying which fields to include in a partial response."
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Creates an event based on a simple text string.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/apis/calendar/v3/reference.html#method_calendar_events_quickAdd"
          }
        }
      },
      "/calendars/{calendarId}/events/{eventId}/move": {
        "parameters": [
          {
            "name": "calendarId",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Calendar identifier."
          },
          {
            "name": "eventId",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Event identifier."
          },
          {
            "name": "destination",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "Calendar identifier of the target calendar where the event is to be moved to."
          },
          {
            "name": "sendNotifications",
            "required": false,
            "in": "query",
            "type": "boolean",
            "description": "Whether to send notifications about the change of the event's organizer."
          },
          {
            "name": "fields",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Selector specifying which fields to include in a partial response."
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Moves an event to another calendar, i.e. changes an event's organizer.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/apis/calendar/v3/reference.html#method_calendar_events_move"
          }
        }
      },
      "/calendars/{calendarId}/events/{eventId}/reset": {
        "parameters": [
          {
            "name": "calendarId",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Calendar identifier."
          },
          {
            "name": "eventId",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Event identifier."
          },
          {
            "name": "sendNotifications",
            "required": false,
            "in": "query",
            "type": "boolean",
            "description": "Whether to send notifications about the event update."
          },
          {
            "name": "fields",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Selector specifying which fields to include in a partial response."
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Resets a specialized instance of a recurring event to its original state.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/apis/calendar/v3/reference.html#method_calendar_events_reset"
          }
        }
      },
      "/users/me/settings": {
        "parameters": [
          {
            "name": "fields",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Selector specifying which fields to include in a partial response."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns all user settings for the authenticated user.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/apis/calendar/v3/reference.html#method_calendar_settings_list"
          }
        }
      },
      "/users/me/settings/{setting}": {
        "parameters": [
          {
            "name": "setting",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Name of the user setting."
          },
          {
            "name": "fields",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Selector specifying which fields to include in a partial response."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns a single user setting.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/apis/calendar/v3/reference.html#method_calendar_settings_get"
          }
        }
      },
      "/colors": {
        "parameters": [
          {
            "name": "fields",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Selector specifying which fields to include in a partial response."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns the color definitions for calendars and events.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/apis/calendar/v3/reference.html#method_calendar_colors_get"
          }
        }
      },
      "/freeBusy": {
        "parameters": [
          {
            "name": "fields",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Selector specifying which fields to include in a partial response."
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/json",
              "description": "Specifies Content Type."
            }
          ],
          "description": "Returns free/busy information for a set of calendars.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/apis/calendar/v3/reference.html#method_calendar_freebusy_query"
          }
        }
      }
    },
    "info": {
      "title": "Google Calendar",
      "description": "Build apps that can edit, create and delete Google Calendar events and invitations."
    }
  },
  "public": true
}