{
  "type": "api",
  "key": "apigee:constantcontact",
  "info": {
    "title": "Constant Contact",
    "description": "Make Constant Contact's leading email and event marketing services accessible directly from your app."
  },
  "swagger": {
    "swagger": "2.0",
    "host": "api.constantcontact.com",
    "basePath": "/ws/customers",
    "schemes": [
      "https"
    ],
    "paths": {
      "/{username}/contacts": {
        "parameters": [
          {
            "name": "username",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The account owner's Constant Contact user name. Value must be in lower case."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "updatedsince",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "Specified date. The date has to be in UTC in the format specified by the Atom spec (i.e. 2008-07-23T14:21:06.407Z)."
            },
            {
              "name": "listid",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "Specific list."
            }
          ],
          "description": "Search for contacts on a specific list that have been updated since a specified date.",
          "externalDocs": {
            "url": "http://community.constantcontact.com/t5/Documentation/Searching-for-Contacts-by-Last-Updated-Date-Synchronizing/ba-p/25053"
          }
        },
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/atom+xml",
              "description": "Specifies Content Type."
            }
          ],
          "description": "Add a new contact to the account.",
          "externalDocs": {
            "url": "http://community.constantcontact.com/t5/Documentation/Adding-a-Contact-to-a-List/ba-p/25121"
          }
        }
      },
      "/{username}/contacts/{contact-id}": {
        "parameters": [
          {
            "name": "username",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The account owner's Constant Contact user name. Value must be in lower case."
          },
          {
            "name": "contact-id",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Represents an individual contact."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Retrieve the entry for the contact.",
          "externalDocs": {
            "url": "http://community.constantcontact.com/t5/Documentation/Obtaining-a-Contact-s-Information/ba-p/25057"
          }
        },
        "put": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/atom+xml",
              "description": "Specifies Content Type."
            }
          ],
          "description": "Change information for a contact, including contact list membership.",
          "externalDocs": {
            "url": "http://community.constantcontact.com/t5/Documentation/Updating-Contact-Information/ba-p/25055"
          }
        },
        "delete": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Opt-out the contact from all lists.",
          "externalDocs": {
            "url": "http://community.constantcontact.com/t5/Documentation/Opting-out-a-Contact/ba-p/25117"
          }
        }
      },
      "/{username}/contacts/{contact-id}/events/": {
        "parameters": [
          {
            "name": "username",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The account owner's Constant Contact user name. Value must be in lower case."
          },
          {
            "name": "contact-id",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Represents an individual contact."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "The per-contact campaign events resource contains send, open, unsubscribe, click, bounce and forward events for a given contact.",
          "externalDocs": {
            "url": "http://community.constantcontact.com/t5/Documentation/Contact-Events-Service/ba-p/25087"
          }
        }
      },
      "/{username}/lists": {
        "parameters": [
          {
            "name": "username",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The account owner's Constant Contact user name. Value must be in lower case."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Retrieve the list of all mailing lists for the account.",
          "externalDocs": {
            "url": "http://community.constantcontact.com/t5/Documentation/Retrieving-a-Contact-List-Collection/ba-p/25067"
          }
        },
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/atom+xml",
              "description": "Specifies Content Type."
            }
          ],
          "description": "Create a new mailing list.",
          "externalDocs": {
            "url": "http://community.constantcontact.com/t5/Documentation/Creating-a-New-List/ba-p/25069"
          }
        }
      },
      "/{username}/lists/{list-id}": {
        "parameters": [
          {
            "name": "username",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The account owner's Constant Contact user name. Value must be in lower case."
          },
          {
            "name": "list-id",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The list identifier."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Retrieving an Individual List.",
          "externalDocs": {
            "url": "http://community.constantcontact.com/t5/Documentation/Retrieving-an-Individual-List/ba-p/25065"
          }
        },
        "put": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/atom+xml",
              "description": "Specifies Content Type."
            }
          ],
          "description": "Updating a List.",
          "externalDocs": {
            "url": "http://community.constantcontact.com/t5/Documentation/Updating-a-List/ba-p/25063"
          }
        },
        "delete": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Deleting a List.",
          "externalDocs": {
            "url": "http://community.constantcontact.com/t5/Documentation/Contact-List-Resource/ba-p/25043"
          }
        }
      },
      "/{username}/lists/{list-id}/members": {
        "parameters": [
          {
            "name": "username",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The account owner's Constant Contact user name. Value must be in lower case."
          },
          {
            "name": "list-id",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The list identifier."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Retrieving a contacts collection from a specific list.",
          "externalDocs": {
            "url": "http://community.constantcontact.com/t5/Documentation/Contact-List-Members-Collection/ba-p/25093"
          }
        }
      },
      "/{username}/campaigns": {
        "parameters": [
          {
            "name": "username",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The account owner's Constant Contact user name. Value must be in lower case."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "refresh",
              "required": true,
              "in": "query",
              "type": "boolean",
              "default": true,
              "description": "To initiate re-calculation of campaign results, you must use refresh= true."
            }
          ],
          "description": "Manually refreshing campaign Results.",
          "externalDocs": {
            "url": "http://community.constantcontact.com/t5/Documentation/Scheduling-and-Sending-a-Campaign/ba-p/25113"
          }
        },
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/atom+xml",
              "description": "Specifies Content Type."
            }
          ],
          "description": "Create a new campaign.",
          "externalDocs": {
            "url": "http://community.constantcontact.com/t5/Documentation/Creating-a-Campaign/ba-p/25047"
          }
        }
      },
      "/{username}/campaigns/{campaign-id}": {
        "parameters": [
          {
            "name": "username",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The account owner's Constant Contact user name. Value must be in lower case."
          },
          {
            "name": "campaign-id",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Represents an individual Campaign entry."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Return details for the specified campaign.",
          "externalDocs": {
            "url": "http://community.constantcontact.com/t5/Documentation/Obtaining-a-Campaign-s-Information/ba-p/25049"
          }
        },
        "put": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/atom+xml",
              "description": "Specifies Content Type."
            }
          ],
          "description": "Update selected information for the specified campaign.",
          "externalDocs": {
            "url": "http://community.constantcontact.com/t5/Documentation/Updating-a-Campaign/ba-p/25045"
          }
        },
        "delete": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Removing a Campaign.",
          "externalDocs": {
            "url": "http://community.constantcontact.com/t5/Documentation/Scheduling-and-Sending-a-Campaign/ba-p/25113"
          }
        }
      },
      "/{username}/campaigns/{campaign-id}/events/": {
        "parameters": [
          {
            "name": "username",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The account owner's Constant Contact user name. Value must be in lower case."
          },
          {
            "name": "campaign-id",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Represents an individual Campaign entry."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "The campaign events resource that contains send, open, unsubscribe, click, bounce and forward events for a given campaign.",
          "externalDocs": {
            "url": "http://community.constantcontact.com/t5/Documentation/Campaign-Events-Resource/ba-p/25107"
          }
        }
      },
      "/{username}/events": {
        "parameters": [
          {
            "name": "username",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The account owner's Constant Contact user name. Value must be in lower case."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Retrieve a list of all events.",
          "externalDocs": {
            "url": "http://community.constantcontact.com/t5/Documentation/Managing-Events/ba-p/25099"
          }
        },
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/atom+xml",
              "description": "Specifies Content Type."
            }
          ],
          "description": "Create a new event marketing.",
          "externalDocs": {
            "url": "http://community.constantcontact.com/t5/Documentation/Managing-Events/ba-p/25099"
          }
        }
      },
      "/{username}/events/{event-id}": {
        "parameters": [
          {
            "name": "username",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The account owner's Constant Contact user name. Value must be in lower case."
          },
          {
            "name": "event-id",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Represents an individual event."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Retrieve details for the specified event.",
          "externalDocs": {
            "url": "http://community.constantcontact.com/t5/Documentation/Managing-Events/ba-p/25099"
          }
        }
      },
      "/{username}/events/{event-id}/registrants": {
        "parameters": [
          {
            "name": "username",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The account owner's Constant Contact user name. Value must be in lower case."
          },
          {
            "name": "event-id",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Represents an individual event."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Retrieve the list of registrants for the event.",
          "externalDocs": {
            "url": "http://community.constantcontact.com/t5/Documentation/Managing-Registrants-and-Guests/ba-p/25097"
          }
        }
      },
      "/{username}/events/{event-id}/registrants/{registrant-id}": {
        "parameters": [
          {
            "name": "username",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The account owner's Constant Contact user name. Value must be in lower case."
          },
          {
            "name": "event-id",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Represents an individual event."
          },
          {
            "name": "registrant-id",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Represents an individual registrant."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "The registrant information for a particular registrant for a particular event.",
          "externalDocs": {
            "url": "http://community.constantcontact.com/t5/Documentation/Managing-Registrants-and-Guests/ba-p/25097"
          }
        }
      },
      "/{username}/events/{event-id}/registrants/{registrant-id}/guests": {
        "parameters": [
          {
            "name": "username",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The account owner's Constant Contact user name. Value must be in lower case."
          },
          {
            "name": "event-id",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Represents an individual event."
          },
          {
            "name": "registrant-id",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Represents an individual registrant."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Obtaining a list of guests.",
          "externalDocs": {
            "url": "http://community.constantcontact.com/t5/Documentation/Managing-Registrants-and-Guests/ba-p/25097"
          }
        }
      },
      "/{username}/events/{event-id}/registrants/{registrant-id}/guests/{guest-id}": {
        "parameters": [
          {
            "name": "username",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The account owner's Constant Contact user name. Value must be in lower case."
          },
          {
            "name": "event-id",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Represents an individual event."
          },
          {
            "name": "registrant-id",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Represents an individual registrant."
          },
          {
            "name": "guest-id",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Represents an individual guest entry."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Obtaining guest details.",
          "externalDocs": {
            "url": "http://community.constantcontact.com/t5/Documentation/Managing-Registrants-and-Guests/ba-p/25097"
          }
        }
      },
      "/{username}/events/{event-id}/registrants/{registrant-id}/attendancestatus": {
        "parameters": [
          {
            "name": "username",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The account owner's Constant Contact user name. Value must be in lower case."
          },
          {
            "name": "event-id",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Represents an individual event."
          },
          {
            "name": "registrant-id",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Represents an individual registrant."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Retrieve the attendance status for the registrant.",
          "externalDocs": {
            "url": "http://community.constantcontact.com/t5/Documentation/Managing-Registrants-and-Guests/ba-p/25097"
          }
        },
        "put": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/atom+xml",
              "description": "Specifies Content Type."
            }
          ],
          "description": "Updates the attendance status for the registrant.",
          "externalDocs": {
            "url": "http://community.constantcontact.com/t5/Documentation/Managing-Registrants-and-Guests/ba-p/25097"
          }
        }
      },
      "/{username}/events/{event-id}/registrants/{registrant-id}/paymentstatus": {
        "parameters": [
          {
            "name": "username",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The account owner's Constant Contact user name. Value must be in lower case."
          },
          {
            "name": "event-id",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Represents an individual event."
          },
          {
            "name": "registrant-id",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Represents an individual registrant."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Retrieve the payment status for the registrant.",
          "externalDocs": {
            "url": "http://community.constantcontact.com/t5/Documentation/Managing-Registrants-and-Guests/ba-p/25097"
          }
        },
        "put": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/atom+xml",
              "description": "Specifies Content Type."
            }
          ],
          "description": "Updates the payment status for the registrant.",
          "externalDocs": {
            "url": "http://community.constantcontact.com/t5/Documentation/Managing-Registrants-and-Guests/ba-p/25097"
          }
        }
      },
      "/{username}/activities": {
        "parameters": [
          {
            "name": "username",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The account owner's Constant Contact user name. Value must be in lower case."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Retrieve all activities.",
          "externalDocs": {
            "url": "http://community.constantcontact.com/t5/Documentation/Bulk-Activity-Collection-of-Activities/ba-p/25105"
          }
        },
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [],
          "description": "Create a new activity.",
          "externalDocs": {
            "url": "http://community.constantcontact.com/t5/Documentation/Creating-an-Add-Contacts-Remove-Contacts-Activity/ba-p/25041"
          }
        }
      },
      "/{username}/activities/{activity-id}": {
        "parameters": [
          {
            "name": "username",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The account owner's Constant Contact user name. Value must be in lower case."
          },
          {
            "name": "activity-id",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Represents an individual activity."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Retrieving the Details of an Individual Activity.",
          "externalDocs": {
            "url": "http://community.constantcontact.com/t5/Documentation/Bulk-Activity-Collection-of-Activities/ba-p/25105"
          }
        }
      },
      "/{username}/settings/emailaddresses": {
        "parameters": [
          {
            "name": "username",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The account owner's Constant Contact user name. Value must be in lower case."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Retrieving account email addresses.",
          "externalDocs": {
            "url": "http://community.constantcontact.com/t5/Documentation/Retrieving-Account-Email-Addresses/ba-p/25103"
          }
        }
      },
      "/{username}/settings/emailaddresses/{email-id}": {
        "parameters": [
          {
            "name": "username",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The account owner's Constant Contact user name. Value must be in lower case."
          },
          {
            "name": "email-id",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "A particular email address."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Retrieving email address details.",
          "externalDocs": {
            "url": "http://community.constantcontact.com/t5/Documentation/Retrieving-Account-Email-Addresses/ba-p/25103"
          }
        }
      },
      "/{username}/library/folders": {
        "parameters": [
          {
            "name": "username",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The account owner's Constant Contact user name. Value must be in lower case."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Accept",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/atom+xml",
              "description": "Specifies Accept."
            },
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/atom+xml",
              "description": "Specifies Content Type."
            }
          ],
          "description": "Obtaining a list of folders.",
          "externalDocs": {
            "url": "http://community.constantcontact.com/t5/Documentation/Managing-Images/ba-p/25101"
          }
        }
      },
      "/{username}/library/folders/{folder-id}/images": {
        "parameters": [
          {
            "name": "username",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The account owner's Constant Contact user name. Value must be in lower case."
          },
          {
            "name": "folder-id",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Represents an individual folder."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Accept",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/atom+xml",
              "description": "Specifies Accept."
            },
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/atom+xml",
              "description": "Specifies Content Type."
            }
          ],
          "description": "Obtaining a list of images in a folder.",
          "externalDocs": {
            "url": "http://community.constantcontact.com/t5/Documentation/Image-Collection-and-Resource/ba-p/25083"
          }
        },
        "delete": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Deleting all images in a folder.",
          "externalDocs": {
            "url": "http://community.constantcontact.com/t5/Documentation/Managing-Images/ba-p/25101"
          }
        }
      },
      "/{username}/library/folders/{folder-id}/images/{image-id}": {
        "parameters": [
          {
            "name": "username",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The account owner's Constant Contact user name. Value must be in lower case."
          },
          {
            "name": "folder-id",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Represents an individual folder."
          },
          {
            "name": "image-id",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Represents an individual image."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Accept",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/atom+xml",
              "description": "Specifies Accept."
            },
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/atom+xml",
              "description": "Specifies Content Type."
            }
          ],
          "description": "Obtaining details of an image.",
          "externalDocs": {
            "url": "http://community.constantcontact.com/t5/Documentation/Managing-Images/ba-p/25101"
          }
        },
        "delete": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Deleting an image.",
          "externalDocs": {
            "url": "http://community.constantcontact.com/t5/Documentation/Managing-Images/ba-p/25101"
          }
        }
      }
    },
    "info": {
      "title": "Constant Contact",
      "description": "Make Constant Contact's leading email and event marketing services accessible directly from your app."
    }
  },
  "public": true
}