{
  "type": "api",
  "key": "apigee:twilio",
  "info": {
    "title": "Twilio",
    "description": "Telephony platform that exposes SMS and voice capabilities."
  },
  "swagger": {
    "swagger": "2.0",
    "host": "api.twilio.com",
    "basePath": "/2010-04-01/Accounts",
    "schemes": [
      "https"
    ],
    "paths": {
      "/{AccountSid}.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "xml",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "name": "AccountSid",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Represents the unique id of the Account"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns the account details for the {AccountSid}.",
          "externalDocs": {
            "url": "http://www.twilio.com/docs/api/2010-04-01/rest/account"
          }
        },
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [],
          "description": "Allows you to modify the 'FriendlyName' for the {AccountSid} via POST.",
          "externalDocs": {
            "url": "http://www.twilio.com/docs/api/2010-04-01/rest/account"
          }
        },
        "put": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [],
          "description": "Allows you to modify the 'FriendlyName' for the {AccountSid} via PUT.",
          "externalDocs": {
            "url": "http://www.twilio.com/docs/api/2010-04-01/rest/account"
          }
        }
      },
      "/": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Right now, your credentials are tied to one and only one account, so the list resource only contains your single\n\t\t\t\t\taccount.",
          "externalDocs": {
            "url": "http://www.twilio.com/docs/api/2010-04-01/rest/account"
          }
        }
      },
      "/{AccountSid}/SMS/Messages.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "xml",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "name": "AccountSid",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Represents the unique id of the Account"
          },
          {
            "name": "From",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Only show SMS messages from this phone number"
          },
          {
            "name": "To",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Only show SMS messages to this phone number."
          },
          {
            "name": "DateSent",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Only show SMS messages sent on this date, given as YYYY-MM-DD. Example: DateSent=2009-07-06. You can also specify\n\t\t\t\t\tinequality, such as DateSent lt YYYY-MM-DD for SMS messages that were sent on or before midnight on a date, and DateSent\n\t\t\t\t\tgt YYYY-MM-DD for SMS messages sent on or after midnight on a date."
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [],
          "description": "Send a new outgoing message.",
          "externalDocs": {
            "url": "http://www.twilio.com/docs/api/2010-04-01/rest/sending-sms"
          }
        },
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns a list of SMS messages associated with your account identified by {AccountSid}.",
          "externalDocs": {
            "url": "http://www.twilio.com/docs/api/2010-04-01/rest/sms"
          }
        }
      },
      "/{AccountSid}/SMS/Messages/{SMSMessageSid}.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "xml",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "name": "AccountSid",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Represents the unique id of the Account"
          },
          {
            "name": "SMSMessageSid",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Represents a 34 character string that uniquely identifies this SMSMessage"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns a single SMS message specified by the provided {SMSMessageSid}.",
          "externalDocs": {
            "url": "http://www.twilio.com/docs/api/2010-04-01/rest/sms"
          }
        }
      },
      "/{AccountSid}/OutgoingCallerIds.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "xml",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "name": "AccountSid",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Represents the unique id of the Account responsible for this caller Id"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns the list of outgoing caller ids for this account",
          "externalDocs": {
            "url": "http://www.twilio.com/docs/api/2010-04-01/rest/outgoing-caller-ids"
          }
        },
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [],
          "description": "Adds a new caller id to your account",
          "externalDocs": {
            "url": "http://www.twilio.com/docs/api/2010-04-01/rest/outgoing-caller-ids"
          }
        }
      },
      "/{AccountSid}/OutgoingCallerIds/{OutgoingCallerIdSid}.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "xml",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "name": "AccountSid",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Represents the unique id of the Account responsible for this caller Id"
          },
          {
            "name": "OutgoingCallerIdSid",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Represents a 34 character string that uniquely identifies this caller Id"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns a single outgoing caller id specified by the provided {OutgoingCallerIdSid}",
          "externalDocs": {
            "url": "http://www.twilio.com/docs/api/2010-04-01/rest/outgoing-caller-ids"
          }
        },
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [],
          "description": "Updates the outgoing caller id specified by the provided {OutgoingCallerIdSid} and returns the updated resource if\n\t\t\t\t\tsuccessful via POST.",
          "externalDocs": {
            "url": "http://www.twilio.com/docs/api/2010-04-01/rest/outgoing-caller-ids"
          }
        },
        "put": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [],
          "description": "Updates the outgoing caller id specified by the provided {OutgoingCallerIdSid} and returns the updated resource if\n\t\t\t\t\tsuccessful via PUT.",
          "externalDocs": {
            "url": "http://www.twilio.com/docs/api/2010-04-01/rest/outgoing-caller-ids"
          }
        },
        "delete": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Deletes the outgoing caller id specified by the provided {OutgoingCallerIdSid}",
          "externalDocs": {
            "url": "http://www.twilio.com/docs/api/2010-04-01/rest/outgoing-caller-ids"
          }
        }
      },
      "/{AccountSid}/AvailablePhoneNumbers/{IsoCountryCode}/Local.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "xml",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "name": "AccountSid",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Represents the unique id of the Account responsible for this caller Id"
          },
          {
            "name": "IsoCountryCode",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The ISO country code of this phone number"
          },
          {
            "name": "AreaCode",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Find phone numbers in the specified Area Code. Only available for North American numbers."
          },
          {
            "name": "Contains",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "A pattern to match phone numbers on. Valid characters are '*' and [0-9a-zA-Z]. The '*' character will match any single\n\t\t\t\t\tdigit."
          },
          {
            "name": "InRegion",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Limit results to a particular region (i.e. State/Province). Given a phone number, search within the same Region as that\n\t\t\t\t\tnumber."
          },
          {
            "name": "InPostalCode",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Limit results to a particular postal code. Given a phone number, search within the same postal code as that number."
          },
          {
            "name": "NearLatLong",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Given a latitude/longitude pair lat,long find geographically close numbers within Distance miles."
          },
          {
            "name": "NearNumber",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Given a phone number, find a geographically close number within Distance miles. Distance defaults to 25 miles."
          },
          {
            "name": "InLata",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Limit results to a specific Local access and transport area (LATA). Given a phone number, search within the same LATA as\n\t\t\t\t\tthat number."
          },
          {
            "name": "InRateCenter",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Limit results to a specific rate center, or given a phone number search within the same rate center as that number.\n\t\t\t\t\tRequires InLata to be set as well."
          },
          {
            "name": "Distance",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Specifies the search radius for a Near- query in miles. If not specified this defaults to 25 miles."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns a list of local AvailablePhoneNumber resource representations, each representing a phone number that is\n\t\t\t\t\tcurrently available for provisioning within your account.",
          "externalDocs": {
            "url": "http://www.twilio.com/docs/api/2010-04-01/rest/available-phone-numbers"
          }
        }
      },
      "/{AccountSid}/AvailablePhoneNumbers/{IsoCountryCode}/TollFree.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "xml",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "name": "AccountSid",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Represents the unique id of the Account responsible for this caller Id"
          },
          {
            "name": "IsoCountryCode",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The ISO country code of this phone number"
          },
          {
            "name": "Contains",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "A pattern to match phone numbers on. Valid characters are '*' and [0-9a-zA-Z]. The '*' character will match any single\n\t\t\t\t\tdigit."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns a list of toll-free AvailablePhoneNumber resource representations, each representing a phone number that is\n\t\t\t\t\tcurrently available for provisioning within your account.",
          "externalDocs": {
            "url": "http://www.twilio.com/docs/api/2010-04-01/rest/available-phone-numbers"
          }
        }
      },
      "/{AccountSid}/Calls/{CallSid}.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "xml",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "name": "AccountSid",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Represents the unique id of the Account responsible for this caller Id"
          },
          {
            "name": "CallSid",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "A 34 character string that uniquely idetifies this resource"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns the single Call resource identified by {CallSid}.",
          "externalDocs": {
            "url": "http://www.twilio.com/docs/api/2010-04-01/rest/call"
          }
        },
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [],
          "description": "Modifies a live call. Modification could be redirection or termination of the call.",
          "externalDocs": {
            "url": "http://www.twilio.com/docs/api/2010-04-01/rest/change-call-state"
          }
        }
      },
      "/{AccountSid}/Calls.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "xml",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "name": "AccountSid",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Represents the unique id of the Account responsible for this caller Id"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns a list of phone calls made to and from the account identified by {AccountSid}, sorted by DateUpdated with\n\t\t\t\t\tmost-recent calls first.",
          "externalDocs": {
            "url": "http://www.twilio.com/docs/api/2010-04-01/rest/call"
          }
        },
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [],
          "description": "Make a call.",
          "externalDocs": {
            "url": "http://www.twilio.com/docs/api/2010-04-01/rest/making_calls"
          }
        }
      },
      "/{AccountSid}/IncomingPhoneNumbers/{IncomingPhoneNumberSid}.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "xml",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "name": "AccountSid",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Represents the unique id of the Account responsible for this caller Id."
          },
          {
            "name": "IncomingPhoneNumberSid",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "A 34 character string that uniquely idetifies this resource."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Fetches the details of a phone number purchased from Twilio",
          "externalDocs": {
            "url": "http://www.twilio.com/docs/api/2010-04-01/rest/incoming-phone-numbers"
          }
        },
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [],
          "description": "Update an incoming phone number obtained from Twilio via POST.",
          "externalDocs": {
            "url": "http://www.twilio.com/docs/api/2010-04-01/rest/incoming-phone-numbers"
          }
        },
        "put": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [],
          "description": "Update an incoming phone number obtained from Twilio via PUT.",
          "externalDocs": {
            "url": "http://www.twilio.com/docs/api/2010-04-01/rest/incoming-phone-numbers"
          }
        },
        "delete": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Deletes a phone number purchased from Twilio",
          "externalDocs": {
            "url": "http://www.twilio.com/docs/api/2010-04-01/rest/incoming-phone-numbers"
          }
        }
      },
      "/{AccountSid}/IncomingPhoneNumbers.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "xml",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "name": "AccountSid",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Represents the unique id of the Account responsible for this caller Id."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns a list of incoming phone number resources, each representing a phone number given to your account",
          "externalDocs": {
            "url": "http://www.twilio.com/docs/api/2010-04-01/rest/incoming-phone-numbers"
          }
        },
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [],
          "description": "Adds a random phone number available for the area depending on the Area Code provided",
          "externalDocs": {
            "url": "http://www.twilio.com/docs/api/2010-04-01/rest/incoming-phone-numbers"
          }
        }
      },
      "/{AccountSid}/Calls/{CallSid}/Recordings.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "xml",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "name": "AccountSid",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Represents the unique id of the Account responsible for this caller Id"
          },
          {
            "name": "CallSid",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Show only recordings made during the call given by this sid."
          },
          {
            "name": "DateCreated",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Only show recordings created on the given date. Should be formatted as YYYY-MM-DD. You can also specify inequality, such\n\t\t\t\t\tas DateCreated(less than or equal to)YYYY-MM-DD for recordings generated at or before midnight on a date, and\n\t\t\t\t\tDateCreated(greater than or equal to)YYYY-MM-DD for recordings generated at or after midnight on a date."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns a recording list for the {CallSid}",
          "externalDocs": {
            "url": "http://www.twilio.com/docs/api/2010-04-01/rest/call"
          }
        }
      },
      "/{AccountSid}/Recordings.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "xml",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "name": "AccountSid",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Represents the unique id of the Account responsible for this caller Id"
          },
          {
            "name": "CallSid",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Show only recordings made during the call given by this sid."
          },
          {
            "name": "DateCreated",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Only show recordings created on the given date. Should be formatted as YYYY-MM-DD. You can also specify inequality, such\n\t\t\t\t\tas DateCreated(less than or equal to)YYYY-MM-DD for recordings generated at or before midnight on a date, and\n\t\t\t\t\tDateCreated(greater than or equal to)YYYY-MM-DD for recordings generated at or after midnight on a date."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns a recording list associated with this {AccountSid}",
          "externalDocs": {
            "url": "http://www.twilio.com/docs/api/2010-04-01/rest/recording"
          }
        }
      },
      "/{AccountSid}/Recordings/{RecordingSid}/Transcriptions.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "xml",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "name": "AccountSid",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Represents the unique id of the Account responsible for this caller Id"
          },
          {
            "name": "RecordingSid",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The unique id of the Recording this Transcription was made of"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Each Recording instance resource has a Transcriptions subresource which represents the set of transcriptions generated\n\t\t\t\t\tfrom the recording (if any). Represents the set of transcriptions available for the recording identified by\n\t\t\t\t\t{RecordingSid}.",
          "externalDocs": {
            "url": "http://www.twilio.com/docs/api/2010-04-01/rest/recording"
          }
        }
      },
      "/{AccountSid}/Transcriptions/{TranscriptionSid}.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "xml",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "name": "AccountSid",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Represents the unique id of the Account responsible for this caller Id"
          },
          {
            "name": "TranscriptionSid",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "A 34 character string that uniquely identifies this resource"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns a single Transcription resource representation identified by the given {TranscriptionSid}.",
          "externalDocs": {
            "url": "http://www.twilio.com/docs/api/2010-04-01/rest/transcription"
          }
        }
      },
      "/{AccountSid}/Transcriptions.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "xml",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "name": "AccountSid",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Represents the unique id of the Account responsible for this caller Id"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns a set of Transcription resource representations that includes paging information, sorted by 'DateUpdated', with\n\t\t\t\t\tmost recent transcripts first.",
          "externalDocs": {
            "url": "http://www.twilio.com/docs/api/2010-04-01/rest/transcription"
          }
        }
      },
      "/{AccountSid}/Recordings/{RecordingSid}.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "wav",
            "enum": [
              "wav",
              "mp3",
              "xml"
            ]
          },
          {
            "name": "AccountSid",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Represents the unique id of the Account responsible for this caller Id"
          },
          {
            "name": "RecordingSid",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The unique id of the Recording this Transcription was made of"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns a recording",
          "externalDocs": {
            "url": "http://www.twilio.com/docs/api/2010-04-01/rest/recording"
          }
        },
        "delete": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Deletes a recording",
          "externalDocs": {
            "url": "http://www.twilio.com/docs/api/2010-04-01/rest/recording"
          }
        }
      },
      "/{AccountSid}/Notifications/{NotificationSid}.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "xml",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "name": "AccountSid",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Represents the unique id of the Account responsible for this caller Id"
          },
          {
            "name": "NotificationSid",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "A 34 character string that uniquely identifies this resource."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns a notification",
          "externalDocs": {
            "url": "http://www.twilio.com/docs/api/2010-04-01/rest/notification"
          }
        },
        "delete": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Deletes a notification",
          "externalDocs": {
            "url": "http://www.twilio.com/docs/api/2010-04-01/rest/notification"
          }
        }
      },
      "/{AccountSid}/Notifications.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "xml",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "name": "AccountSid",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Represents the unique id of the Account responsible for this caller Id"
          },
          {
            "name": "Log",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Only show notifications for this log, using the integer log values shown above."
          },
          {
            "name": "MessageDate",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Only show notifications for this date. Should be formatted as YYYY-MM-DD. You can also specify inequality, such as\n\t\t\t\t\tMessageDate(less than or equal to)YYYY-MM-DD for messages logged at or before midnight on a date, and\n\t\t\t\t\tMessageDate(greater than or equal to )YYYY-MM-DD for messages logged at or after midnight on a date. When performing a\n\t\t\t\t\tdate range query with day-granularity make sure the right endpoint is midnight of the next day (e.g. to construct a\n\t\t\t\t\trange query for all calls on YYYY-MM-DD use MessageDate(greater than or equal to)YYYY-MM-DD(and)MessageDate(less\n\t\t\t\t\tthan)YYYY-MM-(DD+1))."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns a notification list",
          "externalDocs": {
            "url": "http://www.twilio.com/docs/api/2010-04-01/rest/notification"
          }
        }
      },
      "/{AccountSid}/Calls/{CallSid}/Notifications.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "xml",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "name": "AccountSid",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Represents the unique id of the Account responsible for this caller Id"
          },
          {
            "name": "CallSid",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "A 34 character string that uniquely identifies this resource"
          },
          {
            "name": "Log",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Only show notifications for this log, using the integer log values shown above."
          },
          {
            "name": "MessageDate",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Only show notifications for this date. Should be formatted as YYYY-MM-DD. You can also specify inequality, such as\n\t\t\t\t\tMessageDate(less than or equal to)YYYY-MM-DD for messages logged at or before midnight on a date, and\n\t\t\t\t\tMessageDate(greater than or equal to)YYYY-MM-DD for messages logged at or after midnight on a date. When performing a\n\t\t\t\t\tdate range query with day-granularity make sure the right endpoint is midnight of the next day (e.g. to construct a\n\t\t\t\t\trange query for all calls on YYYY-MM-DD use MessageDate(greater than or equal to)YYYY-MM-DD(and)MessageDate(less\n\t\t\t\t\tthan)YYYY-MM-(DD+1))."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns a notification list",
          "externalDocs": {
            "url": "http://www.twilio.com/docs/api/2010-04-01/rest/notification"
          }
        }
      },
      "/{AccountSid}/Conferences/{ConferenceSid}.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "xml",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "name": "AccountSid",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Represents the unique id of the Account responsible for this caller Id"
          },
          {
            "name": "ConferenceSid",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "A 34 character string that uniquely identifies this conference."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns a representation of the conference identified by {ConferenceSid}.",
          "externalDocs": {
            "url": "http://www.twilio.com/docs/api/2010-04-01/rest/conference"
          }
        }
      },
      "/{AccountSid}/Conferences/{ConferenceSid}/Participants.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "xml",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "name": "AccountSid",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Represents the unique id of the Account responsible for this caller Id"
          },
          {
            "name": "ConferenceSid",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "A 34 character string that uniquely identifies this conference."
          },
          {
            "name": "Muted",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Only show participants that are muted or unmuted. Either true or false."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns the list of participants in the conference identified by {ConferenceSid}.",
          "externalDocs": {
            "url": "http://www.twilio.com/docs/api/2010-04-01/rest/participant"
          }
        }
      },
      "/{AccountSid}/Conferences.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "xml",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "name": "AccountSid",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Represents the unique id of the Account responsible for this caller Id"
          },
          {
            "name": "Status",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Only show conferences currently in with this status. May be init, in-progress, or completed."
          },
          {
            "name": "FriendlyName",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "List conferences who's FriendlyName is the exact match of this string."
          },
          {
            "name": "DateCreated",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Only show conferences that started on this date, given as YYYY-MM-DD. You can also specify inequality, such as\n\t\t\t\t\tDateCreated(less than or equal to)YYYY-MM-DD for conferences that started at or before midnight on a date, and\n\t\t\t\t\tDateCreated(greater than or equal to)YYYY-MM-DD for conferences that started at or after midnight on a date."
          },
          {
            "name": "DateUpdated",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Only show conferences that were last updated on this date, given as YYYY-MM-DD. You can also specify inequality, such as\n\t\t\t\t\tDateUpdated(less than or equal to)YYYY-MM-DD for conferences that were last updated at or before midnight on a date, and\n\t\t\t\t\tDateUpdated(greater than or equal to)YYYY-MM-DD for conferences that were updated at or after midnight on a date."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns a list of conferences within an account identified by {AccountSid}.",
          "externalDocs": {
            "url": "http://www.twilio.com/docs/api/2010-04-01/rest/conference"
          }
        }
      },
      "/{AccountSid}/Conferences/{ConferenceSid}/Participants/{CallSid}.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "xml",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "name": "AccountSid",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Represents the unique id of the Account responsible for this caller Id"
          },
          {
            "name": "ConferenceSid",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "A 34 character string that uniquely identifies this conference."
          },
          {
            "name": "CallSid",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "A 34 character string that uniquely identifies the call that is connected to this conference."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns a representation of this participant.",
          "externalDocs": {
            "url": "http://www.twilio.com/docs/api/2010-04-01/rest/participant"
          }
        },
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [],
          "description": "Mute a participant.",
          "externalDocs": {
            "url": "http://www.twilio.com/docs/api/2010-04-01/rest/participant"
          }
        },
        "delete": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Kick a participant from a conference.",
          "externalDocs": {
            "url": "http://www.twilio.com/docs/api/2010-04-01/rest/participant"
          }
        }
      },
      "/{AccountSid}/Sandbox.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "xml",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "name": "AccountSid",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Represents the unique id of the Account responsible for this caller Id"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns the Sandbox resource associated with the account identified by {AccountSid}.",
          "externalDocs": {
            "url": "http://www.twilio.com/docs/api/2010-04-01/rest/sandbox"
          }
        },
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [],
          "description": "Updates the Sandbox resource via POST.",
          "externalDocs": {
            "url": "http://www.twilio.com/docs/api/2010-04-01/rest/sandbox"
          }
        },
        "put": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [],
          "description": "Updates the Sandbox resource via PUT.",
          "externalDocs": {
            "url": "http://www.twilio.com/docs/api/2010-04-01/rest/sandbox"
          }
        }
      }
    },
    "info": {
      "title": "Twilio",
      "description": "Telephony platform that exposes SMS and voice capabilities."
    }
  },
  "public": true
}