{
  "type": "api",
  "key": "apigee:google-books",
  "info": {
    "title": "Google Books",
    "description": "Leverage Google Books content with full-text search and book information."
  },
  "swagger": {
    "swagger": "2.0",
    "host": "www.googleapis.com",
    "basePath": "/books/v1",
    "schemes": [
      "https"
    ],
    "paths": {
      "/users/{userId}/bookshelves": {
        "parameters": [
          {
            "name": "userId",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Id of user for whom to retrieve bookshelves. (string)"
          },
          {
            "name": "country",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "ISO-3166-1 code to override the IP-based location. (string)"
          },
          {
            "name": "source",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "String to identify the originator of this request. (string)"
          },
          {
            "name": "fields",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Selector specifying which fields to include in a partial response."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Retrieves a list of public Bookshelf resources for the specified user.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/apis/books/docs/v1/reference.html#method_books_bookshelves_list"
          }
        }
      },
      "/users/{userId}/bookshelves/{shelf}": {
        "parameters": [
          {
            "name": "userId",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Id of user for whom to retrieve bookshelves. (string)"
          },
          {
            "name": "shelf",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Id of bookshelf to retrieve. (string)"
          },
          {
            "name": "country",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "ISO-3166-1 code to override the IP-based location. (string)"
          },
          {
            "name": "source",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "String to identify the originator of this request. (string)"
          },
          {
            "name": "fields",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Selector specifying which fields to include in a partial response."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Retrieves a specific Bookshelf resource for the specified user.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/apis/books/docs/v1/reference.html#method_books_bookshelves_get"
          }
        }
      },
      "/mylibrary/bookshelves": {
        "parameters": [
          {
            "name": "country",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "ISO-3166-1 code to override the IP-based location. (string)"
          },
          {
            "name": "source",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "String to identify the originator of this request. (string)"
          },
          {
            "name": "fields",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Selector specifying which fields to include in a partial response."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Retrieves a list of Bookshelf resources belonging to the authenticated user. Authentication is required.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/apis/books/docs/v1/reference.html#method_books_mylibrary_bookshelves_list"
          }
        }
      },
      "/mylibrary/bookshelves/{shelf}": {
        "parameters": [
          {
            "name": "shelf",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Id of bookshelf to retrieve. (string)"
          },
          {
            "name": "country",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "ISO-3166-1 code to override the IP-based location. (string)"
          },
          {
            "name": "source",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "String to identify the originator of this request. (string)"
          },
          {
            "name": "fields",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Selector specifying which fields to include in a partial response."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Retrieves a specific Bookshelf resource belonging to the authenticated user. Authentication is required.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/apis/books/docs/v1/reference.html#method_books_mylibrary_bookshelves_get"
          }
        }
      },
      "/mylibrary/bookshelves/{shelf}/addVolume": {
        "parameters": [
          {
            "name": "shelf",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Id of bookshelf to which to add a volume. (string)"
          },
          {
            "name": "volumeId",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "Id of volume to add. (string)"
          },
          {
            "name": "country",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "ISO-3166-1 code to override the IP-based location. (string)"
          },
          {
            "name": "source",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "String to identify the originator of this request. (string)"
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Adds a volume to a mutable pre-defined or user-defined bookshelf. Authentication is required.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/apis/books/docs/v1/reference.html#method_books_mylibrary_bookshelves_addVolume"
          }
        }
      },
      "/mylibrary/bookshelves/{shelf}/removeVolume": {
        "parameters": [
          {
            "name": "shelf",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Id of bookshelf from which to remove a volume. (string)"
          },
          {
            "name": "volumeId",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "Id of volume to remove. (string)"
          },
          {
            "name": "country",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "ISO-3166-1 code to override the IP-based location. (string)"
          },
          {
            "name": "source",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "String to identify the originator of this request. (string)"
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Removes a volume from a mutable pre-defined or user-defined bookshelf. Authentication is required.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/apis/books/docs/v1/reference.html#method_books_mylibrary_bookshelves_removeVolume"
          }
        }
      },
      "/mylibrary/bookshelves/{shelf}/clearVolumes": {
        "parameters": [
          {
            "name": "shelf",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Id of bookshelf from which to clear all volumes. (string)"
          },
          {
            "name": "country",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "ISO-3166-1 code to override the IP-based location. (string)"
          },
          {
            "name": "source",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "String to identify the originator of this request. (string)"
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Clears all volumes from a bookshelf. Authentication is required.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/apis/books/docs/v1/reference.html#method_books_mylibrary_bookshelves_clearVolumes"
          }
        }
      },
      "/volumes/{volumeId}": {
        "parameters": [
          {
            "name": "volumeId",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Id of volume to retrieve. (string)"
          },
          {
            "name": "country",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "ISO-3166-1 code to override the IP-based location. (string)"
          },
          {
            "name": "partner",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Identifier of partner for whom to brand results. (string)"
          },
          {
            "name": "projection",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Restrict information returned to a set of selected fields. (string)\nApplicable values:\n- full: Includes all volume data\n- lite: Includes a subset of fields in volumeInfo and accessInfo.",
            "enum": [
              "full",
              "lite"
            ]
          },
          {
            "name": "source",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "String to identify the originator of this request. (string)"
          },
          {
            "name": "fields",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Selector specifying which fields to include in a partial response."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Retrieves a Volume resource based on ID. Authentication is required.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/apis/books/docs/v1/reference.html#method_books_volumes_get"
          }
        }
      },
      "/volumes": {
        "parameters": [
          {
            "name": "q",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "Id of volume to retrieve. (string)"
          },
          {
            "name": "country",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "ISO-3166-1 code to override the IP-based location. (string)"
          },
          {
            "name": "download",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Restrict to volumes by download availability. (string)"
          },
          {
            "name": "filter",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Filter search results. (string)\nApplicable values:\n- ebooks: All Google eBooks.\n- free-ebooks: Google eBook with full volume text viewability.\n- full: Public can view entire volume text.\n- paid-ebooks: Google eBooks with a price.\n- partial: Public able to see parts of text.",
            "enum": [
              "ebooks",
              "free-ebooks",
              "full",
              "paid-ebooks",
              "partial"
            ]
          },
          {
            "name": "langRestrict",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Restrict results to books with this language code. (string)"
          },
          {
            "name": "libraryRestrict",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Restrict search to this user's library. (string)"
          },
          {
            "name": "maxResults",
            "required": false,
            "in": "query",
            "type": "integer",
            "description": "Maximum number of results to return. (integer, 0-40)"
          },
          {
            "name": "orderBy",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Sort search results. (string)\nApplicable values:\n- newest: Most recently published.\n- relevance: Relevance to search terms.",
            "enum": [
              "newest",
              "relevance"
            ]
          },
          {
            "name": "partner",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Identifier of partner for whom to restrict and brand results. (string)"
          },
          {
            "name": "printType",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Restrict to books or magazines. (string)\nApplicable values:\n- all: All volume content types.\n- books: Just books.\n- magazines: Just magazines.",
            "enum": [
              "all",
              "books",
              "magazines"
            ]
          },
          {
            "name": "projection",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Restrict information returned to a set of selected fields. (string)\nApplicable values:\n- full: Includes all volume data.\n- lite: Includes a subset of fields in volumeInfo and accessInfo.",
            "enum": [
              "full",
              "lite"
            ]
          },
          {
            "name": "showPreorders",
            "required": false,
            "in": "query",
            "type": "boolean",
            "default": false,
            "description": "Set to true to show books available for preorder. Defaults to false. (boolean)"
          },
          {
            "name": "source",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "String to identify the originator of this request. (string)"
          },
          {
            "name": "startIndex",
            "required": false,
            "in": "query",
            "type": "integer",
            "description": "Index of the first result to return (starts at 0) (integer, 0+)"
          },
          {
            "name": "fields",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Selector specifying which fields to include in a partial response."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Performs a book search. Authentication is required.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/apis/books/docs/v1/reference.html#method_books_volumes_list"
          }
        }
      },
      "/mylibrary/bookshelves/{shelf}/volumes": {
        "parameters": [
          {
            "name": "shelf",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The bookshelf id or name retrieve volumes for. (string)"
          },
          {
            "name": "country",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "ISO-3166-1 code to override the IP-based location. (string)"
          },
          {
            "name": "maxResults",
            "required": false,
            "in": "query",
            "type": "integer",
            "description": "Maximum number of results to return (integer, 0+)"
          },
          {
            "name": "projection",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Restrict information returned to a set of selected fields. (string)\nApplicable values:\n- full: Includes all volume data.\n- lite: Includes a subset of fields in volumeInfo and accessInfo.",
            "enum": [
              "full",
              "lite"
            ]
          },
          {
            "name": "q",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "Full-text search query string in this bookshelf. (string)"
          },
          {
            "name": "showPreorders",
            "required": false,
            "in": "query",
            "type": "boolean",
            "default": false,
            "description": "Set to true to show pre-ordered books. Defaults to false. (boolean)"
          },
          {
            "name": "source",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "String to identify the originator of this request. (string)"
          },
          {
            "name": "startIndex",
            "required": false,
            "in": "query",
            "type": "integer",
            "description": "Index of the first element to return (starts at 0) (integer, 0+)"
          },
          {
            "name": "fields",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Selector specifying which fields to include in a partial response."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Retrieves a list of Volume resources for a given bookshelf. Authentication is required.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/apis/books/docs/v1/reference.html#method_books_mylibrary_bookshelves_volumes_list"
          }
        }
      },
      "/users/{userId}/bookshelves/{shelf}/volumes": {
        "parameters": [
          {
            "name": "userId",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Id of user for whom to retrieve bookshelf volumes. (string)"
          },
          {
            "name": "shelf",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Id of bookshelf to retrieve volumes. (string)"
          },
          {
            "name": "country",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "ISO-3166-1 code to override the IP-based location. (string)"
          },
          {
            "name": "maxResults",
            "required": false,
            "in": "query",
            "type": "integer",
            "description": "Maximum number of results to return (integer, 0+)"
          },
          {
            "name": "showPreorders",
            "required": false,
            "in": "query",
            "type": "boolean",
            "default": false,
            "description": "Set to true to show pre-ordered books. Defaults to false. (boolean)"
          },
          {
            "name": "source",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "String to identify the originator of this request. (string)"
          },
          {
            "name": "startIndex",
            "required": false,
            "in": "query",
            "type": "integer",
            "description": "Index of the first element to return (starts at 0) (integer, 0+)"
          },
          {
            "name": "fields",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Selector specifying which fields to include in a partial response."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Retrieves volumes in a specific bookshelf for the specified user.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/apis/books/docs/v1/reference.html#method_books_bookshelves_volumes_list"
          }
        }
      }
    },
    "info": {
      "title": "Google Books",
      "description": "Leverage Google Books content with full-text search and book information."
    }
  },
  "public": true
}