{
  "type": "api",
  "key": "apigee:sendgrid",
  "info": {
    "title": "SendGrid",
    "description": "Allows SendGrid customers to retrieve account information such as statistics, bounces, spam reports, and unsubscribes."
  },
  "swagger": {
    "swagger": "2.0",
    "host": "sendgrid.com",
    "basePath": "/api",
    "schemes": [
      "https"
    ],
    "paths": {
      "/blocks.get.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "xml",
            "description": "Determines the response format. It can be either json for a JSON response or xml for an XML response.",
            "enum": [
              "json",
              "xml"
            ]
          },
          {
            "name": "date",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Retrieve the timestamp of the Block records. It will return a date in a MySQL timestamp format – YYYY-MM-DD HH:MM:SS. Must be set to 1."
          },
          {
            "name": "days",
            "required": false,
            "in": "query",
            "type": "integer",
            "description": "Number of days in the past for which to retrieve blocks (includes today). If specified, must be an integer greater than 0."
          },
          {
            "name": "start_date",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "The start of the date range for which to retrieve blocks. Date must be in YYYY-MM-DD format and be earlier than the end_date parameter."
          },
          {
            "name": "end_date",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "The end of the date range for which to retrieve blocks. Date must be in YYYY-MM-DD format and be later than the start_date parameter."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Retrieves a list of Blocks with addresses and response codes, optionally with dates.",
          "externalDocs": {
            "url": "http://docs.sendgrid.com/documentation/api/web-api/webapiblocks"
          }
        }
      },
      "/blocks.delete.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "xml",
            "description": "Determines the response format. It can be either json for a JSON response or xml for an XML response.",
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "email",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "Email block address to remove. Must be a valid user account email."
            }
          ],
          "description": "Deletes an address from the Block list.",
          "externalDocs": {
            "url": "http://docs.sendgrid.com/documentation/api/web-api/webapiblocks/"
          }
        }
      },
      "/bounces.get.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "xml",
            "description": "Determines the response format. It can be either json for a JSON response or xml for an XML response.",
            "enum": [
              "json",
              "xml"
            ]
          },
          {
            "name": "date",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Retrieve the timestamp of the bounce records. It will return a date in a MySQL timestamp format – YYYY-MM-DD HH:MM:SS. Must be set to 1."
          },
          {
            "name": "days",
            "required": false,
            "in": "query",
            "type": "integer",
            "description": "Number of days in the past for which to retrieve bounces (includes today). If specified, must be an integer greater than 0."
          },
          {
            "name": "start_date",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "The start of the date range for which to retrieve bounces. Date must be in YYYY-MM-DD format and be earlier than the end_date parameter."
          },
          {
            "name": "end_date",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "The end of the date range for which to retrieve bounces. Date must be in YYYY-MM-DD format and be later than the start_date parameter."
          },
          {
            "name": "limit",
            "required": false,
            "in": "query",
            "type": "integer",
            "description": "Limit the number of results returned."
          },
          {
            "name": "offset",
            "required": false,
            "in": "query",
            "type": "integer",
            "description": "Beginning point in the list to retrieve from."
          },
          {
            "name": "type",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "The type of bounce to search for. Valid values: hard or soft.",
            "enum": [
              "hard",
              "soft"
            ]
          },
          {
            "name": "email",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Email addresses to search for."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Retrieves a list of bounces with addresses and response codes, optionally with dates.",
          "externalDocs": {
            "url": "http://docs.sendgrid.com/documentation/api/web-api/webapibounces"
          }
        }
      },
      "/bounces.delete.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "xml",
            "description": "Determines the response format. It can be either json for a JSON response or xml for an XML response.",
            "enum": [
              "json",
              "xml"
            ]
          },
          {
            "name": "start_date",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Date to start deleting from. Date must be in YYYY-mm-dd format and be before the end_date parameter."
          },
          {
            "name": "end_date",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Date to end deleting from. Date must be in YYYY-mm-dd format and be after the start_date parameter."
          },
          {
            "name": "type",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "The type of bounce to be removed. Valid values: hard or soft.",
            "enum": [
              "hard",
              "soft"
            ]
          },
          {
            "name": "email",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Email bounce address to remove."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Deletes an address from the Bounce list. Please note that if no parameters are specified the ENTIRE list will be deleted.",
          "externalDocs": {
            "url": "http://docs.sendgrid.com/documentation/api/web-api/webapibounces"
          }
        }
      },
      "/bounces.count.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "xml",
            "description": "Determines the response format. It can be either json for a JSON response or xml for an XML response.",
            "enum": [
              "json",
              "xml"
            ]
          },
          {
            "name": "start_date",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Optional date to start counting from. Date must be in YYYY-mm-dd format and be before the end_date parameter."
          },
          {
            "name": "end_date",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "date to end counting from. Date must be in YYYY-mm-dd format and be after the start_date parameter."
          },
          {
            "name": "type",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "The type of bounce to search for. Valid values: hard or soft.",
            "enum": [
              "hard",
              "soft"
            ]
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Counts the total number of bounces.",
          "externalDocs": {
            "url": "http://docs.sendgrid.com/documentation/api/web-api/webapibounces"
          }
        }
      },
      "/eventposturl.get.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "xml",
            "description": "Determines the response format. It can be either json for a JSON response or xml for an XML response.",
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Retrieves the event notification URL which currently receives event notifications.",
          "externalDocs": {
            "url": "http://docs.sendgrid.com/documentation/api/web-api/event-notification-url"
          }
        }
      },
      "/eventposturl.set.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "xml",
            "description": "Determines the response format. It can be either json for a JSON response or xml for an XML response.",
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "url",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "The URL to receive event notifications from."
            }
          ],
          "description": "Sets the event notification URL.",
          "externalDocs": {
            "url": "http://docs.sendgrid.com/documentation/api/web-api/event-notification-url"
          }
        }
      },
      "/eventposturl.delete.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "xml",
            "description": "Determines the response format. It can be either json for a JSON response or xml for an XML response.",
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Deletes the event notification URL.",
          "externalDocs": {
            "url": "http://docs.sendgrid.com/documentation/api/web-api/event-notification-url"
          }
        }
      },
      "/filter.getavailable.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "xml",
            "description": "Determines the response format. It can be either json for a JSON response or xml for an XML response.",
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "List all of the available apps. Note: The name entry is used in all the other API calls to identify a app. For a list of all the apps and parameters accesible with the Web API you can check the Filter Settings page, http://docs.sendgrid.com/documentation/api/web-api/filtersettings.",
          "externalDocs": {
            "url": "http://docs.sendgrid.com/documentation/api/web-api/webapifilters"
          }
        }
      },
      "/filter.activate.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "xml",
            "description": "Determines the response format. It can be either json for a JSON response or xml for an XML response.",
            "enum": [
              "json",
              "xml"
            ]
          },
          {
            "name": "name",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "Name of the app."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Activates an app.",
          "externalDocs": {
            "url": "http://docs.sendgrid.com/documentation/api/web-api/webapifilters"
          }
        }
      },
      "/filter.deactivate.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "xml",
            "description": "Determines the response format. It can be either json for a JSON response or xml for an XML response.",
            "enum": [
              "json",
              "xml"
            ]
          },
          {
            "name": "name",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "Name of the app."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Deactivates an app.",
          "externalDocs": {
            "url": "http://docs.sendgrid.com/documentation/api/web-api/webapifilters"
          }
        }
      },
      "/filter.getsettings.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "xml",
            "description": "Determines the response format. It can be either json for a JSON response or xml for an XML response.",
            "enum": [
              "json",
              "xml"
            ]
          },
          {
            "name": "name",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "Name of the app."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Get filter settings.",
          "externalDocs": {
            "url": "http://docs.sendgrid.com/documentation/api/web-api/webapifilters"
          }
        }
      },
      "/invalidemails.get.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "xml",
            "description": "Determines the response format. It can be either json for a JSON response or xml for an XML response.",
            "enum": [
              "json",
              "xml"
            ]
          },
          {
            "name": "date",
            "required": false,
            "in": "query",
            "type": "string",
            "default": "1",
            "description": "Retrieve the timestamp of the invalid email records. It will return a date in a MySQL timestamp format – YYYY-MM-DD HH:MM:SS. Must be set to 1."
          },
          {
            "name": "days",
            "required": false,
            "in": "query",
            "type": "integer",
            "description": "Number of days in the past for which to retrieve invalid emails (includes today). If specified, must be an integer greater than 0."
          },
          {
            "name": "start_date",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "The start of the date range for which to retrieve invalid emails. Date must be in YYYY-MM-DD format and be earlier than the end_date parameter."
          },
          {
            "name": "end_date",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "The end of the date range for which to retrieve invalid emails. Date must be in YYYY-MM-DD format and be later than the start_date parameter."
          },
          {
            "name": "limit",
            "required": false,
            "in": "query",
            "type": "integer",
            "description": "Limit the number of results returned."
          },
          {
            "name": "offset",
            "required": false,
            "in": "query",
            "type": "integer",
            "description": "Beginning point in the list to retrieve from."
          },
          {
            "name": "email",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Email addresses to search for."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Retrieves a list of invalid emails with addresses and response codes, optionally with dates.",
          "externalDocs": {
            "url": "http://docs.sendgrid.com/documentation/api/web-api/webapiinvalidemails"
          }
        }
      },
      "/invalidemails.delete.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "xml",
            "description": "Determines the response format. It can be either json for a JSON response or xml for an XML response.",
            "enum": [
              "json",
              "xml"
            ]
          },
          {
            "name": "start_date",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "The date to start deleting at. Date must be in YYYY-mm-dd format and be before the end_date parameter."
          },
          {
            "name": "end_date",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "The date to end deleting at. Date must be in YYYY-mm-dd format and be after the start_date parameter."
          },
          {
            "name": "email",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Invalid Email address to remove. Must be a valid user account email."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Deletes an address from the Invalid Email list. Please note that if no parameters are submitted the ENTIRE list will be deleted.",
          "externalDocs": {
            "url": "http://docs.sendgrid.com/documentation/api/web-api/webapiinvalidemails"
          }
        }
      },
      "/invalidemails.count.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "xml",
            "description": "Determines the response format. It can be either json for a JSON response or xml for an XML response.",
            "enum": [
              "json",
              "xml"
            ]
          },
          {
            "name": "start_date",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "The date to start counting from. Date must be in YYYY-mm-dd format and be before the end_date parameter."
          },
          {
            "name": "end_date",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "The date to end counting from. Date must be in YYYY-mm-dd format and be after the start_date parameter."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Counts the total number of invalid emails.",
          "externalDocs": {
            "url": "http://docs.sendgrid.com/documentation/api/web-api/webapiinvalidemails"
          }
        }
      },
      "/parse.get.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "xml",
            "description": "Determines the response format. It can be either json for a JSON response or xml for an XML response.",
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Pull down the settings already configured for parsing incoming email.",
          "externalDocs": {
            "url": "http://docs.sendgrid.com/documentation/api/web-api/webapiparse"
          }
        }
      },
      "/parse.set.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "xml",
            "description": "Determines the response format. It can be either json for a JSON response or xml for an XML response.",
            "enum": [
              "json",
              "xml"
            ]
          },
          {
            "name": "hostname",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "The host name."
          },
          {
            "name": "url",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "The URL."
          },
          {
            "name": "spam_check",
            "required": false,
            "in": "query",
            "type": "boolean",
            "description": "Whether to check or not for spam."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Specify the hostname and url for parsing incoming emails.",
          "externalDocs": {
            "url": "http://docs.sendgrid.com/documentation/api/web-api/webapiparse"
          }
        }
      },
      "/parse.delete.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "xml",
            "description": "Determines the response format. It can be either json for a JSON response or xml for an XML response.",
            "enum": [
              "json",
              "xml"
            ]
          },
          {
            "name": "hostname",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "The host name."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Deletes the existing settings for parsing incoming emails.",
          "externalDocs": {
            "url": "http://docs.sendgrid.com/documentation/api/web-api/webapiparse"
          }
        }
      },
      "/profile.get.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "xml",
            "description": "Determines the response format. It can be either json for a JSON response or xml for an XML response.",
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "View your SendGrid profile.",
          "externalDocs": {
            "url": "http://docs.sendgrid.com/documentation/api/web-api/webapiprofile"
          }
        }
      },
      "/profile.set.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "xml",
            "description": "Determines the response format. It can be either json for a JSON response or xml for an XML response.",
            "enum": [
              "json",
              "xml"
            ]
          },
          {
            "name": "first_name",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Your first name."
          },
          {
            "name": "last_name",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Your last name."
          },
          {
            "name": "address",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Company address."
          },
          {
            "name": "city",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "City where your company is located."
          },
          {
            "name": "state",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "State where your company is located."
          },
          {
            "name": "country",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Country where your company is located."
          },
          {
            "name": "zip",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Zipcode where your company is located."
          },
          {
            "name": "phone",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Valid phone number where we can reach you."
          },
          {
            "name": "website",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Your company’s website."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Selectively update your profile without other information being modified.",
          "externalDocs": {
            "url": "http://docs.sendgrid.com/documentation/api/web-api/webapiprofile"
          }
        }
      },
      "/password.set.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "xml",
            "description": "Determines the response format. It can be either json for a JSON response or xml for an XML response.",
            "enum": [
              "json",
              "xml"
            ]
          },
          {
            "name": "password",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "Your new password. Must be at least 6 characters."
          },
          {
            "name": "confirm_password",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "Confrim new password. Must match password parameter and be at least 6 characters long."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Resets your password.",
          "externalDocs": {
            "url": "http://docs.sendgrid.com/documentation/api/web-api/webapiprofile"
          }
        }
      },
      "/profile.setUsername.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "xml",
            "description": "Determines the response format. It can be either json for a JSON response or xml for an XML response.",
            "enum": [
              "json",
              "xml"
            ]
          },
          {
            "name": "username",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "This is the new username we will be authenticating with our SMTP servers and our website. Changes take effect immediately. Must not exceed 100 characters. The username cannot be already taken or contain the SendGrid.com domain."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "The account username is used to login to our SMTP server and the website. Changes will take effect immediately.",
          "externalDocs": {
            "url": "http://docs.sendgrid.com/documentation/api/web-api/webapiprofile"
          }
        }
      },
      "/profile.setEmail.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "xml",
            "description": "Determines the response format. It can be either json for a JSON response or xml for an XML response.",
            "enum": [
              "json",
              "xml"
            ]
          },
          {
            "name": "email",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "This is the new email address we will be contacting you with. Changes take effect immediately. Must be in email format and not more than 100 characters."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "We send out a confirmation email to the new email account in order to be validated. Your email address changes when you click on the confirmation link.",
          "externalDocs": {
            "url": "http://docs.sendgrid.com/documentation/api/web-api/webapiprofile"
          }
        }
      },
      "/spamreports.get.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "xml",
            "description": "Determines the response format. It can be either json for a JSON response or xml for an XML response.",
            "enum": [
              "json",
              "xml"
            ]
          },
          {
            "name": "date",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Retrieve the timestamp of the spam report records. It will return a date in a MySQL timestamp format – YYYY-MM-DD HH:MM:SS. Must be set to 1."
          },
          {
            "name": "days",
            "required": false,
            "in": "query",
            "type": "integer",
            "description": "Number of days in the past for which to retrieve spam reports (includes today). If specified, must be an integer greater than 0."
          },
          {
            "name": "start_date",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "The start of the date range for which to retrieve spam reports. Date must be in YYYY-MM-DD format and be earlier than the end_date parameter."
          },
          {
            "name": "end_date",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "The end of the date range for which to retrieve spam reports. Date must be in YYYY-MM-DD format and be later than the start_date parameter."
          },
          {
            "name": "limit",
            "required": false,
            "in": "query",
            "type": "integer",
            "description": "Limit the number of results returned."
          },
          {
            "name": "offset",
            "required": false,
            "in": "query",
            "type": "integer",
            "description": "Beginning point in the list to retrieve from."
          },
          {
            "name": "email",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Email addresses to search for."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Retrieves a list of spam reports with addresses and response codes, optionally with dates.",
          "externalDocs": {
            "url": "http://docs.sendgrid.com/documentation/api/web-api/webapispamreports"
          }
        }
      },
      "/spamreports.delete.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "xml",
            "description": "Determines the response format. It can be either json for a JSON response or xml for an XML response.",
            "enum": [
              "json",
              "xml"
            ]
          },
          {
            "name": "email",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "Email spam reports address to remove. Must be a valid user account email."
          },
          {
            "name": "start_date",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "The date to start deleting at. Date must be in YYYY-mm-dd format and be before the end_date parameter."
          },
          {
            "name": "end_date",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "The date to end deleting at. Date must be in YYYY-mm-dd format and be after the start_date parameter."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Deletes an address from the Spam Reports list.",
          "externalDocs": {
            "url": "http://docs.sendgrid.com/documentation/api/web-api/webapispamreports"
          }
        }
      },
      "/spamreports.count.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "xml",
            "description": "Determines the response format. It can be either json for a JSON response or xml for an XML response.",
            "enum": [
              "json",
              "xml"
            ]
          },
          {
            "name": "start_date",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "The date to start counting from. Date must be in YYYY-mm-dd format and be before the end_date parameter."
          },
          {
            "name": "end_date",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "The date to end counting from. Date must be in YYYY-mm-dd format and be after the start_date parameter."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Counts the total number of spam reports.",
          "externalDocs": {
            "url": "http://docs.sendgrid.com/documentation/api/web-api/webapispamreports"
          }
        }
      },
      "/stats.get.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "xml",
            "description": "Determines the response format. It can be either json for a JSON response or xml for an XML response.",
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "aggregate",
              "required": true,
              "in": "query",
              "type": "boolean",
              "description": "The category you will specify to retrieve detailed stats. Must be an existing category that has statistics. This can also be passed in as an array, to send to multiple categories (i.e. category[]={category1}&category[]={category2}&...&category[]={categoryN))."
            },
            {
              "name": "category",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "The category you will specify to retrieve detailed stats. Must be an existing category that has statistics."
            },
            {
              "name": "days",
              "required": false,
              "in": "query",
              "type": "integer",
              "description": "Number of days in the past to include statistics (includes today). Must be an integer greater than 0."
            },
            {
              "name": "start_date",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "The start date to look up statistics. Date must be in YYYY-MM-DD format and be before the end_date parameter."
            },
            {
              "name": "end_date",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "The end date to look up statistics. Date must be in YYYY-MM-DD format and be after the start_date parameter."
            }
          ],
          "description": "Retrieves statistics broken down by category. If the category does not exist, there will be an empty result set. Note that you can use either the days parameter or the start_date and end_date parameter.",
          "externalDocs": {
            "url": "http://docs.sendgrid.com/documentation/api/web-api/webapistatistics"
          }
        }
      },
      "/unsubscribes.get.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "xml",
            "description": "Determines the response format. It can be either json for a JSON response or xml for an XML response.",
            "enum": [
              "json",
              "xml"
            ]
          },
          {
            "name": "date",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Retrieve the timestamp of the unsubscribe records. It will return a date in a MySQL timestamp format – YYYY-MM-DD HH:MM:SS. Must be set to 1."
          },
          {
            "name": "days",
            "required": false,
            "in": "query",
            "type": "integer",
            "description": "Number of days in the past for which to retrieve unsubscribes (includes today). If specified, must be an integer greater than 0."
          },
          {
            "name": "start_date",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "The start of the date range for which to retrieve unsubscribes. Date must be in YYYY-MM-DD format and be earlier than the end_date parameter."
          },
          {
            "name": "end_date",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "The end of the date range for which to retrieve unsubscribes. Date must be in YYYY-MM-DD format and be later than the start_date parameter."
          },
          {
            "name": "limit",
            "required": false,
            "in": "query",
            "type": "integer",
            "description": "Limit the number of results returned."
          },
          {
            "name": "offset",
            "required": false,
            "in": "query",
            "type": "integer",
            "description": "Beginning point in the list to retrieve from."
          },
          {
            "name": "email",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Email addresses to search for."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Retrieves a list of Unsubscribes with addresses and optionally with dates.",
          "externalDocs": {
            "url": "http://docs.sendgrid.com/documentation/api/web-api/webapiunsubscribes"
          }
        }
      },
      "/unsubscribes.delete.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "xml",
            "description": "Determines the response format. It can be either json for a JSON response or xml for an XML response.",
            "enum": [
              "json",
              "xml"
            ]
          },
          {
            "name": "start_date",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "The date to start retrieving for. Date must be in YYYY-mm-dd format and be before the end_date parameter."
          },
          {
            "name": "end_date",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "The date to end retrieving for. Date must be in YYYY-mm-dd format and be after the start_date parameter."
          },
          {
            "name": "email",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Unsubscribed email address to remove. Must be a valid user account email."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Deletes an address from the Unsubscribe list. Please note that if no parameters are provided the ENTIRE list will be removed.",
          "externalDocs": {
            "url": "http://docs.sendgrid.com/documentation/api/web-api/webapiunsubscribes"
          }
        }
      },
      "/unsubscribes.add.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "xml",
            "description": "Determines the response format. It can be either json for a JSON response or xml for an XML response.",
            "enum": [
              "json",
              "xml"
            ]
          },
          {
            "name": "email",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "Email address to add to unsubscribe list. Must be a valid email address."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Adds an email address to the Unsubscribe list.",
          "externalDocs": {
            "url": "http://docs.sendgrid.com/documentation/api/web-api/webapiunsubscribes"
          }
        }
      },
      "/unsubscribes.count.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "xml",
            "description": "Determines the response format. It can be either json for a JSON response or xml for an XML response.",
            "enum": [
              "json",
              "xml"
            ]
          },
          {
            "name": "start_date",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "The date to start counting from. Date must be in YYYY-mm-dd format and be before the end_date parameter."
          },
          {
            "name": "end_date",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "The date to end counting from. Date must be in YYYY-mm-dd format and be after the start_date parameter."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Counts the total number of unsubscribes.",
          "externalDocs": {
            "url": "http://docs.sendgrid.com/documentation/api/web-api/webapiunsubscribes"
          }
        }
      },
      "/user.bounces.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "xml",
            "description": "Determines the response format. It can be either json for a JSON response or xml for an XML response.",
            "enum": [
              "json",
              "xml"
            ]
          },
          {
            "name": "user",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "The subuser we are retrieving bounces from. Subuser must be registered under your account."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "task",
              "required": true,
              "in": "query",
              "type": "string",
              "default": "delete",
              "description": "This will allow you to delete the bounces for the specified user. Must be set to delete."
            },
            {
              "name": "email",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Bounce email address you want to delete."
            }
          ],
          "description": "Since SendGrid does not re-deliver to bounced addresses, users can remove bounces from their list at any time if redelivery to a bounced address is desired.",
          "externalDocs": {
            "url": "http://docs.sendgrid.com/documentation/api/customer-subuser-api/customer-subuser-api-v1/email-list-management/subuser-bounces"
          }
        }
      },
      "/user.spamreports.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "xml",
            "description": "Determines the response format. It can be either json for a JSON response or xml for an XML response.",
            "enum": [
              "json",
              "xml"
            ]
          },
          {
            "name": "user",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "The subuser we are retrieving spam reports from. Subuser must be registered under your account."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "task",
              "required": true,
              "in": "query",
              "type": "string",
              "default": "delete",
              "description": "This will allow you to delete a spam report for the specified user. Must be set to delete."
            },
            {
              "name": "email",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "You must specify the spam reports to remove. Must be a spam reports."
            }
          ],
          "description": "Deletes spam reports. Since SendGrid does not deliver to spam reported addresses, users can remove spam reports from their list at any time if re-delivery to a spam reported address is desired.",
          "externalDocs": {
            "url": "http://docs.sendgrid.com/documentation/api/customer-subuser-api/customer-subuser-api-v1/email-list-management/subuser-spam-reports"
          }
        }
      },
      "/user.unsubscribes.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "xml",
            "description": "Determines the response format. It can be either json for a JSON response or xml for an XML response.",
            "enum": [
              "json",
              "xml"
            ]
          },
          {
            "name": "user",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "The subuser we are retrieving unsubscribes from. Subuser must be registered under your account."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "task",
              "required": true,
              "in": "query",
              "type": "string",
              "default": "add",
              "description": "This will allow you to add an unsubscribe record for the specified subuser. Must be set to add."
            },
            {
              "name": "email",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "You must specify the unsubscribe record to add. Must be an unsubscribe record."
            }
          ],
          "description": "Adds unsubscribe email records to their account if they need to stop sending email messages to a specific recipient.",
          "externalDocs": {
            "url": "http://docs.sendgrid.com/documentation/api/customer-subuser-api/customer-subuser-api-v1/email-list-management/subusers-unsubscribes"
          }
        }
      },
      "/newsletter/add.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "xml",
            "description": "Determines the response format. It can be either json for a JSON response or xml for an XML response.",
            "enum": [
              "json",
              "xml"
            ]
          },
          {
            "name": "identity",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "The Identity that will be used for the Newsletter being created."
          },
          {
            "name": "name",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "The name that will be used for the Newsletter being created."
          },
          {
            "name": "subject",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "The subject that will be used for the Newsletter being created."
          },
          {
            "name": "text",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "The text portion of the Newsletter being created."
          },
          {
            "name": "html",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "The html portion of the Newsletter being created."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Create a new Newsletter.",
          "externalDocs": {
            "url": "http://docs.sendgrid.com/documentation/api/newsletter-api/newsletter/#add"
          }
        }
      },
      "/newsletter/edit.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "xml",
            "description": "Determines the response format. It can be either json for a JSON response or xml for an XML response.",
            "enum": [
              "json",
              "xml"
            ]
          },
          {
            "name": "name",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "The name of the Newsletter being updated."
          },
          {
            "name": "newname",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "The new name for the Newsletter being edited."
          },
          {
            "name": "identity",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "The new Identity for the Newsletter being edited."
          },
          {
            "name": "subject",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "The new subject that will be used for the Newsletter being edited."
          },
          {
            "name": "text",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "The new text portion of the Newsletter being edited."
          },
          {
            "name": "html",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "The new html portion of the Newsletter being edited."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Edit an existing Newsletter.",
          "externalDocs": {
            "url": "http://docs.sendgrid.com/documentation/api/newsletter-api/newsletter/#edit"
          }
        }
      },
      "/newsletter/get.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "xml",
            "description": "Determines the response format. It can be either json for a JSON response or xml for an XML response.",
            "enum": [
              "json",
              "xml"
            ]
          },
          {
            "name": "name",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "The name of an existing Newsletter."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Retrieves the contents of an existing newsletter.",
          "externalDocs": {
            "url": "http://docs.sendgrid.com/documentation/api/newsletter-api/newsletter/#get"
          }
        }
      },
      "/newsletter/list.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "xml",
            "description": "Determines the response format. It can be either json for a JSON response or xml for an XML response.",
            "enum": [
              "json",
              "xml"
            ]
          },
          {
            "name": "name",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "Search to see if a specific Newsletter exists rather than a list of all Newsletters."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Retrieve the names of all existing Newsletters, or search for a specific newsletter.",
          "externalDocs": {
            "url": "http://docs.sendgrid.com/documentation/api/newsletter-api/newsletter/#list"
          }
        }
      },
      "/newsletter/delete.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "xml",
            "description": "Determines the response format. It can be either json for a JSON response or xml for an XML response.",
            "enum": [
              "json",
              "xml"
            ]
          },
          {
            "name": "name",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "Remove the Newsletter with this name."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Remove an existing Newsletter.",
          "externalDocs": {
            "url": "http://docs.sendgrid.com/documentation/api/newsletter-api/newsletter/#delete"
          }
        }
      },
      "/newsletter/lists/add.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "xml",
            "description": "Determines the response format. It can be either json for a JSON response or xml for an XML response.",
            "enum": [
              "json",
              "xml"
            ]
          },
          {
            "name": "list",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "Create a Recipient List with this name."
          },
          {
            "name": "name",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Specify the column name for the ‘name’ associated with email addresses."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Create a new Recipient List.",
          "externalDocs": {
            "url": "http://docs.sendgrid.com/documentation/api/newsletter-api/lists/#add"
          }
        }
      },
      "/newsletter/lists/edit.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "xml",
            "description": "Determines the response format. It can be either json for a JSON response or xml for an XML response.",
            "enum": [
              "json",
              "xml"
            ]
          },
          {
            "name": "list",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "This is the name of the Recipient List to be renamed."
          },
          {
            "name": "newlist",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "Specify the new name for the Recipient List."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Rename a Recipient List.",
          "externalDocs": {
            "url": "http://docs.sendgrid.com/documentation/api/newsletter-api/lists/#edit"
          }
        }
      },
      "/newsletter/lists/get.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "xml",
            "description": "Determines the response format. It can be either json for a JSON response or xml for an XML response.",
            "enum": [
              "json",
              "xml"
            ]
          },
          {
            "name": "list",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "Check for this particular list. (To list all Recipient Lists on your account exclude this parameter)"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "List all Recipient Lists on your account, or check if a particular List exists.",
          "externalDocs": {
            "url": "http://docs.sendgrid.com/documentation/api/newsletter-api/lists/#get"
          }
        }
      },
      "/newsletter/lists/delete.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "xml",
            "description": "Determines the response format. It can be either json for a JSON response or xml for an XML response.",
            "enum": [
              "json",
              "xml"
            ]
          },
          {
            "name": "list",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "Remove this Recipient List."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Remove a Recipient List from your account.",
          "externalDocs": {
            "url": "http://docs.sendgrid.com/documentation/api/newsletter-api/lists/#delete"
          }
        }
      },
      "/newsletter/lists/email/add.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "xml",
            "description": "Determines the response format. It can be either json for a JSON response or xml for an XML response.",
            "enum": [
              "json",
              "xml"
            ]
          },
          {
            "name": "list",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "The list which you are adding email addresses too. Must be an existing Recipient List."
          },
          {
            "name": "data",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "Specify the name, email address, and additional fields to add to the specified Recipient List. Must be a valid JSON string matching the required format (i.e. {\"email\":\"address@domain.com\",\"name\":\"contactName\"}). Limited to a 1000 entries maximum."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Adds one or more emails to a Recipient List.",
          "externalDocs": {
            "url": "http://docs.sendgrid.com/documentation/api/newsletter-api/lists/email/#add"
          }
        }
      },
      "/newsletter/lists/email/get.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "xml",
            "description": "Determines the response format. It can be either json for a JSON response or xml for an XML response.",
            "enum": [
              "json",
              "xml"
            ]
          },
          {
            "name": "list",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "The list you are searching. Must be an existing Recipient List."
          },
          {
            "name": "email",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Email addresses to search for in the Recipient List. Must be an email address or list of addresses."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Gets the email addresses and associated fields for a Recipient List.",
          "externalDocs": {
            "url": "http://docs.sendgrid.com/documentation/api/newsletter-api/lists/email/#get"
          }
        }
      },
      "/newsletter/lists/email/delete.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "xml",
            "description": "Determines the response format. It can be either json for a JSON response or xml for an XML response.",
            "enum": [
              "json",
              "xml"
            ]
          },
          {
            "name": "list",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "The list which you are removing email addresses from. Must be an existing Recipient List."
          },
          {
            "name": "email",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "Specify the email address or email addresses you wish to remove from the specified Recipient List. Must be an email or emails in the Recipient List."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Removes one or more emails from a Recipient List.",
          "externalDocs": {
            "url": "http://docs.sendgrid.com/documentation/api/newsletter-api/lists/email/#delete"
          }
        }
      },
      "/newsletter/identity/add.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "xml",
            "description": "Determines the response format. It can be either json for a JSON response or xml for an XML response.",
            "enum": [
              "json",
              "xml"
            ]
          },
          {
            "name": "identity",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "Create an Identity named this."
          },
          {
            "name": "name",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "Specify the name to be used for this Identity."
          },
          {
            "name": "email",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "Specify the email address to be used for this Identity."
          },
          {
            "name": "address",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "Specify the physical address to be used for this Identity."
          },
          {
            "name": "city",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "Specify the city to be used for this Identity."
          },
          {
            "name": "state",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "Specify the state code to be used for this Identity."
          },
          {
            "name": "zip",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "Specify the zip code to be used for this Identity."
          },
          {
            "name": "country",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "Specify the country code to be used for this Identity."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Creates a new Identity.",
          "externalDocs": {
            "url": "http://docs.sendgrid.com/documentation/api/newsletter-api/identity/#add"
          }
        }
      },
      "/newsletter/identity/edit.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "xml",
            "description": "Determines the response format. It can be either json for a JSON response or xml for an XML response.",
            "enum": [
              "json",
              "xml"
            ]
          },
          {
            "name": "identity",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "The Identity you wish to edit. Must be an existing Identity."
          },
          {
            "name": "newidentity",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "Specify the new name to be used for this Identity."
          },
          {
            "name": "name",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "Specify the new name to be used for this Identity."
          },
          {
            "name": "email",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "Specify the new email address to be used for this Identity."
          },
          {
            "name": "address",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "Specify the new physical address to be used for this Identity."
          },
          {
            "name": "city",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "Specify the new physical address to be used for this Identity."
          },
          {
            "name": "state",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "Specify the new physical address to be used for this Identity."
          },
          {
            "name": "zip",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "Specify the new zip code to be used for this Identity."
          },
          {
            "name": "country",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "Specify the new country code to be used for this Identity."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Edits the contact information in an existing Identity.",
          "externalDocs": {
            "url": "http://docs.sendgrid.com/documentation/api/newsletter-api/identity/#edit"
          }
        }
      },
      "/newsletter/identity/get.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "xml",
            "description": "Determines the response format. It can be either json for a JSON response or xml for an XML response.",
            "enum": [
              "json",
              "xml"
            ]
          },
          {
            "name": "identity",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "The Identity you wish to retrieve. Must be an existing Identity."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Retrieves contact information associated with a particular Identity.",
          "externalDocs": {
            "url": "http://docs.sendgrid.com/documentation/api/newsletter-api/identity/#get"
          }
        }
      },
      "/newsletter/identity/list.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "xml",
            "description": "Determines the response format. It can be either json for a JSON response or xml for an XML response.",
            "enum": [
              "json",
              "xml"
            ]
          },
          {
            "name": "identity",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Check for this particular Identity. (To list all Identities on your account exclude this parameter)."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Lists all Identities on your account, or check if a particular Identity exists.",
          "externalDocs": {
            "url": "http://docs.sendgrid.com/documentation/api/newsletter-api/identity/#list"
          }
        }
      },
      "/newsletter/identity/delete.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "xml",
            "description": "Determines the response format. It can be either json for a JSON response or xml for an XML response.",
            "enum": [
              "json",
              "xml"
            ]
          },
          {
            "name": "identity",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "Remove the specified Identity from your account. Must be an existing Identity."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Removes an Identity from your account.",
          "externalDocs": {
            "url": "http://docs.sendgrid.com/documentation/api/newsletter-api/identity/#delete"
          }
        }
      },
      "/newsletter/recipients/add.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "xml",
            "description": "Determines the response format. It can be either json for a JSON response or xml for an XML response.",
            "enum": [
              "json",
              "xml"
            ]
          },
          {
            "name": "name",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "This is the Newsletter to which you are adding Recipients Lists. Must be an existing Newsletter."
          },
          {
            "name": "list",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "This is the Recipient List that will be added to the Newsletter. Must be one or more existing Recipient Lists."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Adds one or more Recipient List to a Newsletter.",
          "externalDocs": {
            "url": "http://docs.sendgrid.com/documentation/api/newsletter-api/recipients/#add"
          }
        }
      },
      "/newsletter/recipients/get.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "xml",
            "description": "Determines the response format. It can be either json for a JSON response or xml for an XML response.",
            "enum": [
              "json",
              "xml"
            ]
          },
          {
            "name": "name",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "Retrieve the Recipient Lists of an existing Newsletter. Must be an existing Newsletter."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Retrieves the Recipient Lists associated with a Newsletter.",
          "externalDocs": {
            "url": "http://docs.sendgrid.com/documentation/api/newsletter-api/recipients/#get"
          }
        }
      },
      "/newsletter/recipients/delete.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "xml",
            "description": "Determines the response format. It can be either json for a JSON response or xml for an XML response.",
            "enum": [
              "json",
              "xml"
            ]
          },
          {
            "name": "name",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "Newsletter to remove Recipient Lists from. Must be an existing Newsletter."
          },
          {
            "name": "list",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "Recipient Lists to remove. Must be one or more existing Recipient Lists."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Removes a Recipient List from a Newsletter.",
          "externalDocs": {
            "url": "http://docs.sendgrid.com/documentation/api/newsletter-api/recipients/#delete"
          }
        }
      },
      "/newsletter/schedule/add.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "xml",
            "description": "Determines the response format. It can be either json for a JSON response or xml for an XML response.",
            "enum": [
              "json",
              "xml"
            ]
          },
          {
            "name": "name",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "Newsletter to schedule delivery for (if Newsletter should be sent now, include no additional parameters). Must be an existing Newsletter."
          },
          {
            "name": "at",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Date/Time to schedule newsletter Delivery. Date/Time must be provided in ISO 8601 format (YYYY-MM-DD HH:MM:SS +-HH:MM)."
          },
          {
            "name": "after",
            "required": false,
            "in": "query",
            "type": "integer",
            "description": "Number of minutes until delivery should occur. Must be a positive integer."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Creates a new schedule event.",
          "externalDocs": {
            "url": "http://docs.sendgrid.com/documentation/api/newsletter-api/schedule/#add"
          }
        }
      },
      "/newsletter/schedule/get.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "xml",
            "description": "Determines the response format. It can be either json for a JSON response or xml for an XML response.",
            "enum": [
              "json",
              "xml"
            ]
          },
          {
            "name": "name",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "Retrieve the delivery time scheduled for this Newsletter. Must be an existing Newsletter."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Retrieves the scheduled event associated with a Newsletter.",
          "externalDocs": {
            "url": "http://docs.sendgrid.com/documentation/api/newsletter-api/schedule/#get"
          }
        }
      },
      "/newsletter/schedule/delete.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "xml",
            "description": "Determines the response format. It can be either json for a JSON response or xml for an XML response.",
            "enum": [
              "json",
              "xml"
            ]
          },
          {
            "name": "name",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "Retrieve the delivery time scheduled for this Newsletter. Must be an existing Newsletter."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Removes a scheduled event from a Newsletter.",
          "externalDocs": {
            "url": "http://docs.sendgrid.com/documentation/api/newsletter-api/schedule/#delete"
          }
        }
      },
      "/billing.list.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "xml",
            "description": "Determines the response format. It can be either json for a JSON response or xml for an XML response.",
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "start_date",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "This is the start date to begin your invoice search from. Must be in YYYY-mm-dd format."
            },
            {
              "name": "end_date",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "This is the end date for your invoice search. Must be in YYYY-mm-dd format."
            },
            {
              "name": "status",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "This is used to specify what kind of invoice you would like returned. Must be either paid, unpaid, refunded, deferred, canceled."
            }
          ],
          "description": "Retrieve Invoice Numbers.",
          "externalDocs": {
            "url": "http://docs.sendgrid.com/documentation/api/reseller-api/v2/invoice-retrieval/"
          }
        }
      },
      "/billing.get.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "xml",
            "description": "Determines the response format. It can be either json for a JSON response or xml for an XML response.",
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "start_date",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "This is the start date to begin your invoice search from. Must be in YYYY-mm-dd format."
            },
            {
              "name": "end_date",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "This is the end date for your invoice search. Must be in YYYY-mm-dd format."
            },
            {
              "name": "status",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "This is used to specify what kind of invoice you would like returned. Must be either paid, unpaid, refunded, deferred, canceled."
            }
          ],
          "description": "Retrieve Invoices.",
          "externalDocs": {
            "url": "http://docs.sendgrid.com/documentation/api/reseller-api/v2/invoice-retrieval/"
          }
        }
      }
    },
    "info": {
      "title": "SendGrid",
      "description": "Allows SendGrid customers to retrieve account information such as statistics, bounces, spam reports, and unsubscribes."
    }
  },
  "public": true
}