{
  "type": "api",
  "key": "apigee:yahoo-weather",
  "info": {
    "title": "Yahoo Weather",
    "description": "Access up-to-date weather information for your location, including condition codes."
  },
  "swagger": {
    "swagger": "2.0",
    "host": "weather.yahooapis.com",
    "basePath": "/",
    "schemes": [
      "http"
    ],
    "paths": {
      "/forecastrss": {
        "parameters": [
          {
            "name": "w",
            "required": true,
            "in": "query",
            "type": "string",
            "default": "12797282",
            "description": "The location for the weather forecast as a WOEID, example is Palo Alto, CA."
          },
          {
            "name": "u",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Units for temperature (case sensitive). f: Fahrenheit, c: Celsius.",
            "enum": [
              "f",
              "c"
            ]
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Retrieves weather information for a location.",
          "externalDocs": {
            "url": "http://developer.yahoo.com/weather"
          }
        }
      }
    },
    "info": {
      "title": "Yahoo Weather",
      "description": "Access up-to-date weather information for your location, including condition codes."
    }
  },
  "public": true
}