{
  "type": "api",
  "key": "apigee:smsified",
  "info": {
    "title": "SMSified",
    "description": "RESTful SMS API for sending and receiving text messages"
  },
  "swagger": {
    "swagger": "2.0",
    "host": "api.smsified.com",
    "basePath": "/v1",
    "schemes": [
      "https"
    ],
    "paths": {
      "/smsmessaging/outbound/{senderAddress}/requests": {
        "parameters": [],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "address",
              "required": true,
              "in": "query",
              "type": "string",
              "default": "1234567890",
              "description": "Specifies the 10-digit phone number to send the SMS message to."
            },
            {
              "name": "message",
              "required": true,
              "in": "query",
              "type": "string",
              "default": "",
              "description": "Specifies the 160 character SMS message to deliver."
            },
            {
              "name": "notifyURL",
              "required": false,
              "in": "query",
              "type": "string",
              "default": "",
              "description": "If you want to set a callback URL for your SMS, you would use the notifyURL parameter, which will allow you to receive status information about the sent SMS (including the destination address, sender's address, the message itself and the status code). If the message was successfully delivered, the code field will always read 0; if the SMS could not be delivered, possibly due to exceeded rate limits or a bad phone number, there are a variety of additional codes to help you identify the problem."
            }
          ],
          "description": "Sends a 160 character SMS message from your SMSified phone number to any US mobile number.",
          "externalDocs": {
            "url": "http://smsified.com/sms-api-documentation/sending#sending"
          }
        }
      },
      "/smsmessaging/outbound/{senderAddress}/requests/{requestId}/deliveryInfos": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "If you want to check your delivery status before all your messages may have sent out (especially useful if you send an SMS to multiple addresses), you can pull a Delivery Status report using the requestId displayed in Response JSON. This is different than the other reporting options, as it functions in realtime - reporting only shows messages once they've successfully sent to the network or failed completely.",
          "externalDocs": {
            "url": "http://smsified.com/sms-api-documentation/sending#checking_status"
          }
        }
      },
      "/smsmessaging/outbound/{senderAddress}/subscriptions": {
        "parameters": [],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "notifyURL",
              "required": true,
              "in": "query",
              "type": "string",
              "default": "",
              "description": "Instead of setting a callback URL using the notifyURL parameter every time you send a text message, you can set an outbound subscription. With a subscription, you set the callback URL one time and tie it to the phone number, then every time a text message goes out, you'll receive the delivery notification automatically. If you set a value for notifyURL when you send a text message and also have an active subscription, the delivery info will be sent to both URLs."
            }
          ],
          "description": "If you want to check your delivery status before all your messages may have sent out (especially useful if you send an SMS to multiple addresses), you can pull a Delivery Status report using the requestId displayed in Response JSON. This is different than the other reporting options, as it functions in realtime - reporting only shows messages once they've successfully sent to the network or failed completely.",
          "externalDocs": {
            "url": "http://smsified.com/sms-api-documentation/sending#checking_status"
          }
        }
      },
      "/smsmessaging/outbound/subscriptions?senderAddress={senderAddress}": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "If you want to check your delivery status before all your messages may have sent out (especially useful if you send an SMS to multiple addresses), you can pull a Delivery Status report using the requestId displayed in Response JSON. This is different than the other reporting options, as it functions in realtime - reporting only shows messages once they've successfully sent to the network or failed completely. Note: If you omit the senderAddress, you'll see a list of all your outbound subscriptions.",
          "externalDocs": {
            "url": "http://smsified.com/sms-api-documentation/sending#checking_status"
          }
        }
      },
      "/smsmessaging/outbound/subscriptions/{subscriptionId}": {
        "parameters": [],
        "delete": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "If you want to check your delivery status before all your messages may have sent out (especially useful if you send an SMS to multiple addresses), you can pull a Delivery Status report using the requestId displayed in Response JSON. This is different than the other reporting options, as it functions in realtime - reporting only shows messages once they've successfully sent to the network or failed completely.",
          "externalDocs": {
            "url": "http://smsified.com/sms-api-documentation/sending#checking_status"
          }
        }
      },
      "/smsmessaging/inbound/subscriptions": {
        "parameters": [],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "destinationAddress",
              "required": true,
              "in": "query",
              "type": "string",
              "default": "",
              "description": "Application phone number to receive messages."
            },
            {
              "name": "notifyURL",
              "required": true,
              "in": "query",
              "type": "string",
              "default": "",
              "description": "With an inbound subscription, every time a text message is sent to the phone number associated with the subscription, the message will be sent to your URL. This is the same thing you can achieve through the User Interface (outlined in the Receiving a Text Message Quickstart), but using the API you can attach multiple URLs though multiple subscriptions."
            }
          ],
          "description": "If you want to check your delivery status before all your messages may have sent out (especially useful if you send an SMS to multiple addresses), you can pull a Delivery Status report using the requestId displayed in Response JSON. This is different than the other reporting options, as it functions in realtime - reporting only shows messages once they've successfully sent to the network or failed completely.",
          "externalDocs": {
            "url": "http://smsified.com/sms-api-documentation/receiving"
          }
        }
      },
      "/smsmessaging/inbound/subscriptions?destinationAddress={destinationAddress}": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "It's likely if you're setting subscriptions, at some point you'll want to check out which ones are tied to a particular number. A simple GET on the proper URL gets you what you need. Note: If you omit the destinationAddress, you'll see a list of all your inbound subscriptions.",
          "externalDocs": {
            "url": "http://smsified.com/sms-api-documentation/receiving"
          }
        }
      },
      "/smsmessaging/inbound/subscriptions/{subscriptionId}": {
        "parameters": [],
        "delete": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "If you can create a subscription, you'll obviously need the ability to remove one as well. A DELETE with the right URL handles this for you.",
          "externalDocs": {
            "url": "http://smsified.com/sms-api-documentation/receiving"
          }
        }
      },
      "/messages": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "SMSified also provides comprehensive reporting, both through Logs in the user interface and programmatically. Reporting can be used to retrieve information about an individual SMS or multiple SMS messages, using a variety of search and filter criteria such as date range, direction, from, to and status. To start, here's an example showing how to retrieve the information for all messages, with no search criteria or filters.",
          "externalDocs": {
            "url": "http://smsified.com/sms-api-documentation/reporting"
          }
        }
      },
      "/messages/{messageId}": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "SMSified also provides comprehensive reporting, both through Logs in the user interface and programmatically. Reporting can be used to retrieve information about an individual SMS or multiple SMS messages, using a variety of search and filter criteria such as date range, direction, from, to and status. To start, here's an example showing how to retrieve the information for all messages, with no search criteria or filters.",
          "externalDocs": {
            "url": "http://smsified.com/sms-api-documentation/reporting"
          }
        }
      },
      "/messages?startDate=2011-02-14&endDate=2011-02-15": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "SMSified also provides comprehensive reporting, both through Logs in the user interface and programmatically. Reporting can be used to retrieve information about an individual SMS or multiple SMS messages, using a variety of search and filter criteria such as date range, direction, from, to and status. To start, here's an example showing how to retrieve the information for all messages, with no search criteria or filters.",
          "externalDocs": {
            "url": "http://smsified.com/sms-api-documentation/reporting"
          }
        }
      },
      "/messages?status=fail&direction=in": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "SMSified also provides comprehensive reporting, both through Logs in the user interface and programmatically. Reporting can be used to retrieve information about an individual SMS or multiple SMS messages, using a variety of search and filter criteria such as date range, direction, from, to and status. To start, here's an example showing how to retrieve the information for all messages, with no search criteria or filters.",
          "externalDocs": {
            "url": "http://smsified.com/sms-api-documentation/reporting"
          }
        }
      }
    },
    "info": {
      "title": "SMSified",
      "description": "RESTful SMS API for sending and receiving text messages"
    }
  },
  "public": true
}