{
  "type": "api",
  "key": "apigee:google-sites",
  "info": {
    "title": "Google Sites",
    "description": "Publish and edit Sites content, including comments, revisions and pages."
  },
  "swagger": {
    "swagger": "2.0",
    "host": "sites.google.com",
    "basePath": "/feeds/",
    "schemes": [
      "https"
    ],
    "paths": {
      "/site/{domainName}": {
        "parameters": [
          {
            "name": "domainName",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "'site' or the domain of your Google Apps hosted domain (e.g. example.com)."
          },
          {
            "name": "author",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Entry author. The service returns entries where the author name and/or email address match your query string."
          },
          {
            "name": "q",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Full-text query string. \nWhen creating a query, list search terms separated by spaces, in the form q=term1 term2 term3. (As with all of the query parameter values, the spaces must be URL encoded.) The service returns all entries that match all of the search terms (like using AND between terms). Like Google's web search, a service searches on complete words (and related words with the same stem), not substrings.\nTo search for an exact phrase, enclose the phrase in quotation marks: q=\"exact phrase\".\nTo exclude entries that match a given term, use the form q=-term.\nThe search is case-insensitive."
          },
          {
            "name": "start-index",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "1-based index of the first result to be retrieved. Note that this isn't a general cursoring mechanism. If you first send a query with ?start-index=1&max-results=10 and then send another query with ?start-index=11&max-results=10, the service cannot guarantee that the results are equivalent to ?start-index=1&max-results=20, because insertions and deletions could have taken place in between the two queries."
          },
          {
            "name": "max-results",
            "required": false,
            "in": "query",
            "type": "integer",
            "minimum": -2147483648,
            "maximum": 2147483647,
            "description": "Maximum number of results to be retrieved. By default the API will return the first 100 documents and files in the user's resource list. To request more or less than 100 resources, use the max-results GET parameter with any resources feed URL. Valid values for this parameter are integers from 1 to 1000, inclusive."
          },
          {
            "name": "updated-min",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Bound on the entry update date. Use the RFC 3339 timestamp format. For example: 2005-08-09T10:57:00-08:00. The lower bound is inclusive, whereas the upper bound is exclusive. In some cases (such as when using v2.1 or newer of the Calendar Data API), specifying an updated-min that is too far in the past will cause an HTTP 410 (Gone) status to be returned."
          },
          {
            "name": "updated-max",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Bound on the entry update date. Use the RFC 3339 timestamp format. For example: 2005-08-09T10:57:00-08:00. The lower bound is inclusive, whereas the upper bound is exclusive. In some cases (such as when using v2.1 or newer of the Calendar Data API), specifying an updated-min that is too far in the past will cause an HTTP 410 (Gone) status to be returned."
          },
          {
            "name": "include-all-sites",
            "required": false,
            "in": "query",
            "type": "boolean",
            "default": false,
            "description": "List all sites that can be at least viewed by the user in the Google Apps domain. This parameter is only applicable when listing sites for a Google Apps domain. Possible values are true or false. Default is false."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "GData-Version",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "1.4",
              "description": "Specifies a version number."
            },
            {
              "name": "with-mappings",
              "required": false,
              "in": "query",
              "type": "boolean",
              "default": false,
              "description": "Includes the web address mappings in a site entry. Possible values are true or false. Default is false."
            }
          ],
          "description": "Gets the sites a user has access to.",
          "externalDocs": {
            "url": "http://code.google.com/intl/es-AR/apis/sites/docs/1.0/developers_guide_protocol.html#SitesFeedGET"
          }
        },
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "GData-Version",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "1.4",
              "description": "Specifies a version number."
            },
            {
              "name": "with-mappings",
              "required": false,
              "in": "query",
              "type": "boolean",
              "default": true,
              "description": "Includes the web address mappings in a site entry. Possible values are true or false. Default is false."
            },
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/atom+xml",
              "description": "Specifies Content Type."
            }
          ],
          "description": "To duplicate an existing site.",
          "externalDocs": {
            "url": "http://code.google.com/intl/es-AR/apis/sites/docs/1.0/developers_guide_protocol.html#SitesFeedCopySite"
          }
        },
        "put": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "GData-Version",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "1.4",
              "description": "Specifies a version number."
            },
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/atom+xml",
              "description": "Specifies Content Type."
            },
            {
              "name": "with-mappings",
              "required": false,
              "in": "query",
              "type": "boolean",
              "default": true,
              "description": "Includes the web address mappings in a site entry. Possible values are true or false. Default is false."
            }
          ],
          "description": "To add, update, or delete a mapping. To update address mappings, you need to be a site admin, or a domain admin in the case of a Google Apps hosted site.",
          "externalDocs": {
            "url": "http://code.google.com/intl/es-AR/apis/sites/docs/1.0/developers_guide_protocol.html#WebAddressMappings"
          }
        }
      },
      "/site/{domainName}/{siteName}": {
        "parameters": [
          {
            "name": "domainName",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "'site' or the domain of your Google Apps hosted domain (e.g. example.com)."
          },
          {
            "name": "siteName",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The webspace name of your site; found in the Site's URL (e.g. myCoolSite)."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "GData-Version",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "1.4",
              "description": "Specifies a version number."
            }
          ],
          "description": "Gets the site specified.",
          "externalDocs": {
            "url": "http://code.google.com/intl/es-AR/apis/sites/docs/1.0/reference.html#feed_ListSites"
          }
        },
        "put": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "GData-Version",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "1.4",
              "description": "Specifies a version number."
            },
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/atom+xml",
              "description": "Specifies Content Type."
            }
          ],
          "description": "To add or update categories metadata. This feature is only available to Google Apps domains.",
          "externalDocs": {
            "url": "http://code.google.com/intl/es-AR/apis/sites/docs/1.0/developers_guide_protocol.html#SitesFeedPUT"
          }
        }
      },
      "/activity/{domainName}/{siteName}": {
        "parameters": [
          {
            "name": "domainName",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "'site' or the domain of your Google Apps hosted domain (e.g. example.com)."
          },
          {
            "name": "siteName",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The webspace name of your site; found in the Site's URL (e.g. myCoolSite)."
          },
          {
            "name": "author",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Entry author. The service returns entries where the author name and/or email address match your query string."
          },
          {
            "name": "q",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Full-text query string. \nWhen creating a query, list search terms separated by spaces, in the form q=term1 term2 term3. (As with all of the query parameter values, the spaces must be URL encoded.) The service returns all entries that match all of the search terms (like using AND between terms). Like Google's web search, a service searches on complete words (and related words with the same stem), not substrings.\nTo search for an exact phrase, enclose the phrase in quotation marks: q=\"exact phrase\".\nTo exclude entries that match a given term, use the form q=-term.\nThe search is case-insensitive."
          },
          {
            "name": "start-index",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "1-based index of the first result to be retrieved. Note that this isn't a general cursoring mechanism. If you first send a query with ?start-index=1&max-results=10 and then send another query with ?start-index=11&max-results=10, the service cannot guarantee that the results are equivalent to ?start-index=1&max-results=20, because insertions and deletions could have taken place in between the two queries."
          },
          {
            "name": "max-results",
            "required": false,
            "in": "query",
            "type": "integer",
            "minimum": -2147483648,
            "maximum": 2147483647,
            "description": "Maximum number of results to be retrieved. By default the API will return the first 100 documents and files in the user's resource list. To request more or less than 100 resources, use the max-results GET parameter with any resources feed URL. Valid values for this parameter are integers from 1 to 1000, inclusive."
          },
          {
            "name": "updated-min",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Bound on the entry update date. Use the RFC 3339 timestamp format. For example: 2005-08-09T10:57:00-08:00. The lower bound is inclusive, whereas the upper bound is exclusive. In some cases (such as when using v2.1 or newer of the Calendar Data API), specifying an updated-min that is too far in the past will cause an HTTP 410 (Gone) status to be returned."
          },
          {
            "name": "updated-max",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Bound on the entry update date. Use the RFC 3339 timestamp format. For example: 2005-08-09T10:57:00-08:00. The lower bound is inclusive, whereas the upper bound is exclusive. In some cases (such as when using v2.1 or newer of the Calendar Data API), specifying an updated-min that is too far in the past will cause an HTTP 410 (Gone) status to be returned."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "GData-Version",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "1.4",
              "description": "Specifies a version number."
            }
          ],
          "description": "Gets all activites within a site.",
          "externalDocs": {
            "url": "http://code.google.com/intl/es-AR/apis/sites/docs/1.0/developers_guide_protocol.html#ActivityFeed"
          }
        }
      },
      "/activity/{domainName}/{siteName}/{activityEntryID}": {
        "parameters": [
          {
            "name": "domainName",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "'site' or the domain of your Google Apps hosted domain (e.g. example.com)."
          },
          {
            "name": "siteName",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The webspace name of your site; found in the Site's URL (e.g. myCoolSite)."
          },
          {
            "name": "activityEntryID",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Specifies Activity Entry ID.}"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "GData-Version",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "1.4",
              "description": "Specifies a version number."
            }
          ],
          "description": "Gets a specifies activites within a site.",
          "externalDocs": {
            "url": "http://code.google.com/intl/es-AR/apis/sites/docs/1.0/developers_guide_protocol.html#ActivityFeed"
          }
        }
      },
      "/revision/{domainName}/{siteName}/{contentEntryID}": {
        "parameters": [
          {
            "name": "domainName",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "'site' or the domain of your Google Apps hosted domain (e.g. example.com)."
          },
          {
            "name": "siteName",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The webspace name of your site; found in the Site's URL (e.g. myCoolSite)."
          },
          {
            "name": "contentEntryID",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Specifies Content Entry ID."
          },
          {
            "name": "author",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Entry author. The service returns entries where the author name and/or email address match your query string."
          },
          {
            "name": "q",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Full-text query string. \nWhen creating a query, list search terms separated by spaces, in the form q=term1 term2 term3. (As with all of the query parameter values, the spaces must be URL encoded.) The service returns all entries that match all of the search terms (like using AND between terms). Like Google's web search, a service searches on complete words (and related words with the same stem), not substrings.\nTo search for an exact phrase, enclose the phrase in quotation marks: q=\"exact phrase\".\nTo exclude entries that match a given term, use the form q=-term.\nThe search is case-insensitive."
          },
          {
            "name": "start-index",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "1-based index of the first result to be retrieved. Note that this isn't a general cursoring mechanism. If you first send a query with ?start-index=1&max-results=10 and then send another query with ?start-index=11&max-results=10, the service cannot guarantee that the results are equivalent to ?start-index=1&max-results=20, because insertions and deletions could have taken place in between the two queries."
          },
          {
            "name": "max-results",
            "required": false,
            "in": "query",
            "type": "integer",
            "minimum": -2147483648,
            "maximum": 2147483647,
            "description": "Maximum number of results to be retrieved. By default the API will return the first 100 documents and files in the user's resource list. To request more or less than 100 resources, use the max-results GET parameter with any resources feed URL. Valid values for this parameter are integers from 1 to 1000, inclusive."
          },
          {
            "name": "updated-min",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Bound on the entry update date. Use the RFC 3339 timestamp format. For example: 2005-08-09T10:57:00-08:00. The lower bound is inclusive, whereas the upper bound is exclusive. In some cases (such as when using v2.1 or newer of the Calendar Data API), specifying an updated-min that is too far in the past will cause an HTTP 410 (Gone) status to be returned."
          },
          {
            "name": "updated-max",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Bound on the entry update date. Use the RFC 3339 timestamp format. For example: 2005-08-09T10:57:00-08:00. The lower bound is inclusive, whereas the upper bound is exclusive. In some cases (such as when using v2.1 or newer of the Calendar Data API), specifying an updated-min that is too far in the past will cause an HTTP 410 (Gone) status to be returned."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "GData-Version",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "1.4",
              "description": "Specifies a version number."
            }
          ],
          "description": "To fetch the revision history for any content entry.",
          "externalDocs": {
            "url": "http://code.google.com/intl/es-AR/apis/sites/docs/1.0/developers_guide_protocol.html#RevisionHistory"
          }
        }
      },
      "/revision/{domainName}/{siteName}/{contentEntryID}/{revisionEntryID}": {
        "parameters": [
          {
            "name": "domainName",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "'site' or the domain of your Google Apps hosted domain (e.g. example.com)."
          },
          {
            "name": "siteName",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The webspace name of your site; found in the Site's URL (e.g. myCoolSite)."
          },
          {
            "name": "contentEntryID",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Specifies Content Entry ID."
          },
          {
            "name": "revisionEntryID",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Specifies an Revision Entry ID."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "GData-Version",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "1.4",
              "description": "Specifies a version number."
            }
          ],
          "description": "To fetch a specify revision for any content entry.",
          "externalDocs": {
            "url": "http://code.google.com/intl/es-AR/apis/sites/docs/1.0/developers_guide_protocol.html#RevisionHistory"
          }
        }
      },
      "/content/{domainName}/{siteName}": {
        "parameters": [
          {
            "name": "domainName",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "'site' or the domain of your Google Apps hosted domain (e.g. example.com)."
          },
          {
            "name": "siteName",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The webspace name of your site; found in the Site's URL (e.g. myCoolSite)."
          },
          {
            "name": "author",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Entry author. The service returns entries where the author name and/or email address match your query string."
          },
          {
            "name": "q",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Full-text query string. \nWhen creating a query, list search terms separated by spaces, in the form q=term1 term2 term3. (As with all of the query parameter values, the spaces must be URL encoded.) The service returns all entries that match all of the search terms (like using AND between terms). Like Google's web search, a service searches on complete words (and related words with the same stem), not substrings.\nTo search for an exact phrase, enclose the phrase in quotation marks: q=\"exact phrase\".\nTo exclude entries that match a given term, use the form q=-term.\nThe search is case-insensitive."
          },
          {
            "name": "start-index",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "1-based index of the first result to be retrieved. Note that this isn't a general cursoring mechanism. If you first send a query with ?start-index=1&max-results=10 and then send another query with ?start-index=11&max-results=10, the service cannot guarantee that the results are equivalent to ?start-index=1&max-results=20, because insertions and deletions could have taken place in between the two queries."
          },
          {
            "name": "max-results",
            "required": false,
            "in": "query",
            "type": "integer",
            "minimum": -2147483648,
            "maximum": 2147483647,
            "description": "Maximum number of results to be retrieved. By default the API will return the first 100 documents and files in the user's resource list. To request more or less than 100 resources, use the max-results GET parameter with any resources feed URL. Valid values for this parameter are integers from 1 to 1000, inclusive."
          },
          {
            "name": "updated-min",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Bound on the entry update date. Use the RFC 3339 timestamp format. For example: 2005-08-09T10:57:00-08:00. The lower bound is inclusive, whereas the upper bound is exclusive. In some cases (such as when using v2.1 or newer of the Calendar Data API), specifying an updated-min that is too far in the past will cause an HTTP 410 (Gone) status to be returned."
          },
          {
            "name": "updated-max",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Bound on the entry update date. Use the RFC 3339 timestamp format. For example: 2005-08-09T10:57:00-08:00. The lower bound is inclusive, whereas the upper bound is exclusive. In some cases (such as when using v2.1 or newer of the Calendar Data API), specifying an updated-min that is too far in the past will cause an HTTP 410 (Gone) status to be returned."
          },
          {
            "name": "published-min",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Bound on the entry publication date. Use the RFC 3339 timestamp format. For example: 2005-08-09T10:57:00-08:00. The lower bound is inclusive, whereas the upper bound is exclusive."
          },
          {
            "name": "published-max",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Bound on the entry publication date. Use the RFC 3339 timestamp format. For example: 2005-08-09T10:57:00-08:00. The lower bound is inclusive, whereas the upper bound is exclusive."
          },
          {
            "name": "ancestor",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Requests only entries that have the specified ancestor. Provide the ID of the desired ancestor entry. For example: 0123456789. Returns all entries that have the specified ancestor as a parent, a parent's parent, and so on."
          },
          {
            "name": "include-deleted",
            "required": false,
            "in": "query",
            "type": "boolean",
            "default": false,
            "description": "Specifies whether to include deleted entries. Possible values are true or false. Default is false."
          },
          {
            "name": "include-draft",
            "required": false,
            "in": "query",
            "type": "boolean",
            "default": false,
            "description": "Specifies whether to include draft entries. Possible values are true or false. Default is false. You need to be the owner or author of the draft to view it."
          },
          {
            "name": "kind",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Specifies the kind(s) of content entries to return. These follow the type of page within Google Sites.",
            "enum": [
              "announcement",
              "announcementspage",
              "attachment",
              "comment",
              "filecabinet",
              "listitem",
              "listpage",
              "webpage",
              "webattachment",
              "template"
            ]
          },
          {
            "name": "parent",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Requests only entries that have the specified parent. Provide the ID of the parent entry. For example: 0123456789."
          },
          {
            "name": "path",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Requests content under a certain page hierarchy. The path to a subpage within a Site to fetch content for. For example: path=/path/to/page."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "GData-Version",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "1.4",
              "description": "Specifies a version number."
            }
          ],
          "description": "Lists a Sites's current content.",
          "externalDocs": {
            "url": "http://code.google.com/intl/es-AR/apis/sites/docs/1.0/developers_guide_protocol.html#ContentFeedGET"
          }
        },
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "GData-Version",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "1.4",
              "description": "Specifies a version number."
            },
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/atom+xml",
              "description": "Specifies Content Type."
            }
          ],
          "description": "Web attachments are special kinds of attachments. Essentially, they're links to other files on the web that you can add to your filecabinet listings.",
          "externalDocs": {
            "url": "http://code.google.com/intl/es-AR/apis/sites/docs/1.0/developers_guide_protocol.html#UploadingWebAttachments"
          }
        }
      },
      "/content/{domainName}/{siteName}/{contentEntryID}": {
        "parameters": [
          {
            "name": "domainName",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "'site' or the domain of your Google Apps hosted domain (e.g. example.com)."
          },
          {
            "name": "siteName",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The webspace name of your site; found in the Site's URL (e.g. myCoolSite)."
          },
          {
            "name": "contentEntryID",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Specifies Content Entry ID."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "GData-Version",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "1.4",
              "description": "Specifies a version number."
            }
          ],
          "description": "Get a specific content.",
          "externalDocs": {
            "url": "http://code.google.com/intl/es-AR/apis/sites/docs/1.0/reference.html#feed_Content"
          }
        }
      },
      "/content/{domainName}/{siteName}/{entryID}": {
        "parameters": [
          {
            "name": "domainName",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "'site' or the domain of your Google Apps hosted domain (e.g. example.com)."
          },
          {
            "name": "siteName",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The webspace name of your site; found in the Site's URL (e.g. myCoolSite)."
          },
          {
            "name": "entryID",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Specifies entry ID."
          }
        ],
        "put": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "GData-Version",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "1.4",
              "description": "Specifies a version number."
            },
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/atom+xml",
              "description": "Specifies Content Type."
            }
          ],
          "description": "To update an entry's metadata or HTML content.",
          "externalDocs": {
            "url": "http://code.google.com/intl/es-AR/apis/sites/docs/1.0/developers_guide_protocol.html#UpdatingPageFile"
          }
        },
        "delete": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "GData-Version",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "1.4",
              "description": "Specifies a version number."
            },
            {
              "name": "If-Match",
              "required": false,
              "in": "header",
              "type": "string",
              "description": "ETag or * here."
            }
          ],
          "description": "To remove an item from a Google Site.",
          "externalDocs": {
            "url": "http://code.google.com/intl/es-AR/apis/sites/docs/1.0/developers_guide_protocol.html#DeletingContent"
          }
        }
      },
      "/media/content/{domainName}/{siteName}/{attchmentEntryID}": {
        "parameters": [
          {
            "name": "domainName",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "'site' or the domain of your Google Apps hosted domain (e.g. example.com)."
          },
          {
            "name": "siteName",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The webspace name of your site; found in the Site's URL (e.g. myCoolSite)."
          },
          {
            "name": "attchmentEntryID",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Specifies Attchment Entry ID."
          }
        ],
        "put": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "GData-Version",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "1.4",
              "description": "Specifies a version number."
            },
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "multipart/related; boundary=END_OF_PART",
              "description": "Specifies Content Type."
            }
          ],
          "description": "To update both an attachment's metadata and its content at the same time.",
          "externalDocs": {
            "url": "http://code.google.com/intl/es-AR/apis/sites/docs/1.0/developers_guide_protocol.html#UpdatingMetadataAndContent"
          }
        }
      },
      "/acl/site/{domainName}/{siteName}": {
        "parameters": [
          {
            "name": "domainName",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "'site' or the domain of your Google Apps hosted domain (e.g. example.com)."
          },
          {
            "name": "siteName",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The webspace name of your site; found in the Site's URL (e.g. myCoolSite)."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "GData-Version",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "1.4",
              "description": "Specifies a version number."
            }
          ],
          "description": "To retrieve a site's sharing permissions.",
          "externalDocs": {
            "url": "http://code.google.com/intl/es-AR/apis/sites/docs/1.0/developers_guide_protocol.html#AclFeedGET"
          }
        },
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "GData-Version",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "1.4",
              "description": "Specifies a version number."
            },
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/atom+xml",
              "description": "Specifies Content Type."
            }
          ],
          "description": "To insert a new role into the ACL feed.",
          "externalDocs": {
            "url": "http://code.google.com/intl/es-AR/apis/sites/docs/1.0/developers_guide_protocol.html#AclFeedPOST"
          }
        }
      },
      "/acl/site/{domainName}/{siteName}/user%3A{user_mail}": {
        "parameters": [
          {
            "name": "domainName",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "'site' or the domain of your Google Apps hosted domain (e.g. example.com)."
          },
          {
            "name": "siteName",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The webspace name of your site; found in the Site's URL (e.g. myCoolSite)."
          },
          {
            "name": "user_mail",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "User mail. Example: new_writer%40example.com."
          }
        ],
        "put": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "GData-Version",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "1.4",
              "description": "Specifies a version number."
            },
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/atom+xml",
              "description": "Specifies Content Type."
            }
          ],
          "description": "To update an ACL entry.",
          "externalDocs": {
            "url": "http://code.google.com/intl/es-AR/apis/sites/docs/1.0/developers_guide_protocol.html#AclFeedPUT"
          }
        },
        "delete": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "GData-Version",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "1.4",
              "description": "Specifies a version number."
            }
          ],
          "description": "To remove permissions for an user.",
          "externalDocs": {
            "url": "http://code.google.com/intl/es-AR/apis/sites/docs/1.0/developers_guide_protocol.html#AclFeedDELETE"
          }
        }
      },
      "/content/{domainName}/{siteName}/batch": {
        "parameters": [
          {
            "name": "domainName",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "'site' or the domain of your Google Apps hosted domain (e.g. example.com)."
          },
          {
            "name": "siteName",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The webspace name of your site; found in the Site's URL (e.g. myCoolSite)."
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "GData-Version",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "1.4",
              "description": "Specifies a version number."
            },
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/atom+xml",
              "description": "Specifies Content Type."
            }
          ],
          "description": "Batch requests gives your client the ability to execute multiple operations in one request, rather than submitting each operation individually.",
          "externalDocs": {
            "url": "http://code.google.com/intl/es-AR/apis/sites/docs/1.0/developers_guide_protocol.html#BatchProcessing"
          }
        }
      }
    },
    "info": {
      "title": "Google Sites",
      "description": "Publish and edit Sites content, including comments, revisions and pages."
    }
  },
  "public": true
}