{
  "type": "api",
  "key": "apigee:google-latitude",
  "info": {
    "title": "Google Latitude",
    "description": "Let your users update and read their current location, history and more."
  },
  "swagger": {
    "swagger": "2.0",
    "host": "www.googleapis.com",
    "basePath": "/latitude/v1",
    "schemes": [
      "https"
    ],
    "paths": {
      "/location": {
        "parameters": [
          {
            "name": "fields",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Selector specifying which fields to include in a partial response."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "granularity",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Granularity of the requested locations.",
              "enum": [
                "city",
                "best"
              ]
            },
            {
              "name": "max-results",
              "required": false,
              "in": "query",
              "type": "integer",
              "minimum": -2147483648,
              "maximum": 2147483647,
              "description": "Maximum number of locations to return."
            },
            {
              "name": "max-time",
              "required": false,
              "in": "query",
              "type": "integer",
              "minimum": -2147483648,
              "maximum": 2147483647,
              "description": "Maximum timestamp of locations to return (ms since epoch)."
            },
            {
              "name": "min-time",
              "required": false,
              "in": "query",
              "type": "integer",
              "minimum": -2147483648,
              "maximum": 2147483647,
              "description": "Minimum timestamp of locations to return (ms since epoch)."
            }
          ],
          "description": "Returns a list of Location Resources representing past locations of the authenticated user.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/apis/latitude/v1/reference.html#method_latitude_location_list"
          }
        },
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/json",
              "description": "Specifies Content Type."
            }
          ],
          "description": "Creates or updates the specified Location Resource in the authenticated user's location history using the data included in the request.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/apis/latitude/v1/reference.html#method_latitude_location_insert"
          }
        }
      },
      "/location/{locationId}": {
        "parameters": [
          {
            "name": "locationId",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Timestamp of the location to read (ms since epoch)."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "granularity",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Granularity of the requested locations.",
              "enum": [
                "city",
                "best"
              ]
            },
            {
              "name": "fields",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Selector specifying which fields to include in a partial response."
            }
          ],
          "description": "Returns the specified Location Resource from the authenticated user's location history.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/apis/latitude/v1/reference.html#method_latitude_location_get"
          }
        },
        "delete": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Deletes the specified Location Resource from the authenticated user's location history.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/apis/latitude/v1/reference.html#method_latitude_location_delete"
          }
        }
      },
      "/currentLocation": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "granularity",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Granularity of the requested locations.",
              "enum": [
                "city",
                "best"
              ]
            },
            {
              "name": "fields",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Selector specifying which fields to include in a partial response."
            }
          ],
          "description": "Returns the Location Resource that represent the authenticated user's current location.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/apis/latitude/v1/reference.html#method_latitude_currentLocation_get"
          }
        },
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "fields",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "Selector specifying which fields to include in a partial response."
            },
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/json",
              "description": "Specifies Content Type."
            }
          ],
          "description": "Updates or creates the single Location Resource of the authenticated user's Current Location Collection using the data included in the request. A copy of the same location is automatically added to the location history.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/apis/latitude/v1/reference.html#method_latitude_currentLocation_insert"
          }
        },
        "delete": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Deletes the single Location Resource of the authenticated user's Current Location Collection.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/apis/latitude/v1/reference.html#method_latitude_currentLocation_delete"
          }
        }
      }
    },
    "info": {
      "title": "Google Latitude",
      "description": "Let your users update and read their current location, history and more."
    }
  },
  "public": true
}