{
  "type": "api",
  "key": "apigee:apigee--api",
  "info": {
    "title": "Apigee Edge API",
    "description": "RESTful management API to create, configure, and manage API proxies and API products, create and manage apps and app developers, and more."
  },
  "swagger": {
    "swagger": "2.0",
    "host": "api.enterprise.apigee.com",
    "basePath": "/v1",
    "schemes": [
      "https"
    ],
    "paths": {
      "/organizations": {
        "parameters": [],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/json",
              "description": "Specify the content type"
            }
          ],
          "description": "Creates an organization."
        },
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Lists all the organizations."
        }
      },
      "/organizations/{org_name}": {
        "parameters": [
          {
            "name": "org_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the organization name"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Gets a specific organization.",
          "externalDocs": {
            "url": "http://apigee.com/docs/api/api_methods/61-get-organization"
          }
        },
        "put": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/json",
              "description": "Specify the content type"
            }
          ],
          "description": "Updates the description of a specific organization."
        },
        "delete": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Deletes a specific organization."
        }
      },
      "/organizations/{org_name}/deployments": {
        "parameters": [
          {
            "name": "org_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the organization name"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Gets all deployments of an organization."
        }
      },
      "/organizations/{org_name}/pods": {
        "parameters": [
          {
            "name": "org_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the organization name"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Gets all the pods associated with an organization."
        },
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [],
          "description": "Disassociates a pod from an organization."
        }
      },
      "/organizations/{org_name}/environments": {
        "parameters": [
          {
            "name": "org_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the organization name"
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/json",
              "description": "Specify the content type"
            }
          ],
          "description": "Creates an environment."
        },
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Lists all the environments in an organization.",
          "externalDocs": {
            "url": "http://apigee.com/docs/api/api_methods/21-list-environments"
          }
        }
      },
      "/organizations/{org_name}/environments/{env_name}": {
        "parameters": [
          {
            "name": "org_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the organization name"
          },
          {
            "name": "env_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the environment name"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Gets details for an environment.",
          "externalDocs": {
            "url": "http://apigee.com/docs/api/api_methods/113-get-environment"
          }
        },
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/json",
              "description": "Specify the content type"
            }
          ],
          "description": "Updates an environment."
        },
        "delete": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Deletes a specific environment in an organization."
        }
      },
      "/organizations/{org_name}/environments/{env_name}/deployments": {
        "parameters": [
          {
            "name": "org_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the organization name"
          },
          {
            "name": "env_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the environment name"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Gets the deployments for an environment in an organization."
        }
      },
      "/organizations/{org_name}/environments/{env_name}/apis/{api_name}/deployments": {
        "parameters": [
          {
            "name": "org_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the organization name"
          },
          {
            "name": "env_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the environment name"
          },
          {
            "name": "api_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the API Proxy name"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Gets the deployments for an API Proxy in the given environment in an organization."
        }
      },
      "/organizations/{org_name}/environments/{env_name}/apis/{api_name}/revisions/{revision_number}/deployments": {
        "parameters": [
          {
            "name": "org_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the organization name"
          },
          {
            "name": "env_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the environment name"
          },
          {
            "name": "api_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the API Proxy name"
          },
          {
            "name": "revision_number",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the revision"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Gets the deployments for an API Proxy’s revision for an environment in an organization."
        }
      },
      "/organizations/{org_name}/environments/{env_name}/servers": {
        "parameters": [
          {
            "name": "org_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the organization name"
          },
          {
            "name": "env_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the environment name"
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [],
          "description": "Add servers into the environment."
        },
        "delete": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Deletes servers from the environment."
        },
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Gets the servers that are bound to an environment."
        }
      },
      "/organizations/{org_name}/environments/{env_name}/virtualhosts": {
        "parameters": [
          {
            "name": "org_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the organization name"
          },
          {
            "name": "env_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the environment name"
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/json",
              "description": "Specify the content type"
            }
          ],
          "description": "Creates a virtual host."
        },
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Lists all virtual hosts in an environment.",
          "externalDocs": {
            "url": "http://apigee.com/docs/api/api_methods/22-list-virtual-hosts-for-an-environment"
          }
        }
      },
      "/organizations/{org_name}/environments/{env_name}/virtualhosts/{virtualhost_name}": {
        "parameters": [
          {
            "name": "org_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the organization name"
          },
          {
            "name": "env_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the environment name"
          },
          {
            "name": "virtualhost_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the virtual host name"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Gets details for a named virtual host .",
          "externalDocs": {
            "url": "http://apigee.com/docs/api/api_methods/23-get-a-virtual-host-for-an-environment"
          }
        },
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/json",
              "description": "Specify the content type"
            }
          ],
          "description": "Updates a specific virtual host in an environment."
        },
        "delete": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Deletes a specific virtual host in an environment."
        }
      },
      "/organizations/{org_name}/apis/{api_name}/revisions/{revision_number}/deployments": {
        "parameters": [
          {
            "name": "org_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the organization name"
          },
          {
            "name": "api_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the API Proxy name"
          },
          {
            "name": "revision_number",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the API Proxy revision number"
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/octet-stream",
              "description": "Specify content type."
            },
            {
              "name": "action",
              "required": true,
              "in": "query",
              "type": "string",
              "default": "undeploy",
              "description": "Specify the action."
            },
            {
              "name": "env",
              "required": true,
              "in": "query",
              "type": "string",
              "default": "",
              "description": "Specify environment name."
            }
          ],
          "description": "Undeploys an API proxy revision from an environment.",
          "externalDocs": {
            "url": "http://apigee.com/docs/api/api_methods/26-undeploy-a-revision-of-an-api-proxy-from-an-environment"
          }
        }
      },
      "/organizations/{org_name}/apis": {
        "parameters": [
          {
            "name": "org_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the organization name"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Gets all APIs in an organization.",
          "externalDocs": {
            "url": "http://apigee.com/docs/api/api_methods/1-list-apis"
          }
        },
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "multipart/form-data",
              "description": "Specify content type."
            },
            {
              "name": "action",
              "required": true,
              "in": "query",
              "type": "string",
              "default": "import",
              "description": "Specify the action."
            },
            {
              "name": "name",
              "required": true,
              "in": "query",
              "type": "string",
              "default": "",
              "description": "Specify API Proxy name."
            }
          ],
          "description": "Uploads a ZIP-formatted API proxy configuration bundle from a local machine to an organization on the API Platform.",
          "externalDocs": {
            "url": "http://apigee.com/docs/api/api_methods/24-import-an-api-proxy"
          }
        }
      },
      "/organizations/{org_name}/apis/{api_name}": {
        "parameters": [
          {
            "name": "org_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the organization name"
          },
          {
            "name": "api_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the API Proxy name"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Gets an API proxy by name, providing a list of existing revisions of the API proxy configuration.",
          "externalDocs": {
            "url": "http://apigee.com/docs/api/api_methods/104-get-an-api-proxy"
          }
        },
        "delete": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Deletes an API and all associated endpoints, policies, resources, and revisions.",
          "externalDocs": {
            "url": "http://apigee.com/docs/api/api_methods/3-delete-an-api"
          }
        }
      },
      "/organizations/{org_name}/apis/{api_name}/revisions/revision_number": {
        "parameters": [
          {
            "name": "org_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the organization name"
          },
          {
            "name": "api_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the API Proxy name"
          },
          {
            "name": "revision_number",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the revision number"
          }
        ],
        "put": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/json",
              "description": "Specify the Content Type"
            }
          ],
          "description": "Use the POST method to update a specific API proxy in an organization.",
          "externalDocs": {
            "url": "http://apigee.com/docs/api/api_methods/2-update-an-api"
          }
        }
      },
      "/organizations/{org_name}/apis/{api_name}/revisions/{revision_number}": {
        "parameters": [
          {
            "name": "org_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the organization name"
          },
          {
            "name": "api_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the API Proxy name"
          },
          {
            "name": "revision_number",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the API Proxy revision"
          }
        ],
        "delete": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Deletes a specific revision of an API.",
          "externalDocs": {
            "url": "http://apigee.com/docs/api/api_methods/27-delete-an-api-proxy-revision"
          }
        },
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "format",
              "required": true,
              "in": "query",
              "type": "string",
              "default": "bundle"
            }
          ],
          "description": "Exports an API from Apigee to the local machine a ZIP bundle of config and code files..",
          "externalDocs": {
            "url": "http://apigee.com/docs/api/api_methods/105-export-an-api-proxy"
          }
        }
      },
      "/organizations/{org_name}/apis/{api_name}/deployments": {
        "parameters": [
          {
            "name": "org_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the organization name"
          },
          {
            "name": "api_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the API Proxy name"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns detail on deployments of the API specified.",
          "externalDocs": {
            "url": "http://apigee.com/docs/api/api_methods/18-get-deployments-for-an-api-proxy"
          }
        }
      },
      "/organizations/{org_name}/apis/{api_name}/revisions/{revision_name}/deployments": {
        "parameters": [
          {
            "name": "org_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the organization name"
          },
          {
            "name": "api_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the API Proxy name"
          },
          {
            "name": "revision_number",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the API Proxy revision"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Get deployments for a revision of an API proxy.",
          "externalDocs": {
            "url": "http://apigee.com/docs/api/api_methods/19-get-deployments-for-an-api-proxy-revision"
          }
        }
      },
      "/organizations/{org_name}/apiproducts": {
        "parameters": [
          {
            "name": "org_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the Organization name"
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/json",
              "description": "Specify the Content Type"
            }
          ],
          "description": "Create an API product: a list of API resources combined with Quota settings that you can use to deliver customized API bundles to your developers.",
          "externalDocs": {
            "url": "http://apigee.com/docs/api/api_methods/16-create-an-api-product"
          }
        },
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Lists all API products by name for an organization.",
          "externalDocs": {
            "url": "http://apigee.com/docs/api/api_methods/4-list-api-products"
          }
        }
      },
      "/organizations/{org_name}/apiproducts/{apiproduct_name}": {
        "parameters": [
          {
            "name": "org_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the organization name"
          },
          {
            "name": "apiproduct_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the API Product name"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "query",
              "required": true,
              "in": "query",
              "type": "string",
              "default": "list",
              "description": "Query type count."
            },
            {
              "name": "entity",
              "required": true,
              "in": "query",
              "type": "string",
              "default": "keys/apps/developers/companies",
              "description": "Specify the entity."
            }
          ],
          "description": "Gets the list of keys/apps/developers for an API product of an organization.",
          "externalDocs": {
            "url": "http://apigee.com/docs/api/api_methods/11-get-list-of-keys-apps-developers-or-companies-for-an-api-product"
          }
        },
        "put": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/json",
              "description": "Specify the Content Type"
            }
          ],
          "description": "This method updates an existing API product.",
          "externalDocs": {
            "url": "http://apigee.com/docs/api/api_methods/12-update-api-product"
          }
        },
        "delete": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Deletes an API product.",
          "externalDocs": {
            "url": "http://apigee.com/docs/api/api_methods/13-delete-an-api-product"
          }
        }
      },
      "/organizations/{org_name}/developers": {
        "parameters": [
          {
            "name": "org_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the organization name"
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/json",
              "description": "Specify the Content Type"
            }
          ],
          "description": "Create a developer in an organization .",
          "externalDocs": {
            "url": "http://apigee.com/docs/api/api_methods/32-create-a-developer"
          }
        },
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "registeredat",
              "required": true,
              "in": "query",
              "type": "string",
              "default": "{register_date}",
              "description": "Mention the registered date"
            }
          ],
          "description": "Gets the developer profile by registered date."
        }
      },
      "/organizations/{org_name}/developers/{developer_name}": {
        "parameters": [
          {
            "name": "org_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the organization name"
          },
          {
            "name": "developer_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the developer email"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "query",
              "required": true,
              "in": "query",
              "type": "string",
              "default": "count",
              "description": "Query type count."
            },
            {
              "name": "entity",
              "required": true,
              "in": "query",
              "type": "string",
              "default": "apps",
              "description": "Specify the entity."
            }
          ],
          "description": "Get a count of apps by developer email address.",
          "externalDocs": {
            "url": "http://apigee.com/docs/api/api_methods/35-get-count-of-apps-by-developer"
          }
        },
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/octet-stream",
              "description": "Specify Content Type."
            },
            {
              "name": "action",
              "required": true,
              "in": "query",
              "type": "string",
              "default": "{status}",
              "description": "Set the status."
            }
          ],
          "description": "Sets the status of a developer.",
          "externalDocs": {
            "url": "http://apigee.com/docs/api/api_methods/40-set-a-developer-s-status"
          }
        },
        "put": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/json",
              "description": "Specify the Content Type"
            }
          ],
          "description": "Update an existing developer profile with new values or additional attributes.",
          "externalDocs": {
            "url": "http://apigee.com/docs/api/api_methods/38-update-a-developer"
          }
        },
        "delete": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Deletes a developer from an Organization.",
          "externalDocs": {
            "url": "http://apigee.com/docs/api/api_methods/39-delete-a-developer"
          }
        }
      },
      "/organizations/{org_name}/developers/{developer_email}/apps": {
        "parameters": [
          {
            "name": "org_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the organization name"
          },
          {
            "name": "developer_email",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the developer email"
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/json",
              "description": "Specify the Content Type"
            }
          ],
          "description": "Creates an app associated with a developer.",
          "externalDocs": {
            "url": "http://apigee.com/docs/api/api_methods/14-create-a-developer-app"
          }
        },
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "expand",
              "required": true,
              "in": "query",
              "type": "string",
              "default": "",
              "description": "Mention expand value as true"
            }
          ],
          "description": "Provides an expanded view of a developer's collection of apps .",
          "externalDocs": {
            "url": "http://apigee.com/docs/api/api_methods/96-list-developer-apps-expanded"
          }
        }
      },
      "/organizations/{org_name}/developers/{developer_email}/apps/{app_name}": {
        "parameters": [
          {
            "name": "org_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the organization name"
          },
          {
            "name": "developer_email",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the developer email"
          },
          {
            "name": "app_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the app name"
          }
        ],
        "put": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/json",
              "description": "Specify the Content Type"
            }
          ],
          "description": "Updates the app to get a new set of consumer credentials.",
          "externalDocs": {
            "url": "http://apigee.com/docs/api/api_methods/30-update-a-developer-app"
          }
        },
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "query",
              "required": true,
              "in": "query",
              "type": "string",
              "default": "count",
              "description": "Set query value to count."
            },
            {
              "name": "entity",
              "required": true,
              "in": "query",
              "type": "string",
              "default": "apiresources",
              "description": "Specify the entity as API resources."
            }
          ],
          "description": "Gets a count of all API resources in the API products accessible by a developer app .",
          "externalDocs": {
            "url": "http://apigee.com/docs/api/api_methods/133-gets-the-count-of-api-resources-defined-in-all-api-products-approved-for-a-developer-app-in-an-organization"
          }
        },
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/octet-stream",
              "description": "Specify Content Type."
            },
            {
              "name": "action",
              "required": true,
              "in": "query",
              "type": "string",
              "default": "revoke",
              "description": "Mention action as revoke"
            }
          ],
          "description": "Revokes a Developer App, disabling access to all API Products .",
          "externalDocs": {
            "url": "http://apigee.com/docs/api/api_methods/97-revoke-a-developer-app"
          }
        },
        "delete": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Delete a Developer's App.",
          "externalDocs": {
            "url": "http://apigee.com/docs/api/api_methods/31-delete-a-developer-app"
          }
        }
      },
      "/organizations/{org_name}/developers/{developer_email}/apps/{app_name}/keys/{consumer_key}": {
        "parameters": [
          {
            "name": "org_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the organization name"
          },
          {
            "name": "developer_email",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the Developer Email"
          },
          {
            "name": "app_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the app name"
          },
          {
            "name": "consumer_key",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the consumer key"
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/octet-stream",
              "description": "Specify Content Type."
            },
            {
              "name": "action",
              "required": true,
              "in": "query",
              "type": "string",
              "default": "revoke",
              "description": "Mention action as revoke"
            }
          ],
          "description": "Revokes a developer app key.",
          "externalDocs": {
            "url": "http://apigee.com/docs/api/api_methods/92-revoke-a-developer-app-key"
          }
        },
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns details for a consumer key for a developer app .",
          "externalDocs": {
            "url": "http://apigee.com/docs/api/api_methods/90-get-the-consumer-key-for-a-developer-app"
          }
        },
        "delete": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Deletes a consumer key that belongs to an app.",
          "externalDocs": {
            "url": "http://apigee.com/docs/api/api_methods/91-delete-a-developer-app-key"
          }
        }
      },
      "/organizations/{org_name}/developers/{developer_email}/apps/{app_name}/keys/{consumer_key}/apiproducts/{apiproduct_name}": {
        "parameters": [
          {
            "name": "org_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the organization name"
          },
          {
            "name": "developer_email",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the developer email"
          },
          {
            "name": "app_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the app name"
          },
          {
            "name": "consumer_key",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the app name"
          },
          {
            "name": "apiproduct_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the API Product name"
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/octet-stream",
              "description": "Specify Content Type."
            },
            {
              "name": "action",
              "required": true,
              "in": "query",
              "type": "string",
              "default": "revoke",
              "description": "Mention action as revoke"
            }
          ],
          "description": "Revokes the association of an API Product with a Developer App's consumer key.",
          "externalDocs": {
            "url": "http://apigee.com/docs/api/api_methods/94-revoke-an-api-product-association-with-a-specific-developer-app-key"
          }
        },
        "delete": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Removes an API product from a developer app key profile, and thereby renders the developer app unable to access the URIs defined in the API product specified.",
          "externalDocs": {
            "url": "http://apigee.com/docs/api/api_methods/204-delete-api-product-from-a-developer-app-key-profile"
          }
        }
      },
      "/organizations/{org_name}/developers/{developer_email}/apps/{app_name}/oauth1accesstokens": {
        "parameters": [
          {
            "name": "org_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the organization Name"
          },
          {
            "name": "developer_email",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the developer email"
          },
          {
            "name": "app_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the app name"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Get count of OAuth 1.0 access tokens for a developer's app."
        }
      },
      "/organizations/{org_name}/developers/{developer_email}/apps/{app_name}/oauth2accesstokens": {
        "parameters": [
          {
            "name": "organizationName",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the organization name"
          },
          {
            "name": "developerEmail",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the developer email"
          },
          {
            "name": "appName",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the app name"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Get count of  OAuth 2.0 access tokens for a developer's app."
        }
      },
      "/organizations/{org_name}/developers/{developer_email}/apps/{app_name}/keys/{consumer_key}/oauth1accesstokens": {
        "parameters": [
          {
            "name": "org_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the organization name"
          },
          {
            "name": "developer_email",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the developer email"
          },
          {
            "name": "app_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the app name"
          },
          {
            "name": "consumer_key",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the consumer key"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Get count of OAuth 1.0 access tokens for a developer's app key."
        }
      },
      "/organizations/{org_name}/developers/{developer_email}/apps/{app_name}/keys/{consumer_key}/oauth2accesstokens": {
        "parameters": [
          {
            "name": "org_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the organization name"
          },
          {
            "name": "developer_email",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the developer name"
          },
          {
            "name": "app_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the app name"
          },
          {
            "name": "consumer_key",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the consumer key"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Get count of OAuth 2.0 access tokens for a developer's app key."
        }
      },
      "/organizations/{org_name}/oauth1/requesttokens/{request_token}": {
        "parameters": [
          {
            "name": "org_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the organization name"
          },
          {
            "name": "request_token",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the request token"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/octet-stream",
              "description": "Specify Content Type."
            },
            {
              "name": "consumerKey",
              "required": true,
              "in": "query",
              "type": "string",
              "default": "{validConsumerKey}",
              "description": "Mention valid consumer key"
            }
          ],
          "description": "Gets the Oauth 1.0 a request token for the speficied consumer key.",
          "externalDocs": {
            "url": "http://apigee.com/docs/api/api_methods/143-get-an-oauth-1-0a-request-token"
          }
        },
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/octet-stream",
              "description": "Specify Content Type."
            },
            {
              "name": "action",
              "required": true,
              "in": "query",
              "type": "string",
              "default": "revoke",
              "description": "Mention action as revoke"
            }
          ],
          "description": "Revokes an OAuth 1.0 a request token.",
          "externalDocs": {
            "url": "http://apigee.com/docs/api/api_methods/148-revoke-an-oauth-1-0a-request-token"
          }
        },
        "delete": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Deletes the request token specified.",
          "externalDocs": {
            "url": "http://apigee.com/docs/api/api_methods/146-delete-an-oauth-1-0a-request-token"
          }
        }
      },
      "/organizations/{org_name}/oauth1/requesttokens": {
        "parameters": [
          {
            "name": "org_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the organization name"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns list of all OAuth 1.0a request.",
          "externalDocs": {
            "url": "http://apigee.com/docs/api/api_methods/144-list-oauth-1-0a-request-tokens"
          }
        }
      },
      "/organizations/{org_name}/oauth1/verifiers/{verifier_code}": {
        "parameters": [
          {
            "name": "org_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the organization name"
          },
          {
            "name": "verifier_code",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the verifier code"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Gets the detail of given verifier code.",
          "externalDocs": {
            "url": "http://apigee.com/docs/api/api_methods/149-get-an-oauth-1-0a-verifier"
          }
        },
        "delete": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Deletes the specified verifier code, which is the verifier code given by the provider.",
          "externalDocs": {
            "url": "http://apigee.com/docs/api/api_methods/151-delete-oauth-1-0a-verifier"
          }
        }
      },
      "/organizations/{org_name}/oauth1/verifiers": {
        "parameters": [
          {
            "name": "org_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the organization name"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Gets a list of all verifiers and details for each verifier in an Organization.",
          "externalDocs": {
            "url": "http://apigee.com/docs/api/api_methods/150-list-oauth-1-0a-verifiers"
          }
        }
      },
      "/organizations/{org_name}/oauth1/accesstokens/{access_token}": {
        "parameters": [
          {
            "name": "org_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the organization name"
          },
          {
            "name": "access_token",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the access token"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Fetches the details of given access token.",
          "externalDocs": {
            "url": "http://apigee.com/docs/api/api_methods/152-get-oauth-1-0a-access-token"
          }
        },
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/octet-stream",
              "description": "Specify Content Type."
            },
            {
              "name": "action",
              "required": true,
              "in": "query",
              "type": "string",
              "default": "revoke",
              "description": "Mention action as revoke"
            }
          ],
          "description": "Revokes the specified access token.",
          "externalDocs": {
            "url": "http://apigee.com/docs/api/api_methods/157-revoke-an-oauth-1-0a-access-token"
          }
        },
        "delete": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Deletes the specified access token.",
          "externalDocs": {
            "url": "http://apigee.com/docs/api/api_methods/155-delete-an-oauth-1-0a-access-token"
          }
        }
      },
      "/organizations/{org_name}/oauth1/accesstokens": {
        "parameters": [
          {
            "name": "org_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the organization name"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns a count of all 1.0a access tokens in an orgnization .",
          "externalDocs": {
            "url": "http://apigee.com/docs/api/api_methods/153-get-count-of-oauth-1-0a-access-tokens"
          }
        }
      },
      "/organizations/{org_name}/oauth2/authorizationcodes/{authorization_code}": {
        "parameters": [
          {
            "name": "org_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the organization name"
          },
          {
            "name": "authorization_code",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the auth code"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Get a specific Authorization Code.",
          "externalDocs": {
            "url": "http://apigee.com/docs/api/api_methods/106-get-an-oauth-2-0-authorization-code"
          }
        },
        "delete": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Deletes the given authorization Code.",
          "externalDocs": {
            "url": "http://apigee.com/docs/api/api_methods/108-delete-an-oauth-2-0-authorization-code"
          }
        }
      },
      "/organizations/{org_name}/oauth2/authorizationcodes": {
        "parameters": [
          {
            "name": "org_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the organization name"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Lists all authorization codes in an organization.",
          "externalDocs": {
            "url": "http://apigee.com/docs/api/api_methods/107-list-oauth-2-0-authorization-codes"
          }
        }
      },
      "/organizations/{org_name}/oauth2/accesstokens/{access_token}": {
        "parameters": [
          {
            "name": "org_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the organization name"
          },
          {
            "name": "access_token",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the Access Token"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Gets details of a specific access token.",
          "externalDocs": {
            "url": "http://apigee.com/docs/api/api_methods/109-get-an-oauth-2-0-access-token"
          }
        },
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/octet-stream",
              "description": "Specify Content Type."
            },
            {
              "name": "action",
              "required": true,
              "in": "query",
              "type": "string",
              "default": "revoke",
              "description": "Mention action as revoke"
            }
          ],
          "description": "Revokes a specific access token.",
          "externalDocs": {
            "url": "http://apigee.com/docs/api/api_methods/116-revoke-an-oauth-2-0-access-token"
          }
        },
        "delete": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Deletes a specific access token.",
          "externalDocs": {
            "url": "http://apigee.com/docs/api/api_methods/114-delete-an-oauth-2-0-access-token"
          }
        }
      },
      "/organizations/{org_name}/oauth2/accesstokens": {
        "parameters": [
          {
            "name": "org_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the organization name"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Get count of OAuth 2.0 access tokens under an organization .",
          "externalDocs": {
            "url": "http://apigee.com/docs/api/api_methods/110-get-count-of-oauth-2-0-access-tokens"
          }
        }
      },
      "/organizations/{org_name}/keyvaluemaps": {
        "parameters": [
          {
            "name": "org_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the organization name"
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/json",
              "description": "Specify the Content Type"
            }
          ],
          "description": "Creates a KeyValueMap.",
          "externalDocs": {
            "url": "http://apigee.com/docs/api/api_methods/44-create-key-value-map"
          }
        },
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "expand",
              "required": true,
              "in": "query",
              "type": "string",
              "default": "true",
              "description": "Set expand value to true."
            }
          ],
          "description": "Returns an expanded view of all Maps scoped by organization, environment or API.",
          "externalDocs": {
            "url": "http://apigee.com/docs/api/api_methods/158-get-list-of-key-value-maps-expanded"
          }
        }
      },
      "/organizations/{org_name}/keyvaluemaps/{map_name}/entries/{entry_name}": {
        "parameters": [
          {
            "name": "org_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the organization name"
          },
          {
            "name": "map_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the map name"
          },
          {
            "name": "entry_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the entry name"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Gets a specific entry details."
        },
        "delete": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Deletes a single entry by name.",
          "externalDocs": {
            "url": "http://apigee.com/docs/api/api_methods/48-delete-an-entry-from-a-key-value-map"
          }
        }
      },
      "/organizations/{org_name}/keyvaluemaps/{map_name}": {
        "parameters": [
          {
            "name": "org_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the organization name"
          },
          {
            "name": "map_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the map name"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Gets a KeyValueMap by name, along with associated entries.",
          "externalDocs": {
            "url": "http://apigee.com/docs/api/api_methods/45-get-key-value-map"
          }
        },
        "put": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/json",
              "description": "Specify the Content Type"
            }
          ],
          "description": "Updates an existing KeyValueMap.",
          "externalDocs": {
            "url": "http://apigee.com/docs/api/api_methods/62-update-key-value-map"
          }
        },
        "delete": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Deletes a KeyValueMap and all associated entries.",
          "externalDocs": {
            "url": "http://apigee.com/docs/api/api_methods/63-delete-a-key-value-map"
          }
        }
      },
      "/audits/organizations/{org_name}": {
        "parameters": [
          {
            "name": "org_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the organization name"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/octet-stream",
              "description": "Specify content type."
            },
            {
              "name": "expand",
              "required": true,
              "in": "query",
              "type": "string",
              "default": "true",
              "description": "Mention expand as true"
            }
          ],
          "description": "Lists and expands audit records for management operations against APIs, API revisions and policies.",
          "externalDocs": {
            "url": "http://apigee.com/docs/api/api_methods/200-audit-api-management-operations"
          }
        }
      },
      "/organizations/{org_name}/companies": {
        "parameters": [
          {
            "name": "org_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the organization name"
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/json",
              "description": "Specify the Content Type"
            }
          ],
          "description": "Creates a company in an organization.",
          "externalDocs": {
            "url": "http://apigee.com/docs/api/api_methods/117-create-a-company"
          }
        },
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "expand",
              "required": true,
              "in": "query",
              "type": "string",
              "default": "true",
              "description": "Specify the Content Type"
            }
          ],
          "description": "Returns an expanded list of companies, displaying a full profile for each company in the organization.",
          "externalDocs": {
            "url": "http://apigee.com/docs/api/api_methods/121-list-companies-in-an-organization-expanded-view"
          }
        }
      },
      "/organizations/{org_name}/companies/{company_name}": {
        "parameters": [
          {
            "name": "org_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the organization name"
          },
          {
            "name": "company_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the company name"
          }
        ],
        "put": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/json",
              "description": "Specify the content type"
            }
          ],
          "description": "Updates an existing Company.",
          "externalDocs": {
            "url": "http://apigee.com/docs/api/api_methods/118-update-a-company"
          }
        },
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Gets details for a Company.",
          "externalDocs": {
            "url": "http://apigee.com/docs/api/api_methods/119-get-details-for-a-company"
          }
        },
        "delete": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Deletes an existing Company.",
          "externalDocs": {
            "url": "http://apigee.com/docs/api/api_methods/120-delete-a-company"
          }
        }
      },
      "/organizations/{org_name}/companies/{company_name}/developers": {
        "parameters": [
          {
            "name": "org_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the organization name"
          },
          {
            "name": "company_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the company name"
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/json",
              "description": "Specify the Content Type"
            }
          ],
          "description": "Adds a developer to a company.",
          "externalDocs": {
            "url": "http://apigee.com/docs/api/api_methods/122-add-a-company-developer"
          }
        },
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Lists all developers associated with a company.",
          "externalDocs": {
            "url": "http://apigee.com/docs/api/api_methods/124-list-developers-in-a-company"
          }
        }
      },
      "/organizations/{org_name}/companies/{company_name}/developers/{developer_email}": {
        "parameters": [
          {
            "name": "org_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the organization name"
          },
          {
            "name": "company_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the company name"
          },
          {
            "name": "Developer_email",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the developer email"
          }
        ],
        "delete": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Removes the association of a Developer with a Company.",
          "externalDocs": {
            "url": "http://apigee.com/docs/api/api_methods/123-delete-a-developer-association-with-a-company"
          }
        }
      },
      "/organizations/{org_name}/companies/{company_name}/apps": {
        "parameters": [
          {
            "name": "org_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the organization name"
          },
          {
            "name": "company_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the company name"
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/json",
              "description": "Specify the Content Type"
            }
          ],
          "description": "Creates an app for a company.",
          "externalDocs": {
            "url": "http://apigee.com/docs/api/api_methods/98-create-an-app-associated-with-a-company"
          }
        },
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "expand",
              "required": true,
              "in": "query",
              "type": "string",
              "default": "true",
              "description": "Specify expand value as true"
            }
          ],
          "description": "Gets an expanded list company apps .",
          "externalDocs": {
            "url": "http://apigee.com/docs/api/api_methods/69-list-company-apps-expanded"
          }
        }
      },
      "/organizations/{org_name}/companies/{company_name}/apps/{app_name}": {
        "parameters": [
          {
            "name": "org_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the organization name"
          },
          {
            "name": "company_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the company name"
          },
          {
            "name": "app_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the app name"
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/json",
              "description": "Specify the Content Type"
            }
          ],
          "description": "Updates an existing company app.",
          "externalDocs": {
            "url": "http://apigee.com/docs/api/api_methods/65-update-a-company-app"
          }
        },
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "query",
              "required": true,
              "in": "query",
              "type": "string",
              "default": "count",
              "description": "Specify query value as count."
            },
            {
              "name": "entity",
              "required": true,
              "in": "query",
              "type": "string",
              "default": "apiresources",
              "description": "Mention entity as API resources"
            }
          ],
          "description": "Gets the count  of API resources for a company app.",
          "externalDocs": {
            "url": "http://apigee.com/docs/api/api_methods/66-get-count-of-api-resources-uris-for-a-company-app"
          }
        },
        "delete": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Deletes a company app.",
          "externalDocs": {
            "url": "http://apigee.com/docs/api/api_methods/67-delete-a-company-app"
          }
        }
      },
      "/organizations/{org_name}/companies/{company_name}/apps/{app_name}/keys/{consumer_key}": {
        "parameters": [
          {
            "name": "org_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the organization name"
          },
          {
            "name": "company_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the company name"
          },
          {
            "name": "app_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the app name"
          },
          {
            "name": "consumer_key",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the consumer key"
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/octet-stream",
              "description": "Specify content type."
            },
            {
              "name": "action",
              "required": true,
              "in": "query",
              "type": "string",
              "default": "revoke",
              "description": "Mention action as revoke"
            }
          ],
          "description": "Revokes the specific key of a company app.",
          "externalDocs": {
            "url": "http://apigee.com/docs/api/api_methods/52-revoke-a-company-app-key"
          }
        },
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Gets the consumer key issued to a company app.",
          "externalDocs": {
            "url": "http://apigee.com/docs/api/api_methods/50-get-the-consumer-key-for-a-company-app"
          }
        },
        "delete": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Deletes a company app key.",
          "externalDocs": {
            "url": "http://apigee.com/docs/api/api_methods/51-delete-a-company-app-key"
          }
        }
      },
      "/organizations/{org_name}/companies/{company_name}/appfamilies": {
        "parameters": [
          {
            "name": "org_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the organization name"
          },
          {
            "name": "company_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the company name"
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/json",
              "description": "Specify the content type"
            }
          ],
          "description": "Creates an app family."
        },
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "An expanded list of all app families in an organization, listing Apps in the collection."
        }
      },
      "/organizations/{org_name}/companies/{company_name}/appfamilies/{appfamily_name}": {
        "parameters": [
          {
            "name": "org_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the organization name"
          },
          {
            "name": "company_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the company name"
          },
          {
            "name": "appfamily_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention app family name"
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/json",
              "description": "Specify the Content Type"
            }
          ],
          "description": "Updates an existing app family.",
          "externalDocs": {
            "url": "http://apigee.com/docs/api/api_methods/56-update-a-company-app-famiy"
          }
        },
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Gets a list of apps in an appfamily.",
          "externalDocs": {
            "url": "http://apigee.com/docs/api/api_methods/55-get-a-company-app-family"
          }
        },
        "delete": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Deletes an App Family and all Apps it contains."
        }
      },
      "/organizations/{org_name}/companies/{company_name}/appfamilies/{appfamily_name}/apps/{app_name}": {
        "parameters": [
          {
            "name": "org_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the organization name"
          },
          {
            "name": "company_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the company name"
          },
          {
            "name": "appfamily_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention app family name"
          },
          {
            "name": "app_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention app name"
          }
        ],
        "delete": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Removes an App from an App Family."
        }
      },
      "/organizations/{org_name}/developers/{developer_email}/appfamilies": {
        "parameters": [
          {
            "name": "org_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the organization name"
          },
          {
            "name": "developer_email",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the developer email"
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/json",
              "description": "Specify the content type"
            }
          ],
          "description": "Creates an app family for developers.",
          "externalDocs": {
            "url": "http://apigee.com/docs/api/api_methods/125-create-an-app-family"
          }
        },
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "An expanded list of all app families in an organization, listing Apps in the collection",
          "externalDocs": {
            "url": "http://apigee.com/docs/api/api_methods/131-list-app-families-expanded"
          }
        }
      },
      "/organizations/{org_name}/developers/{developer_email}/appfamilies/{appfamily_name}": {
        "parameters": [
          {
            "name": "org_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the organization name"
          },
          {
            "name": "developer_email",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the developer email"
          },
          {
            "name": "appfamily_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention app family name"
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/json",
              "description": "Specify the Content Type"
            }
          ],
          "description": "Updates an existing app family.",
          "externalDocs": {
            "url": "http://apigee.com/docs/api/api_methods/127-update-an-app-family"
          }
        },
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Gets a list of apps in an appfamily.",
          "externalDocs": {
            "url": "http://apigee.com/docs/api/api_methods/126-get-an-app-family"
          }
        },
        "delete": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Deletes an App Family and all Apps it contains.",
          "externalDocs": {
            "url": "http://apigee.com/docs/api/api_methods/129-delete-an-app-family"
          }
        }
      },
      "/organizations/{org_name}/developers/{developer_email}/appfamilies/{appfamily_name}/apps/{app_name}": {
        "parameters": [
          {
            "name": "org_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the organization name"
          },
          {
            "name": "developer_email",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the developer email"
          },
          {
            "name": "appfamily_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention app family name"
          },
          {
            "name": "app_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention app name"
          }
        ],
        "delete": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Removes an App from an App Family.",
          "externalDocs": {
            "url": "http://apigee.com/docs/api/api_methods/128-remove-an-app-from-an-app-family"
          }
        }
      },
      "/organizations/{org_name}/userroles": {
        "parameters": [
          {
            "name": "org_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the organization name"
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/json",
              "description": "Specify the content type"
            }
          ],
          "description": "Creates a role in an organization.",
          "externalDocs": {
            "url": "http://apigee.com/docs/api/api_methods/163-create-a-user-role-in-an-organization"
          }
        },
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Gets a list of roles available to users in an organization.",
          "externalDocs": {
            "url": "http://apigee.com/docs/api/api_methods/164-list-user-roles"
          }
        }
      },
      "/organizations/{org_name}/userroles/{role_name}": {
        "parameters": [
          {
            "name": "org_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the organization name"
          },
          {
            "name": "role_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the role name"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Gets a role.",
          "externalDocs": {
            "url": "http://apigee.com/docs/api/api_methods/168-get-a-role"
          }
        },
        "delete": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Deletes a role from an organization.",
          "externalDocs": {
            "url": "http://apigee.com/docs/api/api_methods/169-delete-a-user-role "
          }
        }
      },
      "/users": {
        "parameters": [],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/json",
              "description": "Specify the content type"
            }
          ],
          "description": "Creates a user."
        },
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Gets a list of users."
        }
      },
      "/users/{user_email}": {
        "parameters": [
          {
            "name": "user_email",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the user email"
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/json",
              "description": "Specify the content type"
            }
          ],
          "description": "Updates a user."
        },
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Gets a user."
        },
        "delete": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Deletes a user."
        }
      },
      "/userroles": {
        "parameters": [],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/json",
              "description": "Specify the Content Type"
            }
          ],
          "description": "Creates a role at global level."
        },
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Gets a list of roles available to users."
        }
      },
      "/userroles/{role_name}": {
        "parameters": [
          {
            "name": "role_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the role name"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Gets a role."
        },
        "delete": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Deletes a role."
        }
      },
      "/users/{user_email}/userroles": {
        "parameters": [
          {
            "name": "user_email",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the user email"
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Content-Type",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/json",
              "description": "Specify the content type"
            }
          ],
          "description": "Associates a user with a organizational user role."
        },
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Gets roles for a user."
        }
      },
      "/userroles/{role_name}/users": {
        "parameters": [
          {
            "name": "role_name",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "",
            "description": "Mention the role name"
          }
        ],
        "post": {
[...]
