{
  "type": "api",
  "key": "apigee:salesforcechatter",
  "info": {
    "title": "Salesforce Chatter",
    "description": "Create applications for the social enterprise with Salesforce's collaboration platform"
  },
  "swagger": {
    "swagger": "2.0",
    "host": "na1.salesforce.com",
    "basePath": "/services/data/v23.0/",
    "schemes": [
      "https"
    ],
    "paths": {
      "/chatter/comments/{commentId}": {
        "parameters": [
          {
            "name": "commentId",
            "required": true,
            "in": "path",
            "type": "string",
            "default": ""
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Gets info on a comment."
        },
        "delete": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Deletes a comment."
        }
      },
      "/chatter/feed-items/{feedItemId}": {
        "parameters": [
          {
            "name": "feedItemId",
            "required": true,
            "in": "path",
            "type": "string",
            "default": ""
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "page",
              "required": false,
              "in": "query",
              "type": "string",
              "default": ""
            }
          ],
          "description": "Gets info on a feedItem."
        },
        "delete": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Deletes a feedItem."
        }
      },
      "/chatter/feed-items/{feedItemId}/comments": {
        "parameters": [
          {
            "name": "feedItemId",
            "required": true,
            "in": "path",
            "type": "string",
            "default": ""
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "page",
              "required": false,
              "in": "query",
              "type": "string",
              "default": ""
            }
          ],
          "description": "Gets comments on a feedItem."
        },
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "text",
              "required": true,
              "in": "query",
              "type": "string",
              "default": ""
            }
          ],
          "description": "Post a comment on a feedItem."
        }
      },
      "/chatter/feed-items/{feedItemId}/likes": {
        "parameters": [
          {
            "name": "feedItemId",
            "required": true,
            "in": "path",
            "type": "string",
            "default": ""
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "page",
              "required": false,
              "in": "query",
              "type": "string",
              "default": ""
            }
          ],
          "description": "Gets likes on a feedItem."
        },
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Post a like on a feedItem."
        }
      },
      "/chatter/group-memberships/{membershipId}": {
        "parameters": [
          {
            "name": "membershipId",
            "required": true,
            "in": "path",
            "type": "string",
            "default": ""
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Gets info on a subscriber to a group."
        },
        "delete": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Deletes a subscriber."
        }
      },
      "/chatter/groups/{groupId}": {
        "parameters": [
          {
            "name": "groupId",
            "required": true,
            "in": "path",
            "type": "string",
            "default": ""
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Gets info on a group."
        }
      },
      "/chatter/groups/{groupId}/members": {
        "parameters": [
          {
            "name": "groupId",
            "required": true,
            "in": "path",
            "type": "string",
            "default": ""
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "page",
              "required": false,
              "in": "query",
              "type": "string",
              "default": ""
            }
          ],
          "description": "Gets members of a group."
        },
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "userId",
              "required": false,
              "in": "query",
              "type": "string",
              "default": ""
            }
          ],
          "description": "Add member to a group."
        }
      },
      "/chatter/groups/{groupId}/photos": {
        "parameters": [
          {
            "name": "groupId",
            "required": true,
            "in": "path",
            "type": "string",
            "default": ""
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Gets photos of a group."
        },
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Post photos to a group."
        },
        "delete": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Post photos to a group."
        }
      },
      "/chatter/likes/{likeId}": {
        "parameters": [
          {
            "name": "likeId",
            "required": true,
            "in": "path",
            "type": "string",
            "default": ""
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Gets info on a specified like."
        },
        "delete": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Deletes a specified like."
        }
      },
      "/chatter/feeds/news/me/feed-items": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "page",
              "required": false,
              "in": "query",
              "type": "string",
              "default": ""
            }
          ],
          "description": "Gets news on a specified feed."
        },
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "contentDocumentId",
              "required": false,
              "in": "query",
              "type": "string",
              "default": ""
            },
            {
              "name": "fileName",
              "required": false,
              "in": "query",
              "type": "string",
              "default": ""
            },
            {
              "name": "feedItemFileUpload",
              "required": false,
              "in": "query",
              "type": "string",
              "default": ""
            },
            {
              "name": "desc",
              "required": false,
              "in": "query",
              "type": "string",
              "default": ""
            },
            {
              "name": "text",
              "required": false,
              "in": "query",
              "type": "string",
              "default": ""
            },
            {
              "name": "url",
              "required": false,
              "in": "query",
              "type": "string",
              "default": ""
            },
            {
              "name": "urlName",
              "required": false,
              "in": "query",
              "type": "string",
              "default": ""
            }
          ],
          "description": "Posts news on a specified feed."
        }
      },
      "/chatter/feeds/news/{userId}/feed-items": {
        "parameters": [
          {
            "name": "userId",
            "required": true,
            "in": "path",
            "type": "string",
            "default": ""
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "page",
              "required": false,
              "in": "query",
              "type": "string",
              "default": ""
            }
          ],
          "description": "Gets news on a specified user's feed items."
        },
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "contentDocumentId",
              "required": false,
              "in": "query",
              "type": "string",
              "default": ""
            },
            {
              "name": "fileName",
              "required": false,
              "in": "query",
              "type": "string",
              "default": ""
            },
            {
              "name": "feedItemFileUpload",
              "required": false,
              "in": "query",
              "type": "string",
              "default": ""
            },
            {
              "name": "desc",
              "required": false,
              "in": "query",
              "type": "string",
              "default": ""
            },
            {
              "name": "text",
              "required": false,
              "in": "query",
              "type": "string",
              "default": ""
            },
            {
              "name": "url",
              "required": false,
              "in": "query",
              "type": "string",
              "default": ""
            },
            {
              "name": "urlName",
              "required": false,
              "in": "query",
              "type": "string",
              "default": ""
            }
          ],
          "description": "Post news on a specified user's feed items."
        }
      },
      "/chatter/feeds/record/me/feed-items": {
        "parameters": [
          {
            "name": "text",
            "required": true,
            "in": "query",
            "type": "string",
            "default": ""
          },
          {
            "name": "url",
            "required": false,
            "in": "query",
            "type": "string",
            "default": ""
          },
          {
            "name": "contentDocumentId",
            "required": false,
            "in": "query",
            "type": "string",
            "default": ""
          },
          {
            "name": "fileName",
            "required": false,
            "in": "query",
            "type": "string",
            "default": ""
          },
          {
            "name": "feedItemFileUpload",
            "required": false,
            "in": "query",
            "type": "string",
            "default": ""
          },
          {
            "name": "desc",
            "required": false,
            "in": "query",
            "type": "string",
            "default": ""
          },
          {
            "name": "urlName",
            "required": false,
            "in": "query",
            "type": "string",
            "default": ""
          },
          {
            "name": "recordId",
            "required": true,
            "in": "query",
            "type": "string",
            "default": ""
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "page",
              "required": false,
              "in": "query",
              "type": "string",
              "default": ""
            }
          ],
          "description": "Gets records on a specified feed."
        },
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "contentDocumentId",
              "required": false,
              "in": "query",
              "type": "string",
              "default": ""
            },
            {
              "name": "fileName",
              "required": false,
              "in": "query",
              "type": "string",
              "default": ""
            },
            {
              "name": "feedItemFileUpload",
              "required": false,
              "in": "query",
              "type": "string",
              "default": ""
            },
            {
              "name": "desc",
              "required": false,
              "in": "query",
              "type": "string",
              "default": ""
            },
            {
              "name": "text",
              "required": false,
              "in": "query",
              "type": "string",
              "default": ""
            },
            {
              "name": "url",
              "required": false,
              "in": "query",
              "type": "string",
              "default": ""
            },
            {
              "name": "urlName",
              "required": false,
              "in": "query",
              "type": "string",
              "default": ""
            }
          ],
          "description": "Posts a record on a specified feed."
        }
      },
      "/chatter/feeds/record/{userId}/feed-items": {
        "parameters": [
          {
            "name": "userId",
            "required": true,
            "in": "path",
            "type": "string",
            "default": ""
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "page",
              "required": false,
              "in": "query",
              "type": "string",
              "default": ""
            }
          ],
          "description": "Gets records on a specified user's feed items."
        },
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "contentDocumentId",
              "required": false,
              "in": "query",
              "type": "string",
              "default": ""
            },
            {
              "name": "fileName",
              "required": false,
              "in": "query",
              "type": "string",
              "default": ""
            },
            {
              "name": "feedItemFileUpload",
              "required": false,
              "in": "query",
              "type": "string",
              "default": ""
            },
            {
              "name": "desc",
              "required": false,
              "in": "query",
              "type": "string",
              "default": ""
            },
            {
              "name": "text",
              "required": false,
              "in": "query",
              "type": "string",
              "default": ""
            },
            {
              "name": "url",
              "required": false,
              "in": "query",
              "type": "string",
              "default": ""
            },
            {
              "name": "urlName",
              "required": false,
              "in": "query",
              "type": "string",
              "default": ""
            }
          ],
          "description": "Post record on a specified user's feed items."
        }
      },
      "/chatter/subscriptions/{subscriptionId}": {
        "parameters": [
          {
            "name": "subscriptionId",
            "required": true,
            "in": "path",
            "type": "string",
            "default": ""
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Gets info on a specified subscription."
        },
        "delete": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Deletes a specified subscription."
        }
      },
      "/chatter/feeds/to/me/feed-items": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "page",
              "required": false,
              "in": "query",
              "type": "string",
              "default": ""
            }
          ],
          "description": "Gets @mentions of the current user."
        },
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "contentDocumentId",
              "required": false,
              "in": "query",
              "type": "string",
              "default": ""
            },
            {
              "name": "fileName",
              "required": false,
              "in": "query",
              "type": "string",
              "default": ""
            },
            {
              "name": "feedItemFileUpload",
              "required": false,
              "in": "query",
              "type": "string",
              "default": ""
            },
            {
              "name": "desc",
              "required": false,
              "in": "query",
              "type": "string",
              "default": ""
            },
            {
              "name": "text",
              "required": false,
              "in": "query",
              "type": "string",
              "default": ""
            },
            {
              "name": "url",
              "required": false,
              "in": "query",
              "type": "string",
              "default": ""
            },
            {
              "name": "urlName",
              "required": false,
              "in": "query",
              "type": "string",
              "default": ""
            }
          ],
          "description": "Posts a @mention on the current user."
        }
      },
      "/chatter/feeds/to/{userId}/feed-items": {
        "parameters": [
          {
            "name": "userId",
            "required": true,
            "in": "path",
            "type": "string",
            "default": ""
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "page",
              "required": false,
              "in": "query",
              "type": "string",
              "default": ""
            }
          ],
          "description": "Gets @mentions on a specified user."
        },
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "contentDocumentId",
              "required": false,
              "in": "query",
              "type": "string",
              "default": ""
            },
            {
              "name": "fileName",
              "required": false,
              "in": "query",
              "type": "string",
              "default": ""
            },
            {
              "name": "feedItemFileUpload",
              "required": false,
              "in": "query",
              "type": "string",
              "default": ""
            },
            {
              "name": "desc",
              "required": false,
              "in": "query",
              "type": "string",
              "default": ""
            },
            {
              "name": "text",
              "required": false,
              "in": "query",
              "type": "string",
              "default": ""
            },
            {
              "name": "url",
              "required": false,
              "in": "query",
              "type": "string",
              "default": ""
            },
            {
              "name": "urlName",
              "required": false,
              "in": "query",
              "type": "string",
              "default": ""
            }
          ],
          "description": "Post @mentions on a specified user."
        }
      },
      "/chatter/feeds/user-profile/me/feed-items": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "page",
              "required": false,
              "in": "query",
              "type": "string",
              "default": ""
            }
          ],
          "description": "Gets profile feed of the current user."
        },
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "contentDocumentId",
              "required": false,
              "in": "query",
              "type": "string",
              "default": ""
            },
            {
              "name": "fileName",
              "required": false,
              "in": "query",
              "type": "string",
              "default": ""
            },
            {
              "name": "feedItemFileUpload",
              "required": false,
              "in": "query",
              "type": "string",
              "default": ""
            },
            {
              "name": "desc",
              "required": false,
              "in": "query",
              "type": "string",
              "default": ""
            },
            {
              "name": "text",
              "required": false,
              "in": "query",
              "type": "string",
              "default": ""
            },
            {
              "name": "url",
              "required": false,
              "in": "query",
              "type": "string",
              "default": ""
            },
            {
              "name": "urlName",
              "required": false,
              "in": "query",
              "type": "string",
              "default": ""
            }
          ],
          "description": "Posts a profile feed on the current user."
        }
      },
      "/chatter/feeds/user-profile/{userId}/feed-items": {
        "parameters": [
          {
            "name": "userId",
            "required": true,
            "in": "path",
            "type": "string",
            "default": ""
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "page",
              "required": false,
              "in": "query",
              "type": "string",
              "default": ""
            }
          ],
          "description": "Gets profile feed on a specified user."
        },
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "contentDocumentId",
              "required": false,
              "in": "query",
              "type": "string",
              "default": ""
            },
            {
              "name": "fileName",
              "required": false,
              "in": "query",
              "type": "string",
              "default": ""
            },
            {
              "name": "feedItemFileUpload",
              "required": false,
              "in": "query",
              "type": "string",
              "default": ""
            },
            {
              "name": "desc",
              "required": false,
              "in": "query",
              "type": "string",
              "default": ""
            },
            {
              "name": "text",
              "required": false,
              "in": "query",
              "type": "string",
              "default": ""
            },
            {
              "name": "url",
              "required": false,
              "in": "query",
              "type": "string",
              "default": ""
            },
            {
              "name": "urlName",
              "required": false,
              "in": "query",
              "type": "string",
              "default": ""
            }
          ],
          "description": "Post profile feed on a specified user."
        }
      },
      "/chatter/users/me": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "page",
              "required": false,
              "in": "query",
              "type": "integer",
              "default": 0
            }
          ],
          "description": "Returns information on the current user."
        }
      },
      "/chatter/users/me/followers": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "page",
              "required": false,
              "in": "query",
              "type": "integer",
              "default": 0
            }
          ],
          "description": "Returns information on followers of the current user."
        }
      },
      "/chatter/users/me/following": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "page",
              "required": false,
              "in": "query",
              "type": "integer",
              "default": 0
            }
          ],
          "description": "Returns information on who the current user follows."
        },
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "subjectId",
              "required": true,
              "in": "query",
              "type": "string",
              "default": ""
            }
          ],
          "description": "Posts information on who the current user follows."
        }
      },
      "/chatter/users/me/groups": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "page",
              "required": false,
              "in": "query",
              "type": "integer",
              "default": 0
            }
          ],
          "description": "Returns information on groups the current user is in."
        }
      },
      "/chatter/users/me/photo": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns information on the current user's photos."
        },
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Post photo to current user's profile."
        },
        "delete": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Delete photo of current user's profile."
        }
      },
      "/chatter/users/me/status": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns info of current user's status."
        },
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "text",
              "required": true,
              "in": "query",
              "type": "string",
              "default": ""
            }
          ],
          "description": "Post text to current user's status."
        },
        "delete": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "text",
              "required": true,
              "in": "query",
              "type": "string",
              "default": ""
            }
          ],
          "description": "Delete current user's status containing text."
        }
      },
      "/chatter/users/{userId}": {
        "parameters": [
          {
            "name": "userId",
            "required": true,
            "in": "path",
            "type": "string",
            "default": ""
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "page",
              "required": false,
              "in": "query",
              "type": "integer",
              "default": 0
            }
          ],
          "description": "Returns information on the specified user."
        }
      },
      "/chatter/users/{userId}/followers": {
        "parameters": [
          {
            "name": "userId",
            "required": true,
            "in": "path",
            "type": "string",
            "default": ""
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "page",
              "required": false,
              "in": "query",
              "type": "integer",
              "default": 0
            }
          ],
          "description": "Returns information on followers of the specified user."
        }
      },
      "/chatter/users/{userId}/following": {
        "parameters": [
          {
            "name": "userId",
            "required": true,
            "in": "path",
            "type": "string",
            "default": ""
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "page",
              "required": false,
              "in": "query",
              "type": "integer",
              "default": 0
            }
          ],
          "description": "Returns information on who the specified user follows."
        },
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "subjectId",
              "required": true,
              "in": "query",
              "type": "string",
              "default": ""
            }
          ],
          "description": "Posts information on who the specified user follows."
        }
      },
      "/chatter/users/{userId}/groups": {
        "parameters": [
          {
            "name": "userId",
            "required": true,
            "in": "path",
            "type": "string",
            "default": ""
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "page",
              "required": false,
              "in": "query",
              "type": "integer",
              "default": 0
            }
          ],
          "description": "Returns information on groups the specified user is in."
        }
      },
      "/chatter/users/{userId}/photo": {
        "parameters": [
          {
            "name": "userId",
            "required": true,
            "in": "path",
            "type": "string",
            "default": ""
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns information on the specified user's photos."
        },
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Post photo to specified user's profile."
        },
        "delete": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Delete photo of specified user's profile."
        }
      },
      "/chatter/users/{userId}/status": {
        "parameters": [
          {
            "name": "userId",
            "required": true,
            "in": "path",
            "type": "string",
            "default": ""
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns info of specified user's status."
        },
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "text",
              "required": true,
              "in": "query",
              "type": "string",
              "default": ""
            }
          ],
          "description": "Post text to specified user's status."
        },
        "delete": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "text",
              "required": true,
              "in": "query",
              "type": "string",
              "default": ""
            }
          ],
          "description": "Delete specified user's status containing text."
        }
      }
    },
    "info": {
      "title": "Salesforce Chatter",
      "description": "Create applications for the social enterprise with Salesforce's collaboration platform"
    }
  },
  "public": true
}