{
  "type": "api",
  "key": "apigee:blogger",
  "info": {
    "title": "Blogger",
    "description": "Create, edit, query and delete blog posts, or create gadgets for Blogger users."
  },
  "swagger": {
    "swagger": "2.0",
    "host": "www.googleapis.com",
    "basePath": "/blogger/v2",
    "schemes": [
      "https"
    ],
    "paths": {
      "/users/{userId}/blogs": {
        "parameters": [
          {
            "name": "userId",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "ID of the user whose blogs are to be fetched."
          },
          {
            "name": "fields",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Selector specifying which fields to include in a partial response."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Retrieves the list of Blogs for a User, given a userId.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/apis/blogger/docs/2.0/json/reference.html#method_blogger_users_blogs_list"
          }
        }
      },
      "/blogs/{blogId}": {
        "parameters": [
          {
            "name": "blogId",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The ID of the blog to get."
          },
          {
            "name": "fields",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Selector specifying which fields to include in a partial response."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Retrieves a Blogs Resource's metadata by its blogId.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/apis/blogger/docs/2.0/json/reference.html#method_blogger_blogs_get"
          }
        }
      },
      "/blogs/{blogId}/posts/{postId}/comments": {
        "parameters": [
          {
            "name": "blogId",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "ID of the blog to fetch comments from."
          },
          {
            "name": "postId",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "ID of the post to fetch posts from."
          },
          {
            "name": "fetchBodies",
            "required": false,
            "in": "query",
            "type": "boolean",
            "description": "Whether the body content of the comments is included."
          },
          {
            "name": "maxResults",
            "required": false,
            "in": "query",
            "type": "integer",
            "minimum": -2147483648,
            "maximum": 2147483647,
            "description": "Maximum number of comments to include in the result."
          },
          {
            "name": "pageToken",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Continuation token if request is paged."
          },
          {
            "name": "startDate",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Earliest date of comment to fetch."
          },
          {
            "name": "fields",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Selector specifying which fields to include in a partial response."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Retrieves the list of Comments for a Post.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/apis/blogger/docs/2.0/json/reference.html#method_blogger_comments_list"
          }
        }
      },
      "/blogs/{blogId}/posts/{postId}/comments/{commentId}": {
        "parameters": [
          {
            "name": "blogId",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "ID of the blog to fetch comments from."
          },
          {
            "name": "postId",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "ID of the post to fetch posts from."
          },
          {
            "name": "commentId",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The ID of the comment to get."
          },
          {
            "name": "fields",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Selector specifying which fields to include in a partial response."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Retrieves one Comments Resource by its commentId.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/apis/blogger/docs/2.0/json/reference.html#method_blogger_comments_get"
          }
        }
      },
      "/blogs/{blogId}/pages": {
        "parameters": [
          {
            "name": "blogId",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "ID of the blog to fetch pages from."
          },
          {
            "name": "fetchBodies",
            "required": false,
            "in": "query",
            "type": "boolean",
            "description": "Whether to retrieve the Page bodies."
          },
          {
            "name": "fields",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Selector specifying which fields to include in a partial response."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Retrieves the list of Pages for a Blog.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/apis/blogger/docs/2.0/json/reference.html#method_blogger_pages_list"
          }
        }
      },
      "/blogs/{blogId}/pages/{pageId}": {
        "parameters": [
          {
            "name": "blogId",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "ID of the blog containing the page."
          },
          {
            "name": "pageId",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The ID of the page to get."
          },
          {
            "name": "fields",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Selector specifying which fields to include in a partial response."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Retrieves one Pages Resource by its pageId.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/apis/blogger/docs/2.0/json/reference.html#method_blogger_pages_get"
          }
        }
      },
      "/blogs/{blogId}/posts": {
        "parameters": [
          {
            "name": "blogId",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "ID of the blog to fetch posts from."
          },
          {
            "name": "fetchBodies",
            "required": false,
            "in": "query",
            "type": "boolean",
            "description": "Whether the body content of posts is included."
          },
          {
            "name": "maxResults",
            "required": false,
            "in": "query",
            "type": "integer",
            "minimum": -2147483648,
            "maximum": 2147483647,
            "description": "Maximum number of posts to fetch."
          },
          {
            "name": "pageToken",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Continuation token if the request is paged."
          },
          {
            "name": "startDate",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Earliest post date to fetch."
          },
          {
            "name": "fields",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Selector specifying which fields to include in a partial response."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Retrieves a list of posts.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/apis/blogger/docs/2.0/json/reference.html#method_blogger_posts_list"
          }
        }
      },
      "/blogs/{blogId}/posts/{postId}": {
        "parameters": [
          {
            "name": "blogId",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "ID of the blog to fetch the post from."
          },
          {
            "name": "postId",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The ID of the post."
          },
          {
            "name": "fields",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Selector specifying which fields to include in a partial response."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Retrieves one post by postId.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/apis/blogger/docs/2.0/json/reference.html#method_blogger_posts_get"
          }
        }
      },
      "/users/{userId}": {
        "parameters": [
          {
            "name": "userId",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The ID of the user to get."
          },
          {
            "name": "fields",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Selector specifying which fields to include in a partial response."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Retrieves one user by userId.",
          "externalDocs": {
            "url": "http://code.google.com/intl/en/apis/blogger/docs/2.0/json/reference.html#method_blogger_users_get"
          }
        }
      }
    },
    "info": {
      "title": "Blogger",
      "description": "Create, edit, query and delete blog posts, or create gadgets for Blogger users."
    }
  },
  "public": true
}