{
  "type": "api",
  "key": "apigee:skyrock",
  "info": {
    "title": "Skyrock",
    "description": "Interact with Skyrock.com features: blogs, profiles, messaging, 'what's new', friends & activities!"
  },
  "swagger": {
    "swagger": "2.0",
    "host": "api.skyrock.com",
    "basePath": "/v2",
    "schemes": [
      "https"
    ],
    "paths": {
      "/check_rate_limit.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "description": "Response format.",
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns the number of remaining queries (see http://en.skyrock.com/developer/documentation/api/#request-rate-limits). Calls to this method are not counted against the limits.",
          "externalDocs": {
            "url": "http://en.skyrock.com/developer/documentation/api/#check-rate-limit"
          }
        }
      },
      "/user/get.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "description": "Response format.",
            "enum": [
              "json",
              "xml"
            ]
          },
          {
            "name": "id_user",
            "required": false,
            "in": "query",
            "type": "integer",
            "description": "User ID (optional if OAuthenticated)."
          },
          {
            "name": "username",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Username (optional if OAuthenticated)."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns an user's public data. If the call is authenticated and username is not provided, the method returns data about the current user's Skyrock account.",
          "externalDocs": {
            "url": "http://en.skyrock.com/developer/documentation/api/#get"
          }
        }
      },
      "/user/list_friends.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "description": "Response format.",
            "enum": [
              "json",
              "xml"
            ]
          },
          {
            "name": "id_user",
            "required": false,
            "in": "query",
            "type": "integer",
            "description": "User ID (optional if OAuthenticated)."
          },
          {
            "name": "username",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Username (optional if OAuthenticated)."
          },
          {
            "name": "page",
            "required": false,
            "in": "query",
            "type": "integer",
            "description": "Page number."
          },
          {
            "name": "order",
            "required": false,
            "in": "query",
            "type": "string",
            "default": "DEFAULT",
            "description": "Results order. Possible values:\n- DEFAULT: default order.\n- ALPHA: sort alphabetically.\n- OLDEST_TO_NEWEST: sort by oldest to newest friends (by date of friendship).\n- NEWEST_TO_OLDEST: sort by newest to oldest friends (by date of friendship).\n- BEST_FIRST: default order, with best friends first.\n- BEST_LAST: default order, with best friends last."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "List of friends (paginated).",
          "externalDocs": {
            "url": "http://en.skyrock.com/developer/documentation/api/#list-friends"
          }
        }
      },
      "/user/list_friends_ids.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "description": "Response format.",
            "enum": [
              "json",
              "xml"
            ]
          },
          {
            "name": "page",
            "required": false,
            "in": "query",
            "type": "integer",
            "description": "Page number."
          },
          {
            "name": "order",
            "required": false,
            "in": "query",
            "type": "string",
            "default": "DEFAULT",
            "description": "Results order. Possible values:\n- DEFAULT: default order.\n- ALPHA: sort alphabetically.\n- OLDEST_TO_NEWEST: sort by oldest to newest friends (by date of friendship).\n- NEWEST_TO_OLDEST: sort by newest to oldest friends (by date of friendship).\n- BEST_FIRST: default order, with best friends first.\n- BEST_LAST: default order, with best friends last."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "List of friends ids (paginated).",
          "externalDocs": {
            "url": "http://en.skyrock.com/developer/documentation/api/#list-friends-ids"
          }
        }
      },
      "/user/list_best_friends.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "description": "Response format.",
            "enum": [
              "json",
              "xml"
            ]
          },
          {
            "name": "page",
            "required": false,
            "in": "query",
            "type": "integer",
            "description": "Page number."
          },
          {
            "name": "order",
            "required": false,
            "in": "query",
            "type": "string",
            "default": "DEFAULT",
            "description": "Results order. Possible values:\n- DEFAULT: default order.\n- ALPHA: sort alphabetically.\n- OLDEST_TO_NEWEST: sort by oldest to newest friends (by date of friendship).\n- NEWEST_TO_OLDEST: sort by newest to oldest friends (by date of friendship).\n- BEST_FIRST: default order, with best friends first.\n- BEST_LAST: default order, with best friends last."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "List of best friends (paginated).",
          "externalDocs": {
            "url": "http://en.skyrock.com/developer/documentation/api/#list-best-friends"
          }
        }
      },
      "/user/list_online_friends.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "description": "Response format.",
            "enum": [
              "json",
              "xml"
            ]
          },
          {
            "name": "id_user",
            "required": false,
            "in": "query",
            "type": "integer",
            "description": "User ID (optional if OAuthenticated)."
          },
          {
            "name": "username",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Username (optional if OAuthenticated)."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "List of online friends.",
          "externalDocs": {
            "url": "http://en.skyrock.com/developer/documentation/api/#list-online-friends"
          }
        }
      },
      "/user/send_friend_request.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "description": "Response format.",
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [],
          "description": "Sends a friend request.",
          "externalDocs": {
            "url": "http://en.skyrock.com/developer/documentation/api/#send-friend-request"
          }
        }
      },
      "/user/add_to_best_friends.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "description": "Response format.",
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [],
          "description": "Adds a friend to the best friend list. The friend user should be a friend of current user.",
          "externalDocs": {
            "url": "http://en.skyrock.com/developer/documentation/api/#add-to-best-friends"
          }
        }
      },
      "/user/remove_from_best_friends.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "description": "Response format.",
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [],
          "description": "Removes a friend from the best friend list. The friend user should be a best friend of current user.",
          "externalDocs": {
            "url": "http://en.skyrock.com/developer/documentation/api/#remove-from-best-friends"
          }
        }
      },
      "/user/remove_from_friends.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "description": "Response format.",
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [],
          "description": "Removes a friend from the friend list.",
          "externalDocs": {
            "url": "http://en.skyrock.com/developer/documentation/api/#remove-from-friends"
          }
        }
      },
      "/user/list_friend_requests.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "description": "Response format.",
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "List of friend requests.",
          "externalDocs": {
            "url": "http://en.skyrock.com/developer/documentation/api/#list-friend-requests"
          }
        }
      },
      "/user/accept_friend_request.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "description": "Response format.",
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [],
          "description": "Accepts a friend request.",
          "externalDocs": {
            "url": "http://en.skyrock.com/developer/documentation/api/#accept-friend-request"
          }
        }
      },
      "/user/deny_friend_request.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "description": "Response format.",
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [],
          "description": "Denies a friend request.",
          "externalDocs": {
            "url": "http://en.skyrock.com/developer/documentation/api/#deny-friend-request"
          }
        }
      },
      "/user/is_friend.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "description": "Response format.",
            "enum": [
              "json",
              "xml"
            ]
          },
          {
            "name": "id_user_1",
            "required": true,
            "in": "query",
            "type": "integer",
            "description": "First user ID."
          },
          {
            "name": "id_user_2",
            "required": true,
            "in": "query",
            "type": "integer",
            "description": "Second user ID."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Checks friend relation between two users.",
          "externalDocs": {
            "url": "http://en.skyrock.com/developer/documentation/api/#is-friend"
          }
        }
      },
      "/user/get_counters.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "description": "Response format.",
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns current user counters.",
          "externalDocs": {
            "url": "http://en.skyrock.com/developer/documentation/api/#get-counters"
          }
        }
      },
      "/user/list_blacklist.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "description": "Response format.",
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "List of users in blacklist.",
          "externalDocs": {
            "url": "http://en.skyrock.com/developer/documentation/api/#list-blacklist"
          }
        }
      },
      "/user/add_user_to_blacklist.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "description": "Response format.",
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [],
          "description": "Adds a user to the blacklist.",
          "externalDocs": {
            "url": "http://en.skyrock.com/developer/documentation/api/#add-user-to-blacklist"
          }
        }
      },
      "/user/remove_user_from_blacklist.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "description": "Response format.",
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [],
          "description": "Removes a user from the blacklist.",
          "externalDocs": {
            "url": "http://en.skyrock.com/developer/documentation/api/#remove-user-from-blacklist"
          }
        }
      },
      "/user/list_groups.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "description": "Response format.",
            "enum": [
              "json",
              "xml"
            ]
          },
          {
            "name": "id_user",
            "required": false,
            "in": "query",
            "type": "integer",
            "description": "User ID (optional if OAuthenticated)."
          },
          {
            "name": "username",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Username (optional if OAuthenticated)."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "List of user's groups.",
          "externalDocs": {
            "url": "http://en.skyrock.com/developer/documentation/api/#list-groups"
          }
        }
      },
      "/blog/get.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "description": "Response format.",
            "enum": [
              "json",
              "xml"
            ]
          },
          {
            "name": "id_user",
            "required": false,
            "in": "query",
            "type": "integer",
            "description": "User ID (optional if OAuthenticated)."
          },
          {
            "name": "username",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Username (optional if OAuthenticated)."
          },
          {
            "name": "output_format",
            "required": false,
            "in": "query",
            "type": "string",
            "default": "html",
            "description": "Defines which format to output, for specific rich text fields. Possible values: 'html' (default), 'bbcode'.",
            "enum": [
              "html",
              "bbcode"
            ]
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns a blog public data. If the call is authenticated and username is not provided, the method returns data about the current user's Skyrock blog.",
          "externalDocs": {
            "url": "http://en.skyrock.com/developer/documentation/api/#id2"
          }
        }
      },
      "/blog/set.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "description": "Response format.",
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [],
          "description": "Sets authenticated user's blog data. Each parameter is optional, you can either set one or many at once.",
          "externalDocs": {
            "url": "http://en.skyrock.com/developer/documentation/api/#set"
          }
        }
      },
      "/blog/change_avatar.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "description": "Response format.",
            "enum": [
              "json",
              "xml"
            ]
          },
          {
            "name": "Content-Type",
            "required": true,
            "in": "header",
            "type": "string",
            "default": "multipart/form-data",
            "description": "Content type."
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Changes authenticated user's blog avatar.",
          "externalDocs": {
            "url": "http://en.skyrock.com/developer/documentation/api/#change-avatar"
          }
        }
      },
      "/blog/list_posts.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "description": "Response format.",
            "enum": [
              "json",
              "xml"
            ]
          },
          {
            "name": "id_user",
            "required": false,
            "in": "query",
            "type": "integer",
            "description": "User ID (optional if OAuthenticated)."
          },
          {
            "name": "username",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Username (optional if OAuthenticated)."
          },
          {
            "name": "page",
            "required": false,
            "in": "query",
            "type": "integer",
            "default": 1,
            "description": "Page number."
          },
          {
            "name": "with_secret",
            "required": false,
            "in": "query",
            "type": "boolean",
            "default": false,
            "description": "Allow authenticated blog owner to show secret posts (false by default)."
          },
          {
            "name": "output_format",
            "required": false,
            "in": "query",
            "type": "string",
            "default": "html",
            "description": "Defines which format to output, for specific rich text fields. Possible values: 'html' (default), 'bbcode'.",
            "enum": [
              "html",
              "bbcode"
            ]
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns an user's blog posts list (online only), paginated (10 articles per page).",
          "externalDocs": {
            "url": "http://en.skyrock.com/developer/documentation/api/#list-posts"
          }
        }
      },
      "/blog/list_offline_posts.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "description": "Response format.",
            "enum": [
              "json",
              "xml"
            ]
          },
          {
            "name": "page",
            "required": false,
            "in": "query",
            "type": "integer",
            "default": 1,
            "description": "Page number."
          },
          {
            "name": "with_secret",
            "required": false,
            "in": "query",
            "type": "boolean",
            "default": false,
            "description": "Allow authenticated blog owner to show secret posts (false by default)."
          },
          {
            "name": "output_format",
            "required": false,
            "in": "query",
            "type": "string",
            "default": "html",
            "description": "Defines which format to output, for specific rich text fields. Possible values: 'html' (default), 'bbcode'.",
            "enum": [
              "html",
              "bbcode"
            ]
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns current user's blog posts list (offline only), paginated.",
          "externalDocs": {
            "url": "http://en.skyrock.com/developer/documentation/api/#list-offline-posts"
          }
        }
      },
      "/blog/new_post.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "description": "Response format.",
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [],
          "description": "Creates a new blog post.",
          "externalDocs": {
            "url": "http://en.skyrock.com/developer/documentation/api/#new-post"
          }
        }
      },
      "/blog/get_post.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "description": "Response format.",
            "enum": [
              "json",
              "xml"
            ]
          },
          {
            "name": "id_user",
            "required": false,
            "in": "query",
            "type": "integer",
            "description": "User ID (optional if OAuthenticated)."
          },
          {
            "name": "username",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Username (optional if OAuthenticated)."
          },
          {
            "name": "id_post",
            "required": true,
            "in": "query",
            "type": "integer",
            "description": "Post ID."
          },
          {
            "name": "output_format",
            "required": false,
            "in": "query",
            "type": "string",
            "default": "html",
            "description": "Defines which format to output, for specific rich text fields. Possible values: 'html' (default), 'bbcode'.",
            "enum": [
              "html",
              "bbcode"
            ]
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns an user's blog post. Only online posts will be returned, unless authenticated user is its creator.",
          "externalDocs": {
            "url": "http://en.skyrock.com/developer/documentation/api/#get-post"
          }
        }
      },
      "/blog/set_post.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "description": "Response format.",
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [],
          "description": "Edits a blog post.",
          "externalDocs": {
            "url": "http://en.skyrock.com/developer/documentation/api/#set-post"
          }
        }
      },
      "/blog/delete_post.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "description": "Response format.",
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [],
          "description": "Deletes a blog post.",
          "externalDocs": {
            "url": "http://en.skyrock.com/developer/documentation/api/#delete-post"
          }
        }
      },
      "/blog/list_post_medias.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "description": "Response format.",
            "enum": [
              "json",
              "xml"
            ]
          },
          {
            "name": "id_user",
            "required": false,
            "in": "query",
            "type": "integer",
            "description": "User ID (optional if OAuthenticated)."
          },
          {
            "name": "username",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Username (optional if OAuthenticated)."
          },
          {
            "name": "id_post",
            "required": true,
            "in": "query",
            "type": "integer",
            "description": "Post ID."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns a post's medias list.",
          "externalDocs": {
            "url": "http://en.skyrock.com/developer/documentation/api/#list-post-medias"
          }
        }
      },
      "/blog/new_post_media.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "description": "Response format.",
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [],
          "description": "Associates media with a blog post.",
          "externalDocs": {
            "url": "http://en.skyrock.com/developer/documentation/api/#new-post-media"
          }
        }
      },
      "/blog/delete_post_media.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "description": "Response format.",
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [],
          "description": "Deletes a post's media.",
          "externalDocs": {
            "url": "http://en.skyrock.com/developer/documentation/api/#delete-post-media"
          }
        }
      },
      "/blog/list_post_comments.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "description": "Response format.",
            "enum": [
              "json",
              "xml"
            ]
          },
          {
            "name": "id_user",
            "required": false,
            "in": "query",
            "type": "integer",
            "description": "User ID (optional if OAuthenticated)."
          },
          {
            "name": "username",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Username (optional if OAuthenticated)."
          },
          {
            "name": "id_post",
            "required": true,
            "in": "query",
            "type": "integer",
            "description": "Post ID."
          },
          {
            "name": "page",
            "required": false,
            "in": "query",
            "type": "integer",
            "description": "Page number."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Lists a post's comments.",
          "externalDocs": {
            "url": "http://en.skyrock.com/developer/documentation/api/#list-post-comments"
          }
        }
      },
      "/blog/get_post_comment.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "description": "Response format.",
            "enum": [
              "json",
              "xml"
            ]
          },
          {
            "name": "id_user",
            "required": false,
            "in": "query",
            "type": "integer",
            "description": "User ID (optional if OAuthenticated)."
          },
          {
            "name": "username",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Username (optional if OAuthenticated)."
          },
          {
            "name": "id_post",
            "required": true,
            "in": "query",
            "type": "integer",
            "description": "Post ID."
          },
          {
            "name": "id_comment",
            "required": true,
            "in": "query",
            "type": "integer",
            "description": "Post comment ID."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns a post's comment.",
          "externalDocs": {
            "url": "http://en.skyrock.com/developer/documentation/api/#get-post-comment"
          }
        }
      },
      "/blog/list_skins.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "description": "Response format.",
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns available skins.",
          "externalDocs": {
            "url": "http://en.skyrock.com/developer/documentation/api/#list-skins"
          }
        }
      },
      "/blog/list_pictures.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "description": "Response format.",
            "enum": [
              "json",
              "xml"
            ]
          },
          {
            "name": "id_user",
            "required": false,
            "in": "query",
            "type": "integer",
            "description": "User ID (optional if OAuthenticated)."
          },
          {
            "name": "username",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Username (optional if OAuthenticated)."
          },
          {
            "name": "page",
            "required": false,
            "in": "query",
            "type": "integer",
            "description": "Page number."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns the list of pictures from all blog's articles, paginated (35 pictures per page).",
          "externalDocs": {
            "url": "http://en.skyrock.com/developer/documentation/api/#list-pictures"
          }
        }
      },
      "/profile/get.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "description": "Response format.",
            "enum": [
              "json",
              "xml"
            ]
          },
          {
            "name": "id_user",
            "required": false,
            "in": "query",
            "type": "integer",
            "description": "User ID (optional if OAuthenticated)."
          },
          {
            "name": "username",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Username (optional if OAuthenticated)."
          },
          {
            "name": "output_format",
            "required": false,
            "in": "query",
            "type": "string",
            "default": "html",
            "description": "Defines which format to output, for specific rich text fields. Possible values: 'html' (default), 'bbcode'.",
            "enum": [
              "html",
              "bbcode"
            ]
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns an user's profile public data.",
          "externalDocs": {
            "url": "http://en.skyrock.com/developer/documentation/api/#id3"
          }
        }
      },
      "/profile/set.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "description": "Response format.",
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [],
          "description": "Sets an user's profile public data.",
          "externalDocs": {
            "url": "http://en.skyrock.com/developer/documentation/api/#id4"
          }
        }
      },
      "/profile/add_album.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "description": "Response format.",
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [],
          "description": "Adds an album to the profile.",
          "externalDocs": {
            "url": "http://en.skyrock.com/developer/documentation/api/#add-album"
          }
        }
      },
      "/profile/list_albums.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "description": "Response format.",
            "enum": [
              "json",
              "xml"
            ]
          },
          {
            "name": "id_user",
            "required": false,
            "in": "query",
            "type": "integer",
            "description": "User ID (optional if OAuthenticated)."
          },
          {
            "name": "username",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Username (optional if OAuthenticated)."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns the list of albums associated with a profile. Main album has id_album = 1.",
          "externalDocs": {
            "url": "http://en.skyrock.com/developer/documentation/api/#list-albums"
          }
        }
      },
      "/profile/set_album.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "description": "Response format.",
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [],
          "description": "Sets an album's title.",
          "externalDocs": {
            "url": "http://en.skyrock.com/developer/documentation/api/#set-album"
          }
        }
      },
      "/profile/delete_album.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "description": "Response format.",
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [],
          "description": "Deletes an empty album. Main album (id_album = 1) cannot be deleted.",
          "externalDocs": {
            "url": "http://en.skyrock.com/developer/documentation/api/#delete-album"
          }
        }
      },
      "/profile/add_picture.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "description": "Response format.",
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [],
          "description": "Adds a picture to the profile.",
          "externalDocs": {
            "url": "http://en.skyrock.com/developer/documentation/api/#add-picture"
          }
        }
      },
      "/profile/list_pictures.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "description": "Response format.",
            "enum": [
              "json",
              "xml"
            ]
          },
          {
            "name": "id_user",
            "required": false,
            "in": "query",
            "type": "integer",
            "description": "User ID (optional if OAuthenticated)."
          },
          {
            "name": "username",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Username (optional if OAuthenticated)."
          },
          {
            "name": "id_album",
            "required": true,
            "in": "query",
            "type": "integer",
            "description": "Album ID."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns the list of pictures associated with a profile.",
          "externalDocs": {
            "url": "http://en.skyrock.com/developer/documentation/api/#id5"
          }
        }
      },
      "/profile/get_picture.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "description": "Response format.",
            "enum": [
              "json",
              "xml"
            ]
          },
          {
            "name": "id_album",
            "required": true,
            "in": "query",
            "type": "integer",
            "description": "Album ID."
          },
          {
            "name": "id_picture",
            "required": true,
            "in": "query",
            "type": "integer",
            "description": "Picture ID."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns a specified picture.",
          "externalDocs": {
            "url": "http://en.skyrock.com/developer/documentation/api/#get-picture"
          }
        }
      },
      "/profile/set_picture.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "description": "Response format.",
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [],
          "description": "Sets a picture's properties.",
          "externalDocs": {
            "url": "http://en.skyrock.com/developer/documentation/api/#set-picture"
          }
        }
      },
      "/profile/delete_picture.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "description": "Response format.",
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [],
          "description": "Deletes a picture.",
          "externalDocs": {
            "url": "http://en.skyrock.com/developer/documentation/api/#delete-picture"
          }
        }
      },
      "/profile/get_config.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "description": "Response format.",
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns settings about current user's profile.",
          "externalDocs": {
            "url": "http://en.skyrock.com/developer/documentation/api/#get-config"
          }
        }
      },
      "/profile/set_config.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "description": "Response format.",
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [],
          "description": "Sets informations about a profile's (see get_property_values for possible values to set).",
          "externalDocs": {
            "url": "http://en.skyrock.com/developer/documentation/api/#set-config"
          }
        }
      },
      "/profile/get_property_values.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "description": "Response format.",
            "enum": [
              "json",
              "xml"
            ]
          },
          {
            "name": "property",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "Property name. Possible values: gender, gender_preference, looks_for, status, town, country, department, occupation, place, personality, smoker, hair_color, eye_color, height, weight, block_friends, block_honors, block_groups, block_gifts, show_visits_counter, show_comments_counter, show_kiffs_counter, show_my_websites, show_mood, display_policy, allow_share, allow_facebook_like, allow_votes, allow_kiffs, default_page, show_me_page, show_news_page, show_photos_page, show_videos_page, allow_comments.",
            "enum": [
              "gender",
              "gender_preference",
              "looks_for",
              "status",
              "town",
              "country",
              "department",
              "occupation",
              "place",
              "personality",
              "smoker",
              "hair_color",
              "eye_color",
              "height",
              "weight",
              "block_friends",
              "block_honors",
              "block_groups",
              "block_gifts",
              "show_visits_counter",
              "show_comments_counter",
              "show_kiffs_counter",
              "show_my_websites",
              "show_mood",
              "display_policy",
              "allow_share",
              "allow_facebook_like",
              "allow_votes",
              "allow_kiffs",
              "default_page",
              "show_me_page",
              "show_news_page",
              "show_photos_page",
              "show_videos_page",
              "allow_comments"
            ]
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns possible values for a given property. These properties can be set using set or set_config.",
          "externalDocs": {
            "url": "http://en.skyrock.com/developer/documentation/api/#get-property-values"
          }
        }
      },
      "/profile/set_tags.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "description": "Response format.",
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [],
          "description": "Sets an user profile's tags.",
          "externalDocs": {
            "url": "http://en.skyrock.com/developer/documentation/api/#set-tags"
          }
        }
      },
      "/profile/get_tags.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "description": "Response format.",
            "enum": [
              "json",
              "xml"
            ]
          },
          {
            "name": "id_user",
            "required": false,
            "in": "query",
            "type": "integer",
            "description": "User ID (optional if OAuthenticated)."
          },
          {
            "name": "username",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Username (optional if OAuthenticated)."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns an user profile's tags.",
          "externalDocs": {
            "url": "http://en.skyrock.com/developer/documentation/api/#get-tags"
          }
        }
      },
      "/profile/get_tags_types.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "description": "Response format.",
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns user profile's tags types.",
          "externalDocs": {
            "url": "http://en.skyrock.com/developer/documentation/api/#get-tags-types"
          }
        }
      },
      "/mood/list_moods.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "description": "Response format.",
            "enum": [
              "json",
              "xml"
            ]
          },
          {
            "name": "id_user",
            "required": false,
            "in": "query",
            "type": "integer",
            "description": "User ID (optional if OAuthenticated)."
          },
          {
            "name": "username",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Username (optional if OAuthenticated)."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns an user's mood list.",
          "externalDocs": {
            "url": "http://en.skyrock.com/developer/documentation/api/#list-moods"
          }
        }
      },
      "/mood/get_mood.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "description": "Response format.",
            "enum": [
              "json",
              "xml"
            ]
          },
          {
            "name": "id_user",
            "required": false,
            "in": "query",
            "type": "integer",
            "description": "User ID (optional if OAuthenticated)."
          },
          {
            "name": "username",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Username (optional if OAuthenticated)."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns an user last mood.",
          "externalDocs": {
            "url": "http://en.skyrock.com/developer/documentation/api/#get-mood"
          }
        }
      },
      "/mood/set_mood.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "description": "Response format.",
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [],
          "description": "Sets an user's mood.",
          "externalDocs": {
            "url": "http://en.skyrock.com/developer/documentation/api/#set-mood"
          }
        }
      },
      "/mood/delete_mood.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "description": "Response format.",
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [],
          "description": "Deletes an user's mood.",
          "externalDocs": {
            "url": "http://en.skyrock.com/developer/documentation/api/#delete-mood"
          }
        }
      },
      "/newsfeed/send_event.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "description": "Response format.",
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [],
          "description": "Sends a free text as event to the authenticated user's dash-board (eg. newsfeed). Events also appear in the dash-board of the user's friends. The message is not localized and should be send in the user language.",
          "externalDocs": {
            "url": "http://en.skyrock.com/developer/documentation/api/#send-event"
          }
        }
      },
      "/newsfeed/send_alert.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "description": "Response format.",
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [],
          "description": "Sends a free text as alert to the authenticated user's alerts (notifications). The message is not localized and should be send in the user language. Unlike events, alerts are personal.",
          "externalDocs": {
            "url": "http://en.skyrock.com/developer/documentation/api/#send-alert"
          }
        }
      },
      "/newsfeed/list_events.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "description": "Response format.",
            "enum": [
              "json",
              "xml"
            ]
          },
          {
            "name": "events_category",
            "required": true,
            "in": "query",
            "type": "string",
            "default": "own",
            "description": "Events category. Possible values: own (display own events), friends (display friends' events).",
            "enum": [
              "own",
              "friends"
            ]
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Lists events in the user's dash-board (eg. newsfeed).",
          "externalDocs": {
            "url": "http://en.skyrock.com/developer/documentation/api/#list-events"
          }
        }
      },
      "/newsfeed/list_events_types.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "description": "Response format.",
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns descriptions of events types, for developer information.",
          "externalDocs": {
            "url": "http://en.skyrock.com/developer/documentation/api/#list-events-types"
          }
        }
      },
      "/newsfeed/list_alerts.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "description": "Response format.",
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Lists user's alerts (notifications).",
          "externalDocs": {
            "url": "http://en.skyrock.com/developer/documentation/api/#list-alerts"
          }
        }
      },
      "/newsfeed/list_alerts_types.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "description": "Response format.",
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns descriptions of alerts types, for developer information.",
          "externalDocs": {
            "url": "http://en.skyrock.com/developer/documentation/api/#list-alerts-types"
          }
        }
      },
      "/message/list_threads.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "description": "Response format.",
            "enum": [
              "json",
              "xml"
            ]
          },
          {
            "name": "filter",
            "required": true,
            "in": "query",
            "type": "string",
            "default": "all",
            "description": "Thread selection filter (all/unread).",
            "enum": [
              "all",
              "unread"
            ]
          },
          {
            "name": "page",
            "required": false,
            "in": "query",
            "type": "integer",
            "description": "Page number (optional)."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns the authenticated user's message threads (15 threads per page).",
          "externalDocs": {
            "url": "http://en.skyrock.com/developer/documentation/api/#list-threads"
          }
        }
      },
      "/message/get_thread.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "description": "Response format.",
            "enum": [
              "json",
              "xml"
            ]
          },
          {
            "name": "id_thread",
            "required": true,
            "in": "query",
            "type": "integer",
            "description": "Message thread ID."
          },
          {
            "name": "page",
            "required": false,
            "in": "query",
            "type": "integer",
            "description": "Page number (optional)."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "description": "Returns a message thread (15 messages per page).",
          "externalDocs": {
            "url": "http://en.skyrock.com/developer/documentation/api/#get-thread"
          }
        }
      },
      "/message/set_thread_as_read.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "description": "Response format.",
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [],
          "description": "Marks a message thread as read.",
          "externalDocs": {
            "url": "http://en.skyrock.com/developer/documentation/api/#set-thread-as-read"
          }
        }
      },
      "/message/delete_thread.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "description": "Response format.",
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [],
          "description": "Deletes a message thread.",
          "externalDocs": {
            "url": "http://en.skyrock.com/developer/documentation/api/#delete-thread"
          }
        }
      },
      "/message/delete_message.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "description": "Response format.",
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [],
          "description": "Deletes a message.",
          "externalDocs": {
            "url": "http://en.skyrock.com/developer/documentation/api/#delete-message"
          }
        }
      },
      "/message/send_message.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "description": "Response format.",
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [],
          "description": "Sends a message to a single recipient.",
          "externalDocs": {
            "url": "http://en.skyrock.com/developer/documentation/api/#send-message"
          }
        }
      },
      "/message/create_thread.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "description": "Response format.",
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [],
          "description": "Creates a multi-recipient thread.",
          "externalDocs": {
            "url": "http://en.skyrock.com/developer/documentation/api/#create-thread"
          }
        }
      },
      "/message/reply_thread.{format}": {
        "parameters": [
          {
            "name": "format",
            "required": true,
            "in": "path",
            "type": "string",
            "default": "json",
            "description": "Response format.",
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [],
          "description": "Replies to a thread.",
          "externalDocs": {
            "url": "http://en.skyrock.com/developer/documentation/api/#reply-thread"
          }
        }
      }
    },
    "info": {
      "title": "Skyrock",
      "description": "Interact with Skyrock.com features: blogs, profiles, messaging, 'what's new', friends & activities!"
    }
  },
  "public": true
}