{
  "type": "api",
  "key": "apigee:heroku",
  "info": {
    "title": "Heroku",
    "description": "Manage your Heroku apps, configs, collaborators & resources"
  },
  "swagger": {
    "swagger": "2.0",
    "host": "api.heroku.com",
    "basePath": "/",
    "schemes": [
      "https"
    ],
    "paths": {
      "/addons": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Accept",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/json",
              "description": "Content type.",
              "enum": [
                "application/json",
                "application/xml"
              ]
            }
          ],
          "description": "List all available addons.",
          "externalDocs": {
            "url": "https://api-docs.heroku.com/addons"
          }
        }
      },
      "/apps/{app}/addons": {
        "parameters": [
          {
            "name": "app",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The app name."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Accept",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/json",
              "description": "Content type.",
              "enum": [
                "application/json",
                "application/xml"
              ]
            }
          ],
          "description": "List addons installed on an app.",
          "externalDocs": {
            "url": "https://api-docs.heroku.com/addons"
          }
        }
      },
      "/apps/{app}/addons/{addon}": {
        "parameters": [
          {
            "name": "app",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The app name."
          },
          {
            "name": "addon",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "the addon name."
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Accept",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/json",
              "description": "Content type.",
              "enum": [
                "application/json",
                "application/xml"
              ]
            }
          ],
          "description": "Install an addon to an app.",
          "externalDocs": {
            "url": "https://api-docs.heroku.com/addons"
          }
        },
        "put": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Accept",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/json",
              "description": "Content type.",
              "enum": [
                "application/json",
                "application/xml"
              ]
            }
          ],
          "description": "Upgrade an addon to an app.",
          "externalDocs": {
            "url": "https://api-docs.heroku.com/addons"
          }
        },
        "delete": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Accept",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/json",
              "description": "Content type.",
              "enum": [
                "application/json",
                "application/xml"
              ]
            }
          ],
          "description": "Uninstall an addon from an app.",
          "externalDocs": {
            "url": "https://api-docs.heroku.com/addons"
          }
        }
      },
      "/apps": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Accept",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/json",
              "description": "Content type.",
              "enum": [
                "application/json",
                "application/xml"
              ]
            }
          ],
          "description": "List apps.",
          "externalDocs": {
            "url": "https://api-docs.heroku.com/apps"
          }
        },
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Accept",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/json",
              "description": "Content type.",
              "enum": [
                "application/json",
                "application/xml"
              ]
            }
          ],
          "description": "Create an app.",
          "externalDocs": {
            "url": "https://api-docs.heroku.com/apps"
          }
        }
      },
      "/apps/{name}": {
        "parameters": [
          {
            "name": "name",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The app name."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Accept",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/json",
              "description": "Content type.",
              "enum": [
                "application/json",
                "application/xml"
              ]
            }
          ],
          "description": "Get info for an app.",
          "externalDocs": {
            "url": "https://api-docs.heroku.com/apps"
          }
        },
        "delete": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Accept",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/json",
              "description": "Content type.",
              "enum": [
                "application/json",
                "application/xml"
              ]
            }
          ],
          "description": "Destroy an app.",
          "externalDocs": {
            "url": "https://api-docs.heroku.com/apps"
          }
        }
      },
      "/apps/{app}/collaborators": {
        "parameters": [
          {
            "name": "app",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The app name."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Accept",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/json",
              "description": "Content type.",
              "enum": [
                "application/json",
                "application/xml"
              ]
            }
          ],
          "description": "List collaborators for an app.",
          "externalDocs": {
            "url": "https://api-docs.heroku.com/collaborators"
          }
        }
      },
      "/apps/{app}/collaborators/{email}": {
        "parameters": [
          {
            "name": "app",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The app name."
          },
          {
            "name": "email",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The email of the user to remove as a collaborator."
          }
        ],
        "delete": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Accept",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/json",
              "description": "Content type.",
              "enum": [
                "application/json",
                "application/xml"
              ]
            }
          ],
          "description": "Remove a collaborator from an app.",
          "externalDocs": {
            "url": "https://api-docs.heroku.com/collaborators"
          }
        }
      },
      "/apps/{app}/config_vars": {
        "parameters": [
          {
            "name": "app",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The app name."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Accept",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/json",
              "description": "Content type.",
              "enum": [
                "application/json",
                "application/xml"
              ]
            }
          ],
          "description": "List config vars for an app.",
          "externalDocs": {
            "url": "https://api-docs.heroku.com/config"
          }
        },
        "put": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Accept",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/json",
              "description": "Content type.",
              "enum": [
                "application/json",
                "application/xml"
              ]
            }
          ],
          "description": "Add config vars to an app.",
          "externalDocs": {
            "url": "https://api-docs.heroku.com/config"
          }
        }
      },
      "/apps/{app}/config_vars/{key}": {
        "parameters": [
          {
            "name": "app",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The app name."
          },
          {
            "name": "key",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The config var to remove."
          }
        ],
        "delete": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Accept",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/json",
              "description": "Content type.",
              "enum": [
                "application/json",
                "application/xml"
              ]
            }
          ],
          "description": "Remove a config var from an app.",
          "externalDocs": {
            "url": "https://api-docs.heroku.com/config"
          }
        }
      },
      "/apps/{app}/domains": {
        "parameters": [
          {
            "name": "app",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The app name."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Accept",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/json",
              "description": "Content type.",
              "enum": [
                "application/json",
                "application/xml"
              ]
            }
          ],
          "description": "List domains for an app.",
          "externalDocs": {
            "url": "https://api-docs.heroku.com/domains"
          }
        }
      },
      "/apps/{app}/domains/{domain_name}": {
        "parameters": [
          {
            "name": "app",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The app name."
          },
          {
            "name": "domain_name",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The domain to remove."
          }
        ],
        "delete": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Accept",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/json",
              "description": "Content type.",
              "enum": [
                "application/json",
                "application/xml"
              ]
            }
          ],
          "description": "Remove a domain from an app.",
          "externalDocs": {
            "url": "https://api-docs.heroku.com/domains"
          }
        }
      },
      "/user/keys": {
        "parameters": [],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Accept",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/json",
              "description": "Content type.",
              "enum": [
                "application/json",
                "application/xml"
              ]
            }
          ],
          "description": "List SSH keys.",
          "externalDocs": {
            "url": "https://api-docs.heroku.com/keys"
          }
        },
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Accept",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/json",
              "description": "Content type.",
              "enum": [
                "application/json",
                "application/xml"
              ]
            }
          ],
          "description": "Associate an SSH key with this account.",
          "externalDocs": {
            "url": "https://api-docs.heroku.com/keys"
          }
        }
      },
      "/user/keys/{key}": {
        "parameters": [
          {
            "name": "key",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The username@hostname description field of the key."
          }
        ],
        "delete": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Accept",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/json",
              "description": "Content type.",
              "enum": [
                "application/json",
                "application/xml"
              ]
            }
          ],
          "description": "Remove an SSH key from this account.",
          "externalDocs": {
            "url": "https://api-docs.heroku.com/keys"
          }
        }
      },
      "/apps/{app}/logs": {
        "parameters": [
          {
            "name": "app",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The app name."
          },
          {
            "name": "logplex",
            "required": true,
            "in": "query",
            "type": "string",
            "default": "true",
            "description": "Use logplex to stream logs (always true)."
          },
          {
            "name": "num",
            "required": false,
            "in": "query",
            "type": "integer",
            "description": "The number of lines to display."
          },
          {
            "name": "ps",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Only display logs from a given process."
          },
          {
            "name": "source",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Only display logs from a given source."
          },
          {
            "name": "tail",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "1: continually stream logs - <blank>: display only num logs"
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Accept",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/json",
              "description": "Content type.",
              "enum": [
                "application/json",
                "application/xml"
              ]
            }
          ],
          "description": "Get logs for an app.",
          "externalDocs": {
            "url": "https://api-docs.heroku.com/logs"
          }
        }
      },
      "/apps/{app}/ps": {
        "parameters": [
          {
            "name": "app",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The app name."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Accept",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/json",
              "description": "Content type.",
              "enum": [
                "application/json",
                "application/xml"
              ]
            }
          ],
          "description": "List processes for an app.",
          "externalDocs": {
            "url": "https://api-docs.heroku.com/ps"
          }
        },
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Accept",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/json",
              "description": "Content type.",
              "enum": [
                "application/json",
                "application/xml"
              ]
            },
            {
              "name": "command",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "The command to run."
            },
            {
              "name": "attach",
              "required": false,
              "in": "query",
              "type": "string",
              "description": "true: use rendezvous to access stdin/stdout - <blank>: stream process output to the application log"
            }
          ],
          "description": "Run a one-off process.",
          "externalDocs": {
            "url": "https://api-docs.heroku.com/ps"
          }
        }
      },
      "/apps/{app}/ps/restart": {
        "parameters": [
          {
            "name": "app",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The app name."
          },
          {
            "name": "ps",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "The name of a process to restart."
          },
          {
            "name": "type",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "The type of process to restart."
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Accept",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/json",
              "description": "Content type.",
              "enum": [
                "application/json",
                "application/xml"
              ]
            }
          ],
          "description": "Restart processes of an app. Specify either ps or type to restart only the specified processes. Leave both blank to restart the entire app.",
          "externalDocs": {
            "url": "https://api-docs.heroku.com/ps"
          }
        }
      },
      "/apps/{app}/ps/stop": {
        "parameters": [
          {
            "name": "app",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The app name."
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Accept",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/json",
              "description": "Content type.",
              "enum": [
                "application/json",
                "application/xml"
              ]
            }
          ],
          "description": "Stop processes of an app. Specify either ps or type to stop the specified processes.",
          "externalDocs": {
            "url": "https://api-docs.heroku.com/ps"
          }
        }
      },
      "/apps/{app}/ps/scale": {
        "parameters": [
          {
            "name": "app",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The app name."
          },
          {
            "name": "type",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "The type of process to scale."
          },
          {
            "name": "qty",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "The desired number of processes of this type."
          }
        ],
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Accept",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/json",
              "description": "Content type.",
              "enum": [
                "application/json",
                "application/xml"
              ]
            }
          ],
          "description": "Scale processes of an app.",
          "externalDocs": {
            "url": "https://api-docs.heroku.com/ps"
          }
        }
      },
      "/apps/{app}/releases": {
        "parameters": [
          {
            "name": "app",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The app name."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Accept",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/json",
              "description": "Content type.",
              "enum": [
                "application/json",
                "application/xml"
              ]
            }
          ],
          "description": "List releases for an app.",
          "externalDocs": {
            "url": "https://api-docs.heroku.com/releases"
          }
        },
        "post": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Accept",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/json",
              "description": "Content type.",
              "enum": [
                "application/json",
                "application/xml"
              ]
            },
            {
              "name": "rollback",
              "required": true,
              "in": "query",
              "type": "string",
              "description": "The release to which to roll back."
            }
          ],
          "description": "Rollback to a release.",
          "externalDocs": {
            "url": "https://api-docs.heroku.com/releases"
          }
        }
      },
      "/apps/{app}/releases/{release}": {
        "parameters": [
          {
            "name": "app",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The app name."
          },
          {
            "name": "release",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The release name."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Accept",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/json",
              "description": "Content type.",
              "enum": [
                "application/json",
                "application/xml"
              ]
            }
          ],
          "description": "Get info for a release.",
          "externalDocs": {
            "url": "https://api-docs.heroku.com/releases"
          }
        }
      },
      "/apps/{app}/stack": {
        "parameters": [
          {
            "name": "app",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The app name."
          }
        ],
        "get": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Accept",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/json",
              "description": "Content type.",
              "enum": [
                "application/json",
                "application/xml"
              ]
            }
          ],
          "description": "List available stacks for an app.",
          "externalDocs": {
            "url": "https://api-docs.heroku.com/stacks"
          }
        },
        "put": {
          "responses": {
            "200": {
              "description": "Successful Response"
            }
          },
          "parameters": [
            {
              "name": "Accept",
              "required": true,
              "in": "header",
              "type": "string",
              "default": "application/json",
              "description": "Content type.",
              "enum": [
                "application/json",
                "application/xml"
              ]
            }
          ],
          "description": "Migrate an app to a new stack.",
          "externalDocs": {
            "url": "https://api-docs.heroku.com/stacks"
          }
        }
      }
    },
    "info": {
      "title": "Heroku",
      "description": "Manage your Heroku apps, configs, collaborators & resources"
    }
  },
  "public": true
}