{
  "type": "api",
  "key": "guru:googleapis.com:cloudresourcemanager",
  "info": {
    "contact": {
      "name": "Google",
      "url": "https://google.com"
    },
    "description": "The Google Cloud Resource Manager API provides methods for creating, reading, and updating project metadata.",
    "title": "Google Cloud Resource Manager",
    "version": "v1",
    "x-apiClientRegistration": {
      "url": "https://console.developers.google.com"
    },
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_cloud.google.com__static_images_new-gcp-logo.png"
    },
    "x-origin": {
      "format": "google",
      "url": "https://cloudresourcemanager.googleapis.com/$discovery/rest?version=v1",
      "version": "v1"
    },
    "x-preferred": true,
    "x-providerName": "googleapis.com",
    "x-serviceName": "cloudresourcemanager"
  },
  "public": true,
  "swagger": {
    "swagger": "2.0",
    "schemes": [
      "https"
    ],
    "host": "cloudresourcemanager.googleapis.com",
    "basePath": "/",
    "info": {
      "contact": {
        "name": "Google",
        "url": "https://google.com"
      },
      "description": "The Google Cloud Resource Manager API provides methods for creating, reading, and updating project metadata.",
      "title": "Google Cloud Resource Manager",
      "version": "v1",
      "x-apiClientRegistration": {
        "url": "https://console.developers.google.com"
      },
      "x-logo": {
        "url": "https://api.apis.guru/v2/cache/logo/https_cloud.google.com__static_images_new-gcp-logo.png"
      },
      "x-origin": {
        "format": "google",
        "url": "https://cloudresourcemanager.googleapis.com/$discovery/rest?version=v1",
        "version": "v1"
      },
      "x-preferred": true,
      "x-providerName": "googleapis.com",
      "x-serviceName": "cloudresourcemanager"
    },
    "externalDocs": {
      "url": "https://cloud.google.com/resource-manager"
    },
    "securityDefinitions": {
      "Oauth2": {
        "authorizationUrl": "https://accounts.google.com/o/oauth2/auth",
        "description": "Oauth 2.0 authentication",
        "flow": "implicit",
        "scopes": {
          "https://www.googleapis.com/auth/cloud-platform": "View and manage your data across Google Cloud Platform services",
          "https://www.googleapis.com/auth/cloud-platform.read-only": "View your data across Google Cloud Platform services"
        },
        "type": "oauth2"
      }
    },
    "parameters": {
      "$.xgafv": {
        "description": "V1 error format.",
        "enum": [
          "1",
          "2"
        ],
        "in": "query",
        "name": "$.xgafv",
        "type": "string"
      },
      "access_token": {
        "description": "OAuth access token.",
        "in": "query",
        "name": "access_token",
        "type": "string"
      },
      "alt": {
        "default": "json",
        "description": "Data format for response.",
        "enum": [
          "json",
          "media",
          "proto"
        ],
        "in": "query",
        "name": "alt",
        "type": "string"
      },
      "bearer_token": {
        "description": "OAuth bearer token.",
        "in": "query",
        "name": "bearer_token",
        "type": "string"
      },
      "callback": {
        "description": "JSONP",
        "in": "query",
        "name": "callback",
        "type": "string"
      },
      "fields": {
        "description": "Selector specifying which fields to include in a partial response.",
        "in": "query",
        "name": "fields",
        "type": "string"
      },
      "key": {
        "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
        "in": "query",
        "name": "key",
        "type": "string"
      },
      "oauth_token": {
        "description": "OAuth 2.0 token for the current user.",
        "in": "query",
        "name": "oauth_token",
        "type": "string"
      },
      "pp": {
        "default": true,
        "description": "Pretty-print response.",
        "in": "query",
        "name": "pp",
        "type": "boolean"
      },
      "prettyPrint": {
        "default": true,
        "description": "Returns response with indentations and line breaks.",
        "in": "query",
        "name": "prettyPrint",
        "type": "boolean"
      },
      "quotaUser": {
        "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
        "in": "query",
        "name": "quotaUser",
        "type": "string"
      },
      "uploadType": {
        "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
        "in": "query",
        "name": "uploadType",
        "type": "string"
      },
      "upload_protocol": {
        "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
        "in": "query",
        "name": "upload_protocol",
        "type": "string"
      }
    },
    "tags": [
      {
        "name": "organizations"
      },
      {
        "name": "projects"
      },
      {
        "name": "operations"
      }
    ],
    "paths": {
      "/v1/organizations:search": {
        "parameters": [
          {
            "$ref": "#/parameters/access_token"
          },
          {
            "$ref": "#/parameters/prettyPrint"
          },
          {
            "$ref": "#/parameters/key"
          },
          {
            "$ref": "#/parameters/quotaUser"
          },
          {
            "$ref": "#/parameters/pp"
          },
          {
            "$ref": "#/parameters/fields"
          },
          {
            "$ref": "#/parameters/alt"
          },
          {
            "$ref": "#/parameters/$.xgafv"
          },
          {
            "$ref": "#/parameters/callback"
          },
          {
            "$ref": "#/parameters/oauth_token"
          },
          {
            "$ref": "#/parameters/uploadType"
          },
          {
            "$ref": "#/parameters/bearer_token"
          },
          {
            "$ref": "#/parameters/upload_protocol"
          }
        ],
        "post": {
          "description": "Searches Organization resources that are visible to the user and satisfy\nthe specified filter. This method returns Organizations in an unspecified\norder. New Organizations do not necessarily appear at the end of the\nresults.",
          "operationId": "cloudresourcemanager.organizations.search",
          "parameters": [
            {
              "in": "body",
              "name": "body",
              "schema": {
                "$ref": "#/definitions/SearchOrganizationsRequest"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful response",
              "schema": {
                "$ref": "#/definitions/SearchOrganizationsResponse"
              }
            }
          },
          "security": [
            {
              "Oauth2": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            {
              "Oauth2": [
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ]
            }
          ],
          "tags": [
            "organizations"
          ]
        }
      },
      "/v1/projects": {
        "get": {
          "description": "Lists Projects that are visible to the user and satisfy the\nspecified filter. This method returns Projects in an unspecified order.\nNew Projects do not necessarily appear at the end of the list.",
          "operationId": "cloudresourcemanager.projects.list",
          "parameters": [
            {
              "description": "The maximum number of Projects to return in the response.\nThe server can return fewer Projects than requested.\nIf unspecified, server picks an appropriate default.\n\nOptional.",
              "in": "query",
              "name": "pageSize",
              "type": "integer"
            },
            {
              "description": "An expression for filtering the results of the request.  Filter rules are\ncase insensitive. The fields eligible for filtering are:\n\n+ `name`\n+ `id`\n+ <code>labels.<em>key</em></code> where *key* is the name of a label\n\nSome examples of using labels as filters:\n\n|Filter|Description|\n|------|-----------|\n|name:*|The project has a name.|\n|name:Howl|The project's name is `Howl` or `howl`.|\n|name:HOWL|Equivalent to above.|\n|NAME:howl|Equivalent to above.|\n|labels.color:*|The project has the label `color`.|\n|labels.color:red|The project's label `color` has the value `red`.|\n|labels.color:red&nbsp;label.size:big|The project's label `color` has the\nvalue `red` and its label `size` has the value `big`.\n\nOptional.",
              "in": "query",
              "name": "filter",
              "type": "string"
            },
            {
              "description": "A pagination token returned from a previous call to ListProjects\nthat indicates from where listing should continue.\n\nOptional.",
              "in": "query",
              "name": "pageToken",
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "Successful response",
              "schema": {
                "$ref": "#/definitions/ListProjectsResponse"
              }
            }
          },
          "security": [
            {
              "Oauth2": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            {
              "Oauth2": [
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ]
            }
          ],
          "tags": [
            "projects"
          ]
        },
        "parameters": [
          {
            "$ref": "#/parameters/access_token"
          },
          {
            "$ref": "#/parameters/prettyPrint"
          },
          {
            "$ref": "#/parameters/key"
          },
          {
            "$ref": "#/parameters/quotaUser"
          },
          {
            "$ref": "#/parameters/pp"
          },
          {
            "$ref": "#/parameters/fields"
          },
          {
            "$ref": "#/parameters/alt"
          },
          {
            "$ref": "#/parameters/$.xgafv"
          },
          {
            "$ref": "#/parameters/callback"
          },
          {
            "$ref": "#/parameters/oauth_token"
          },
          {
            "$ref": "#/parameters/uploadType"
          },
          {
            "$ref": "#/parameters/bearer_token"
          },
          {
            "$ref": "#/parameters/upload_protocol"
          }
        ],
        "post": {
          "description": "Request that a new Project be created. The result is an Operation which\ncan be used to track the creation process. It is automatically deleted\nafter a few hours, so there is no need to call DeleteOperation.\n\nOur SLO permits Project creation to take up to 30 seconds at the 90th\npercentile. As of 2016-08-29, we are observing 6 seconds 50th percentile\nlatency. 95th percentile latency is around 11 seconds. We recommend\npolling at the 5th second with an exponential backoff.",
          "operationId": "cloudresourcemanager.projects.create",
          "parameters": [
            {
              "in": "body",
              "name": "body",
              "schema": {
                "$ref": "#/definitions/Project"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful response",
              "schema": {
                "$ref": "#/definitions/Operation"
              }
            }
          },
          "security": [
            {
              "Oauth2": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          ],
          "tags": [
            "projects"
          ]
        }
      },
      "/v1/projects/{projectId}": {
        "delete": {
          "description": "Marks the Project identified by the specified\n`project_id` (for example, `my-project-123`) for deletion.\nThis method will only affect the Project if the following criteria are met:\n\n+ The Project does not have a billing account associated with it.\n+ The Project has a lifecycle state of\nACTIVE.\n\nThis method changes the Project's lifecycle state from\nACTIVE\nto DELETE_REQUESTED.\nThe deletion starts at an unspecified time,\nat which point the Project is no longer accessible.\n\nUntil the deletion completes, you can check the lifecycle state\nchecked by retrieving the Project with GetProject,\nand the Project remains visible to ListProjects.\nHowever, you cannot update the project.\n\nAfter the deletion completes, the Project is not retrievable by\nthe  GetProject and\nListProjects methods.\n\nThe caller must have modify permissions for this Project.",
          "operationId": "cloudresourcemanager.projects.delete",
          "parameters": [
            {
              "description": "The Project ID (for example, `foo-bar-123`).\n\nRequired.",
              "in": "path",
              "name": "projectId",
              "required": true,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "Successful response",
              "schema": {
                "$ref": "#/definitions/Empty"
              }
            }
          },
          "security": [
            {
              "Oauth2": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          ],
          "tags": [
            "projects"
          ]
        },
        "get": {
          "description": "Retrieves the Project identified by the specified\n`project_id` (for example, `my-project-123`).\n\nThe caller must have read permissions for this Project.",
          "operationId": "cloudresourcemanager.projects.get",
          "parameters": [
            {
              "description": "The Project ID (for example, `my-project-123`).\n\nRequired.",
              "in": "path",
              "name": "projectId",
              "required": true,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "Successful response",
              "schema": {
                "$ref": "#/definitions/Project"
              }
            }
          },
          "security": [
            {
              "Oauth2": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            {
              "Oauth2": [
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ]
            }
          ],
          "tags": [
            "projects"
          ]
        },
        "parameters": [
          {
            "$ref": "#/parameters/access_token"
          },
          {
            "$ref": "#/parameters/prettyPrint"
          },
          {
            "$ref": "#/parameters/key"
          },
          {
            "$ref": "#/parameters/quotaUser"
          },
          {
            "$ref": "#/parameters/pp"
          },
          {
            "$ref": "#/parameters/fields"
          },
          {
            "$ref": "#/parameters/alt"
          },
          {
            "$ref": "#/parameters/$.xgafv"
          },
          {
            "$ref": "#/parameters/callback"
          },
          {
            "$ref": "#/parameters/oauth_token"
          },
          {
            "$ref": "#/parameters/uploadType"
          },
          {
            "$ref": "#/parameters/bearer_token"
          },
          {
            "$ref": "#/parameters/upload_protocol"
          }
        ],
        "put": {
          "description": "Updates the attributes of the Project identified by the specified\n`project_id` (for example, `my-project-123`).\n\nThe caller must have modify permissions for this Project.",
          "operationId": "cloudresourcemanager.projects.update",
          "parameters": [
            {
              "description": "The project ID (for example, `my-project-123`).\n\nRequired.",
              "in": "path",
              "name": "projectId",
              "required": true,
              "type": "string"
            },
            {
              "in": "body",
              "name": "body",
              "schema": {
                "$ref": "#/definitions/Project"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful response",
              "schema": {
                "$ref": "#/definitions/Project"
              }
            }
          },
          "security": [
            {
              "Oauth2": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          ],
          "tags": [
            "projects"
          ]
        }
      },
      "/v1/projects/{projectId}:getAncestry": {
        "parameters": [
          {
            "$ref": "#/parameters/access_token"
          },
          {
            "$ref": "#/parameters/prettyPrint"
          },
          {
            "$ref": "#/parameters/key"
          },
          {
            "$ref": "#/parameters/quotaUser"
          },
          {
            "$ref": "#/parameters/pp"
          },
          {
            "$ref": "#/parameters/fields"
          },
          {
            "$ref": "#/parameters/alt"
          },
          {
            "$ref": "#/parameters/$.xgafv"
          },
          {
            "$ref": "#/parameters/callback"
          },
          {
            "$ref": "#/parameters/oauth_token"
          },
          {
            "$ref": "#/parameters/uploadType"
          },
          {
            "$ref": "#/parameters/bearer_token"
          },
          {
            "$ref": "#/parameters/upload_protocol"
          }
        ],
        "post": {
          "description": "Gets a list of ancestors in the resource hierarchy for the Project\nidentified by the specified `project_id` (for example, `my-project-123`).\n\nThe caller must have read permissions for this Project.",
          "operationId": "cloudresourcemanager.projects.getAncestry",
          "parameters": [
            {
              "description": "The Project ID (for example, `my-project-123`).\n\nRequired.",
              "in": "path",
              "name": "projectId",
              "required": true,
              "type": "string"
            },
            {
              "in": "body",
              "name": "body",
              "schema": {
                "$ref": "#/definitions/GetAncestryRequest"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful response",
              "schema": {
                "$ref": "#/definitions/GetAncestryResponse"
              }
            }
          },
          "security": [
            {
              "Oauth2": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            {
              "Oauth2": [
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ]
            }
          ],
          "tags": [
            "projects"
          ]
        }
      },
      "/v1/projects/{projectId}:undelete": {
        "parameters": [
          {
            "$ref": "#/parameters/access_token"
          },
          {
            "$ref": "#/parameters/prettyPrint"
          },
          {
            "$ref": "#/parameters/key"
          },
          {
            "$ref": "#/parameters/quotaUser"
          },
          {
            "$ref": "#/parameters/pp"
          },
          {
            "$ref": "#/parameters/fields"
          },
          {
            "$ref": "#/parameters/alt"
          },
          {
            "$ref": "#/parameters/$.xgafv"
          },
          {
            "$ref": "#/parameters/callback"
          },
          {
            "$ref": "#/parameters/oauth_token"
          },
          {
            "$ref": "#/parameters/uploadType"
          },
          {
            "$ref": "#/parameters/bearer_token"
          },
          {
            "$ref": "#/parameters/upload_protocol"
          }
        ],
        "post": {
          "description": "Restores the Project identified by the specified\n`project_id` (for example, `my-project-123`).\nYou can only use this method for a Project that has a lifecycle state of\nDELETE_REQUESTED.\nAfter deletion starts, the Project cannot be restored.\n\nThe caller must have modify permissions for this Project.",
          "operationId": "cloudresourcemanager.projects.undelete",
          "parameters": [
            {
              "description": "The project ID (for example, `foo-bar-123`).\n\nRequired.",
              "in": "path",
              "name": "projectId",
              "required": true,
              "type": "string"
            },
            {
              "in": "body",
              "name": "body",
              "schema": {
                "$ref": "#/definitions/UndeleteProjectRequest"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful response",
              "schema": {
                "$ref": "#/definitions/Empty"
              }
            }
          },
          "security": [
            {
              "Oauth2": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          ],
          "tags": [
            "projects"
          ]
        }
      },
      "/v1/projects/{resource}:getIamPolicy": {
        "parameters": [
          {
            "$ref": "#/parameters/access_token"
          },
          {
            "$ref": "#/parameters/prettyPrint"
          },
          {
            "$ref": "#/parameters/key"
          },
          {
            "$ref": "#/parameters/quotaUser"
          },
          {
            "$ref": "#/parameters/pp"
          },
          {
            "$ref": "#/parameters/fields"
          },
          {
            "$ref": "#/parameters/alt"
          },
          {
            "$ref": "#/parameters/$.xgafv"
          },
          {
            "$ref": "#/parameters/callback"
          },
          {
            "$ref": "#/parameters/oauth_token"
          },
          {
            "$ref": "#/parameters/uploadType"
          },
          {
            "$ref": "#/parameters/bearer_token"
          },
          {
            "$ref": "#/parameters/upload_protocol"
          }
        ],
        "post": {
          "description": "Returns the IAM access control policy for the specified Project.\nPermission is denied if the policy or the resource does not exist.",
          "operationId": "cloudresourcemanager.projects.getIamPolicy",
          "parameters": [
            {
              "description": "REQUIRED: The resource for which the policy is being requested.\n`resource` is usually specified as a path. For example, a Project\nresource is specified as `projects/{project}`.",
              "in": "path",
              "name": "resource",
              "required": true,
              "type": "string"
            },
            {
              "in": "body",
              "name": "body",
              "schema": {
                "$ref": "#/definitions/GetIamPolicyRequest"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful response",
              "schema": {
                "$ref": "#/definitions/Policy"
              }
            }
          },
          "security": [
            {
              "Oauth2": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            {
              "Oauth2": [
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ]
            }
          ],
          "tags": [
            "projects"
          ]
        }
      },
      "/v1/projects/{resource}:setIamPolicy": {
        "parameters": [
          {
            "$ref": "#/parameters/access_token"
          },
          {
            "$ref": "#/parameters/prettyPrint"
          },
          {
            "$ref": "#/parameters/key"
          },
          {
            "$ref": "#/parameters/quotaUser"
          },
          {
            "$ref": "#/parameters/pp"
          },
          {
            "$ref": "#/parameters/fields"
          },
          {
            "$ref": "#/parameters/alt"
          },
          {
            "$ref": "#/parameters/$.xgafv"
          },
          {
            "$ref": "#/parameters/callback"
          },
          {
            "$ref": "#/parameters/oauth_token"
          },
          {
            "$ref": "#/parameters/uploadType"
          },
          {
            "$ref": "#/parameters/bearer_token"
          },
          {
            "$ref": "#/parameters/upload_protocol"
          }
        ],
        "post": {
          "description": "Sets the IAM access control policy for the specified Project. Replaces\nany existing policy.\n\nThe following constraints apply when using `setIamPolicy()`:\n\n+ Project does not support `allUsers` and `allAuthenticatedUsers` as\n`members` in a `Binding` of a `Policy`.\n\n+ The owner role can be granted only to `user` and `serviceAccount`.\n\n+ Service accounts can be made owners of a project directly\nwithout any restrictions. However, to be added as an owner, a user must be\ninvited via Cloud Platform console and must accept the invitation.\n\n+ A user cannot be granted the owner role using `setIamPolicy()`. The user\nmust be granted the owner role using the Cloud Platform Console and must\nexplicitly accept the invitation.\n\n+ Invitations to grant the owner role cannot be sent using\n`setIamPolicy()`;\nthey must be sent only using the Cloud Platform Console.\n\n+ Membership changes that leave the project without any owners that have\naccepted the Terms of Service (ToS) will be rejected.\n\n+ There must be at least one owner who has accepted the Terms of\nService (ToS) agreement in the policy. Calling `setIamPolicy()` to\nto remove the last ToS-accepted owner from the policy will fail. This\nrestriction also applies to legacy projects that no longer have owners\nwho have accepted the ToS. Edits to IAM policies will be rejected until\nthe lack of a ToS-accepting owner is rectified.\n\n+ Calling this method requires enabling the App Engine Admin API.\n\nNote: Removing service accounts from policies or changing their roles\ncan render services completely inoperable. It is important to understand\nhow the service account is being used before removing or updating its\nroles.",
          "operationId": "cloudresourcemanager.projects.setIamPolicy",
          "parameters": [
            {
              "description": "REQUIRED: The resource for which the policy is being specified.\n`resource` is usually specified as a path. For example, a Project\nresource is specified as `projects/{project}`.",
              "in": "path",
              "name": "resource",
              "required": true,
              "type": "string"
            },
            {
              "in": "body",
              "name": "body",
              "schema": {
                "$ref": "#/definitions/SetIamPolicyRequest"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful response",
              "schema": {
                "$ref": "#/definitions/Policy"
              }
            }
          },
          "security": [
            {
              "Oauth2": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          ],
          "tags": [
            "projects"
          ]
        }
      },
      "/v1/projects/{resource}:testIamPermissions": {
        "parameters": [
          {
            "$ref": "#/parameters/access_token"
          },
          {
            "$ref": "#/parameters/prettyPrint"
          },
          {
            "$ref": "#/parameters/key"
          },
          {
            "$ref": "#/parameters/quotaUser"
          },
          {
            "$ref": "#/parameters/pp"
          },
          {
            "$ref": "#/parameters/fields"
          },
          {
            "$ref": "#/parameters/alt"
          },
          {
            "$ref": "#/parameters/$.xgafv"
          },
          {
            "$ref": "#/parameters/callback"
          },
          {
            "$ref": "#/parameters/oauth_token"
          },
          {
            "$ref": "#/parameters/uploadType"
          },
          {
            "$ref": "#/parameters/bearer_token"
          },
          {
            "$ref": "#/parameters/upload_protocol"
          }
        ],
        "post": {
          "description": "Returns permissions that a caller has on the specified Project.",
          "operationId": "cloudresourcemanager.projects.testIamPermissions",
          "parameters": [
            {
              "description": "REQUIRED: The resource for which the policy detail is being requested.\n`resource` is usually specified as a path. For example, a Project\nresource is specified as `projects/{project}`.",
              "in": "path",
              "name": "resource",
              "required": true,
              "type": "string"
            },
            {
              "in": "body",
              "name": "body",
              "schema": {
                "$ref": "#/definitions/TestIamPermissionsRequest"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful response",
              "schema": {
                "$ref": "#/definitions/TestIamPermissionsResponse"
              }
            }
          },
          "security": [
            {
              "Oauth2": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            {
              "Oauth2": [
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ]
            }
          ],
          "tags": [
            "projects"
          ]
        }
      },
      "/v1/{name}": {
        "get": {
          "description": "Gets the latest state of a long-running operation.  Clients can use this\nmethod to poll the operation result at intervals as recommended by the API\nservice.",
          "operationId": "cloudresourcemanager.operations.get",
          "parameters": [
            {
              "description": "The name of the operation resource.",
              "in": "path",
              "name": "name",
              "required": true,
              "type": "string",
              "x-reservedExpansion": true
            }
          ],
          "responses": {
            "200": {
              "description": "Successful response",
              "schema": {
                "$ref": "#/definitions/Operation"
              }
            }
          },
          "security": [
            {
              "Oauth2": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            {
              "Oauth2": [
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ]
            }
          ],
          "tags": [
            "operations"
          ]
        },
        "parameters": [
          {
            "$ref": "#/parameters/access_token"
          },
          {
            "$ref": "#/parameters/prettyPrint"
          },
          {
            "$ref": "#/parameters/key"
          },
          {
            "$ref": "#/parameters/quotaUser"
          },
          {
            "$ref": "#/parameters/pp"
          },
          {
            "$ref": "#/parameters/fields"
          },
          {
            "$ref": "#/parameters/alt"
          },
          {
            "$ref": "#/parameters/$.xgafv"
          },
          {
            "$ref": "#/parameters/callback"
          },
          {
            "$ref": "#/parameters/oauth_token"
          },
          {
            "$ref": "#/parameters/uploadType"
          },
          {
            "$ref": "#/parameters/bearer_token"
          },
          {
            "$ref": "#/parameters/upload_protocol"
          }
        ]
      },
      "/v1/{resource}:getIamPolicy": {
        "parameters": [
          {
            "$ref": "#/parameters/access_token"
          },
          {
            "$ref": "#/parameters/prettyPrint"
          },
          {
            "$ref": "#/parameters/key"
          },
          {
            "$ref": "#/parameters/quotaUser"
          },
          {
            "$ref": "#/parameters/pp"
          },
          {
            "$ref": "#/parameters/fields"
          },
          {
            "$ref": "#/parameters/alt"
          },
          {
            "$ref": "#/parameters/$.xgafv"
          },
          {
            "$ref": "#/parameters/callback"
          },
          {
            "$ref": "#/parameters/oauth_token"
          },
          {
            "$ref": "#/parameters/uploadType"
          },
          {
            "$ref": "#/parameters/bearer_token"
          },
          {
            "$ref": "#/parameters/upload_protocol"
          }
        ],
        "post": {
          "description": "Gets the access control policy for an Organization resource. May be empty\nif no such policy or resource exists. The `resource` field should be the\norganization's resource name, e.g. \"organizations/123\".",
          "operationId": "cloudresourcemanager.organizations.getIamPolicy",
          "parameters": [
            {
              "description": "REQUIRED: The resource for which the policy is being requested.\n`resource` is usually specified as a path. For example, a Project\nresource is specified as `projects/{project}`.",
              "in": "path",
              "name": "resource",
              "required": true,
              "type": "string",
              "x-reservedExpansion": true
            },
            {
              "in": "body",
              "name": "body",
              "schema": {
                "$ref": "#/definitions/GetIamPolicyRequest"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful response",
              "schema": {
                "$ref": "#/definitions/Policy"
              }
            }
          },
          "security": [
            {
              "Oauth2": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            {
              "Oauth2": [
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ]
            }
          ],
          "tags": [
            "organizations"
          ]
        }
      },
      "/v1/{resource}:setIamPolicy": {
        "parameters": [
          {
            "$ref": "#/parameters/access_token"
          },
          {
            "$ref": "#/parameters/prettyPrint"
          },
          {
            "$ref": "#/parameters/key"
          },
          {
            "$ref": "#/parameters/quotaUser"
          },
          {
            "$ref": "#/parameters/pp"
          },
          {
            "$ref": "#/parameters/fields"
          },
          {
            "$ref": "#/parameters/alt"
          },
          {
            "$ref": "#/parameters/$.xgafv"
          },
          {
            "$ref": "#/parameters/callback"
          },
          {
            "$ref": "#/parameters/oauth_token"
          },
          {
            "$ref": "#/parameters/uploadType"
          },
          {
            "$ref": "#/parameters/bearer_token"
          },
          {
            "$ref": "#/parameters/upload_protocol"
          }
        ],
        "post": {
          "description": "Sets the access control policy on an Organization resource. Replaces any\nexisting policy. The `resource` field should be the organization's resource\nname, e.g. \"organizations/123\".",
          "operationId": "cloudresourcemanager.organizations.setIamPolicy",
          "parameters": [
            {
              "description": "REQUIRED: The resource for which the policy is being specified.\n`resource` is usually specified as a path. For example, a Project\nresource is specified as `projects/{project}`.",
              "in": "path",
              "name": "resource",
              "required": true,
              "type": "string",
              "x-reservedExpansion": true
            },
            {
              "in": "body",
              "name": "body",
              "schema": {
                "$ref": "#/definitions/SetIamPolicyRequest"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful response",
              "schema": {
                "$ref": "#/definitions/Policy"
              }
            }
          },
          "security": [
            {
              "Oauth2": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          ],
          "tags": [
            "organizations"
          ]
        }
      },
      "/v1/{resource}:testIamPermissions": {
        "parameters": [
          {
            "$ref": "#/parameters/access_token"
          },
          {
            "$ref": "#/parameters/prettyPrint"
          },
          {
            "$ref": "#/parameters/key"
          },
          {
            "$ref": "#/parameters/quotaUser"
          },
          {
            "$ref": "#/parameters/pp"
          },
          {
            "$ref": "#/parameters/fields"
          },
          {
            "$ref": "#/parameters/alt"
          },
          {
            "$ref": "#/parameters/$.xgafv"
          },
          {
            "$ref": "#/parameters/callback"
          },
          {
            "$ref": "#/parameters/oauth_token"
          },
          {
            "$ref": "#/parameters/uploadType"
          },
          {
            "$ref": "#/parameters/bearer_token"
          },
          {
            "$ref": "#/parameters/upload_protocol"
          }
        ],
        "post": {
          "description": "Returns permissions that a caller has on the specified Organization.\nThe `resource` field should be the organization's resource name,\ne.g. \"organizations/123\".",
          "operationId": "cloudresourcemanager.organizations.testIamPermissions",
          "parameters": [
            {
              "description": "REQUIRED: The resource for which the policy detail is being requested.\n`resource` is usually specified as a path. For example, a Project\nresource is specified as `projects/{project}`.",
              "in": "path",
              "name": "resource",
              "required": true,
              "type": "string",
              "x-reservedExpansion": true
            },
            {
              "in": "body",
              "name": "body",
              "schema": {
                "$ref": "#/definitions/TestIamPermissionsRequest"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful response",
              "schema": {
                "$ref": "#/definitions/TestIamPermissionsResponse"
              }
            }
          },
          "security": [
            {
              "Oauth2": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            {
              "Oauth2": [
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ]
            }
          ],
          "tags": [
            "organizations"
          ]
        }
      }
    },
    "definitions": {
      "Ancestor": {
        "description": "Identifying information for a single ancestor of a project.",
        "properties": {
          "resourceId": {
            "$ref": "#/definitions/ResourceId",
            "description": "Resource id of the ancestor."
          }
        },
        "type": "object"
      },
      "Binding": {
        "description": "Associates `members` with a `role`.",
        "properties": {
          "members": {
            "description": "Specifies the identities requesting access for a Cloud Platform resource.\n`members` can have the following values:\n\n* `allUsers`: A special identifier that represents anyone who is\n   on the internet; with or without a Google account.\n\n* `allAuthenticatedUsers`: A special identifier that represents anyone\n   who is authenticated with a Google account or a service account.\n\n* `user:{emailid}`: An email address that represents a specific Google\n   account. For example, `alice@gmail.com` or `joe@example.com`.\n\n\n* `serviceAccount:{emailid}`: An email address that represents a service\n   account. For example, `my-other-app@appspot.gserviceaccount.com`.\n\n* `group:{emailid}`: An email address that represents a Google group.\n   For example, `admins@example.com`.\n\n* `domain:{domain}`: A Google Apps domain name that represents all the\n   users of that domain. For example, `google.com` or `example.com`.\n\n",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "role": {
            "description": "Role that is assigned to `members`.\nFor example, `roles/viewer`, `roles/editor`, or `roles/owner`.\nRequired",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Empty": {
        "description": "A generic empty message that you can re-use to avoid defining duplicated\nempty messages in your APIs. A typical example is to use it as the request\nor the response type of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);\n    }\n\nThe JSON representation for `Empty` is empty JSON object `{}`.",
        "properties": {},
        "type": "object"
      },
      "FolderOperation": {
        "description": "Metadata describing a long running folder operation",
        "properties": {
          "destinationParent": {
            "description": "The resource name of the folder or organization we are either creating\nthe folder under or moving the folder to.",
            "type": "string"
          },
          "displayName": {
            "description": "The display name of the folder.",
            "type": "string"
          },
          "operationType": {
            "description": "The type of this operation.",
            "enum": [
              "OPERATION_TYPE_UNSPECIFIED",
              "CREATE",
              "MOVE"
            ],
            "type": "string"
          },
          "sourceParent": {
            "description": "The resource name of the folder's parent.\nOnly applicable when the operation_type is MOVE.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "FolderOperationError": {
        "description": "A classification of the Folder Operation error.",
        "properties": {
          "errorMessageId": {
            "description": "The type of operation error experienced.",
            "enum": [
              "ERROR_TYPE_UNSPECIFIED",
              "FOLDER_HEIGHT_VIOLATION",
              "MAX_CHILD_FOLDERS_VIOLATION",
              "FOLDER_NAME_UNIQUENESS_VIOLATION",
              "RESOURCE_DELETED",
              "PARENT_DELETED",
              "CYCLE_INTRODUCED_ERROR",
              "FOLDER_ALREADY_BEING_MOVED",
              "FOLDER_TO_DELETE_NON_EMPTY"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "GetAncestryRequest": {
        "description": "The request sent to the\nGetAncestry\nmethod.",
        "properties": {},
        "type": "object"
      },
      "GetAncestryResponse": {
        "description": "Response from the GetAncestry method.",
        "properties": {
          "ancestor": {
            "description": "Ancestors are ordered from bottom to top of the resource hierarchy. The\nfirst ancestor is the project itself, followed by the project's parent,\netc.",
            "items": {
              "$ref": "#/definitions/Ancestor"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "GetIamPolicyRequest": {
        "description": "Request message for `GetIamPolicy` method.",
        "properties": {},
        "type": "object"
      },
      "ListProjectsResponse": {
        "description": "A page of the response received from the\nListProjects\nmethod.\n\nA paginated response where more pages are available has\n`next_page_token` set. This token can be used in a subsequent request to\nretrieve the next request page.",
        "properties": {
          "nextPageToken": {
            "description": "Pagination token.\n\nIf the result set is too large to fit in a single response, this token\nis returned. It encodes the position of the current result cursor.\nFeeding this value into a new list request with the `page_token` parameter\ngives the next page of the results.\n\nWhen `next_page_token` is not filled in, there is no next page and\nthe list returned is the last page in the result set.\n\nPagination tokens have a limited lifetime.",
            "type": "string"
          },
          "projects": {
            "description": "The list of Projects that matched the list filter. This list can\nbe paginated.",
            "items": {
              "$ref": "#/definitions/Project"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "Operation": {
        "description": "This resource represents a long-running operation that is the result of a\nnetwork API call.",
        "properties": {
          "done": {
            "description": "If the value is `false`, it means the operation is still in progress.\nIf true, the operation is completed, and either `error` or `response` is\navailable.",
            "type": "boolean"
          },
          "error": {
            "$ref": "#/definitions/Status",
            "description": "The error result of the operation in case of failure or cancellation."
          },
          "metadata": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "description": "Service-specific metadata associated with the operation.  It typically\ncontains progress information and common metadata such as create time.\nSome services might not provide such metadata.  Any method that returns a\nlong-running operation should document the metadata type, if any.",
            "type": "object"
          },
          "name": {
            "description": "The server-assigned name, which is only unique within the same service that\noriginally returns it. If you use the default HTTP mapping, the\n`name` should have the format of `operations/some/unique/name`.",
            "type": "string"
          },
          "response": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "description": "The normal response of the operation in case of success.  If the original\nmethod returns no data on success, such as `Delete`, the response is\n`google.protobuf.Empty`.  If the original method is standard\n`Get`/`Create`/`Update`, the response should be the resource.  For other\nmethods, the response should have the type `XxxResponse`, where `Xxx`\nis the original method name.  For example, if the original method name\nis `TakeSnapshot()`, the inferred response type is\n`TakeSnapshotResponse`.",
            "type": "object"
          }
        },
        "type": "object"
      },
      "Organization": {
        "description": "The root node in the resource hierarchy to which a particular entity's\n(e.g., company) resources belong.",
        "properties": {
          "creationTime": {
            "description": "Timestamp when the Organization was created. Assigned by the server.\n@OutputOnly",
            "format": "google-datetime",
            "type": "string"
          },
          "displayName": {
            "description": "A friendly string to be used to refer to the Organization in the UI.\nAssigned by the server, set to the firm name of the Google For Work\ncustomer that owns this organization.\n@OutputOnly",
            "type": "string"
          },
          "lifecycleState": {
            "description": "The organization's current lifecycle state. Assigned by the server.\n@OutputOnly",
            "enum": [
              "LIFECYCLE_STATE_UNSPECIFIED",
              "ACTIVE",
              "DELETE_REQUESTED"
            ],
            "type": "string"
          },
          "name": {
            "description": "Output Only. The resource name of the organization. This is the\norganization's relative path in the API. Its format is\n\"organizations/[organization_id]\". For example, \"organizations/1234\".",
            "type": "string"
          },
          "owner": {
            "$ref": "#/definitions/OrganizationOwner",
            "description": "The owner of this Organization. The owner should be specified on\ncreation. Once set, it cannot be changed.\nThis field is required."
          }
        },
        "type": "object"
      },
      "OrganizationOwner": {
        "description": "The entity that owns an Organization. The lifetime of the Organization and\nall of its descendants are bound to the `OrganizationOwner`. If the\n`OrganizationOwner` is deleted, the Organization and all its descendants will\nbe deleted.",
        "properties": {
          "directoryCustomerId": {
            "description": "The Google for Work customer id used in the Directory API.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Policy": {
        "description": "Defines an Identity and Access Management (IAM) policy. It is used to\nspecify access control policies for Cloud Platform resources.\n\n\nA `Policy` consists of a list of `bindings`. A `Binding` binds a list of\n`members` to a `role`, where the members can be user accounts, Google groups,\nGoogle domains, and service accounts. A `role` is a named list of permissions\ndefined by IAM.\n\n**Example**\n\n    {\n      \"bindings\": [\n        {\n          \"role\": \"roles/owner\",\n          \"members\": [\n            \"user:mike@example.com\",\n            \"group:admins@example.com\",\n            \"domain:google.com\",\n            \"serviceAccount:my-other-app@appspot.gserviceaccount.com\",\n          ]\n        },\n        {\n          \"role\": \"roles/viewer\",\n          \"members\": [\"user:sean@example.com\"]\n        }\n      ]\n    }\n\nFor a description of IAM and its features, see the\n[IAM developer's guide](https://cloud.google.com/iam).",
        "properties": {
          "bindings": {
            "description": "Associates a list of `members` to a `role`.\nMultiple `bindings` must not be specified for the same `role`.\n`bindings` with no members will result in an error.",
            "items": {
              "$ref": "#/definitions/Binding"
            },
            "type": "array"
          },
          "etag": {
            "description": "`etag` is used for optimistic concurrency control as a way to help\nprevent simultaneous updates of a policy from overwriting each other.\nIt is strongly suggested that systems make use of the `etag` in the\nread-modify-write cycle to perform policy updates in order to avoid race\nconditions: An `etag` is returned in the response to `getIamPolicy`, and\nsystems are expected to put that etag in the request to `setIamPolicy` to\nensure that their change will be applied to the same version of the policy.\n\nIf no `etag` is provided in the call to `setIamPolicy`, then the existing\npolicy is overwritten blindly.",
            "format": "byte",
            "type": "string"
          },
          "version": {
            "description": "Version of the `Policy`. The default version is 0.",
            "format": "int32",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "Project": {
        "description": "A Project is a high-level Google Cloud Platform entity.  It is a\ncontainer for ACLs, APIs, AppEngine Apps, VMs, and other\nGoogle Cloud Platform resources.",
        "properties": {
          "createTime": {
            "description": "Creation time.\n\nRead-only.",
            "format": "google-datetime",
            "type": "string"
          },
          "labels": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "The labels associated with this Project.\n\nLabel keys must be between 1 and 63 characters long and must conform\nto the following regular expression: \\[a-z\\](\\[-a-z0-9\\]*\\[a-z0-9\\])?.\n\nLabel values must be between 0 and 63 characters long and must conform\nto the regular expression (\\[a-z\\](\\[-a-z0-9\\]*\\[a-z0-9\\])?)?.\n\nNo more than 256 labels can be associated with a given resource.\n\nClients should store labels in a representation such as JSON that does not\ndepend on specific characters being disallowed.\n\nExample: <code>\"environment\" : \"dev\"</code>\n\nRead-write.",
            "type": "object"
          },
          "lifecycleState": {
            "description": "The Project lifecycle state.\n\nRead-only.",
            "enum": [
              "LIFECYCLE_STATE_UNSPECIFIED",
              "ACTIVE",
              "DELETE_REQUESTED",
              "DELETE_IN_PROGRESS"
            ],
            "type": "string"
          },
          "name": {
            "description": "The user-assigned display name of the Project.\nIt must be 4 to 30 characters.\nAllowed characters are: lowercase and uppercase letters, numbers,\nhyphen, single-quote, double-quote, space, and exclamation point.\n\nExample: <code>My Project</code>\n\nRead-write.",
            "type": "string"
          },
          "parent": {
            "$ref": "#/definitions/ResourceId",
            "description": "An optional reference to a parent Resource.\n\nThe only supported parent type is \"organization\". Once set, the parent\ncannot be modified. The `parent` can be set on creation or using the\n`UpdateProject` method; the end user must have the\n`resourcemanager.projects.create` permission on the parent.\n\nRead-write."
          },
          "projectId": {
            "description": "The unique, user-assigned ID of the Project.\nIt must be 6 to 30 lowercase letters, digits, or hyphens.\nIt must start with a letter.\nTrailing hyphens are prohibited.\n\nExample: <code>tokyo-rain-123</code>\n\nRead-only after creation.",
            "type": "string"
          },
          "projectNumber": {
            "description": "The number uniquely identifying the project.\n\nExample: <code>415104041262</code>\n\nRead-only.",
            "format": "int64",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ProjectCreationStatus": {
        "description": "A status object which is used as the `metadata` field for the Operation\nreturned by CreateProject. It provides insight for when significant phases of\nProject creation have completed.",
        "properties": {
          "createTime": {
            "description": "Creation time of the project creation workflow.",
            "format": "google-datetime",
            "type": "string"
          },
          "gettable": {
            "description": "True if the project can be retrieved using GetProject. No other operations\non the project are guaranteed to work until the project creation is\ncomplete.",
            "type": "boolean"
          },
          "ready": {
            "description": "True if the project creation process is complete.",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "ResourceId": {
        "description": "A container to reference an id for any resource type. A `resource` in Google\nCloud Platform is a generic term for something you (a developer) may want to\ninteract with through one of our API's. Some examples are an AppEngine app,\na Compute Engine instance, a Cloud SQL database, and so on.",
        "properties": {
          "id": {
            "description": "Required field for the type-specific id. This should correspond to the id\nused in the type-specific API's.",
            "type": "string"
          },
          "type": {
            "description": "Required field representing the resource type this id is for.\nAt present, the only valid type is \"organization\".",
            "type": "string"
          }
        },
        "type": "object"
      },
      "SearchOrganizationsRequest": {
        "description": "The request sent to the `SearchOrganizations` method.",
        "properties": {
          "filter": {
            "description": "An optional query string used to filter the Organizations to return in\nthe response. Filter rules are case-insensitive.\n\n\nOrganizations may be filtered by `owner.directoryCustomerId` or by\n`domain`, where the domain is a Google for Work domain, for example:\n\n|Filter|Description|\n|------|-----------|\n|owner.directorycustomerid:123456789|Organizations with\n`owner.directory_customer_id` equal to `123456789`.|\n|domain:google.com|Organizations corresponding to the domain `google.com`.|\n\nThis field is optional.",
            "type": "string"
          },
          "pageSize": {
            "description": "The maximum number of Organizations to return in the response.\nThis field is optional.",
            "format": "int32",
            "type": "integer"
          },
          "pageToken": {
            "description": "A pagination token returned from a previous call to `SearchOrganizations`\nthat indicates from where listing should continue.\nThis field is optional.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "SearchOrganizationsResponse": {
        "description": "The response returned from the `SearchOrganizations` method.",
        "properties": {
          "nextPageToken": {
            "description": "A pagination token to be used to retrieve the next page of results. If the\nresult is too large to fit within the page size specified in the request,\nthis field will be set with a token that can be used to fetch the next page\nof results. If this field is empty, it indicates that this response\ncontains the last page of results.",
            "type": "string"
          },
          "organizations": {
            "description": "The list of Organizations that matched the search query, possibly\npaginated.",
            "items": {
              "$ref": "#/definitions/Organization"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "SetIamPolicyRequest": {
        "description": "Request message for `SetIamPolicy` method.",
        "properties": {
          "policy": {
            "$ref": "#/definitions/Policy",
            "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of\nthe policy is limited to a few 10s of KB. An empty policy is a\nvalid policy but certain Cloud Platform services (such as Projects)\nmight reject them."
          }
        },
        "type": "object"
      },
      "Status": {
        "description": "The `Status` type defines a logical error model that is suitable for different\nprogramming environments, including REST APIs and RPC APIs. It is used by\n[gRPC](https://github.com/grpc). The error model is designed to be:\n\n- Simple to use and understand for most users\n- Flexible enough to meet unexpected needs\n\n# Overview\n\nThe `Status` message contains three pieces of data: error code, error message,\nand error details. The error code should be an enum value of\ngoogle.rpc.Code, but it may accept additional error codes if needed.  The\nerror message should be a developer-facing English message that helps\ndevelopers *understand* and *resolve* the error. If a localized user-facing\nerror message is needed, put the localized message in the error details or\nlocalize it in the client. The optional error details may contain arbitrary\ninformation about the error. There is a predefined set of error detail types\nin the package `google.rpc` which can be used for common error conditions.\n\n# Language mapping\n\nThe `Status` message is the logical representation of the error model, but it\nis not necessarily the actual wire format. When the `Status` message is\nexposed in different client libraries and different wire protocols, it can be\nmapped differently. For example, it will likely be mapped to some exceptions\nin Java, but more likely mapped to some error codes in C.\n\n# Other uses\n\nThe error model and the `Status` message can be used in a variety of\nenvironments, either with or without APIs, to provide a\nconsistent developer experience across different environments.\n\nExample uses of this error model include:\n\n- Partial errors. If a service needs to return partial errors to the client,\n    it may embed the `Status` in the normal response to indicate the partial\n    errors.\n\n- Workflow errors. A typical workflow has multiple steps. Each step may\n    have a `Status` message for error reporting purpose.\n\n- Batch operations. If a client uses batch request and batch response, the\n    `Status` message should be used directly inside batch response, one for\n    each error sub-response.\n\n- Asynchronous operations. If an API call embeds asynchronous operation\n    results in its response, the status of those operations should be\n    represented directly using the `Status` message.\n\n- Logging. If some API errors are stored in logs, the message `Status` could\n    be used directly after any stripping needed for security/privacy reasons.",
        "properties": {
          "code": {
            "description": "The status code, which should be an enum value of google.rpc.Code.",
            "format": "int32",
            "type": "integer"
          },
          "details": {
            "description": "A list of messages that carry the error details.  There will be a\ncommon set of message types for APIs to use.",
            "items": {
              "additionalProperties": {
                "description": "Properties of the object. Contains field @type with type URL."
              },
              "type": "object"
            },
            "type": "array"
          },
          "message": {
            "description": "A developer-facing error message, which should be in English. Any\nuser-facing error message should be localized and sent in the\ngoogle.rpc.Status.details field, or localized by the client.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "TestIamPermissionsRequest": {
        "description": "Request message for `TestIamPermissions` method.",
        "properties": {
          "permissions": {
            "description": "The set of permissions to check for the `resource`. Permissions with\nwildcards (such as '*' or 'storage.*') are not allowed. For more\ninformation see\n[IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "TestIamPermissionsResponse": {
        "description": "Response message for `TestIamPermissions` method.",
        "properties": {
          "permissions": {
            "description": "A subset of `TestPermissionsRequest.permissions` that the caller is\nallowed.",
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "UndeleteProjectRequest": {
        "description": "The request sent to the UndeleteProject\nmethod.",
        "properties": {},
        "type": "object"
      }
    }
  }
}